<nb-card>
    <nb-card-header>
        <span class="text-uppercase">Assign {{ type }}</span>
        <nb-icon icon="close-outline" class="float-right" (click)="close()"></nb-icon>
    </nb-card-header>
    <nb-card-body>
        <form>
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="form-group">
                            <div *ngFor="let classroom of classrooms;let i = index">
                                <nb-checkbox (checkedChange)="toggle($event,i)" [checked]="classroom.assigned"
                                    name="selectedClassrooms" [value]="classroom.id">{{ classroom.name }}</nb-checkbox>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </nb-card-body>
    <nb-card-footer>
        <div class="float-right">
            <button nbButton status="basic" class="mr-1 btn-status--basic text-uppercase"
                (click)="close()">cancel</button>
            <button type="submit" class="text-uppercase" nbButton status="success" (click)='submit()'>Assign</button>
        </div>

    </nb-card-footer>
</nb-card>