@import '../../../../@theme/styles/themes.scss';

@include nb-install-component() {
  ngx-container {

    ::ng-deep nb-select {
      width: 100%;

      button.select-button {
        width: 100%;
        min-width: auto !important;
        padding: 10px 15px 10px 10px !important;

        nb-icon {
          right: 0 !important;
        }

        @media (max-width: 575px) {
          padding: 7px 15px 7px 10px !important;
        }

      }
    }

    ::ng-deep nb-card {
      margin-bottom: 0;
    }

    .class-word {
      color: #aeaeae;
    }

    .class-name {
      font-size: 30px;
      font-weight: bold;
      color: #434343;
    }
  }

  .class-name-container {
    top: -25px;
  }

  .card-clickable {
    position: relative;

    ::ng-deep nb-progress-bar {
      margin: 1rem 0;
    }
  }


  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    transition: 0.5s ease;
    background-color: #cccccc54;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    left: 0%;
  }

  .btn-play {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    cursor: pointer;
  }

  .card-clickable:hover .overlay {
    opacity: 1;
  }

  ngx-pagination {
    position: absolute;
    bottom: 60px;
    left: 90px;
    width: 100%;
  }

}
