<ngx-container>
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-11 col-md-10 col-sm-9 col-9 pl-0 pr-1">
        <ngx-search (search)="search($event)"></ngx-search>
      </div>

      <div class="col-lg-1 col-md-2 col-sm-3 col-3 pl-1 pr-0">
        <nb-select class="table-filter-select" [(selected)]="cardPerPage" (selectedChange)="changePageLimit()">
          <nb-option *ngFor="let num of noOfCardsPerPage" [value]="num">
            {{ num }}
          </nb-option>
        </nb-select>
      </div>
    </div>
  </div>

  <div>
    <div class="container-fluid pt-3 px-0 px-sm-3">
      <div class="row mt-4 justify-content-center">
        <div class="col-lg-10 col-md-12 col-11 px-0 px-sm-3">
          <div class="row">
            <div class="col-md-4 col-12" *ngFor="let training of trainings">
              <div class="card-clickable mb-3">
                <ngx-card [progressPercentage]="training.progress" [cardData]="training">
                </ngx-card>
                <div class="overlay" (click)="openMissions(training.id)">
                  <img class="btn-play" src="assets/icons/play-button.svg" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <ngx-pagination *ngIf="trainings && trainings.length >0" [arrayLength]="trainingsLength" [maxShown]="cardPerPage"
      [currentPage]="currentPage" (pageChange)="changePagination($event)">
    </ngx-pagination>

    <ngx-empty-state *ngIf="trainings && trainings.length == 0 && searchValue === ''" [type]='"data"'>
    </ngx-empty-state>
    <ngx-empty-state *ngIf="trainings && trainings.length == 0 && searchValue !== ''" [type]='"search"'>
    </ngx-empty-state>

  </div>
</ngx-container>