<nb-card>
    <nb-card-header>
        <span>{{"create-project" | translate}}</span>
        <nb-icon icon="close-outline" class="float-right" (click)="close()"></nb-icon>
    </nb-card-header>
    <nb-card-body>
        <div class="row">
            <div class="col-sm-6 col-xs-12 pl-0">
                <div class="card-container" (click)='createGame()'>
                    <div class="project-card--header">
                        <h6 class="project-card--title">
                            {{"create-game" | translate}}
                        </h6>
                    </div>

                    <div class="card-icon">
                        <img src="assets/images/create-game-builder.svg" alt="">
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-xs-12 pl-0">
                <div class="card-container" (click)='createApp()'>
                    <div class="project-card--header">
                        <h6 class="project-card--title">
                            {{"create-app" | translate}}
                        </h6>
                    </div>
                    <div class="card-icon">
                        <img src="assets/images/create-app.svg" alt="">
                    </div>
                </div>
            </div>
        </div>

    </nb-card-body>
</nb-card>