@import '../../../../../@theme/styles/themes';
@import '../../../../../@theme/styles/overrides';

@include nb-install-component() {
  nb-card {
    border-radius: 8px;
    max-width: 790px;
    min-width: 585px;
    @media (max-width: 767px) {
      min-width: 280px;
      max-width: 90%;
      margin: 0 auto;
    }

    nb-card-header {
      line-height: 32px;
      padding: 25px 43px;
      height: 82px;
      border-radius: 8px;
      background-color: #151a30;
      font-size: 24px;
      color: #fff;
      font-weight: bold;


      nb-icon {
        width: 36px;
        height: 36px;
        cursor: pointer;
        border-radius: 4px;
        background-color: #2e2e2e;
      }
    }

    nb-card-body {
      padding: 32px 50px;

      .project-card--header {
        margin: 7px 0;
        border-bottom: 1px solid #e4e4e4;

        .project-card--title {
          font-size: 20px;
          text-align: center;
        }
      }

      .card-container {
        padding: 7px 20px 24px;
        border: 1px solid #e4e4e4;
        border-radius: 6px;
        box-shadow: 1px 1px 5px 1px #e4e4e4;
        cursor: pointer;

        .card-icon {
          margin: 0 auto;
          margin-top: 23px;
          display: table;
          img {
            max-width: 100%;
          }
        }
      }
    }
  }
}
