@import '../../../../../@theme/styles/themes.scss';

@include nb-install-component() {
  ::ng-deep nb-tabset .tab {
    .tab-link {
      color: #666666;
      font-size: 20px;
      font-weight: 600;
    }

    &.active {
      background-color: #e8e8e8;

      .tab-link {
        color: #000;
        font-weight: 600;
      }
    }
    @media only screen and (max-width: 767px) {
      ::ng-deep .tabset {
        margin: 0 8px;
      }

      .tab-link {
        font-size: 14px;
        padding: 13px;
      }
    }
  }

  ::ng-deep .classroom__list {
    width: 100%;

    nb-tab {
      padding: 1rem 0;
    }

    ul.tabset {
      background-color: #f3f3f3;
      border-bottom: 3px solid #e4e4e4;


      li {
        width: 100%;

        a {
          justify-content: center;
        }
      }
    }
  }
}

.classroom__list {
  ul {
    background-color: #f3f3f3;
  }
}
