<div class="container-fluid">
    <div class="row">
        <nb-tabset fullWidth class="classroom__list">
            <nb-tab [tabTitle]="'players' | translate">
                <ngx-discover-players></ngx-discover-players>
            </nb-tab>
            <nb-tab [tabTitle]="'Projects'  | translate">
                <ngx-discover-projects></ngx-discover-projects>
            </nb-tab>
        </nb-tabset>
    </div>
</div>