@import '../../../../@theme/styles/themes.scss';


@include nb-install-component() {

  .auth-card-container {
    background-color: #f3f3f3;
    border: 3px solid #e4e4e4;
    width: 100%;
    padding: 25px 50px;
    @media (max-width: 480px) {
      padding: 25px 0;
    }
    .title {
      color: #707070;
      font-size: 25px;
      text-transform: uppercase;
      font-weight: 700;
      text-align: center;
      padding: 10px 0;
      margin-bottom: 20px;
    }
    form {
      max-width: 400px;
      margin: 0 auto;
      .form-group {
        .form-control {
          box-shadow: none;
          font-size: 18px;
          padding: 13px 15px;
          min-height: auto;
          color: #707070;
          &:focus {
            outline: 1px solid #5a9fff;
            box-shadow: none;
          }
          @media (max-width: 575px) {
            font-size: 14px;
          }
        }
      }
      .custom-checkbox .custom-control-label {
        &::before, &::after {
          top: 1px;
          border-radius: 0;
        }
      }
      .forget-password {
        color: #0096cc;
        text-decoration: underline;
        &:hover, &:active, &:focus {
          color: #0096cc;
          text-decoration: none;
        }
      }
      .bottom-row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 15px;
      }
      .login-btn {
        width: 100%;
        font-size: 22px;
        line-height: 30px;
        padding: 5px 10px;
        text-transform: uppercase;
        background-color: nb-theme(color-primary-500);
        border-color: nb-theme(color-primary-500);
      }
      .error {
        color: #eb2938;
        font-size: 16px;
        text-align: center;
      }
      .retype-password-msg {
        &.red {
          color: nb-theme(color-danger-700);
        }
        &.green {
          color: nb-theme(color-success-700);
        }
      }
    }
    .success-container {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      padding-top: 30px;
      .success-img {
        height: 70px;
        margin-bottom: 20px;
        img {
          max-height: 100%;
        }
      }
      h6 {
        font-weight: 700;
        font-size: 24px;
        color: #707070;
        margin-bottom: 15px;
      }
      p {
        margin-bottom: 0;
        color: #707070;
        font-weight: 400;
        font-size: 19px;
        a {
          color: #0096cc;
          text-decoration: underline;
          &:hover, &:focus, &:active {
            color: #0096cc;
          }
        }
      }
    }
  }
  .auth-other-option {
    background-color: #f3f3f3;
    padding: 15px;
    margin-top: 15px;
    text-align: center;
    p {
      margin-bottom: 0;
      font-size: 16px;
      color: #707070;
      a {
        color: #0096cc;
        text-decoration: underline;
        &:hover, &:focus, &:active {
          color: #0096cc;
        }
      }
    }
  }
}
