<div class="auth-card-container">
  <div class="col-12">
    <div class="row" *ngIf="!resetSuccessfully">
      <div class="col-12">
        <h3 class="title">{{'reset-your-password' | translate}}</h3>
      </div>
      <div class="col-12">
        <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <input type="password" formControlName="password" class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f.password.errors }" placeholder="New Password"
              (keyup)="validateRetype()" />
            <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
              <div *ngIf="f.password.errors.required">{{'password-required-msg' | translate}}</div>
            </div>
          </div>
          <div class="form-group">
            <input type="password" formControlName="retype_password" class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f.retype_password.errors }" placeholder="Retype Password"
              (keyup)="validateRetype()" />
            <span [ngClass]="{'red': !passwordsMatch, 'green': passwordsMatch}"
              class="retype-password-msg">{{ retypePasswordMsg }}</span>
            <div *ngIf="submitted && f.retype_password.errors" class="invalid-feedback">
              <div *ngIf="f.retype_password.errors.required">{{'plz-retype-new-password' | translate}}</div>
            </div>
          </div>
          <button [disabled]="loading || resetPasswordForm.invalid" class="btn btn-primary login-btn text-uppercase">
            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
            {{'change-password' | translate}}
          </button>
          <div *ngIf="error" class="error mt-3 mb-0">{{error}}</div>
        </form>
      </div>
    </div>
    <div class="row" *ngIf="resetSuccessfully">
      <div class="col-12 success-container">
        <div class="success-img">
          <img src="assets/icons/success.svg" alt="">
        </div>
        <h6 class="text-center">{{'passowrd-changed-successfully' | translate}}</h6>
        <p class="text-center">{{'passowrd-changed-confirmation' | translate}}
        </p>
        <p class="text-center"><a routerLink="/auth/login">{{'login' |  translate}}</a></p>
      </div>
    </div>
  </div>
</div>
<div class="auth-other-option">
  <p>{{'have-account-?' | translate}} <a routerLink="auth/register">{{'join-us' | translate}}</a></p>
</div>