<div class="container p-5">

  <section class="header">
    <h1>
      SCIENCE ALBERTA FOUNDATION (OPERATING AS MINDFUEL)
      GENERAL TERMS OF USE
    </h1>

    <p>
      <b>
        PLEASE READ THESE TERMS OF USE CAREFULLY AS THEY CONTAIN IMPORTANT INFORMATION REGARDING YOUR LEGAL RIGHTS,
        REMEDIES AND OBLIGATIONS. THESE INCLUDE VARIOUS LIABILITY LIMITATIONS AND EXCLUSIONS, AND A DISPUTE RESOLUTION
        CLAUSE THAT GOVERNS HOW DISPUTES WILL BE RESOLVED. 
      </b>

    </p>

    <br>

    <p>
      Access and use of this website (the "Site") and its related services (the "Services") are provided by Science
      Alberta Foundation ("SAF", "we" and "us") to you on condition that you accept these Terms of Use, and by using the
      Site or the Services, you agree to these Terms of Use. If you do not agree to accept and abide by these Terms of
      Use you may not access or use this Site or the Services. 
    </p>

    <br>

    <p>

      These Terms of Use govern the relationship between you, the Site visitor and/or member (“you”), and SAF with
      respect to your use of the this Site and its related Services. You agree that the agreement formed by these Terms
      of Use is like any written negotiated agreement signed by you, and you agree to be bound by, and fully comply
      with, its terms. You represent and warrant that you have all necessary right, power and authority to enter into
      this agreement and to perform and otherwise discharge all of your obligations hereunder.

    </p>

    <br>

    <p>
      <b>
        IF YOU ARE A PARENT OR GUARDIAN AND YOU CONSENT TO YOUR CHILD’S USE OF THIS SITE OR THE SERVICES, BY PROVIDING
        SUCH CONSENT YOU ARE AGREEING TO BE BOUND BY THESE TERMS OF USE IN RESPECT OF YOUR CHILD’S USE OF THIS SITE AND
        THE SERVICES. YOUR CHILD CANNOT USE THIS SITE OR THE SERVICES WITHOUT YOUR CONSENT, SUPERVISION, INVOLVEMENT AND
        PERMISSION. IF YOU DO NOT AGREE TO CONSENT TO, AND SUPERVISE, YOUR CHILD'S USE OF THIS SITE OR THE SERVICES, YOU
        AND YOUR CHILD MAY NOT ACCESS OR USE THIS SITE OR THE SERVICES.
      </b>

    </p>

    <br>

    <p>
      ALL INFORMATION CONTAINED ON THE SITE IS FOR INFORMATIONAL PURPOSES ONLY.
    </p>

  </section>

  <!-- SECTION  JURISDICTION & CHILDREN  -->

  <section>
    <h2>
      JURISDICTION & CHILDREN 
    </h2>
    <p>
      You understand that aspects of this Site and the Services may not be available in all jurisdictions and that you
      are responsible for ensuring that it is lawful for you to use this Site and receive the Services where these
      activities occur.

      <br>

      If you reside in a jurisdiction which restricts the use of Internet-based applications according to age, or which
      restricts the ability to enter into agreements such as set out in these Terms of Use according to age and you are
      under such a jurisdiction and under such age limit, you may not enter into this agreement or use this Site or the
      Services. 

      <br>

      Furthermore, if you reside in a jurisdiction where it is forbidden by law to participate in the activities offered
      by this Site or the Services, you may not enter into this agreement or use this Site or the Services. By using
      this Site you are explicitly representing that you have verified that your use of this Site and the Services is
      allowed in your own jurisdiction.

      <br>

      You may, where authorized or permitted by law, permit your children to use this Site and the Services, provided
      that you supervise such use. You are responsible for ensuring that you and your child are aware of, understand,
      and comply with these Terms of Use. You shall at all times be responsible and liable for all activities conducted
      and items obtained through your Account (defined below), including, without limitation, all activities which may
      be conducted and/or items which may be obtained by your child. While the Site and Services are designed for use by
      individuals under the age of 18, those individuals may only do so only with the consent, involvement, supervision,
      and permission of a parent or legal guardian who is age of majority or older.

      <br>

      Your Account (as defined below) may be deleted and these Terms of Use may be suspended or terminated without
      warning, if we believe that you are under age or your use of this Site or the Services is not allowed (among other
      reasons set out below). 


    </p>
  </section>

  <!-- SECTION PRIVACY -->

  <section>
    <h2>PRIVACY</h2>

    <p>
      SAF is committed to respecting the privacy of the personal information of the individuals with whom we interact.
      We have developed a Privacy Policy to describe our privacy policies and practices and how we collect, use and
      disclose the personal information of those individuals who visit this Site or use the Services. Please see our
      Privacy Policy for further details and contact information for our Privacy Officer.

      <br>

      You acknowledge and agree that access to and use of this Site and the Services is provided via the Internet and
      that your information, including personal information, may be transferred across national borders and stored or
      processed in any country in the world. 
    </p>
  </section>


  <!-- SECTION ACCOUNTS  -->

  <section>
    <h2>ACCOUNTS</h2>

    <p>
      In order to access and use certain of the Services available on this Site, you may need to sign up for, open and
      maintain an account (“Account”). Prior to completing the signup process for your Account, you will be required to
      indicate your acceptance of all of the terms and conditions of these Terms of Use. If you do not agree to these
      Terms of Use, you may not sign up for an Account. 

      <br>

      During the registration process we may collect your name, birth date, email address, phone number, username,
      password, IP address, computer’s hardware and operating system specifications, and where you permit your children
      to use the Site or the Services, their name, email address, username and password. Where a fee is payable for a
      Service, we may also collect your payment related information (such as your credit card number and billing
      address). Your information may be used by us: 

      <br>

      to verify your eligibility to create and to maintain your Account;

      to ensure that your Account, including your username, is unique;
      <br>

      to enable us to provide certain security and privacy safeguards;
      <br>

      to deal with security, debugging and technical support issues;
      <br>

      for payment-related issues; 
      <br>

      to protect ourselves and others from abuse; 
      <br>

      to conduct a criminal or other background check in relation to you; and
      <br>

      to comply with law.
      <br>
      All of the information you provide to us or that we collect from you in connection with your use of the Site or
      the Services will be governed by these Terms of Use. You agree at all times to: (i) provide accurate, current and
      complete information about yourself as prompted by our registration form or otherwise; and (ii) maintain and
      update your information (including your e-mail address) to keep it accurate, current and complete. You acknowledge
      that, if any information provided by you is untrue, inaccurate, not current or incomplete, we may suspend or
      terminate your Account and your ability to use this Site or the Services and, in our sole discretion, to report
      you to appropriate authorities. 
      Where a child under thirteen years of age seeks to create an account, they may be required to provide their
      parent/guardian’s name, phone number, address or email address so that we can contact them to verify their
      consent, including in some cases by sending a “Notice to Parents and Guardians of Informational Practices with
      Regard to Children” email. Children under thirteen are not permitted to use this Site or the Services until
      certain steps are taken by their parent/guardian. 

      <br>

      Only "natural persons," as opposed to any kind of legal entities (e.g., corporations, limited liability companies,
      and/or partnerships) shall have the right to establish an Account. 

      <br>

      We hereby disclaim any and all responsibility or liability for any unauthorized use of your Account.

      <br>

      You must not choose a username that infringes the rights of any third party, impersonates any SAF employee, other
      user, celebrity or any famous person or entity, which is deliberately confusing or which is offensive, racist,
      obscene, hurtful, unlawful or otherwise inappropriate. You agree that you will not use misspellings or alternative
      spellings or take any other actions for the purpose of circumventing the foregoing restrictions. You understand
      and agree that, in addition to the foregoing restrictions, we reserve the right to change, remove, alter or delete
      any username at any time and for any reason in our sole discretion. 

      <br>

      YOU ARE ENTIRELY RESPONSIBLE FOR MAINTAINING THE CONFIDENTIALITY OF YOUR USERNAME AND PASSWORD AND FOR ANY AND ALL
      ACTIVITIES (INCLUDING PURCHASES AND CHARGES, AS APPLICABLE) THAT ARE CONDUCTED THROUGH YOUR ACCOUNT.

      <br>

      You cannot transfer your Account to any other person, or permit anyone else to use it.

      <br>

      You agree to notify us immediately of any unauthorized use, theft or misappropriation of your account, username,
      or password. We shall not be liable for any loss that you incur as a result of someone else using your username or
      password, either with or without your knowledge.

    </p>
  </section>


  <!-- SECTION  PERSONAL USE ONLY -->

  <section>
    <h2>PERSONAL USE ONLY</h2>

    <p>
      This Site and the Services are only for personal use. You may not use this Site or the Services for commercial
      purposes or in any way that is unlawful, or harms us or any other person or entity, as determined in our sole
      discretion. 
    </p>

  </section>


  <!-- SECTION  CODE OF CONDUCT -->

  <section>
    <h2>CODE OF CONDUCT</h2>

    <p>
      You may not interfere with the security of, or otherwise abuse this Site, the Services or any system resources,
      services or networks connected to or accessible through this Site or the Services. You may only use this Site and
      the Services for lawful purposes. You agree that you will not attempt to, nor permit any third party to, enter
      restricted areas of SAF's computer systems or perform functions that you are not authorized to perform. 

      <br>

      SAF may, without notice, temporarily suspend your, or any other parties, access to this Site or the Services by
      deactivating any Account, password(s) or links to the Internet if we reasonably suspect that you, or any other
      parties, are obtaining unauthorized access to our other systems or information, or are using otherwise valid user
      identifications or passwords in any unauthorized manner. These suspensions will be for such periods of time as SAF
      may reasonably determine is necessary to permit the thorough investigation and mitigation of such suspended
      activity. 

      <br>

      While using this Site or the Services you agree to comply with all applicable laws, rules and regulations,
      including without limitation any laws governing the transmission of commercial electronic messages or similar. In
      particular, you agree not to use the Site or the Services to send commercial electronic messages.

      <br>

      We reserve the right, in our sole discretion, to take any actions we deem necessary and appropriate to preserve
      the integrity of this Site and the Services. 

      <br>

      You agree not to post anything on the Site that:

      <br>
      is defamatory, abusive, harassing, threatening, or an invasion of a right of privacy of another person; 
      is bigoted, hateful, or racially or otherwise offensive;

      <br>

      is violent, vulgar, obscene, pornographic or otherwise sexually explicit, or otherwise harms or can reasonably be
      expected to harm any person or entity; 

      <br>

      is misleading, untruthful or inaccurate;

      <br>
      contains a virus or other harmful component, or otherwise tampers with, impairs or damages the Service or any
      connected network, or otherwise interferes with any person or entity's use or enjoyment of the Service;
      <br>
      is commercial, business-related or advertises or offers to sell any products, services or otherwise (whether or
      not for profit), or solicits others (including solicitations for contributions or donations);
      is illegal or encourages or advocates illegal activity or the discussion of illegal activities with the intent to
      commit them, including without limitation a submission that is, or represents an attempt to engage in, child
      pornography, stalking, sexual assault, fraud, trafficking in obscene or stolen material, drug dealing and/or drug
      abuse, harassment, theft, or conspiracy to commit any criminal activity; or
      infringes or violates any right of a third party including: (i) copyright, patent, trademark, trade secret or
      other proprietary or contractual rights; (ii) rights of privacy (specifically, you must not distribute another
      person's personal information of any kind without their express permission) personality or publicity; or (iii) any
      confidentiality obligation.

      <br>
      In addition, you agree not to:

      <br>
      download, copy, reproduce, republish, upload, post, transmit, modify, distribute or publicly display any of the
      content or information contained in this Site or the Services except as expressly authorized by us in writing;

      <br>
      use tools which hack or alter this Site, the Services or that allow you to connect to this Site's or the Services'
      private binary interface or utilize user or other interfaces other than those provided by us to you;

      <br>
      attempt to obtain a password or other private account information from any other person or user of this Site or
      the Services;

      <br>
      create multiple Accounts for any purpose; or
      <br>
      transmit any software or other materials that contain any viruses, worms, trojan horses, defects, date bombs, time
      bombs or other items of a destructive nature.

      <br>
      You acknowledge that SAF may remove, delete or edit any post, information or content provided by you for any
      reason whatsoever, including non-compliance with the foregoing. 

      <br>
      WE CANNOT AND DO NOT ASSURE THAT OTHER USERS ARE OR WILL BE COMPLYING WITH THE FOREGOING CODE OF CONDUCT OR ANY
      OTHER PROVISIONS OF THESE TERMS OF USE, AND, AS BETWEEN YOU AND US, YOU HEREBY ASSUME ALL RISK OF HARM OR INJURY
      RESULTING FROM ANY SUCH LACK OF COMPLIANCE.
    </p>

  </section>


  <!-- SECTION  AVAILABILITY -->

  <section>
    <h2>AVAILABILITY</h2>
    <p>While we endeavour to keep downtime to a minimum, we can't promise that this Site or the Services will be
      uninterrupted, secure or error-free. We reserve the right to interrupt or suspend this Site or the Services, or
      any part thereof, with or without prior notice for any reason.</p>
  </section>

  <!-- SECTION  ACCESS TO THE INTERNET -->

  <section>
    <h2>ACCESS TO THE INTERNET</h2>
    <p>You are solely responsible for obtaining and maintaining all Internet, computer hardware and other equipment
      needed to access and use this Site and the Services and that you shall be solely responsible for all charges and
      fees related thereto.</p>
  </section>

  <!-- SECTION  CHANGES TO SITE AND CONTENT -->

  <section>
    <h2>ACCESS TO THE INTERNET</h2>
    <p>
      AF may revise, supplement or delete information, services and/or the resources contained in this Site and the
      Services and reserves the right to make such changes without prior notification to past, current or prospective
      visitors. For the avoidance of doubt, we reserve the right at any time to change: (i) the terms and conditions of
      these Terms of Use; (ii) this Site or the Services, including terminating, eliminating, supplementing, modifying,
      adding or discontinuing any content or feature or data or service on or available through this Site or the
      Services or the hours that they are available; (iii) any fees or charges related to the use of this Site or the
      Services; and (iv) the equipment, hardware or software required to use and access this Site or the Services.

      <br>
      Any changes we make to these Terms of Use will be effective immediately upon notice, which we may provide by any
      means including, without limitation, posting on this website. Your continued use of this Site or the Services
      after such notice will be deemed acceptance of such changes. Be sure to return to this Site periodically to ensure
      you are familiar with the most current version of these Terms of Use. 
    </p>
  </section>


  <!-- SECTION  LINKED WEBSITES -->

  <section>
    <h2>ACCESS TO THE INTERNET</h2>
    <p>
      This Site or the Services may provide links to third party websites for your convenience only. The inclusion of
      these links does not imply that SAF monitors or endorses these websites. SAF does not accept any responsibility
      for such websites. SAF shall not be responsible or liable, directly or indirectly, for any damage or loss caused
      or alleged to be caused by or in connection with the use of or the reliance upon any information, content, goods
      or services available on or through any third party websites or linked resources. 
    </p>
  </section>


  <!-- SECTION  INTERNET SOFTWARE OR COMPUTER VIRUSES -->

  <section>
    <h2>INTERNET SOFTWARE OR COMPUTER VIRUSES</h2>
    <p>
      Due to technical difficulties with the Internet, Internet software or transmission problems could produce
      inaccurate or incomplete copies of information contained on this Site or the Services. Due to the ability to share
      certain content and materials, computer viruses or other destructive programs may also be inadvertently downloaded
      from this Site or the Services.

      <br>

      SAF shall not be responsible or liable for any software, computer viruses or other destructive, harmful or
      disruptive files or programs that may infect or otherwise impact your use of your computer equipment or other
      property on account of your access to, use of, or browsing on this Site or the Services or other content from this
      Site. SAF suggests that you take prudent action to protect yourself, such as installing appropriate anti-virus or
      other protective software.

    </p>
  </section>


  <!-- SECTION  SWEEPSTAKES, CONTESTS AND GAMES -->

  <section>
    <h2>SWEEPSTAKES, CONTESTS AND GAMES</h2>
    <p>
      Any sweepstakes, contests, and games that are accessible through this Site are governed by specific rules. By
      entering such sweepstakes or contests or participating in such games you will become subject to those rules.
    </p>
  </section>


  <!-- SECTION  INTELLECTUAL PROPERTY  -->

  <section>
    <h2>INTELLECTUAL PROPERTY</h2>
    <p>
      This Site and the Services are owned and operated by SAF and may be protected by intellectual property laws
      including laws relating to copyrights, trade-marks, trade-names, Internet domain names, notice and notice rights,
      and other similar rights under the laws of Alberta, Canada.

      <br>

      SAF may make certain content, software or other electronic materials (including all files, text, URLs, video,
      audio and images contained in or generated by such materials, and accompanying data) (collectively “SAF
      Materials”) available to you from this Site or the Services, from time to time. If you stream or use SAF
      Materials, you agree that such materials: (i) may only be used for your personal and non-commercial use, (ii) may
      not be modified, used to create a derivative work, incorporated into any other work or otherwise exploited without
      SAF’ prior written permission, and (iii) shall only be used in compliance with any additional license terms
      accompanying such materials. SAF does not transfer either the title or the intellectual property rights to the SAF
      Materials, and retains any and all intellectual property rights that it may have therein. You agree not to sell,
      share, redistribute, or reproduce the SAF Materials. You further agree not to decompile, reverse-engineer,
      disassemble, or otherwise convert any SAF Materials into a human-perceivable form. SAF or its licensors own all
      related trademarks and logos, and you agree not to copy or use them in any manner

      <br>

      By any posting, uploading, displaying, performing, transmitting, sharing, making available or otherwise
      distributing information or other content (“User Materials”) to this Site or the Services by you or at your
      direction, you are granting, and hereby grant, SAF, its affiliates, partners, officers, directors, employees,
      consultants, agents, and representatives a worldwide, irrevocable, non-exclusive, royalty-free, sublicensable
      license to use such User Materials in connection with the operation of this Site and the Services, including, a
      right to copy, distribute, transmit, publicly display, publicly perform, reproduce, edit, translate, make
      available, make derivative works from, include in mashups, and reformat such User Materials. You will not be
      compensated for any User Materials. You agree that SAF may publish or otherwise disclose your username in
      connection with your User Materials. By posting User Materials on this Site or the Services, you warrant and
      represent that you own title to the User Materials and any work or content therein that may be subject to
      protection by intellectual property laws, or are otherwise authorized by the owner of such title to post,
      distribute, display, perform, transmit, make available, or otherwise distribute, in compliance with the license
      granted herein to SAF, its affiliates, partners, officers, directors, employees, consultants, agents, and
      representatives and that such User Materials, and their use, do not violate any applicable laws, including,
      without limitation, any intellectual property laws. You agree that the burden of proving that any User Materials
      do not violate any laws or third party rights rests solely with you.

      <br>

      By posting, uploading, displaying, performing, transmitting, sharing or otherwise distributing any User Materials
      to this Site or the Services, you agree that SAF may, with or without notice to you, remove or render inaccessible
      such User Materials from the Site or the Services at any time and for any reason, including, without limitation,
      account inactivity or compliance with law including, where applicable, the Digital Millennium Copyright Act of
      1998 (“DMCA”) provisions respecting intellectual property protection.

      <br>

      If you choose to transmit, share or otherwise distribute your User Materials to third parties through the Site or
      the Services, you represent and warrant that you will do so in compliance with all laws, including, without
      limitation, any laws governing the transmission of commercial electronic messages or similar.

      <br>

      You are solely responsible for your User Materials. You are solely responsible for making and keeping backup
      copies of your User Materials and for applying the appropriate level of access rights to same. SAF shall not be
      responsible or liable for the loss, deletion or accuracy of any User Materials, the failure to store, transmit,
      encrypt (or otherwise secure) or receive any User Materials, or the storage, transmission, encryption (or other
      security) or receipt of any other communication involving the use of this Site or the Services. We may, in our
      sole discretion, limit the data volume of User Materials that you post or upload to the Site or Services, and may
      charge a fee for the storage of greater volumes of data, as discussed above. Further, we may, in case of Account
      inactivity, delete your User Materials. 

      <br>

      You are solely responsible for obtaining and maintaining any necessary consents or permissions from any third
      party whose information may be collected, recorded, processed, stored, used, disclosed, transferred, exchanged or
      otherwise handled as a result of, or as part of, any User Materials or any communications involving the use of
      this Site or the Services including without limitation that you have the consent to include images of each
      identifiable person included in the User Materials and agree to obtain and maintain all such consents or
      permissions throughout the term of this agreement.

    </p>
  </section>

  <!-- SECTION  COPYRIGHT INFRINGEMENT -->

  <section>
    <h2>COPYRIGHT INFRINGEMENT</h2>

    <p>
      SAF asks you to respect the intellectual property of others. In order to protect the intellectual property of
      others from misuse we ask you to help us. The DMCA provides recourse for copyright owners who believe that
      material appearing on the Internet infringes their rights under U.S. copyright law. If you believe, in good faith,
      that materials hosted on the Site infringe your copyright, please provide SAF's Copyright Agent with a notice of
      infringement (“Notice”) containing the following information: 

      <br>
      an electronic or physical signature of the owner of the copyright or of the person authorized to act on behalf of
      the owner of the copyright interest; 

      <br>
      a description of the copyrighted work that you claim has been infringed including the URL (i.e. Internet address)
      or other specific location on the Site where the material that you claim is infringing is located, including
      enough information to allow us to locate the material and to determine why you believe an infringement has taken
      place; 


      <br>
      a description of the location where the original or an authorized copy of the copyrighted work exists, for example
      the URL where it is posted or the name of the book in which it has been published; 
      your address, telephone number, and e-mail address; 


      <br>
      a statement by you that you have a good faith belief that the disputed use is not authorized by the copyright
      owner, its agent, or the law; and 


      <br>
      a statement by you, made under penalty of perjury, that the information in your Notice is accurate and that you
      are the copyright owner or authorized to act on the copyright owner's behalf. 


      <br>
      SAF’ Copyright Agent for Notice of claims of copyright infringement can be reached by mail as follows:

      <br>
      Director, Programs

      <br>
      MindFuel (Science Alberta Foundation)
      <br>
      260, 3512 – 33 St NW
      <br>
      Calgary, Alberta
      <br>
      Canada T2L 2A6
      <br>
      If you believe that a notice of copyright infringement has been wrongly filed against you, the DMCA permits you to
      send SAF a counter-notice. Notices and counter- notices must meet the then-current statutory requirements imposed
      under the DMCA. We suggest that you consult a legal advisor before filing a Notice or counter-notice. Also be
      aware that there can be penalties for false claims under the DMCA. SAF will terminate membership privileges and
      access to the Site for those who engage in acts of infringement.

    </p>
  </section>

  <!-- SECTION   FEES FOR RELATED SERVICES -->

  <section>
    <h2>
      FEES FOR RELATED SERVICES
    </h2>
    <p>
      We may, from time to time, provide certain Services through this Site on a fee basis. Where you elect to receive
      such Services, you agree to pay, through the payment mechanism selected by you and approved by us, all amounts due
      and owing for such Services as more particularly set out in the order confirmation provided at the time that you
      ordered such Services. We may amend this Site, the Services and/or the amounts that we charge for same at any
      time, without prior notice. Fees do not include any applicable sales, use, excise, value- added or other taxes or
      governmental charges, and you shall be responsible for, and shall promptly pay, same. If we terminate your access
      to the Site or Services because of your breach of these Terms of Use, you shall not be entitled to the refund of
      any unused portion of any fees you have already paid. You agree that we may collect interest at the lesser of 1.5%
      per month (18% per annum) or the highest amount permitted by law on any amounts not paid when due, where relevant.
    </p>
  </section>

  <!-- SECTION REFUND POLICY -->

  <section>
    <h2>
      REFUND POLICY
    </h2>
    <p>
      We apologize for any inconvenience, but we do not provide refunds on any fees or charges, including partially used
      periods and bank/merchant fees.
    </p>
  </section>

  <!-- SECTION SITE AND SERVICES PROVIDED “AS IS” -->

  <section>
    <h2>
      SITE AND SERVICES PROVIDED “AS IS” 
    </h2>
    <p>
      THIS SITE (INCLUDING, WITHOUT LIMITATION, THE INFORMATION PUBLISHED THEREON) AND THE SERVICES ARE PROVIDED "AS IS"
      WITHOUT REPRESENTATION, WARRANTY OR CONDITION OF ANY KIND, EITHER EXPRESS OR IMPLIED, INCLUDING, BUT NOT LIMITED
      TO THE IMPLIED REPRESENTATIONS, WARRANTIES OR CONDITIONS OF MERCHANTABILITY, OR FITNESS FOR A PARTICULAR PURPOSE.
      SAF DOES NOT REPRESENT OR WARRANT THAT THIS SITE OR THE SERVICES WILL MEET YOUR REQUIREMENTS OR THAT THEIR USE
      WILL BE UNINTERRUPTED OR ERROR-FREE. 
    </p>
  </section>

  <!-- SECTION LIMITATION OF LIABILITY -->

  <section>
    <h2>
      LIMITATION OF LIABILITY
    </h2>
    <p>
      SAF DOES NOT TAKE RESPONSIBILITY FOR ANY INFORMATION OR CLAIM MADE BY A USER OF THE SITE OR THE SERVICES.
      <br>

      YOU ASSUME ALL RESPONSIBILITY AND RISK FOR USE OF THIS SITE AND THE SERVICES, INCLUDING WITHOUT LIMITATION ANY OF
      THE INFORMATION CONTAINED THEREIN. IN PARTICULAR, YOU ASSUME ALL LIABILITY AND RISK FOR ANY MENTAL OR BODILY
      INJURY WHATSOEVER, INCLUDING LOSS OF LIFE OR LOSS OF BODILY FUNCTION, SUSTAINED BY YOU IN CONNECTION WITH THE
      USAGE OF THE SITE AND THE SERVICES, INCLUDING ANY ACTIVITIES PLANNED THROUGH THE SITE OR SERVICES, WHETHER BY WAY
      OF ACCIDENT, INTENTIONAL ASSAULT OR OTHERWISE. FURTHER, YOU ASSUME ALL RESPONSIBILITY AND RISK FOR THE OUTCOME OF
      ANY MEETING OR RENDEZVOUS WITH ANY MEMBER OR USER OF THE SITE OR SERVICES.

      <br>
      IN NO EVENT SHALL SAF OR ANY OF ITS DIRECTORS, OFFICERS, EMPLOYEES, PARTNERS, OR AGENTS BE LIABLE FOR ANY
      INCIDENTAL, INDIRECT, PUNITIVE, EXEMPLARY, CONSEQUENTIAL OR OTHER SIMILAR DAMAGES WHATSOEVER (OR FOR ANY DAMAGES
      FOR LOSS OF PROFITS, INTERRUPTION, LOSS OF BUSINESS INFORMATION, OR ANY OTHER PECUNIARY LOSS IN CONNECTION WITH
      ANY CLAIM, LOSS, DAMAGE, ACTION, SUIT OR OTHER PROCEEDING ARISING UNDER OR OUT OF THESE TERMS OF USE, INCLUDING
      WITHOUT LIMITATION YOUR USE OF, RELIANCE UPON, ACCESS TO, OR EXPLOITATION OF THIS SITE, THE SERVICES, OR ANY PART
      THEREOF, OR ANY RIGHTS GRANTED TO YOU HEREUNDER, EVEN IF WE HAVE BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES,
      WHETHER THE ACTION IS BASED ON CONTRACT, TORT (INCLUDING NEGLIGENCE), INFRINGEMENT OF INTELLECTUAL PROPERTY RIGHTS
      OR OTHERWISE. 

      <br>
      IN EVERY EVENT, SAF’S TOTAL MAXIMUM AGGREGATE LIABILITY UNDER THESE TERMS OF USE OR THE USE OR EXPLOITATION OF ANY
      OR ALL PART OF THIS SITE AND/OR THE SERVICES IN ANY MANNER WHATSOEVER SHALL BE LIMITED TO FIVE ($5.00) DOLLARS.

      <br>
      THE CONSIDERATION BEING PAID HEREUNDER DOES NOT INCLUDE ANY CONSIDERATION FOR SAF TO ASSUME ANY RISKS BEYOND THOSE
      EXPRESSLY ASSUMED HEREIN AND IF ANY SUCH RISKS WERE TO BE ASSUMED BY SAF, SAF WOULD NOT HAVE ENTERED INTO THIS
      AGREEMENT WITHOUT CHARGING SUBSTANTIALLY HIGHER FEES.

      <br>

      SOME JURISDICTIONS DO NOT ALLOW FOR THE LIMITATION OR EXCLUSION OF LIABILITY FOR INCIDENTAL OR CONSEQUENTIAL
      DAMAGES, SO THE ABOVE LIMITATION OR EXCLUSION MAY NOT APPLY TO YOU. 


    </p>
  </section>


  <!-- SECTION INDEMNIFICATION  -->

  <section>
    <h2>INDEMNIFICATION </h2>

    <p>
      YOU AGREE TO, UPON REQUEST, INDEMNIFY AND HOLD US HARMLESS FROM ANY AND ALL LIABILITIES, CLAIMS, LOSSES AND
      EXPENSES, INCLUDING ATTORNEYS' AND OTHER FEES AND COSTS, WHICH ARISE DIRECTLY OR INDIRECTLY FROM ANY BREACH OF
      THESE TERMS OF USE FOR WHICH YOU ARE RESPONSIBLE. 
    </p>
  </section>


  <!-- SECTION TERM & TERMINATION  -->

  <section>
    <h2>TERM & TERMINATION</h2>

    <p>
      You acknowledge and agree that access to this Site and the Services may not be available from time to time, may be
      amended, revised, replaced, suspended or terminated in whole or in part at any time and without notice, and that
      SAF shall not, in any event, be responsible to you in any way should you be unable to access this Site and the
      Service at any time or from time to time.

      <br>
      SAF may, at its sole discretion, at any time and from time to time, without notice, suspend your right to use this
      Site and the Services and/or terminate these Terms of Use (including any of the licenses granted hereunder).
      Without limiting the foregoing, these Terms of Use and the licenses granted herein shall automatically terminate,
      without notice, if you materially fail to perform or comply with these Terms of Use or any provision hereof. Upon
      termination of these Terms of Use, you shall immediately cease and desist from all use of this Site and the
      Services. 

      <br>

      Sections 11 to 24 will survive any termination or expiry of these Terms of Use. 
    </p>
  </section>


  <!-- SECTION NOTICE -->

  <section>
    <h2>TERM & TERMINATION</h2>

    <p>
      If you need to contact us regarding this Site, the Services or these Terms of Use, please e-mail us at
      <a href="mailto:info@codingville.ca">info@codingville.ca</a>. You can also contact us via mail addressed to:

      <br>

    </p>
  </section>

  <!-- SECTION Director of Programs -->

  <section>
    <h2> Director of Programs
    </h2>

    <p>
      c/o MindFuel
      <br>
      Suite 360, 3512 – 33 St NW
      <br>
      Calgary, Alberta, Canada
      <br>
      T2L 2A6

    </p>
  </section>

  <!-- SECTION  Your Comments -->

  <section>
    <h2>
      YOUR COMMENTS 
    </h2>
    <p>
      Feel free to email your comments, suggestions and feedback ("Comments") to SAF at the e-mail addresses provided in
      this Site or the Services. However, the Internet is not a fully secure medium and any communication may be lost,
      intercepted or altered. SAF is not liable for any damages related to communications to or from this Site or the
      Services. You agree with respect to any Comments provided by you to us, via e-mail or otherwise, that: (i) SAF has
      no obligation concerning such Comments; (ii) such Comments are non-confidential; (iii) SAF may use, disclose,
      distribute or copy such Comments and use any ideas, concepts or know-how contained in such Comments for any
      purpose and without restriction or obligation to you (or any third party); and (iv) such Comments are truthful, do
      not violate the legal rights of others, and are not the property of others. 
    </p>
  </section>

  <!-- SECTION PROTECTION OF MINORS -->
  <section>
    <h2>
      PROTECTION OF MINORS
    </h2>
    <p>
      Pursuant to 47 U.S.C. Section 230 (d) as amended, we hereby notify you that parental control protections (such as
      computer hardware, software or filtering services) are commercially available that may assist you in limiting
      access to material that is harmful to minors. 
    </p>
  </section>


  <!-- SECTION NOTICE FOR CALIFORNIA USERS -->
  <section>
    <h2>
      NOTICE FOR CALIFORNIA USERS 
    </h2>
    <p>
      Under California Civil Code Section 1789.3, California users of the Site are entitled to the following specific
      consumer rights notice: The Complaint Assistance Unit of the Division of Consumer Services of the California
      Department of Consumer Affairs may be contacted in writing at 400 R Street, Suite 1080, Sacramento, California
      95814, or by telephone at (916) 445-1254 or (800) 952-5210.
    </p>
  </section>


  <!-- SECTION EXPORT CONTROL AND JURISDICTION -->
  <section>
    <h2>
      EXPORT CONTROL AND JURISDICTION
    </h2>
    <p>
      This Site and the Services are subject to United States export controls. No materials may be downloaded or
      otherwise exported or re-exported (i) into any country to which the U.S. has embargoed goods; or (ii) to anyone on
      the U.S. Treasury Department's list of Specially Designated Nationals or the U.S. Commerce Department's Table of
      Deny Orders. By downloading or using any materials, you represent and warrant that you are not located in, under
      the control of, or a national or resident of any such country or on any such list.

      <br>

      We reserve the right to limit the availability of the Site and/or the provision of any of the Services, materials,
      or other products described or offered thereon to any person, geographic area, or jurisdiction we so desire, at
      any time and in our sole discretion, and to limit the quantities of any such Services, materials, or other product
      provided.
    </p>
  </section>

  <!-- SECTION MISCELLANEOUS  -->
  <section>
    <h2>
      MISCELLANEOUS 
    </h2>
    <p>
      These Terms of Use are governed by and construed in accordance with the laws of the Province of Alberta, Canada,
      without regards to its principles of conflicts of law. Subject to the obligation to arbitrate below, you agree to
      the exclusive personal jurisdiction of the courts located in Calgary, Alberta, Canada, and waive any
      jurisdictional, venue, or inconvenient forum objections to such courts. 
      <br>
      Except where prohibited by applicable law, any controversy, claim or dispute arising out of or relating to these
      Terms of Use, the Site or the Services or the relationship which results from these Terms of Use, including
      without limitation, the performance, breach, enforcement, existence or validity of the matters provided for in
      these Terms of Use or your receipt and use of the Site or Services, which cannot be amicably resolved,
      (collectively, a "Claim"), will be referred to and finally settled (to the exclusion of the courts) by private and
      confidential binding arbitration before a single arbitrator held in Calgary, Alberta in English and in accordance
      with the UNCITRAL Arbitration Rules, except as such rules are modified or waived herein. Although the appointing
      authority shall be a Justice of the Alberta Court of Queen's Bench, the arbitrator will be a person who is legally
      trained and who has experience in the information technology field in Canada or the United States of America and
      is independent of either party. Any such Claim will be arbitrated on an individual basis, and will not be
      consolidated in any arbitration with any claim, controversy or dispute of any other party. Except where prohibited
      by applicable law, you agree to: (i) waive any right you may have to commence or participate in any class action
      against SAF relating to any Claim; (ii) opt out of any class proceedings against SAF; and (iii) waive, to the
      fullest extent permitted by law, any right of appeal. Notwithstanding the foregoing, SAF reserves the right to
      pursue the protection of intellectual property rights and confidential information through injunctive or other
      equitable relief through the courts. 

      <br>
      If any provision of these Terms of Use is found to be unlawful, void, or for any reason unenforceable, then that
      provision shall be deemed severable from these Terms of Use and shall not affect the validity and enforceability
      of any remaining provisions. 

      <br>

      These Terms of Use (which incorporate by reference our Privacy Policy) set out the entire agreement between us
      relating to the subject matter herein and supersede and any all prior or contemporaneous written or oral
      agreements between us. These Terms of Use are not assignable, transferable or sub-licensable by you except with
      SAF’s prior written consent. No waiver by either party of any breach or default hereunder shall be deemed to be a
      waiver of any preceding or subsequent breach or default. Any heading, caption or section title contained in these
      Terms of Use is inserted only as a matter of convenience and in no way defines or explains any section or
      provision hereof. 

      <br>
    </p>
  </section>

  <p>
    <b>
      These Terms of Use were last updated on January 24, 2020.
    </b>
  </p>
</div>