.container {
  max-width: 1137px;
}
.header {
  p {
    padding-top: 20px;
  }
}
section {
  padding-bottom: 45px;
}
h1 {
  margin-top: 0;
  margin-bottom: 10px;
  font-family: 'Work Sans', sans-serif;
  color: #2b302b;
  font-size: 21px;
  line-height: 32px;
  font-weight: 800;
  text-align: center;
}
h2 {
  margin-top: 0;
  margin-bottom: 10px;
  font-family: 'Work Sans', sans-serif;
  color: #2b302b;
  font-size: 20px;
  line-height: 32px;
  font-weight: 800;
}
p {
  color: #585858;
  font-family: 'Varela Round', sans-serif;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: -0.25px;
}
