<div class="payment-container">

  <div class="row justify-content-center">

    <h3 class="col-12 payment-title" [class.text-left]="isNoCards == false">{{'payment' | translate}}</h3>

    <!-- SECTION Choose Card -->
    <div class="cards justify-content-between w-100 row mt-3" *ngFor="let card of cards">


      <div class="col-6">
        <input type="radio" name="card" [(ngModel)]="selectedCard" [value]="card?.stripe_id">

        <span>
          <img *ngIf="card.data.brand == 'visa'" src="assets/icons/visa.svg" alt="VISA">
          <img *ngIf="card.data.brand == 'mastercard'" src="assets/icons/master-card.svg" alt="MASTERCARD">

          {{card?.data.brand | ngxCapitalize}}

          {{'ending' | translate}}
          **{{card?.data.last4}}

        </span>
      </div>


      <div class="text-right col-6">
        <span>
          {{card?.data?.exp_month}} / {{card?.data?.exp_year}}
        </span>
      </div>

    </div>



    <!-- SECTION  NEW Card -->
    <form *ngIf="isNoCards" novalidate class="col-12 flex-form w-100 mb-5">
      <div class="row justify-content-between form-group-container">
        <div class="payment-label">
          <label>{{'enter-your-card-details' | translate}}</label>
          <div class="icons">
            <img src="assets/icons/visa.svg" alt="VISA">
            <img src="assets/icons/master-card.svg" alt="MASTERCARD">
          </div>
        </div>
        <div id="card-element" class="field form-group col-12"></div>
        <div id="cardExpiration" class="field form-group col-12 col-sm-5"></div>
        <div id="cardCVV" class="field form-group col-12 col-sm-5"></div>
      </div>


    </form>



    <div class="col-12  w-100">


      <div class="total-payment my-5">
        <p class="summary">{{'summary' | translate}}</p>
        <div class="checkout-item">


          <p *ngIf="isStudents">{{ checkout_item?.addedStudents }} {{'students' | translate}}</p>


          <p *ngIf="!isStudents">{{ checkout_item?.name }}</p>


          <p class="price">
            ${{ checkout_item?.addedStudents? checkout_item?.amount* checkout_item?.addedStudents : checkout_item?.amount }}
          </p>
          <span>{{ checkout_item?.currency | ngxCapitalize }}</span>
        </div>

      </div>


      <div class="form-footer">
        <button [disabled]="(!isNoCards && !selectedCard) || isLoading " (click)="submit()" type="submit"
          class="btn get-started-btn text-uppercase">
          <span *ngIf="isLoading" class="spinner-border spinner-border-sm mr-1"></span>
          {{'checkout' |  translate}}
        </button>
      </div>

    </div>

  </div>
</div>