@import '../../../../../@theme/styles/themes.scss';

.payment-container {
  background-color: #f3f3f3;
  border: 3px solid #e4e4e4;
  max-width: 500px;
  width: 95%;
  padding: 25px 40px;
  margin: 0 auto;
  .payment-title {
    font-size: 20px;
    font-weight: 500;
    color: #707070;
    padding-bottom: 15px;
    text-align: center;
    margin-bottom: 0;
  }
  .form-group-container {
    border-bottom: 1px solid #e0e0e0;
  }
  .payment-label {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex: 1;
    width: 100%;
    padding: 5px;
    label {
      font-size: 12px;
      color: #aeaeae;
      margin-bottom: 0;
    }
    .icons {
      img {
        max-height: 20px;
        min-width: 25px;
        margin-left: 10px;
      }
    }
  }
  .total-payment {
    color: #707070;
    font-size: 16px;
    padding-top: 15px;
    p {
      color: #707070;
    }
    .summary {
      font-size: 18px;
      font-weight: bold;
      margin-bottom: 10px;
    }
    .checkout-item {
      display: flex;
      justify-content: space-between;
      align-items: center;
      p {
        margin-bottom: 0;
        &.price {
          font-weight: 600;
        }
      }
    }
  }
  .flex-form {
    // min-height: calc(100vh - 220px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .form-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .get-started-btn {
      width: 100%;
      font-weight: bold;
      background-color: nb-theme(color-primary-500);
      color: #fff;
      font-size: 16px;
      padding: 15px;
    }
  }

  .form-group {
    position: relative;

    .form-control {
      padding-right: 30px;
      box-shadow: none;

      @media (max-width: 575px) {
        font-size: 8px;
        padding-right: 15px;
      }
    }

    .submit-btn {
      position: absolute;
      bottom: 7px;
      right: 5px;
      padding: 0;
      border: none;
      background-color: transparent;
      border-radius: 50%;
      outline: none;
      box-shadow: none;

      img {
        width: 25px;
        height: 25px;
      }

      @media (max-width: 575px) {
        img {
          width: 10px;
          height: 10px;
        }
      }
    }
  }
  .input-container {
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }

  .form-group {
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff !important;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }

  .cards {
    span {
      letter-spacing: 1.2px;
      line-height: 19px;
      color: #707070;
    }
  }
}
