<nb-layout windowMode>
  <nb-layout-column class="auth-layout">
    <div class="container-fluid auth-body">
      <div class="row">
        <div class="container">
          <div class="row">
            <div class="col-lg-6 col-md-12">
              <ngx-auth-welcome></ngx-auth-welcome>
            </div>
            <div class="col-lg-6 col-md-12 d-flex justify-content-center align-items-center">
              <ng-content select="router-outlet"></ng-content>
            </div>
            <div class="col-12 layout-footer" [class.justify-content-center]="isOrg">
              <div class="funding" *ngIf="!isOrg">
                <img src="assets/images/Canada_w FundingFrom_Eng.png" alt="with funding from Canada">
              </div>
              <div class="logos">
                <img src="assets/images/mindfuel_logo.svg" alt="Mindfuel" class="logo">
                <img src="assets/images/robogarden_logo.svg" alt="RoboGarden" class="logo">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nb-layout-column>
</nb-layout>