@import '../../styles/themes';
@import '~bootstrap/scss/mixins/breakpoints';
@import '~@nebular/theme/styles/global/breakpoints';


@include nb-install-component() {
  ::ng-deep .auth-layout {
    padding: 0 !important;
    margin: 0 !important;

    .back-to-ca {
      position: absolute;
      left: 15px;
      top: 15px;
      color: #909090;
      background-color: transparent;
      border: 1px solid #909090;
      padding: 5px;
      border-radius: 5px;
      z-index: 99;

      nb-icon {
        font-size: 2rem;
      }

      @media (max-width: 991px) {
        nb-icon {
          font-size: 1.5rem;
        }
      }
    }

    .auth-body {
      background-color: #fff;

      ::ng-deep .container {
        padding: 0 15px !important;
      }

      ngx-login,
      ngx-register {
        width: 100%;
      }
    }
  }

  .layout-footer {
    display: none;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #e4e4e4;

    .funding {
      img {
        max-height: 60px;
        max-width: 100px;
      }
    }

    .logos {
      .logo {
        padding: 0 10px;
        max-height: 50px;
        max-width: 100px;
      }

      @media (max-width: 480px) {
        display: flex;
        justify-content: flex-end;
        align-items: center;

        .logo {
          margin: 5px 0;
        }
      }
    }

    @media (max-width: 991px) {
      display: flex;
      margin-top: 40px;
      padding-top: 30px;
      padding-bottom: 30px;
    }
  }
}
