<ngx-container>
    <header>
        <h3>{{"my-badges" | translate}}</h3>
    </header>

    <div class="badges-cards-wrapper">
        <div class="container ">
            <div class="row mt-4 no-gutters">
                <div class="col-xs-12 col-md-6 badge-wrapper" *ngFor="let badge of badges">
                    <ngx-badge-card [badgeData]='badge'></ngx-badge-card>
                </div>
            </div>
        </div>
    </div>
</ngx-container>