header {
  h3 {
    color: #707070;
    font-weight: 600;
    padding: 0 0 30px;
    margin: 0;
    font-size: 20px;
  }
}

.badges-cards-wrapper {
  padding: 0 60px 0 45px;
  margin-left: 22px;

  /* Small Screen */
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    padding: 0;
    margin-left: 0;
  }

  /* Extra Small Screen */
  @media only screen and (max-width: 767px) {
    padding: 0 15px 0 0;
    margin-left: 0;

  }
}
