<div class="adventure-wrapper-card mt-4 overlay-container">
  <div class="adventure-mission-cotrol-wrapper">
    <div class="container-fluid p-0">
      <ngx-mission-control *ngIf="adventures" [adventures]="adventures" [selectedAdventureId]="selectedAdventureId"
        [journey]="journeyName" [role]="role"
        (getMissionsClicked)="checkForCourseID($event.id , $event.adventure_type)"></ngx-mission-control>
    </div>
  </div>
  <div class="adventure-cards-wrapper" [ngClass]="{'mission-wrapper-card': !adventures }">
    <div class="row" *ngIf="dataLoaded">
      <div class="col-12">
        <h3 class="mission-control-header-text mb-0" *ngIf="!adventures">{{ journeyName }}</h3>
      </div>
    </div>
    <div class="container" *ngIf="dataLoaded">
      <div class="row adventure-project-wrapper" *ngIf="selectedAdventureType == 'project' && dataLoaded">
        <div class="col-xs-12">
          <header class="adventure-project-header">
            <h3 class="adventure-project-header-text">{{"complete-project?" |translate}}</h3>
          </header>
          <p class="adventure-project-info">
            {{"complete-project-description" | translate}}
          </p>
        </div>
      </div>
      <div class="row mx-auto" *ngIf="selectedAdventureType === 'project' && projectMissions">
        <div class="col-12">
          <div class="row difficulty-row" *ngIf="projectMissions.beginner.length > 0">
            <div class="col-2 d-flex justify-content-center align-items-center">
              <div class="row-count">1</div>
            </div>
            <div class="col-xs-10 col-sm-5 col-lg-4 col-md-5 pr-lg-0" *ngFor="let mission of projectMissions.beginner">
              <ngx-mission-card [missionData]='mission' [adventureType]='selectedAdventureType' difficulty="beginner"
                (click)="goToMission(mission)"></ngx-mission-card>
            </div>
          </div>
          <div class="row difficulty-row" *ngIf="projectMissions.intermediate.length > 0">
            <div class="col-2 d-flex justify-content-center align-items-center">
              <div class="row-count">2</div>
            </div>
            <div class="col-xs-10 col-sm-5 col-lg-4 col-md-5 pr-lg-0"
              *ngFor="let mission of projectMissions.intermediate">
              <ngx-mission-card [missionData]='mission' [adventureType]='selectedAdventureType'
                difficulty="intermediate" (click)="goToMission(mission)"></ngx-mission-card>
            </div>
          </div>
          <div class="row difficulty-row" *ngIf="projectMissions.advanced.length > 0">
            <div class="col-2 d-flex justify-content-center align-items-center">
              <div class="row-count">3</div>
            </div>
            <div class="col-xs-10 col-sm-5 col-lg-4 col-md-5 pr-lg-0" *ngFor="let mission of projectMissions.advanced">
              <ngx-mission-card [missionData]='mission' [adventureType]='selectedAdventureType' difficulty="advanced"
                (click)="goToMission(mission)"></ngx-mission-card>
            </div>
          </div>
        </div>
      </div>
      <div class="row mx-auto" *ngIf="selectedAdventureType !== 'project'">
        <div class="col-xs-12 col-sm-6 col-lg-4 col-md-6 pr-lg-0" *ngFor="let mission of missions">
          <ngx-mission-card [missionData]='mission' [adventureType]='selectedAdventureType'
            (click)="goToMission(mission)"></ngx-mission-card>
        </div>
      </div>
      <div class="row justify-content-center">
        <ngx-empty-state *ngIf="missions.length == 0"></ngx-empty-state>
      </div>
    </div>
  </div>
</div>