@import '../../../../@theme/styles/themes.scss';

@include nb-install-component() {
  .adventure-wrapper-card {

    .adventure-cards-wrapper,
    .adventure-mission-cotrol-wrapper,
    .adventure-project-wrapper {
      background-color: nb-theme(background-basic-color-4);
    }

    .adventure-cards-wrapper.mission-wrapper-card {
      min-height: calc(100vh - 96px);
    }

    .adventure-cards-wrapper {
      min-height: calc(100vh - 359px);

      .container {
        padding: 30px 70px;

      }

      /* Extra Small Screen */
      @media only screen and (max-width: 767px) {
        padding: 20px;

        .container {
          padding: 0;

        }
      }
    }

    .adventure-mission-cotrol-wrapper {
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px;
      margin-bottom: 12px;
    }

    .adventure-project-wrapper {
      .adventure-project-header-text {
        font-size: 40px;
        color: #151a30;
        font-weight: 600;
        margin-bottom: 20px;
      }

      .adventure-project-subheader-text {
        font-size: 18px;
        line-height: 12.9px;
        color: #aeaeae;
        font-weight: 600;
        margin-bottom: 20px;
      }

    }

    .mission-control-header-text {
      font-size: 32px;
      font-weight: bold;
      color: nb-theme(card-text-color);
      padding-left: 23px;
      padding-top: 20px;
    }

    .difficulty-row {
      padding: 30px 0;
      border-top: 1px solid #cbcbcb;
      border-bottom: 1px solid #cbcbcb;

      .row-count {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 70px;
        height: 70px;
        font-size: 40px;
        background-color: #d6dade;
        border-radius: 50%;
        margin-bottom: 18px;
      }
    }

  }

  .overlay-container {
    position: relative;
  }
  .overlay-item {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 10;
  }
}
