<section class="mission-cotrol-wrapper">
  <div class="row no-gutters m-0 d-block d-md-none">
    <div class="col-12 no-gutters">
      <div class="mission-options py-2 pl-3 h-100">
        <header class="mission-control-header">
          <h3 class="mission-control-header-text mb-0 pl-3">{{ journey }}</h3>
        </header>
      </div>
    </div>
  </div>
  <div class="row no-gutters mx-0">
    <div class="col-xs-12 col-md-6 col-lg-7 order-md-1 order-2">
      <div class="row no-gutters mx-0">
        <div class="col-12 no-gutters">
          <div class="mission-options py-2 pl-3 h-100">
            <header class="mission-control-header">
              <h3 class="mission-control-header-text mb-0 pl-3 d-none d-md-block">{{ journey }}</h3>
              <p class="mission-control-text mb-0 pl-3">
                {{"Adventure" | translate}} {{ slectedIndex }} :
                <span class="mission-control-info">{{ activeAdventure.name }}</span>
              </p>
            </header>
          </div>
        </div>
      </div>
      <div class="row mx-0 py-1">
        <!-- <div class="col-1 justify-content-center" *ngIf="currentStart > 0">
          <span class="arrow-before" (click)="adventureGoLeft()">
            &lt;
          </span>
        </div> -->
        <!-- <div class="col-8"> -->
        <div class="col-12">
          <nb-radio-group class="d-flex justify-content-start w-100">
            <nb-radio
              [ngClass]="
                (adventure.progress === 100 && adventure.adventure_type === 'project') ? 'completed-radio project-radio' :
                adventure.progress === 100 ? 'completed-radio':
                adventure.adventure_type === 'project' ? 'project-radio' : ''
              "
              *ngFor="let adventure of adventuresShown;" [checked]="adventure.id == selectedAdventureId"
              [value]="adventure.id" (click)="onViewAdventure(adventure)">
              <div *ngIf="adventure.adventure_type != 'project' && adventure.progress === 100">
                <nb-icon icon="checkmark-outline"></nb-icon>
              </div>
              <div *ngIf="adventure.adventure_type != 'project' && adventure.progress < 100">
                {{ adventure.index }}
              </div>

            </nb-radio>
          </nb-radio-group>
        </div>
        <!-- <div class="col-1 justify-content-center" *ngIf="currentEnd < adventures.length">
          <span class="arrow-next" (click)="adventureGoRight()">
            &gt;
          </span>
        </div> -->
      </div>

    </div>
    <div class="col-xs-12 col-md-6 col-lg-5 order-md-2 order-1">
      <div class="row no-gutters mx-0 h-100">
        <div class="col-lg-5 col-7 col-md-6">
          <div class="adventure-progress p-0 h-100 text-center" *ngIf="isStudent()">
            <circle-progress [percent]="activeAdventure.progress" [radius]="40" [space]="-10" [outerStrokeWidth]="12"
              [innerStrokeWidth]="12" [outerStrokeColor]="'#7ac70c'" [innerStrokeColor]="'#e5e5e5'" [animation]="true"
              [animationDuration]="1000" [showUnits]="true" [showBackground]="false" [showImage]="false"
              [showTitle]="true" [showSubtitle]="false" [clockwise]="true" [startFromZero]="false"
              [titleColor]="'#707070'" [titleFontSize]="26" [titleFontWeight]="600" [unitsFontSize]="26"
              [unitsColor]="'#707070'" [unitsFontWeight]="600"></circle-progress>
            <div class="adventure-score">
              <div class="d-inline-block coins-wrapper mr-1">
                <span class="coins-img float-left">
                  <img src="assets/icons/coin.svg" width="22" height="23" />
                </span>
                <span class="coins-text float-right">{{ activeAdventure.score.coins }}</span>
              </div>

              <div class="d-inline-block xps-wrapper ml-1">
                <span class="xps-img float-left">
                  <img src="assets/icons/xp.svg" width="22" height="23" />
                </span>
                <span class="xps-text float-right">{{ activeAdventure.score.xp }}</span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-7 col-4 col-md-6">
          <div class="adventure-image--container d-flex h-100 pr-2">
            <img [src]="activeAdventure.image" class="img-fluid adventure-image" />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>