@import '../../../../@theme/styles/themes.scss';

@include nb-install-component() {
  .mission-cotrol-wrapper {
    ::ng-deep circle-progress {
      pointer-events: none;
    }

    nb-radio-group {
      overflow-x: auto;
      overflow-y: hidden;
      align-items: center;
      height: 70px;
    }

    ::ng-deep nb-radio {
      display: inline-block;
      padding: 6px 0;

      nb-icon {
        width: 70%;
        height: 70%;
        color: #fff;
      }

      .text {
        position: relative;
        padding: 0;
        margin: 0;
        width: 100%;
        text-align: center;
        display: inline-block;
      }

      .outer-circle {
        border-width: 4px !important;
        border-color: #d6dade !important;
        background-color: #d6dade !important;
        height: 100%;
        width: 100%;
        transition: 0.3s ease-in-out !important;

      }

      .native-input:enabled:focus + .outer-circle {
        box-shadow: none;
      }

      .inner-circle {
        height: 100%;
        width: 100%;
        transform: translateY(-50%) scale(1) !important;
        transition: 0.3s ease-in-out !important;
        border: 4px solid #d6dade;
      }

      .native-input:enabled:checked ~ .inner-circle {
        background-color: #14d4f4 !important;
        border: 4px solid #0099ff;
      }

      label {
        display: flex !important;
        cursor: pointer;
        padding: 0;
        margin: 0 5px 0 0;
        width: 35px;
        height: 35px;
        position: relative;
        justify-content: center;
        align-items: center;

        &:hover {
          .native-input:checked:enabled ~ .inner-circle {
            background-color: #14d4f4 !important;
          }
        }
      }

      &.completed-radio {
        .native-input:enabled:checked ~ .inner-circle {
          background-color: nb-theme(color-success-600) !important;
          border: 4px solid nb-theme(color-success-700);
        }
        label:hover {
          .native-input:checked:enabled ~ .inner-circle {
            background-color: nb-theme(color-success-600) !important;
          }
        }
      }

    }


    ::ng-deep .project-radio {
      label {
        width: 45px;
        height: 45px;

        .inner-circle {
          display: flex;
          justify-content: center;
          align-items: center;
          &::after {
            content: '';
            background: url('../../../../../assets/icons/project-icon.svg') no-repeat center;
            background-position: center;
            width: 90%;
            height: 90%;
          }
        }
      }
    }

    .mission-options {
      &::after {
        content: '';
        border-right: 3px solid #d5d5d5;
        right: 0;
        height: 120%;
        top: 16px;
        position: absolute;
      }

      .mission-control-header {
        .mission-control-header-text {
          font-size: 32px;
          font-weight: 600;
          color: #707070;
          line-height: 41px;

          /* medium Screen */
          @media only screen and (min-width: 1200px) and (max-width: 992px) {
            font-size: 28px;
          }

          /* Small Screen */
          @media only screen and (min-width: 768px) and (max-width: 991px) {
            font-size: 25px;
            line-height: 32px;
          }

          /* Extra Small Screen */
          @media only screen and (max-width: 767px) {
            font-size: 20px;
            line-height: 26px;
          }
        }

        .mission-control-text {
          font-size: 20px;
          font-weight: 700;
          color: #707070;

          @media (max-width: 767.98px) {
            font-size: 16px;
          }

          .mission-control-info {
            font-weight: 600;
          }
        }
      }
    }

    .adventure-progress {
      justify-content: center;
      align-content: center;
      display: grid;

      .adventure-score {

        .coins-wrapper,
        .xps-wrapper {
          width: 66px;
          height: 28px;
          border-radius: 18px;
          background-color: #fff;

          .coins-img,
          .xps-img {
            width: 33px;
            height: 100%;
            background: #bfbdbd;
            text-align: center;
            line-height: 23px;
            border-bottom-left-radius: 18px;
            border-top-left-radius: 18px;
          }

          .coins-text,
          .xps-text {
            width: 33px;
            height: 100%;
            font-size: 12px;
            background: #d8d8d8;
            color: #707070;
            text-align: center;
            line-height: 28px;
            border-bottom-right-radius: 18px;
            border-top-right-radius: 18px;
          }
        }
      }
    }

    .adventure-image--container {
      align-items: center;
      justify-content: flex-end;

      .adventure-image {
        width: 180px;
        height: 120px;
        border-radius: 14px;

        /* Small Screen */
        @media only screen and (min-width: 768px) and (max-width: 991px) {
          width: 150px;
          height: 112px;
        }
      }

      /* Extra Small Screen */
      @media only screen and (max-width: 767px) {
        .adventure-image {
          width: 140px;
          height: 105px;
        }
      }
    }
  }

  .arrow-next {
    font-size: 3rem;
    cursor: pointer;
    user-select: none;
  }

  .arrow-before {
    font-size: 3rem;
    cursor: pointer;
    user-select: none;
  }
}
