<nb-card class="parent">
    <nb-card-header class="parent text-uppercase">
        {{"share" | translate}}
        <nb-icon icon="close" class="float-right" (click)="close()"></nb-icon>
    </nb-card-header>
    <nb-card-body class="parent px-5 pt-5 pb-lg-2 pb-5">
        <div class="row justify-content-center">
            <div class="col-lg-5 col-12">
                <div class="row justify-content-center">
                    <div class="col-lg-12 col-sm-6 col-12">
                        <ngx-card [cardData]="data"></ngx-card>
                    </div>
                </div>
            </div>
            <div class="col-lg-7 col-12 ">
                <div class="row justify-content-center link-share-box">
                    <div class="col-lg-12 col-sm-6 col-12">
                        <div #linkShareBox>
                            <p>{{"project-link" | translate}}</p>
                            <input type="text" [value]="data.link" nbInput fullWidth shape="rectangle"
                                placeholder="Rectangle">
                            <button ngxClipboard class="text-uppercase" [cbContent]="data.link"
                                [container]="linkShareBox" nbButton fullWidth
                                status="success">{{"copy-link" | translate}}</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </nb-card-body>
</nb-card>