@import '../../../../@theme/styles/overrides';
@import '../../../../@theme/styles/themes';

@include nb-install-component() {
  nb-card.parent {
    border-radius: 8px;
    max-width: 590px;
    min-width: 38vw;

    nb-card-header.parent {
      line-height: 32px;
      padding: 25px 43px;
      height: 82px;
      border-radius: 8px;
      background-color: #151a30;
      font-size: 18px;
      color: #fff;
      font-weight: 500;

      nb-icon {
        width: 36px;
        height: 36px;
        cursor: pointer;
        border-radius: 4px;
        background-color: #2e2e2e;
      }
    }

    nb-card-body.parent {

      // padding: 0.8rem 0.6rem 0.5rem 1.5rem;
      .card-container {
        margin: 16px;
        padding: 0 16px;
        border: 1px solid #e4e4e4;
        border-radius: 6px;
        box-shadow: 1px 1px 5px 1px #e4e4e4;
      }

      .link-share-box {
        position: relative;
        top: 43%;
        transform: translateY(-50%);
        width: 100%;

        p {
          font-size: 20px;
          font-weight: 400;
        }

        input {
          margin-bottom: 10px;
          text-align: center;
          border-color: #707070;
        }

        button {
          background-color: #1fa100;
          border-color: #1fa100;

          &:hover {
            background-color: #64cb4b;
          }

          &:focus {
            background-color: #707070;
          }
        }
      }
    }
  }
}

nb-card.child {
  box-shadow: none;
  margin-bottom: 0;

  nb-card-body {
    padding: 10px 0;

    .img-container {
      margin: auto;
      margin-bottom: 10px;
      width: 100%;
      text-align: center;
      position: relative;
      padding-bottom: 80%;
      overflow: hidden;
      background-color: #e9e9e9;
      //border: 1px solid red;

      .player-image {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        object-fit: cover;
      }
    }
  }

  nb-card-header {
    border-bottom: 1px solid #dee2e6 !important;

    p {
      font-size: 18px;
      font-weight: normal;
    }
  }

  nb-card-footer {
    border-top: 1px solid #dee2e6 !important;
    padding: 5px 0 0;

    p {
      font-size: 16px;
    }
  }

  .cursor-pointer {
    cursor: pointer;
  }

  .text-ellipsis {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  .bg-white {
    background-color: white;
  }

  .card-container {
    background-color: #fbfbfb;
    border-radius: 8px;
    -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
    -moz-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  }

}
