<nb-layout windowMode>

    <nb-sidebar class="menu-sidebar" tag="menu-sidebar" responsive start>
        <ngx-accounts-sidebar-top></ngx-accounts-sidebar-top>
        <ng-content select="nb-menu"></ng-content>
        <ngx-accounts-sidebar-bottom [isActivated]="isActivated"></ngx-accounts-sidebar-bottom>
    </nb-sidebar>

    <nb-layout-column>
        <ngx-accounts-header></ngx-accounts-header>
        <ngx-breadcrumbs></ngx-breadcrumbs>
        <ng-content select="router-outlet"></ng-content>
    </nb-layout-column>

</nb-layout>