@import '../../styles/themes';
@import '~bootstrap/scss/mixins/breakpoints';
@import '~@nebular/theme/styles/global/breakpoints';


@include nb-install-component() {
  .menu-sidebar ::ng-deep .scrollable {
    // padding-top: nb-theme(layout-padding-top);
    padding-top: 0;
  }

  nb-layout-column {
    padding: 25px 30px !important;
  }

  nb-sidebar .main-container {
    width: 15rem;
  }


  /* Small Screen */
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    nb-layout-column {
      padding: 20px 22.5px !important;
    }
  }

  /* extra small screens */
  @media only screen and (max-width: 767px) {
    nb-layout-column {
      padding: 10px 9px !important;
    }
  }
}
