.tootbar {
  max-width: 67px;
  .row {
    max-width: 67px;
  }
}

.tool-container {
  margin-bottom: 1.8rem !important;

  .tool {
    background-color: #f3f3f3;
    color: black;
    padding-top: 0.881rem;
    padding-right: 0.563rem;
    padding-bottom: 0.557rem;
    padding-left: 0.563rem;
    nb-icon {
      font-size: 1.5rem;
    }
    &:hover {
      background-color: #c5c5c5;
      color: black;
    }
  }
  .tool-center {
    padding-top: 0.6875rem;
    padding-bottom: 0.75rem;
    padding-right: 0.75rem;
    padding-left: 0.75rem;
  }

  
}

.btn-tutorial {
  background-color: #f3f3f3;
  border: 3px solid #f3f3f3;
  padding-right: 0.725rem;
  padding-left: 1rem;
  padding-top: 1.3rem;
  padding-bottom: 1.3rem;
}

.btn-tutorial.active {
  background-color: #ffc000;
  border: 3px solid #ffa200;
}
