<a href="javascript:;" class="text-center tootbar">
  <div class="row">

    <div class="col-12 tool-container">
      <a href="javascript:;" (click)="center()" class="tool tool-center rounded-circle" nbTooltip="{{'center' | translate}}"
        nbTooltipStatus="primary" nbTooltipPlacement="left">
        <img src="assets/icons/center.svg">
      </a>
    </div>

    <div class="col-12 tool-container">
      <a href="javascript:;" class="tool rounded-circle" (click)="zoom(true)" nbTooltip="{{'zoom_in' | translate}}"
        nbTooltipStatus="primary" nbTooltipPlacement="left">
        <nb-icon icon="plus-circle-outline"></nb-icon>
      </a>
    </div>

    <div class="col-12 tool-container">
      <a href="javascript:;" class="tool rounded-circle" (click)="zoom(false)" nbTooltip="{{'zoom_out' | translate}}"
        nbTooltipStatus="primary" nbTooltipPlacement="left">
        <nb-icon icon="minus-circle-outline"></nb-icon>
      </a>
    </div>

    <div class="col-12 tool-container" *ngIf="isJourney&&isTeacher">
      <a href="javascript:;" class="tool rounded-circle" (click)="reset('model')" nbTooltip="{{'reset' | translate}}"
        nbTooltipStatus="primary" nbTooltipPlacement="left">
        <nb-icon icon="refresh-outline"></nb-icon>
      </a>
    </div>

    <div class="col-12 p-0" *ngIf="isJourney">
      <a href="javascript:;" (click)="toggleTutorial()" class="btn-tutorial rounded-circle" [class.active]="isTutorial"
        nbTooltip="{{'description' | translate}}" nbTooltipStatus="primary" nbTooltipPlacement="left">
        <img src="assets/icons/question mark.svg ">
      </a>
    </div>

  </div>
</a>