<div class="container-fluid p-0">
    <div class="row header-container px-md-3 px-4 justify-content-md-start justify-content-between"
        *ngIf="dataLoaded &&playerDataLoaded">
        <div class="col-md-2  col-4">
            <div class="user-img-container row">
                <img class="player-image" [src]="studentData?.image" />
            </div>
        </div>

        <div class="col-lg-3 col-md-4 col-7 info-card">
            <div class="col-12 p-0">
                <h1 class="user-name m-0">{{studentData.name || studentData?.username}}</h1>
            </div>
            <nb-card class="col-12 p-1 mb-0 data-card">
                <div class="col-12">
                    <div class="row justify-content-between">
                        <div class="col-3">
                            <nb-icon icon="heart"></nb-icon>
                        </div>
                        <div class="col-3">
                            <nb-icon icon="eye"></nb-icon>
                        </div>
                        <div class="col-3">
                            <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em"
                                viewBox="0 0 21.614 21.069">
                                <path
                                    d="M21.041,11.033H19.5V7.02a2.039,2.039,0,0,0-2.058-2.007H13.322v-1.5a2.574,2.574,0,0,0-5.146,0v1.5H4.058A2.03,2.03,0,0,0,2.01,7.02v3.812H3.544a2.71,2.71,0,1,1,0,5.418H2v3.812a2.039,2.039,0,0,0,2.058,2.007H7.97v-1.5a2.78,2.78,0,0,1,5.558,0v1.5h3.911A2.039,2.039,0,0,0,19.5,20.062V16.049h1.544a2.509,2.509,0,1,0,0-5.016Z"
                                    transform="translate(-2 -1)" fill="#707070" />
                            </svg>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="row justify-content-between icon-text">
                        <div class="col-3">
                            <span class=""> {{studentData?.noOfLikes| number:'2.0'}} </span>
                        </div>
                        <div class="col-3">
                            <span class="icon-text"> {{studentData?.noOfViews| number:'2.0'}} </span>
                        </div>
                        <div class="col-3">
                            <span class="icon-text"> {{studentData?.noOfProjects| number:'2.0'}} </span>
                        </div>
                    </div>
                </div>
            </nb-card>

        </div>

        <div class="col-lg-7 py-3 col-12 badges-container float-right" *ngIf="allBadges.length > 0">
            <div class="row">
                <div class="col-1 text-center">
                    <span class="arrow-next" (click)="badgesGoLeft()" *ngIf="lastShownBadge > 5">
                        &lt;
                    </span>
                </div>
                <div class="col-sm-10 col-9 badges-holder">
                    <div class="row">
                        <div class="col-2 text-center p-0" *ngFor="let badge of badgesShown;let ind = index">
                            <img class="badge-img" [title]="badge?.name" [src]="badge?.iconurl">
                        </div>

                        <div class="col-2 text-center p-0"
                            *ngIf="allBadges.length - lastShownBadge == 0 && allBadges.length > 5">
                            <img class="badge-img" [title]="allBadges[lastShownBadge-1]?.name"
                                [src]="allBadges[lastShownBadge-1]?.iconurl">
                        </div>

                        <div class="col-2 text-center p-0" *ngIf="allBadges.length - lastShownBadge > 0">
                            <img class="badge-img" src="assets/icons/badge-gray.svg">
                            <div class="count-badge">
                                <span class="count">+{{allBadges.length - lastShownBadge}}</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-1 text-center">
                    <span class="arrow-next" (click)="badgesGoRight()" *ngIf="lastShownBadge < allBadges.length">
                        &gt;
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>



<nb-card class="content-card mt-4" *ngIf="dataLoaded">
    <nb-card-header class="pb-0">
        <div class="row justify-content-between">
            <div class="col-5">
                <span class="page-title">
                    {{"Projects" | translate}}
                </span>
            </div>

            <div class="col-lg-6 col-md-6 col-7" *ngIf="projects.length > 0">
                <div class="row justify-content-end align-items-md-center align-items-start text-right">
                    <div class="col-lg-6 col-8">
                        <span class="total-projects">{{projectsCount}} {{"Projects" | translate}}</span>
                    </div>

                    <div class="col-lg-2 col-md-2 col-4 pl-1 pr-1 pr-lg-4 mr-lg-4">
                        <nb-select class="table-filter-select" [(selected)]="cardPerPage"
                            (selectedChange)="changePageLimit()">
                            <nb-option *ngFor="let option of cardsPerPage" [value]="option">{{ option }}</nb-option>
                        </nb-select>
                    </div>
                </div>
            </div>


        </div>
    </nb-card-header>
    <div *ngIf="projects.length > 0">
        <div class="container-fluid">
            <div class="row mt-4 justify-content-center">
                <div class="col-lg-10 col-md-12 col-11">
                    <div class="row">
                        <div class="col-md-4 col-12" *ngFor="let card of projects">
                            <ngx-card [cardData]='card' [isShare]='true' (shareClickedEvent)="share(card)"
                                (likeBtnClicked)="toggleLikeProject(card)">
                            </ngx-card>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <ngx-pagination [arrayLength]='projectsCount' [maxShown]='cardPerPage' [currentPage]='currentPage'
            (pageChange)="changePagination($event)">
        </ngx-pagination>
    </div>

    <ngx-empty-state *ngIf="projectsCount == 0 && searchValue === ''" [type]='"data"'></ngx-empty-state>
    <ngx-empty-state *ngIf="projectsCount == 0 && searchValue !== ''" [type]='"search"'></ngx-empty-state>

</nb-card>