<div class="header-container container-fluid">
  <div class="row">
    <div class="header">
      <div class="logo-container justify-content-between">
        <div class="text">
          <a class="logo text-uppercase" href="#" *ngIf="!isOrg">CODINGVILLE.CA</a>
          <a class="logo logo-txt text-uppercase" href="#" *ngIf="isOrg">codeg.o.a.t.</a>
        </div>
        <div class="flag">
          <img *ngIf="!isOrg" src="assets/icons/canada-tree.svg" alt="">
          <img *ngIf="isOrg" class="codegoat-logo-img" src="assets/icons/codegoat-sidebar-icon.svg" alt="">
        </div>
      </div>
      <div class="buttons-container">
        <a routerLink="/auth/registration" class="btn btn-primary">SIGN UP</a>
        <a routerLink="/auth/login" class="btn btn-secondary">LOG IN</a>
      </div>
    </div>
  </div>
</div>