@import '../../styles/themes';

@include nb-install-component() {
  .header-container {
    background-color: #222b45;
    padding: 15px;

    .header {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 30px;

      .logo-container {
        display: flex;
        align-items: center;

        .text {
          .logo {
            font-family: 'Bungee', cursive;
            padding: 0;
            color: #fcfcfc;
            border: none;
            font-size: 16px;
            padding-right: 10px;
            text-decoration: none;

            &.logo-txt {
              font-size: 19px;
            }

            &:hover {
              text-decoration: none;
            }
          }

          .copyrights {
            font-size: 5px;
            font-weight: 600;
            letter-spacing: 1px;
            text-transform: uppercase;
            margin: 0;
            color: #fff;
            opacity: 0.6;
            line-height: 10px;
          }
        }

        .codegoat-logo-img {
          width: 38px;
          margin-right: 11px;
          filter: grayscale(100%);

          img {
            width: 100%;
            vertical-align: baseline;
          }
        }

        .flag {
          width: 34px;

          img {
            width: 100%;
            vertical-align: baseline;
          }
        }
      }

      .buttons-container {
        .btn {
          font-weight: 800;
          outline: none;
          box-shadow: none;
          border-color: nb-theme(color-primary-500);
          min-width: 150px;
          margin-left: 20px;

          &.btn-primary {
            background-color: nb-theme(color-primary-500);
            color: #fff;
          }

          &.btn-secondary {
            background-color: #fff;
            color: nb-theme(color-primary-500);
          }
        }
      }
    }
  }
}
