@import '../../../../@theme/styles/themes.scss';
@import '../../../../@theme/styles/overrides';


@include nb-install-component() {
  .justify-content-flex-end {
    justify-content: flex-end;
  }

  .error-msg {
    color: nb-theme(color-danger-700);
    padding-left: 15px;
    margin-top: 5px;
    display: block;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 1px;
    margin-bottom: 9px;
  }

  ::ng-deep ngx-container {
    .content-card {
      padding: 22px 32px !important;
      border-radius: 25px;
      box-shadow: none !important;
    }

    .text-ellipsis {
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      max-width: 70%;
    }

    .game-preview-parent {
      text-align: center;
      width: 85%;
    }

    .dropdown-menu {
      min-width: auto;
      border-radius: 8px;
      border: none;
      padding: 0;
      top: 4%;
      right: 2%;
      left: inherit;
      -webkit-box-shadow: nb-theme(shadow);
      -moz-box-shadow: nb-theme(shadow);
      box-shadow: nb-theme(shadow);

      a {
        padding: 12px 17px;
        text-align: left;
        font-size: 14px;
        font-weight: bold;
        cursor: pointer;

        nb-icon {
          font-size: 20px !important;
        }


        &:active {
          background-color: transparent;
        }
      }

      .text-red {
        color: #c50000;
      }

      @include not-last-child('a') {
        border-bottom: 1px solid nb-theme(card-footer-border-color);
      }
    }
  }

  .project-details-wrapper {
    .cursor-pointer {
      cursor: pointer;
    }

    .project-frame {
      border-width: 25px 30px;
      border-radius: 25px;
      border-color: #d6d6d6;
      border-style: solid;
    }

    .info-header {
      border-bottom: 1px solid #000;
      padding-bottom: 30px;

      .info-header-text {
        font-size: 38px;
        line-height: 29.9px;
        font-weight: 600;
        margin-bottom: 0;
        text-transform: capitalize;
      }

      nb-icon {
        font-size: 30px;
      }
    }

    .project-card-info {
      background: #fbfbfb;
      padding: 40px 35px 20px;
      margin: 33px 0 21px;
      border-radius: 8px;
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16) !important;

      .project-card-body {
        .card-details {
          .project-title {
            font-size: 16px;
            color: #707070;
          }

          .project-text {
            font-size: 22px;
            font-weight: 700;
            color: #222b45;
          }

          .project-creation-date {
            font-size: 12px;
            font-weight: 600;
          }
        }
      }

      .project-card-footer {

        .btn {
          float: right;
          padding: 8px 30px;
          border-radius: 4px;
          font-weight: bold;
        }

        .btn-edit {
          background-color: rgba(32, 161, 0, 0.08);
          padding: 8px 18px;
          font-weight: bold;

          &:hover {
            color: #1fa100;
          }

        }


      }
    }

    .project-description {
      .desc-container.disabled {
        opacity: 0.5;
        cursor: not-allowed;

        img {
          filter: grayscale(100%);
        }
      }

      .desc-container.edited {
        background-color: rgba(255, 192, 0, 0.08);

        p {
          font-weight: 600;
          color: #ffc000;
        }
      }

      .desc-container {
        background-color: rgba(223, 223, 223, 0.47);
        border-radius: 4px;
        padding: 3px 10px;


        p {
          font-size: 10px;
          font-weight: 400;
          color: #101010;
          letter-spacing: 1px;
        }

        .download-text {
          font-size: 14px;
          font-weight: bold;
        }

        &.building {
          background-color: rgba(0, 123, 229, 0.08);

          p {
            color: #007be5;
          }
        }

        &.finished {
          p {
            color: nb-theme(color-primary-500);
          }
        }

      }

      .state-container.disabled {
        opacity: 0.5;
        cursor: not-allowed;
      }

      .state-container {
        background-color: nb-theme(state-project-container);
        padding: 16px 16px 8px;
        border-radius: 4px;

        &.build-btn {
          border: none;
          width: 100%;

          .btn-content {
            display: flex;
            justify-content: center;
            align-items: center;
          }

          img {
            width: 70px;
            height: 70px;
          }

          .circle {
            height: 70px;
            width: 70px;
            border-radius: 50%;
            background-color: #fff;
            padding: 10px;
            margin-right: 10px;

            .rotating-circle {
              width: 100%;
              height: 100%;
              border-radius: 50%;
              border-top: 8px solid #a8c800;
              border-right: 8px solid #a8c800;
              border-bottom: 8px solid #fff;
              border-left: 8px solid #fff;
              animation: rotating 0.5s linear infinite;
            }
          }
        }

        .build-text {
          font-size: 18px;
          line-height: 17px;
          font-weight: bold;
        }

        nb-icon {
          font-size: 28px;
          line-height: 18px;
          margin-bottom: 0.6rem;
        }

        .likes-text,
        .views-text {
          font-size: 10px;
          font-weight: bold;
          color: #101010;
          text-align: center;
        }

      }

      .description-header {
        margin-bottom: 20px;

        h4 {
          font-size: 20px;
          font-weight: 600;
          color: #707070;
        }
      }

      .description-text {
        font-size: 18px;
        line-height: 30px;
        font-weight: 600;
        color: #aeaeae;
      }
    }
  }

  @keyframes rotating {
    0% {
      transform: rotate(0);
    }

    25% {
      transform: rotate(90deg);
    }

    50% {
      transform: rotate(180deg);
    }

    75% {
      transform: rotate(270deg);
    }

    100% {
      transform: rotate(360deg);
    }
  }

}
