<ngx-container class="project-details-wrapper">
  <div class="row" *ngIf='dataLoaded'>
    <div class="col-12 d-sm-block d-md-none">
      <header class="d-flex justify-content-between info-header mt-3  pr-2">
        <h3 class="info-header-text text-ellipsis">
          <!-- {{ projectData.name }} -->
          {{ projectData.name }}
        </h3>
        <nb-icon class="text-black" icon="more-horizontal"></nb-icon>
      </header>
    </div>
    <div class="col-xs-12 col-lg-5 d-flex justify-content-center">
      <div *ngIf="projectData.type_id !== 3" class="game-preview-parent">
        <ngx-project-game-preview *ngIf="projectData && dataToProject" [data]="dataToProject">
        </ngx-project-game-preview>
      </div>
      <iframe class="project-frame" id="project_iframe" src="about://blank" #iframe
        [ngClass]="{'d-none': projectData.type_id !== 3}">
      </iframe>
    </div>
    <div class="col-xs-12 col-lg-7 mt-2">
      <div class="project-info">
        <div class="d-none d-md-block">
          <header class="d-flex justify-content-between info-header pr-2">
            <h3 class="info-header-text text-ellipsis">
              <!-- {{ projectData.name }} -->
              {{ projectData.name }}
            </h3>
            <ng-container *ngIf="isMyProject">
              <nb-icon class="more-horizontal menu-icon text-black" icon="more-horizontal"
                (click)="isMenuOpen = !isMenuOpen; $event.stopPropagation()"></nb-icon>

              <div class="dropdown-menu" [ngStyle]="{'display':isMenuOpen? 'block': 'none'}">
                <a class="dropdown-item text-uppercase" *ngIf='projectData.isPublic' (click)='togglePublic()'>
                  <nb-icon class="more-horizontal text-black mr-2" icon="eye-off"></nb-icon>
                  {{"unpublish-project" | translate}}
                </a>

                <a class="dropdown-item text-uppercase" *ngIf='!projectData.isPublic' (click)='togglePublic()'>
                  <nb-icon class="more-horizontal text-black mr-2" icon="eye"></nb-icon>
                  {{"publish-project" | translate}}
                </a>

                <a class="dropdown-item text-red text-uppercase" (click)='deleteProject(projectData.id)'>
                  <nb-icon class="more-horizontal mr-2" icon="trash-2"></nb-icon>
                  {{"delete-project" | translate}}
                </a>
              </div>
            </ng-container>
          </header>
        </div>
        <div class="project-card-info">
          <div class="row">
            <div class="col-12">
              <div class="project-card-body">
                <p class="card-details project-by mb-5">
                  <span class="project-title font-weight-bold mr-2 text-uppercase">{{"label-by" | translate}} </span>
                  <span class="project-text">
                    {{ projectData.owner? projectData.owner.createdBy : currentUsername }}
                  </span>
                </p>
                <p class="project-creation-date mb-1">
                  {{ projectData.createdAt | date: 'dd MMMM yyyy' }}
                </p>
                <p class="card-details project-remixed-by"
                  *ngIf="projectData?.remixedFrom && projectData?.remixedFrom.createdBy && !isDefaultProject">
                  <span class="project-title font-weight-400">{{"label-remixed-from" | translate}} </span>
                  <span class="project-text">
                    {{ projectData?.remixedFrom.createdBy }}
                  </span>
                </p>
              </div>
              <hr class="mb-4" />
              <div class="project-card-footer card-actions">
                <button class="btn btn-success btn-remix ml-3 text-uppercase"
                  (click)="goToRemixedProject(projectData.id, projectData.type_id)"
                  *ngIf="!isMyProject && !noUser && !isDefaultProject && projectData.isPublic">
                  <nb-icon icon="flash"></nb-icon>
                  {{"remix" | translate}}
                </button>

                <button class="btn btn-outline-success btn-edit "
                  (click)="goToEditProject(projectData.id , projectData.type_id)"
                  *ngIf="isMyProject || isDefaultProject">
                  <nb-icon icon="flash"></nb-icon>
                  {{"edit-code" | translate}}
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="project-description">
          <div class="row">
            <span class="error-msg">{{'apk-explanation' | translate}}</span>
          </div>
          <div class="row  mb-2">
            <div class="col-md-6 col-12">
              <div class="desc-container"
                [ngClass]="{'building' : building && !finishedBuilding, 'edited' : !building && projectData.apk_url}"
                *ngIf="(isMyProject || isDefaultProject) && !finishedBuilding">
                <p class="mb-0" *ngIf="!building && !projectData.apk_url">{{"build-apk-first-time-msg" | translate}}</p>
                <p class="mb-0" *ngIf="building">{{"building-apk-msg" | translate}}</p>
                <p class="mb-0" *ngIf="!building && projectData.apk_url">{{"rebuild-apk-msg" | translate}} </p>
              </div>
              <div class="desc-container" [ngClass]="{'finished' : !building && finishedBuilding}"
                *ngIf="(isMyProject || isDefaultProject) && finishedBuilding">
                <p class="mb-0">{{"apk-ready-msg" | translate}}</p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 col-12">
              <button type="button" (click)="onBuildApk()" [disabled]="building"
                class="state-container build-btn d-flex justify-content-center py-3"
                *ngIf="!projectData.apk_url && (isMyProject ||isDefaultProject) && !finishedBuilding">
                <div *ngIf="!building" class="btn-content">
                  <img class="img-fluid mr-3" src="assets/images/build_apk.svg">
                  <p class="mb-0 build-text">Build.apk</p>
                </div>
                <div *ngIf="building" class="btn-content">
                  <div class="circle">
                    <div class="rotating-circle"></div>
                  </div>
                  <p class="mb-0 build-text">Building...</p>
                </div>
              </button>

              <button type="button" (click)="onBuildApk()" [disabled]="building"
                class="state-container build-btn d-flex justify-content-center py-3"
                *ngIf="projectData.apk_url && (isMyProject || isDefaultProject) && !finishedBuilding">
                <div *ngIf="!building" class="btn-content">
                  <img class="img-fluid mr-3" src="assets/images/rebuild_apk.svg">
                  <p class="mb-0 build-text">ReBuild.apk</p>
                </div>
                <div *ngIf="building" class="btn-content">
                  <div class="circle">
                    <div class="rotating-circle"></div>
                  </div>
                  <p class="mb-0 build-text">Building...</p>
                </div>
              </button>

              <a [href]="newApk" download class="state-container build-btn d-flex justify-content-center py-3"
                *ngIf="(isMyProject || isDefaultProject) && finishedBuilding">
                <div class="btn-content">
                  <img class="img-fluid mr-3" src="assets/icons/download_icon.svg">
                  <p class="mb-0 build-text">{{"download-apk" | translate}}</p>
                </div>
              </a>
            </div>
            <div class="col-md-6 col-12">
              <div class="row  justify-content-flex-end" *ngIf="!isDefaultProject">
                <div class="col-3 pl-0">
                  <div class="state-container d-flex justify-content-center cursor-pointer" (click)='share(projectData)'
                    [ngClass]="{'disabled' : !projectData.isPublic }"
                    [attr.title]="!projectData.isPublic ?'Make this project public to enable share' : null">
                    <span class="project-views project-states">
                      <nb-icon icon="share"></nb-icon>
                      <p class="views-text  m-0">
                        {{"Share" | translate}}
                      </p>
                    </span>
                  </div>
                </div>

                <div class="col-3 pl-0">
                  <div class="state-container  d-flex justify-content-center cursor-pointer">
                    <span class="project-likes project-states">
                      <nb-icon icon="heart" class="cursor-pointer" [status]="projectData.isLiked? 'primary': 'basic'"
                        (click)="toggleLike()"></nb-icon>
                      <p class="likes-text  m-0">
                        {{ projectData.noOfLikes }}
                      </p>
                    </span>
                  </div>
                </div>

                <div class="col-3 pl-0">
                  <div class="state-container  d-flex justify-content-center">
                    <span class="project-views project-states">
                      <nb-icon icon="eye"></nb-icon>
                      <p class="views-text m-0">
                        {{ projectData.noOfViews }}
                      </p>
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row  mt-2">
            <div class="col-md-6 col-12">
              <a class="desc-container d-flex py-2" download [href]="projectData.apk_url"
                [ngClass]="{'disabled' : !projectData.apk_url}" *ngIf="isMyProject || isDefaultProject">
                <img class="img-fluid mr-3 pl-2" src='assets/icons/download_icon.svg'>
                <p class="mb-0 download-text">{{"download-prev-apk" | translate}}</p>
              </a>
            </div>
          </div>


        </div>
      </div>
    </div>
  </div>
</ngx-container>