@import '../../../../../@theme/styles/overrides';
@import '../../../../../@theme/styles/themes.scss';

@include nb-install-component() {
  .card-container {
    padding: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 95%;
    background-color: nb-theme(card-background-light-color);
    border-radius: 6px;
    box-shadow: 1px 1px 5px 1px nb-theme(card-footer-border-color);
    max-width: 224px;
  }

  nb-card {
    background-color: nb-theme(card-background-light-color);
    box-shadow: none;
    margin-bottom: 0;

    nb-card-body {
      .img-container {
        margin: auto;
        margin-bottom: 0;
        width: 78%;
        text-align: center;
        position: relative;
        padding-bottom: 78%;
        border-radius: 50%;
        overflow: hidden;
        background-color: nb-theme(background-basic-color-5);
        //border: 1px solid red;

        .player-image {
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          object-fit: cover;
        }
      }

      .tasks-count {
        svg {
          margin-right: 5px;
        }

        .count {
          margin-top: 2px;
          font-size: 14px;
          font-weight: bold;
        }
      }
    }

    nb-card-header {
      border-bottom: 1px solid nb-theme(card-footer-border-color) !important;
      padding-top: 0;

      p {
        font-weight: 600;
      }
    }

    nb-card-footer {
      border-top: 1px solid nb-theme(card-footer-border-color) !important;
      padding: 10px 0 0;

      .badgeCase {
        margin: auto;
        width: 75%;

        .badges {
          margin: auto;
          text-align: center;

          .badge {
            width: 25%;
            padding: 1px;

            img {
              width: 100%;
            }

            &.count-badge {
              width: 20%;
              left: -50%;
              text-align: center;

              img {
                width: 120% !important;
              }

              .count {
                position: absolute;
                font-size: 16px;
                font-weight: 600;
                top: 50%;
                left: 92%;
                transform: translate(-50%, -50%);
              }
            }
          }

          &.compact {
            transform: translateX(-15%);

            @for $index from 1 through 4 {
              .badge:nth-child(#{$index}) {
                width: 20%;
                position: relative;
                z-index: (5 - $index);
                right: (-6% * (4 - $index));

                img {
                  width: 120%;
                }
              }
            }
          }
        }
      }
    }

    .cursor-pointer {
      cursor: pointer;
    }

    .text-ellipsis {
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }

    .player-name {
      font-size: 20px;
    }

    .card-container {
      background-color: #fbfbfb;
      border-radius: 8px;
      -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
      -moz-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
    }
  }

  .publish-section {
    .left-section {
      border-radius: 17px 0 0 17px;
      box-shadow: nb-theme(shadow);
    }
    .right-section {
      border-radius: 0 17px 17px 0;
      box-shadow: nb-theme(shadow);
    }

    .btn-circle {
      font-size: 25px;
      background: #f3f3f3;
      border-radius: 100%;
      padding: 0.8rem;
      nb-icon {
        font-size: 32px !important;
        color: black;
      }
    }

    .name-input {
      flex: 1;
    }
    .custom-label {
      font-size: 14px;
      font-weight: bold;
      margin-bottom: 15px;
    }
    .custom-input {
      border: 2px solid #8ea6cf;
      border-radius: 4px;
      height: 100%;
      width: 100%;
      background-color: #e4e9f2;
      padding: 1rem;
    }

    textarea {
      height: 217px !important;
    }

    .vetrical-btn {
      font-size: 10px;
      background-color: #f2f2f2;
      /* height: 71px; */
      width: 56px;
      padding-top: 12px;
      padding-bottom: 12px;
      text-align: center;
      color: #101010;
      border-radius: 4px;
      nb-icon {
        font-size: 24px;
      }
      a {
        color: #101010;
      }
    }

    .btns-container {
      button {
        font-size: 14px;
        height: 40px;
        nb-icon {
          font-size: 24px;
        }
      }
      .btn-edit {
        background-color: #edf8eb;
        border-color: #1fa100;
        color: #1fa100;
      }
      .btn-publish {
        color: #fff;
        background-color: #ff5500;
        border-color: #ff5500;
        margin-left: 11px;
      }
    }

    .footer {
      margin-top: 20.5px;
    }
  }
}
