<div class="container-fluid p-0">
  <div class="row justify-content-center py-3 publish-section">
    <div class="col-7 bg-white py-3 px-5  left-section">

      <!-- SECTION Header -->

      <div class="row pb-4 align-items-center">

        <div class="pl-0 text-left">
          <a href="javascript:;" class="btn-circle" (click)="closePublish()">
            <nb-icon icon="arrow-ios-back"></nb-icon>
          </a>
        </div>

        <div class="mx-3 name-input">
          <input type="text" (change)="updateName()" [(ngModel)]="projectName" class="custom-input"
            placeholder="Your Project Name...">
        </div>

        <div class="pr-0 text-right">
          <a href="javascript:;" class="btn-circle">
            <nb-icon icon="more-horizontal"> </nb-icon>
          </a>
        </div>


      </div>

      <!-- SECTION Body -->

      <div class="row border-top border-bottom py-3">
        <div class="card-container col-5">
          <nb-card>
            <nb-card-header class="pb-0">
              <div class="row">
                <div class="col-9 p-0">
                  <p class="text-ellipsis player-name" [title]="currentUser?.first_name + ' ' + currentUser?.last_name">
                    {{'By: ' + currentUser?.first_name + ' ' + currentUser?.last_name}}
                  </p>
                </div>
              </div>
            </nb-card-header>

            <nb-card-body>
              <div class="row tasks-count">
                <svg xmlns="http://www.w3.org/2000/svg" width="21.614" height="21.069" viewBox="0 0 21.614 21.069">
                  <path
                    d="M21.041,11.033H19.5V7.02a2.039,2.039,0,0,0-2.058-2.007H13.322v-1.5a2.574,2.574,0,0,0-5.146,0v1.5H4.058A2.03,2.03,0,0,0,2.01,7.02v3.812H3.544a2.71,2.71,0,1,1,0,5.418H2v3.812a2.039,2.039,0,0,0,2.058,2.007H7.97v-1.5a2.78,2.78,0,0,1,5.558,0v1.5h3.911A2.039,2.039,0,0,0,19.5,20.062V16.049h1.544a2.509,2.509,0,1,0,0-5.016Z"
                    transform="translate(-2 -1)" fill="#aeaeae" />
                </svg>
                <div class="count">
                  123
                </div>
              </div>
              <div class="row img-container">
                <img class="player-image" [src]="currentUser?.profile_image_url" />
              </div>
            </nb-card-body>

            <nb-card-footer>
              <!-- <div class="badgeCase">
                  <div class="badges " [class.compact]="playerData?.badges.length > 4">
                    <div *ngFor="let badge of playerData.badges.slice(0, 4)" class="badge">
                      <img [src]="badge.iconurl" [alt]="badge.name" [title]="badge.name" />
                    </div>
                    <div class="badge count-badge" *ngIf="playerData?.badges.length > 4">
                      <img src="assets/icons/badge-gray.svg" alt="Extra" />
                      <div class="count">+{{playerData?.badges.length - 4}}</div>
                    </div>
                  </div>
                </div> -->
            </nb-card-footer>
          </nb-card>
        </div>
        <div class="col ml-3">
          <div class="row">
            <span class="custom-label">Description</span>
            <textarea class="custom-input" [(ngModel)]="projectDescription"></textarea>
            <div class="col-12 mt-2">
              <div class="row justify-content-end btns-container">
                <button nbButton class="btn-edit py-0">
                  <nb-icon icon="edit"></nb-icon> Edit Code
                </button>
                <button nbButton class="btn-publish py-0" >
                  <nb-icon icon="checkmark-circle-2"></nb-icon> Publish
                </button>
              </div>
            </div>
          </div>

        </div>
      </div>

      <!-- SECTION Footer -->
      <div class="row footer align-items-end">
        <div class="col-6">
          <span>2 December 2019</span>
          <br>
          <span>Remixed from</span> <a href="javascript:;"> PlatformerLive</a>
        </div>
        <div class="col-6">
          <div class="row justify-content-between">
            <div class="vetrical-btn">
              <nb-icon icon="download"></nb-icon>
              <br>
              <a href="javascript:;">Download</a>
            </div>
            <div class="vetrical-btn">
              <nb-icon icon="share"></nb-icon>
              <br>
              <a href="javascript:;">Share</a>
            </div>
            <div class="vetrical-btn">
              <nb-icon icon="eye"></nb-icon>
              <br>
              <span>Views</span>
            </div>
            <div class="vetrical-btn">
              <nb-icon icon="heart"></nb-icon>
              <br>
              <span>Likes</span>
            </div>
          </div>
        </div>
      </div>

    </div>






    <div class="col-3 bg-white p-4 right-section">


    </div>
  </div>
</div>