<div class="container p-5">

  <section class="header">
    <h1>
      ROBOGARDEN
      GENERAL TERMS OF USE
    </h1>

    <h2> 1. ACCEPTANCE OF TERMS OF USE </h2>
    <p>
      These Terms of Use (the “Terms”) constitute an agreement between you and RoboGarden Inc. (“RoboGarden”, “we”, “us”
      or “our”) that governs your use of our website located at the URL https://robogarden.ca (the “Website”) and all
      associated services provided by RoboGarden (the “Service”). The Terms may be updated by us from time to time
      without notice to you. By using the Website or the Service, you affirm that you have read, understood, and
      accepted these Terms. If you do not agree with any of these conditions, please do not use the Website or the
      Service.
    </p>

    <br>

    <h2>
      2. ROBOGARDEN SERVICE
    </h2>
    <p>
      RoboGarden provides users with online educational tools for teaching coding literacy as part of the curriculum for
      K-12 educational institutions. Any new Website or Service features, products or services shall be subject to these
      Terms. To use the Service, you must obtain access to the Internet, either directly or through devices that access
      web-based content, and pay any service fees associated with such access.
    </p>
    <br>



    <h2>
      3. REGISTRATION
    </h2>
    <p>
      As part of the registration process, RoboGarden requires that you provide certain information to set up your
      account. In providing such information, you agree to provide true, accurate, current and complete information
      about yourself, and to maintain and promptly update your information to keep it accurate and complete. If you
      provide any information that is inaccurate, or incomplete, RoboGarden has the right to suspend or terminate your
      account.
    </p>


    <h2>
      4. ROBOGARDEN PRIVACY POLICY
    </h2>
    <p>
      Your privacy is important to us. Please read our <a class="privacyClass"
        [routerLink]="['/docs/robogarden/privacy-policy']" target="_blank" href="javascript:;">
        Privacy Policy
      </a>
      , which identifies how RoboGarden uses, collects,
      and stores information it collects. By using the Website and the Service, you agree with the RoboGarden Privacy
      Policy.
    </p>

    <br>

    <h2>
      5. MEMBERSHIP AND BILLING
    </h2>
    <div class='p'>
      You can find the specific details regarding your membership with RoboGarden at any time by signing in to your
      RoboGarden account. If your membership with RoboGarden is through an educational institution or other entity, you
      do not need to pay for your membership.
      <p>
        <b>
          (a) Billing
        </b>
      </p>
      If you are accessing RoboGarden as a member of the public who is not gaining access to the Service through an
      educational institution or other entity that sponsors your membership, you will need to pay to use the Service. By
      starting your RoboGarden membership, you are expressly agreeing that we are authorized to charge you the
      membership fee associated with the type of membership you chose during registration. You agree that we are
      authorized to charge you the membership fee at the then-current rate to the payment method you provide during
      registration. The membership fee will be billed at the beginning of the paying portion of your membership and each
      month thereafter (or according to the membership plan schedule) unless and until you cancel your membership. Sign
      in to your RoboGarden account to see the commencement date for your next renewal period. We automatically bill
      your payment method each month on the calendar day corresponding to the commencement of your paying membership.

      You acknowledge that the amount billed each billing period may vary for reasons that include differing amounts due
      to changes in your membership plan, and you authorize us to charge your payment method for such varying amounts.
      Payments are nonrefundable and there are no refunds or credits for partially used periods. We may change the fees
      and charges in effect, or add new fees and charges from time to time, but we will give you advance notice of these
      changes by email. If you want to use a different payment method or if there is a change in payment method, such as
      your credit card validity or expiration date, you may edit your information in your RoboGarden account. If your
      payment method reaches its expiration date and you do not edit your information or cancel your account, you
      authorize us to continue billing that payment method and you remain responsible for any uncollected amounts.
      <p>
        <b>
          (b) Ongoing Membership
        </b>
      </p>
      Your RoboGarden membership will continue in effect unless and until you cancel your membership or we terminate it.
      You must cancel your membership before it renews each billing period to avoid incurring charges for the next
      membership period. We will bill the membership fee at the then-current rate plus any applicable tax to the payment
      method you provide to us during registration (or to a different payment method if you change your account
      information).
      <p>
        <b>
          (c) Cancellation
        </b>
      </p>
      You may cancel your RoboGarden membership at any time, and cancellation will be effective immediately. You will
      continue to have access to the Service until the current billing period ends. RoboGarden does not provide refunds
      or credits for any partially used membership periods under any circumstances. To cancel your membership, sign in
      to your account and follow the applicable instructions for cancellation or you can contact us at
      <a href="mailto:info@robogarden.ca" class="privacyClass" target="_blank" rel="nofollow">
        info@robogarden.ca
      </a>

      <p>
        <b>(d) Purchasing the Service through the Apple iTunes store or Google Play</b>
      </p>
      If you acquired your RoboGarden membership through your iTunes or Google Play account, the foregoing payment terms
      may not apply to you. Because such a purchase is between you and the Apple iTunes store or Google Play, and not
      RoboGarden, you agree that RoboGarden is not responsible for billing for your membership and is not responsible or
      liable for any claims relating to your purchase. If you have questions about membership or billing for such
      accounts, you should contact the Apple iTunes store or Google Play directly.
    </div>

    <br>

    <h2>
      6. MEMBER ACCOUNT, PASSWORD AND SECURITY
    </h2>

    <br>

    <p>
      You will have a password and account designation upon completing the registration process. You are responsible for
      keeping your password secret and your account secure. You are solely responsible for any use of your account, even
      if your account is used by another person. If any use of your account violates these Terms, your account may be
      suspended or deleted. Membership accounts may not be shared by more than one person without our express written
      permission.
    </p>


    <br>


    <h2>
      7. USAGE RULES
    </h2>
    <p>
      For the purposes of these Terms, "user-generated content" includes any projects, comments, forum posts, content or
      links to third party websites that a user submits to RoboGarden. You are responsible for making sure you have the
      necessary rights, licences, or permission for any user-generated content you submit to RoboGarden. All
      user-generated content you submit to RoboGarden is licensed to RoboGarden on a non-exclusive, royalty-free basis
      that allows RoboGarden to display, distribute, use, publish and reproduce your content on the Website, through
      social media channels, and elsewhere, without requiring your permission or any payment to you. If you do not want
      to license your content to RoboGarden on such terms, then do not share it through the Service or the Website.

      You may not use the Website or the Service in any way, that:

      Promotes bigotry, discrimination, hatred, or violence against any individual or group;
      Threatens, harasses, or intimidates any other person, whether that person is a RoboGarden user or not;
      Contains foul language or personal attacks;
      Contains sexually explicit or graphically violent material;
      Provides instructions on how to commit illegal activities or obtain illegal products;
      Asks any other user for personally identifying information, contact information, or passwords; or
      Exposes any others person's personally identifying information, contact information, or passwords without that
      person's permission.

      You agree not to reproduce, duplicate, copy, sell, resell or exploit for any commercial purposes, any portion of
      the Service, use of the Service, or access to the Service. You agree to comply with all applicable laws and
      regulations when you use the Service. You may not use the Service in any unlawful way, including to harass, stalk,
      or defame any other person. You may not impersonate, imitate or pretend to be somebody else when using the
      Service. You agree not to use the Service in any way intended to disrupt the service, gain unauthorized access to
      the service, or interfere with any other user's ability to use the service. Prohibited activities include, but are
      not limited to:

      Posting content deliberately designed to crash the Website;
      Linking to pages containing viruses or malware;
      Using administrator passwords or pretending to be an administrator;
      Posting links to any content outside of the Website that would violate any of these Terms; or
      Repeatedly posting the same material, or "spamming"
    </p>


    <h2>
      8. INDEMNITY
    </h2>
    <p>
      You agree to indemnify and hold RoboGarden, and its subsidiaries, affiliates, officers, directors, agents,
      partners and employees, harmless from any claim or demand, including reasonable attorneys' fees, made by any third
      party due to or arising out of user-generated content you submit, post, transmit or make available through the
      Service or the Website, your use of the Service or the Website, your connection to the Service or the Website,
      your violation of the Terms, or your violation of any rights of any third party.
    </p>



    <h2>
      9. MODIFICATIONS TO SERVICE
    </h2>


    <p>
      RoboGarden reserves the right at any time and from time to time to modify or temporarily discontinue the Website
      or the Service (or any part thereof) with or without notice. You agree that RoboGarden shall not be liable to you
      or to any third party for any modification, suspension or temporary discontinuance of the Website or the Service.
      In the event of permanent discontinuance of the Website or the Service, the liability of RoboGarden is limited to
      refunding any fees paid for unused time for your membership period, pro-rated to the amount of time remaining on
      your membership.
    </p>


    <br>

    <h2>
      10. TERMINATION
    </h2>


    <p>
      You agree that RoboGarden, in its sole discretion, may terminate your password, account (or any part thereof) or
      use of the Service, for any reason, including without limitation, if RoboGarden believes that you have violated or
      acted inconsistently with these Terms. You agree that any termination of your access to the Service under any
      provision of these Terms may be carried out without prior notice, and you agree that RoboGarden may immediately
      deactivate or delete your account and all related information and files in your account and/or bar any further
      access to the Service. You agree that RoboGarden shall not be liable to you or any third party for any termination
      of your access to the Service.
    </p>

    <br>



    <h2>
      11. LINKS

    </h2>


    <p>
      RoboGarden or third parties may provide links to other websites. Because RoboGarden has no control over such
      sites, you acknowledge and agree that RoboGarden is not responsible for the availability of such external sites,
      and does not endorse and is not responsible or liable for any content, advertising, products, or other materials
      on or available from such sites. You further acknowledge and agree that RoboGarden shall not be responsible or
      liable, directly or indirectly, for any damage or loss caused or alleged to be caused by or in connection with
      your use of or reliance on any such content, goods or services available on or through any such site.
    </p>


    <br>


    <h2>
      12. PROPRIETARY RIGHTS OF ROBOGARDEN
    </h2>
    <p>
      You acknowledge and agree that the Service and any necessary software used with the Service contain proprietary
      and confidential information that is protected by applicable intellectual property laws and other laws. You
      further acknowledge and agree that information presented to you through the Website or the Service is protected by
      copyrights, trademarks, service marks, patents or other proprietary rights and laws. Except as expressly
      authorized by RoboGarden, you agree not to modify, rent, lease, loan, sell, distribute or create derivative works
      based on the Website or the Service, in whole or in part.

      RoboGarden grants you a personal, non-commercial, revocable, non-transferable, non-sublicensable and non-exclusive
      right and licence to use the Service. You agree that you will not copy, modify, create a derivative work of,
      reverse engineer, reverse assemble or otherwise attempt to discover any source code, sell, assign, sublicense,
      grant a security interest in or otherwise transfer any right in the Service. You agree not to modify the Service
      in any manner or form, or to use modified versions of the Service, including without limitation, to obtain
      unauthorized access to the Service. You agree not to access the Service by any means other than through the
      interface that is provided by RoboGarden to access the Service.
    </p>
    <br>



    <h2>
      13. DISCLAIMER OF WARRANTIES

    </h2>


    <p>
      You acknowledge that you are using the Website and the Service at your own risk. The Website and the Service are
      provided "as is," and RoboGarden hereby expressly disclaims any and all warranties, express and implied, including
      but not limited to any warranties of accuracy, reliability, title, merchantability, non-infringement, fitness for
      a particular purpose or any other warranty, condition, guarantee or representation, whether oral, in writing or in
      electronic form, including but not limited to the accuracy or completeness of any information contained therein or
      provided by RoboGarden. RoboGarden and its third-party service providers do not represent or warrant that access
      to the Website or the Service will be uninterrupted or that there will be no failures, errors or omissions or loss
      of transmitted information, or that no viruses will be transmitted by using the Website or the Service.
    </p>

    <br>


    <h2>
      14. LIMITATION OF LIABILITY
    </h2>


    <p>
      RoboGarden shall not be liable to you or any third parties for any direct, indirect, special, consequential or
      punitive damages of any kind, regardless of the type of claim or the nature of the cause of action, even if
      RoboGarden has been advised of the possibility of such damages. Without limiting the foregoing, RoboGarden shall
      have no liability to you or any third parties for damages or harm arising out of user-generated content.
    </p>

    <br>



    <h2>
      15. PURCHASING AN APPLE ITUNES SUBSCRIPTION
    </h2>


    <p>
      In-app purchases are purchased from and billed by Apple iTunes not robogarden.ca. These purchases are subject to
      terms and conditions of Apple iTunes. All billing and refund inquiries must be directed to Apple iTunes.
      robogarden.ca doesn't have access to Apple iTunes accounts or transactions. if you wish to confirm the type of
      subscription that have been purchased from Apple iTunes ,please consult your Apple iTunes account or receipt as
      each subscription will have a unique billing name. The Remove Ads Subscription purchase is valid for one month and
      will be re-billed every month by Apple iTunes until cancelled by the user. Apple iTunes will send and email well
      in advance of renewal containing a hyperlink to manage the subscription. Apple iTunes subscriptions can be managed
      from a mobile device or computer that uses the same Apple ID as the initial purchase.
    </p>


    <br>

    <h2>
      16. GENERAL
    </h2>

    <p>
      The Terms constitute the entire agreement between you and RoboGarden and govern your use of the Service,
      superseding any prior agreements between you and RoboGarden. The Terms and the relationship between you and
      RoboGarden shall be governed by the laws of the Province of Alberta and Canada, as applicable, without regard to
      conflict of law principles. The exclusive venue for any dispute relating to the interpretation or performance of
      this Agreement shall be a court of competent jurisdiction located in Calgary, Alberta, Canada. The failure of
      RoboGarden to exercise or enforce any right or provision of the Terms shall not constitute a waiver of such right
      or provision. If any provision of the Terms is found to be invalid, the parties nevertheless agree that the court
      should endeavor to give effect to the parties' intentions as reflected in the provision, and the other provisions
      of the Terms remain in full force and effect.

      The section titles in the Terms are for convenience only and have no legal or contractual effect.
    </p>



  </section>