@import '../../../../../@theme/styles/overrides';
@import '../../../../../@theme/styles/themes.scss';

@include nb-install-component() {
  
  nb-card-header {
    padding: 15px;
    
    p.section-title {
      position: relative;
      top: 50%;
      transform: translateY(-50%);
      font-size: 20px;
      color: nb-theme(card-text-color);
      font-weight: 500;
  
      @media (max-width: 320px) {
        font-size: 14px;
      }
    }

    ::ng-deep nb-select {
      width: 100%;

      button {
        width: 100%;
        min-width: 100%;
        padding: 10px 15px 10px 10px !important;

        nb-icon {
          right: 0 !important;
        }
      }
    }

    .btn-success {
      width: 100%;
      padding: 10px 15px;
      font-size: 16px;
      font-weight: 600;
      background-color: nb-theme(color-primary-500);

      nb-icon {
        vertical-align: text-bottom;
        margin-right: 10px;
      }

      @media (max-width: 575px) {
        padding: 12px 5px;
        font-size: 12px;

        nb-icon {
          font-size: 13px;
          margin-right: 5px;
        }
      }
      @media (max-width: 450px) {
        font-size: 10px;
        nb-icon {
          font-size: 13px;
          margin-right: 2px;
        }
      }
    }
  }

  .cards-container {
    min-height: 420px;

    ::ng-deep .appearance-outline {
      background-color: rgba(31, 161, 0, 0.12);
    }

    @media screen and (min-width: 1500px) {
      padding-left: 70px;
      padding-right: 70px;
    }

    @media only screen and (min-width: 768px) and (max-width: 991px) {
      padding: 0;
      padding-left: 15px;
    }
  }

  .content-card {
    padding: 13px 15px;
    padding-bottom: 0 !important;

    .cards-container {
      min-height: 420px;
      position: relative;
      padding-bottom: 30px;

      ngx-pagination {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
      }
    }

    @media only screen and (max-width: 767px) {
      padding: 9px 4px;
    }
  }
}
