@import '../../../../@theme/styles/themes.scss';

@include nb-install-component() {

  input.search-input {
    background-color: #fcfcfc !important;
    color: nb-theme(color-primary-500);
    background-image: url('assets/icons/search.svg');
    background-repeat: no-repeat;
    background-position: calc(100% - 15px);
    background-size: 15px;
    padding: 10px;
    padding-right: 35px !important;
  }

}
