.invoice-container {
  width: 581.12px;
  margin-top: 104px;

  @media (min-width: 767.89px) and (max-width: 1199.99px) {
    width: 700.5px;
  }

  @media (max-width: 767.89px) {
    width: 100%;
    min-width: 297px;
    margin-top: 10px;
  }

  .invoice-section {
    background-color: #f6f6f6;

    @media (max-width: 767.89px) {
      width: 100%;
      padding: 5px;
    }

    @media (max-width: 399.89px) {
      height: 387.28px;
    }

    .sec-container {
      border-bottom: 1px solid #e4e4e4;
      padding-bottom: 1rem;
      padding-top: 1rem;
      padding-right: 20px;
      padding-left: 20px;

      @media (max-width: 767.89px) {
        padding: 0;
      }
    }

    .header {
      .header-title {
        img {
          max-height: 80px;
        }

        .title {
          vertical-align: bottom;
          font-family: Bungee;
          font-size: 32px;
          color: black;
          display: flex;
          align-items: center;

          .text-orange {
            color: #ff5500;
          }

          @media (max-width: 399.89px) {
            line-height: 1px;
          }

          @media (max-width: 767.89px) {
            font-size: 19px;
          }
        }
      }

      .header-subtitles {
        font-size: 8.6px;
        letter-spacing: 1.6px;
        font-weight: bolder;
        text-transform: uppercase;

        @media (max-width: 767.89px) {
          font-size: 5px;
        }
      }
    }

    .invoice-sec {
      .invoice-word {
        font-size: 20px;
        letter-spacing: 1.2px;
        font-weight: bold;
        color: #6a6a6a;
      }

      .order-word {
        font-size: 16px;
        letter-spacing: 1.2px;
        font-weight: bold;
        line-height: 28px;
      }

      .order-id {
        font-size: 16px;
        letter-spacing: 1.2px;
        font-weight: bold;
        color: #6a6a6a;
        line-height: 28px;
      }

      @media (max-width: 399.89px) {

        .invoice-word,
        .invoice-word,
        .order-id {
          font-size: 16px;
        }
      }
    }

    .billing-sec {
      .border-right {
        border-right: 1px solid #e4e4e4;
      }
    }

    .title {
      font-size: 20px;
      letter-spacing: 1.129px;
      line-height: 27px;
      color: #6a6a6a;
      font-weight: bold;

      @media (max-width: 767.89px) {
        font-size: 12px;
      }
    }

    .value {
      @media (max-width: 767.89px) {
        font-size: 10px;
      }
    }
  }

  @media print {
    .invoice-section {
      display: none;
    }
  }

  .btn-print {
    background-color: #1fa100;
    color: white;
    width: 100%;
    padding: 0.9rem;
    border-radius: 4px;
    font-size: 16px;
    text-transform: uppercase;
    line-height: 21px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    letter-spacing: 1px;
  }
}

body {
  -webkit-print-color-adjust: exact !important;
}

// -------------------------------- SECTION  Printing CSS --------------------------------

@media print {
  .invoice-section {
    background-color: #000;
    width: 100vw;
    height: 100vh;
  }

  .invoice-section .sec-container {
    border-bottom: 1px solid #e4e4e4;
    padding-bottom: 40px;
    padding-top: 40px;
    padding-right: 25px;
    padding-left: 25px;
  }

  .invoice-section .header .header-title .title {
    vertical-align: bottom;
    font-family: Bungee;
    font-size: 42px;
    color: black;
    margin-bottom: 25px;
  }

  .invoice-section .header .header-title .title .text-orange {
    vertical-align: bottom;
    color: #ff5500;
  }

  .invoice-section .header .header-subtitles {
    font-size: 18px;
    letter-spacing: 70%;
    font-weight: bolder;
    text-transform: uppercase;
  }

  .invoice-section .invoice-sec .invoice-word {
    font-size: 32px;
    letter-spacing: 1.2px;
    font-weight: bold;
    color: #6a6a6a;
  }

  .invoice-section .invoice-sec .order-word {
    font-size: 24px;
    letter-spacing: 1.2px;
    font-weight: bold;
    line-height: 32px;
  }

  .invoice-section .invoice-sec .order-id {
    font-size: 24px;
    letter-spacing: 1.2px;
    font-weight: bold;
    color: #6a6a6a;
    line-height: 32px;
  }

  .invoice-section .billing-sec {
    font-size: 24px;
  }

  .invoice-section .billing-sec .border-right {
    border-right: 1px solid #e4e4e4;
  }

  .invoice-section .title {
    font-size: 32px;
    letter-spacing: 1.129px;
    line-height: 27px;
    color: #6a6a6a;
    font-weight: bold;
  }

  .invoice-section .value {
    font-size: 24px;
  }
}
