<div class="container invoice-container">
  <div id="print_canvas">
    <div id="invoice-section" class="invoice-section">


      <!-- ----------- SECTION Header ----------- -->
      <div class="header sec-container">
        <div class="header-title text-uppercase">
          <img src="assets/images/codegoat-logo.svg" alt="">
          <!-- <p class="title vertical-alignment">codegoat</p> -->
        </div>
        <!-- <span class="header-subtitles">Engage your classroom with computational thinking. </span> -->
      </div>

      <!-- ----------- SECTION Invoice ----------- -->
      <div class="invoice-sec sec-container">
        <div class="row">
          <div class="col-xl-12 col-lg-4 col-12">
            <span class="invoice-word">Invoice/Receipt</span>
          </div>
          <div class="col-auto">
            <span class="order-word">Order ID:</span>
            <span class="order-id">{{invoiceDetails?.number}}</span>
          </div>
        </div>
      </div>



      <!-- ----------- SECTION Payment Details ----------- -->
      <div class="payment-details sec-container">
        <div class="row text-center">
          <div class="col-4 px-md-3 px-0">
            <span class="title">Invoice Date</span>
            <br>
            <span class="value"> {{invoiceDetails?.created | date}}</span>
          </div>
          <div class="col-4 px-md-3 px-0">
            <span class="title">Payment Method</span>
            <br>
            <span class="value">Visa</span>
          </div>
          <div class="col-4 px-md-3 px-0">
            <span class="title">Payment Status</span>
            <br>
            <span class="value">{{invoiceDetails?.status | ngxCapitalize}}</span>
          </div>
        </div>
      </div>


      <!-- ----------- SECTION Payment Description ----------- -->
      <div *ngFor="let item of invoiceDetails?.invoice_lines" class="payment-description sec-container">
        <div class="row">
          <div class="col-9">
            <span class="title">Description</span>
            <br>
            <span class="value">{{item.description}}</span>
          </div>
          <div class="col-3 px-md-3 px-0">
            <span class="title">Amount</span>
            <br>
            <span class="value">{{item.amount/100 }}
              {{invoiceDetails?.currency | uppercase}}</span>
          </div>
        </div>
      </div>


      <!-- ----------- SECTION Payment Total ----------- -->
      <div class="payment-total sec-container">
        <div class="row justify-content-center">
          <div class="col-auto">
            <span>Total:</span>
            <span>{{invoiceDetails?.amount/100 }} {{invoiceDetails?.currency | uppercase}}</span>
          </div>
        </div>
      </div>

    </div>
  </div>

  <!-- styleSheetFile="assets/css/print-style.css" -->
  <button ngxPrint [useExistingCss]="true" printSectionId="print_canvas" class="btn-print">print</button>

</div>