@import '../../../../@theme/styles/themes.scss';

@include nb-install-component() {
  ::ng-deep nb-route-tabset {
    .route-tabset {
      padding-left: 0 !important;
      .route-tab {
        background-color: #f3f3f3;
        width: 100%;
        .tab-link {
          color: #666666;

          font-size: 20px;
          font-weight: 500;
          padding-right: 0;
          padding-left: 0;
          letter-spacing: 1.29px;
          line-height: 26px;
          height: 100%;
          width: 100%;
        }

        &.active {
          background-color: #e8e8e8;

          .tab-link {
            color: #000;
            font-weight: 600;
          }
        }

        /* Extra Small Screen */
        @media only screen and (max-width: 833.89px) {
          ::ng-deep .tabset {
            margin: 0 8px;
          }

          .tab-link {
            font-size: 12px;
            padding: 13px;
            white-space: normal;
            line-height: 14px;
          }
        }
      }
    }
  }

  ::ng-deep .classroom__list {
    width: 100%;

    nb-tab {
      padding: 1rem 0;
    }

    ul.tabset {
      background-color: #f3f3f3;
      border-bottom: 3px solid #e4e4e4;

      li {
        width: 100%;

        a {
          justify-content: center;
        }
      }
    }
  }
}

.classroom__list {
  ul {
    background-color: #f3f3f3;
  }
}
