<div class="container dashboard-container">
  <div class="row">
    <div class="col-12" *ngIf="generalData">
      <div class="row">
        <div class="col-3">
          <div class="stats-card">
            <p class="number" *ngIf="generalDataLoaded">{{ generalData.classrooms | thousandSuff }}</p>
            <p class="number" *ngIf="!generalDataLoaded">-</p>
            <p class="name">{{ "classrooms" | translate }}</p>
          </div>
        </div>
        <div class="col-3">
          <div class="stats-card">
            <p class="number" *ngIf="generalDataLoaded">{{ generalData.teachers | thousandSuff }}</p>
            <p class="number" *ngIf="!generalDataLoaded">-</p>
            <p class="name">{{ "teachers" | translate }}</p>
          </div>
        </div>
        <div class="col-3">
          <div class="stats-card">
            <p class="number" *ngIf="generalDataLoaded">{{ generalData.students | thousandSuff }}</p>
            <p class="number" *ngIf="!generalDataLoaded">-</p>
            <p class="name">{{ "students" | translate }}</p>
          </div>
        </div>
        <div class="col-3">
          <div class="stats-card">
            <p class="number" *ngIf="generalDataLoaded">{{ generalData.projects | thousandSuff }}</p>
            <p class="number" *ngIf="!generalDataLoaded">-</p>
            <p class="name">{{ "projects" | translate }}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12">
      <div class="row">
        <div class="col-12">
          <nb-card>
            <nb-card-header>
              <div class="header">
                <nb-select placeholder="Select classroom" [(selected)]="selectedFilter" (selectedChange)="changeChart()">
                  <nb-option value="Students">
                    <p>Number of Students</p>
                  </nb-option>
                  <nb-option value="Classrooms">
                    <p>Number of Classrooms</p>
                  </nb-option>
                </nb-select>
              </div>
            </nb-card-header>
            <nb-card-body>
              <ngx-admin-echarts-bar *ngIf="dataLoaded && chartData" [numberOf]="selectedFilter" [chartData]="chartData"></ngx-admin-echarts-bar>
              <div class="container d-flex h-100" *ngIf="dataLoaded && !chartData">
                <div class="row justify-content-center align-self-center mx-auto text-center">
                  <p class="no-data">No progress to report. Waiting for student action</p>
                </div>
              </div>
            </nb-card-body>
          </nb-card>
        </div>
      </div>
    </div>
  </div>
</div>
