<div class="welcome-container col-12">
  <div class="row">
    <div class="col-12 welcome-title">
      <div class="title" [ngClass]="{'org-title': isOrg}">
        <img *ngIf="!isOrg" src="assets/images/canada-red.svg" alt="">
        <img *ngIf="isOrg" src="assets/images/codegoat-logo.svg" alt="">
        <!-- <p class="text-uppercase" *ngIf="isOrg">codegoat</p> -->
        <p class="text-uppercase" *ngIf="!isOrg">codingville<span class="red text-uppercase">.ca</span></p>

        <!-- <p>CODINGVILLE<span [class.red]="!isOrg" [class.orange]="isOrg">{{isOrg? '.ORG': '.CA'}}</span></p> -->
      </div>
      <p class="sub-title" *ngIf="!isOrg">
        Engage your classroom with computational thinking.
      </p>
    </div>
    <div class="col-12 welcome-body">
      <h6 class="title text-uppercase">
        ACCESS TO
        <span *ngIf="isOrg"> codeg.o.a.t.</span>
        <span *ngIf="!isOrg"> CODINGVILLE</span>
        provides:
      </h6>
      <p class="list-item" [class.red-item]="isOrg">
        Students with helpful tools and coding activities, designed to engage students of all ages in game-based
        learning and to enhance skills development.
      </p>
      <p class="list-item" [class.red-item]="isOrg">
        Teachers with access to a training course, designed to support teachers’ abilities to confidently deliver coding
        in the classroom.
      </p>
      <div [ngClass]="{'auth-img--org': isOrg, 'auth-img' : !isOrg}">
        <img src="assets/images/auth-welcome-background.svg" alt="" *ngIf="!isOrg">
        <img src="assets/images/codegoat-auth-welcome.svg" alt="" *ngIf="isOrg">
      </div>
    </div>
    <div class="col-12 welcome-footer" [class.justify-content-center]="isOrg">
      <div class="funding" *ngIf="!isOrg">
        <img src="assets/images/Canada_w FundingFrom_Eng.png" alt="with funding from Canada">
      </div>
      <div class="logos">
        <img src="assets/images/mindfuel_logo.svg" alt="Mindfuel" class="logo">
        <img src="assets/images/robogarden_logo.svg" alt="RoboGarden" class="logo">
      </div>
    </div>
  </div>
</div>