@import '../../styles/themes';

@include nb-install-component() {
  .welcome-container {
    padding: 15px 30px;

    .welcome-title {
      @media (max-width: 991px) {
        padding: 0;
      }

      @media (max-width: 590px) {
        padding-left: 25px;
      }

      .title {
        display: flex;
        justify-content: flex-start;
        align-items: flex-end;

        img {
          height: 55px;
          width: auto;

          @media (max-width: 767px) {
            height: 27px;
            margin-right: 5px;
          }
        }

        &.org-title {
          img {
            height: 90px;
          }
        }


        p {
          font-family: 'Bungee', cursive;
          font-size: 45px;
          line-height: 40px;
          font-weight: 900;
          margin: 0;
          color: #000;
          margin-left: 7px;

          .red {
            color: #eb2938;
          }

          .orange {
            color: #ff5500;
          }

          @media (max-width: 1200px) {
            font-size: 33px;
          }

          @media (max-width: 767px) {
            font-size: 21px;
          }
        }

        @media (max-width: 767px) {
          align-items: center;
        }
      }
    }

    .sub-title {
      font-size: 12px;
      color: #333;
      text-transform: uppercase;
      margin: 0;
      padding: 5px 20px 5px 0;
      font-weight: bold;

      @media (max-width: 1200px) {
        font-size: 10px;
      }

      @media (max-width: 767px) {
        font-size: 8px;
        padding: 0 35px;
        margin-top: -5px;
        line-height: 10px;
      }
    }

    @media (max-width: 991px) {
      padding: 15px 30px;
    }
  }

  .welcome-body {
    padding: 30px 35px 0;
    position: relative;

    @media (min-width: 768px) and (max-width: 991px) {
      padding: 30px 20px 0;
    }

    @media (max-width: 590px) {
      padding: 30px 0 0 55px;
    }

    @media (max-width: 575px) {
      padding: 30px 0 0;
    }

    .title {
      font-size: 20px;
      font-weight: 600;
      color: #2a2a2a;
      text-transform: uppercase;

      @media (max-width: 1200px) {
        font-size: 18px;
      }

      @media (max-width: 480px) {
        font-size: 12px;
      }
    }

    .list-item {
      // text-indent: 20px;
      padding-left: 20px;
      margin-bottom: 15px;
      font-weight: 600;
      font-size: 16px;
      line-height: 19px;
      position: relative;

      &::before {
        content: '';
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: #eb2938;
        display: block;
        position: absolute;
        left: 5px;
        top: 5px;
      }

      @media (max-width: 1200px) {
        font-size: 15px;
        line-height: 19px;
      }

      @media (max-width: 480px) {
        font-size: 10px;
      }
    }

    .red-item {
      &::before {
        background-color: #ff5500;
      }
    }

    .auth-img--org {
      width: 100%;
      margin-top: 40px;
      min-height: calc(100vh - 410px);

      img {
        max-height: 100%;
        max-width: 100%;
        display: block;
        margin: 0 auto;
      }

      @media (max-width: 991px) {
        display: none;
      }
    }

    .auth-img {
      margin-top: -70px;
      width: 100%;
      min-height: 260px;

      img {
        max-height: 100%;
        max-width: 100%;
        display: block;
        margin: 0 auto;
      }

      @media (max-width: 991px) {
        display: none;
      }
    }
  }

  .welcome-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .funding {
      img {
        max-height: 60px;
      }
    }

    .logos {
      .logo {
        padding: 0 10px;
        max-height: 60px;
      }
    }

    @media (max-width: 991px) {
      display: none;
    }
  }
}
