<div class="container-fluid">
    <div class="row">
        <div class="col-3">
            <ngx-upload-image></ngx-upload-image>
        </div>
        <div class="col-9">
            <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm">
                <div class="row">
                    <div class="col-12 mt-4">
                        <input type="text" nbInput fullWidth fieldSize="large" [(ngModel)]="user.full_name"
                            [pattern]='fullname_pattern' [ngClass]="{ 'is-invalid':  fullname.invalid }"
                            #fullname="ngModel" placeholder="Full Name" name="fullname" class="inputX" required
                            minlength="2" (keyup)="updateChanged()">
                        <div *ngIf="fullname.invalid" class="invalid-feedback">
                            <div *ngIf="fullname.errors.required">{{'fullname-required-msg' |  translate}}</div>
                            <div *ngIf="fullname.errors.minlength">{{'fullname-minlength-msg' | translate}}</div>
                            <div *ngIf="fullname.errors.pattern">{{'fullname-pattern-msg' | translate}}</div>
                        </div>
                    </div>
                    <div class="col-12 mt-4">
                        <input type="text" nbInput fullWidth fieldSize="large" [(ngModel)]="user.username"
                            [ngClass]="{ 'is-invalid': nickname.invalid }" #nickname="ngModel" placeholder="User Name"
                            name="nickname" class="inputX" required minlength="2" (keyup)="updateChanged()">
                        <div *ngIf="nickname.invalid" class="invalid-feedback">
                            <div *ngIf="nickname.errors.required">{{'nickname-required-msg' |  translate}}</div>
                            <div *ngIf="nickname.errors.minlength">{{'nickname-minlength-msg' | translate}}</div>
                        </div>
                    </div>
                    <div class="col-12 mt-4">
                        <input type="email" nbInput fullWidth fieldSize="large" [(ngModel)]="user.email"
                            [ngClass]="{ 'is-invalid': f.submitted && email.invalid }" #email="ngModel"
                            placeholder="Email" name="email" class="inputX" required email (keyup)="updateChanged()">
                        <div *ngIf="email.invalid" class="invalid-feedback">
                            <div *ngIf="email.errors.required">{{'email-required-msg' | translate}}</div>
                            <div *ngIf="email.errors.email">{{'email-valid-msg' | translate}}</div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col col-sm-12 mt-4 text-center">
                        <button [disabled]="loading || f.form.invalid || dataNotChanged" nbButton status="success"
                            size="medium" class="buttonX">
                            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                            {{'save-changes' | translate}}
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>