.inputX::placeholder {
  color: #707070;
  font-size: 20px;
}
.inputX:-ms-input-placeholder {
  color: #707070;
  font-size: 20px;
}
.inputX::-ms-input-placeholder {
  color: #707070;
  font-size: 20px;
}
.inputX {
  font-size: 20px;
}
.buttonX {
  background-color: #1fa100;
  font-size: 15px;
  font-weight: bold;
  @media (min-width: 576px) {
    float: right !important;
  }
  
}

.invalid-feedback {
  display: block;
}
