<button class="stepper-back" (click)="removeCompletedClicked()" nbStepperPrevious>
  <img src="assets/icons/stepper-back.svg" alt="<">
</button>
<div class="second-step step-container">
  <div class="col-12 title-container">
    <h3 class="title">{{'do-have-classroom-code' | translate}}</h3>
    <p class="instructions">{{'classroom-code-desc' | translate}}</p>
  </div>
  <div class="col-12">
    <div class="row">
      <div class="col-6">
        <nb-flip-card class="role-card ml-auto" id="have-classroomcode-card">
          <nb-card-front>
            <nb-card>
              <nb-card-body class="d-flex justify-content-center align-items-center">
                <img class="yes-no-img" src="assets/images/card-yes.svg" alt="Yes">
              </nb-card-body>
            </nb-card>
          </nb-card-front>
          <nb-card-back showToggleButton="false">
            <nb-card>
              <nb-card-body class="d-flex justify-content-center align-items-center">
                <form [formGroup]="codeForm" (ngSubmit)="onCodeSubmit()">
                  <p class="code-title">{{'classroom-code' | translate}}</p>
                  <div class="form-group">
                    <input type="text" class="form-control" formControlName="classroom_code"
                      placeholder="Classroom Code">
                    <button type="submit" class="submit-btn">
                      <img src="assets/icons/input-btn.svg" alt=">">
                    </button>
                  </div>
                  <p *ngIf="codeError" class="error mb-0">{{codeError}}</p>
                </form>
              </nb-card-body>
            </nb-card>
          </nb-card-back>
        </nb-flip-card>
      </div>
      <div class="col-6">
        <nb-card class="role-card mr-auto" (click)="onNoClassroomCode()" id="dont-have-classroomcode-card">
          <nb-card-body class="d-flex justify-content-center align-items-center">
            <img class="yes-no-img" src="assets/images/card-no.svg" alt="No">
          </nb-card-body>
        </nb-card>
      </div>
    </div>
  </div>
</div>