.badge-card-wrapper {
  background-color: #fff !important;
  box-shadow: none !important;
  min-height: 97px;
  margin-bottom: 14px;
  margin-left: 20px;

  .badge-card-icon {
    img {
      @media (max-width: 575.98px) {
        max-width: 48.07px !important;
      }
    }
  }

  .badge-card-header {
    .badge-card-header-text {
      color: #434343;
      font-weight: 500;
      font-size: 20px;
      line-height: 27px;

      @media (max-width: 575.98px) {
        font-size: 16px;
      }
    }

    .accomplished-overall {
      color: #aeaeae;
      font-size: 14px;
      font-weight: 700;

      @media (max-width: 575.98px) {
        margin-right: 10px;
      }
    }

    .badge-card-info {
      font-size: 12px;
      font-weight: 400;
      color: #000;
      line-height: 16px;
      margin-bottom: 24px;
    }
  }
  nb-progress-bar {
    position: absolute;
    bottom: 8px;
  }
  .badge-level {
    width: 59px;
    padding-top: 10px;
    padding-bottom: 27px;
    height: 15px;
    margin: auto;
    div {
      display: inline-block;
      margin-left: 0;
      margin-right: 0;
      width: 15px;
      height: 15px;
      border-radius: 50%;
      border: 1px solid #ffd90d;
      &:nth-child(2) {
        margin-left: 7px;
        margin-right: 7px;
      }
      &.highlighted {
        background-color: #fee040;
      }
    }
  }
}
