<nb-card class="badge-card-wrapper px-2 py-1 d-flex justify-content-center">
    <div class="row no-gutters">
        <div class="col-3 d-flex justify-content-center">
            <div class="row no-gutters d-block">
                <div class="col-12 no-gutters">
                    <div class="badge-card-icon text-center d-flex">
                        <img class="img-fluid" [src]="badgeData.iconUrl" alt="" />
                    </div>
                </div>
                <div class="col-12 no-gutters badge-level">
                    <div [class.highlighted]="badgeData.current_level>=1"></div>
                    <div [class.highlighted]="badgeData.current_level> 1"></div>
                    <div [class.highlighted]="badgeData.current_level> 2"></div>
                </div>

            </div>

        </div>
        <div class="col-9">
            <header class="badge-card-header">
                <h4 class="badge-card-header-text m-0"> {{ badgeData.badgeTitle | uppercase }}
                    <span class="float-right accomplished-overall"> {{badgeData.gainedXps}} / {{ badgeData.totalXps }} </span>
                </h4>
                <p class="badge-card-info mb-1 pt-1"> {{ badgeData.description }} </p>
            </header>
            <nb-progress-bar [value]="badgeData.progress" status="warning" [displayValue]="true"></nb-progress-bar>
        </div>
    </div>
</nb-card>