<div class="sidebar-row-container">
  <div class="user-name">
    <div class="user-text">
      <p class="role" *ngIf="!isAdmin">{{ currentUser.role == 'super_teacher' ? 'Teacher' : 'Student' }}</p>
      <p class="role" *ngIf="isAdmin">Admin</p>
      <p class="name">{{ currentUser.username}}</p>
    </div>
    <div class="emoji">
      <nb-icon icon="person"></nb-icon>
      <!-- <img src="assets/icons/smile.svg" alt=":)"> -->
    </div>
  </div>
</div>
<div class="sidebar-row-container">
  <div class="user">
    <div class="user-animation">
      <div class="user-placeholder">
        <img class="img-fluid mt-1" [src]="currentUser.profile_image_url" alt="">
      </div>
      <div class="badges mt-1">
        <div class="badge" *ngFor="let badge of badges">
          <img [src]="badge.iconurl" alt="">
        </div>
      </div>
    </div>
    <div class="user-actions">
      <button type="button" class="action-btn" (click)="goToEditProfile()">
        <!-- <img src="assets/icons/pen_dark.svg" alt="Edit"> -->
        <nb-icon icon="edit"></nb-icon>
      </button>
      <button type="button" class="action-btn" (click)="goToOnBoardVideo()" *ngIf="isTeacher">
        <nb-icon style="margin-top: 5px;" icon="info" pack="custom-icons"></nb-icon>
        <!-- <img src="assets/icons/settings_dark.svg" alt="Settings"> -->
      </button>
    </div>
  </div>
</div>

<div class="sidebar-row-container">
  <div class="logout">
    <button type="button" class="logout-btn" (click)="logout()">{{ "logout" | translate }}</button>
  </div>
</div>