@import '~bootstrap/scss/mixins/breakpoints';
@import '~@nebular/theme/styles/global/breakpoints';
@import '../../../styles/themes';

@include nb-install-component() {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 1.25rem -1.25rem 0;

  .user-name {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding: 20px 20px 0 45px;
    width: 100%;

    .role {
      font-size: 8px;
      margin-bottom: 0;
      font-weight: 700;
      text-transform: uppercase;
      letter-spacing: 3px;
      color: nb-theme(user-role-color);
    }

    .name {
      margin: 0;
      font-size: 16px;
      font-weight: 500;
      color: #fff;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      max-width: 10vw;
    }

    .emoji {
      width: 25px;

      nb-icon {
        font-size: 25px;
        color: #fff;
      }
    }
  }

  .user {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 20px 10px 55px;

    .user-animation {
      margin-left: 5px;

      .user-placeholder {
        width: 102px;
        height: 107px;

        img {
          width: 100%;
          height: 100%;
          border-radius: 50%;
        }
      }

      .badges {
        text-align: center;

        .badge {
          width: 25px;
          padding: 1px;

          img {
            width: 100%;
          }
        }
      }
    }

    .user-actions {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-end;

      .action-btn {
        margin-top: 20px;
        background-color: transparent;
        padding: 0;
        width: 35px;
        height: 35px;
        border: 2px solid #d4d4d4;
        border-radius: 4px;
        color: nb-theme(menu-item-active-text-color);
        nb-icon {
          font-size: 24px;
        }
        img {
          width: 100%;
        }

        &:hover {
          background-color: #8ae25a;
          nb-icon {
            color: white;
          }
        }
      }
    }
  }

  .logout {
    padding: 10px 1.25rem;
    width: 100%;
    text-align: center;

    .logout-btn {
      padding: 8px 25px;
      background: transparent;
      color: nb-theme(menu-item-active-text-color);
      border-radius: 5px;
      font-size: 14px;
      font-weight: 700;
      border: 1px solid #fff;
    }
  }

  .logo-container {
    display: flex;
    align-items: center;
    width: calc(#{nb-theme(sidebar-width)} - #{nb-theme(header-padding)});
  }

  nb-action {
    height: auto;
    display: flex;
    align-content: center;
  }

  nb-user {
    cursor: pointer;
  }

  ::ng-deep nb-search button {
    padding: 0 !important;
  }

  .sidebar-row-container {
    display: flex;
    align-items: center;
    width: auto;

    .sidebar-toggle {
      @include nb-ltr(padding-right, 1.25rem);
      @include nb-rtl(padding-left, 1.25rem);
      text-decoration: none;
      color: nb-theme(text-hint-color);

      nb-icon {
        font-size: 1.75rem;
      }
    }

    .logo {
      padding: 0 1.25rem;
      font-size: 1.75rem;
      @include nb-ltr(border-left, 1px solid nb-theme(divider-color));
      @include nb-rtl(border-right, 1px solid nb-theme(divider-color));
      white-space: nowrap;
      text-decoration: none;
    }
  }

  .direction-switcher {
    @include nb-ltr(margin-left, 2rem);
    @include nb-rtl(margin-right, 2rem);
  }

  @include media-breakpoint-down(sm) {
    .control-item {
      display: none;
    }

    .user-action {
      border: none;
      padding: 0;
    }
  }

  @include media-breakpoint-down(is) {
    nb-select,
    .direction-switcher {
      display: none;
    }
  }

  nb-sidebar.compacted {
    .menu-title {
      p {
        display: none;
      }
    }
  }
}
