<ngx-container>
  <div class="container-fluid pb-5">
    <div class="row">
      <div class="col-lg-2 col-md-2 col-6 order-md-1 order-1 title-holder">
        <p class="class-name mt-3 text-uppercase">{{"my-projects" | translate}}</p>
      </div>
      <div class="col-lg-8 col-md-6 col-12 order-md-1 order-3 search-box-container">
        <div class="row">
          <div class="col-sm-10 col-9 search-holder">
            <ngx-search (search)="search($event)"></ngx-search>
          </div>
          <div class="col-sm-2 col-3 select-parent ">
            <nb-select class="projects" [(selected)]="cardPerPage" (selectedChange)="changeItemPerPage()"
              [fullWidth]="false" [size]="'giant'">
              <nb-option *ngFor="let num of noOfCardsPerPage" [value]="num">{{num}}</nb-option>
            </nb-select>
          </div>
        </div>
      </div>
      <div class="col-lg-2 col-md-4 col-4 offset-2 offset-md-0 order-md-1 order-2 btn-parent">
        <button type="button" class="btn btn-success btn-custom mx-auto text-uppercase" (click)='createProject()'>
          <nb-icon icon="plus"></nb-icon> {{"create" | translate}}
        </button>
      </div>

    </div>
  </div>

  <div *ngIf="dataLoaded">
    <div class="container-fluid cards-container my-3" *ngIf="projects.length > 0">
      <div class="row mt-0 cards-container--row">
        <div class="col-sm-4" *ngFor="let project of projects; let i = index">
          <ngx-card [isShare]='true' [isDelete]='true' [isMakePublic]='project.isPublic == 0 ? "Public": "Private"'
            [cardData]="project" (shareClickedEvent)="share(project)" (likeBtnClicked)="toggleLikeProject(i)"
            (deleteClickedEvent)="deleteProject(project.id)" (makePublicBtnClicked)="togglePublic(i)"
            (click)="openProject(project.id)">
          </ngx-card>
        </div>
      </div>
    </div>
    <ngx-pagination *ngIf="projects && projects.length > 0" [arrayLength]="projectsCount" [maxShown]="cardPerPage"
      [currentPage]="currentPage" (pageChange)="changePagination($event)">
    </ngx-pagination>
  </div>
  <div *ngIf="dataLoaded">
    <ngx-empty-state *ngIf="projects.length == 0 && searchValue === ''" [type]='"data"'></ngx-empty-state>
    <ngx-empty-state *ngIf="projects.length == 0 && searchValue !== ''" [type]='"search"'></ngx-empty-state>
  </div>
</ngx-container>