<div project-preview>
    <div class='main' id="main" [ngClass]="{'loading-org': isOrg, 'loading' : !isOrg}"></div>
    <div project-preview-controls class="controls">

        <button *ngIf="!isRunning" class="btn run-btn" (click)="runProject($event)">
            <span>RUN CODE</span>
            <nb-icon icon="arrow-right"></nb-icon>
        </button>
        <button *ngIf="isRunning" class="btn stop-btn" (click)="stopProject($event)">
            <span>STOP</span>
            <span class="square">
            </span>
        </button>
    </div>
</div>