[project-preview] {
    height: 100%;
    overflow: auto;
    border-radius: 25px;
    background-color: #d6d6d6;
    padding-top: 20px;
  
    .main.loading {
      background-image: url('../../../../../../assets/images/loading.jpg');
      background-position: center;
      width: 270px;
      margin: 0 auto;
      height: 480px;
    }

    .main.loading-org {
      background-image: url('../../../../../../assets/images/loading_codegoat.jpg');
      background-position: center;
      width: 270px;
      margin: 0 auto;
      height: 480px;
    }

}

[project-preview-controls] {
  [play-btn] {
    padding: 0;
    bottom: 20px;
    position: relative;

    .stop-icon,
    .play-icon {
      width: 65px;
      height: auto;
    }
  }
}

.btn {
  width: 127px;
  height: 36px;
  font-weight: bold;
  margin: 15px 6px;
  letter-spacing: 2px;
  border-radius: 4px;
  padding: 0;
  text-align: center;
  outline: none;
  &:focus {
    outline: none !important;
  }
}
.run-btn {
  background-color: #1fa100;
  color: #fcfcfc;
}

.stop-btn {
  background-color: #ff2c2c;
  color: #fcfcfc;
  .square {
    width: 12px;
    height: 12px;
    background-color: white;
    border-radius: 3px;
    display: inline-block;
    margin-left: 8px;
  }
}
