@import '../../../../../@theme/styles/themes';

@include nb-install-component() {
  .container {
    position: relative;
    max-width: 100vw !important;
    padding: 0;

    video {
      min-width: 100vw;
      max-width: 100vw;
      min-height: 100vh;
      max-height: 100vh;
    }

    button {
      padding: 20px 120px;
      color: nb-theme(sidebar-menu-color);
      background-color: rgba(0, 0, 0, 0.47);
      border: 1px solid nb-theme(sidebar-menu-color);
      border-radius: 4px;
      margin: 25px;
      font-weight: bold;
      letter-spacing: 1px;
      position: absolute;
      top: 2px;
      right: 0;
      z-index: 1;
    }
  }
}
