<!-- <video controls>
    <source [src]="videoUrl" type="video/mp4">
</video>

<button class="btn text-uppercase skip-btn">{{'skip' | translate}}</button> -->


<div class="container">
    <video controls>
        <source [src]="videoUrl" type="video/mp4">
    </video>
    <button class="btn text-uppercase skip-btn" (click)="closeTutorialVideo()">{{'skip' | translate}}</button>
</div>