<nb-card class="content-card mb-0">
  <nb-card-header>
    <div class="container-fluid container-paddfix">
      <div class="row">
        <div class="col-lg-11 col-12 mx-auto">
          <div class="row">
            <div class="col-lg-11 col-sm-10 col-8 px-2">
              <ngx-search (search)="search($event)"></ngx-search>
            </div>

            <div class="col-lg-1 col-sm-2 col-4 px-2">
              <nb-select [(selected)]="cardPerPage" (selectedChange)="changeItemPerPage()" [fullWidth]="false"
                [size]="'giant'">
                <nb-option *ngFor="let num of noOfCardsPerPage" [value]="num">{{num}}</nb-option>
              </nb-select>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nb-card-header>
  <div *ngIf="dataLoaded">
    <div class="container-fluid mb-3" *ngIf="players.length > 0">
      <div class="row mt-2 ml-0 mr-0">
        <div class="col-lg-11 col-12 mx-auto">
          <div class="row">
            <div class="col-sm-4 col-12" *ngFor="let player of players">
              <ngx-player-card [playerData]="player" (click)="goToUserProfile(player.id)"></ngx-player-card>
            </div>
          </div>
        </div>
      </div>
    </div>

    <ngx-pagination class="mt-4" *ngIf="players.length > 0" [arrayLength]="playersCount" [maxShown]="cardPerPage"
      [currentPage]="currentPage" (pageChange)="changePagination($event)">
    </ngx-pagination>

    <ngx-empty-state *ngIf="players.length == 0 && searchValue === ''" [type]='"data"'></ngx-empty-state>
    <ngx-empty-state *ngIf="players.length == 0 && searchValue !== ''" [type]='"search"'></ngx-empty-state>
  </div>

</nb-card>