@import '../../../../../@theme/styles/themes.scss';

@include nb-install-component() {

  .content-card {
    padding: 22px 16px;
    background-color: hsl(0, 0%, 95%);
    min-height: calc(100vh - 180px);

    nb-select {
      width: 100%;
    }

    .container {
      .row {
        margin-right: 32px;
        margin-left: 32px;
      }
    }
  }

  ::ng-deep nb-select {
    width: 100%;

    button {
      width: 100%;
      min-width: 100%;
      padding: 10px 15px 10px 10px !important;

      nb-icon {
        right: -5px !important;
      }
    }
  }
}
