<ngx-container>
    <div class="container-fluid pb-5">
        <div class="row">
            <div class="col-lg-2 col-md-2 col-6 order-md-1 order-1 title-holder">
                <p class="class-name mt-3 ">{{"pre-journeys" | translate}}</p>
            </div>
            <div class="col-lg-10 col-md-6 col-12 order-md-1 order-3 search-box-container">
                <div class="row">
                    <div class="col-sm-10 col-9 search-holder">
                        <ngx-search (search)="search($event)"></ngx-search>
                    </div>
                    <div class="col-2 select-parent ">
                        <nb-select class="limit_select" [(selected)]="cardsPerPage"
                            (selectedChange)="changeItemPerPage()" [fullWidth]="false" [size]="'giant'">
                            <nb-option *ngFor="let num of noOfCardsPerPage" [value]="num">{{num}}</nb-option>
                        </nb-select>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container cards-container">
        <div class="row " *ngIf="journeys">
            <div class="col-lg-4 col-md-4 pl-md-0" *ngFor="let journey of journeys">
                <ngx-flip-card [cardData]='journey' (assign)="assignPreJourney(journey)"
                    (tryClicked)='openJourneyMissions(journey)'></ngx-flip-card>
            </div>
            <div class="col-12">
                <ngx-empty-state *ngIf="journeys && journeys.length == 0 && searchValue === ''" [type]='"data"'>
                </ngx-empty-state>
                <ngx-empty-state *ngIf="journeys && journeys.length == 0 && searchValue !== ''" [type]='"search"'>
                </ngx-empty-state>
            </div>
        </div>

        <ngx-pagination *ngIf="journeysCount > 0" [arrayLength]='journeysCount' [maxShown]='cardsPerPage'
            [currentPage]='currentPage' (pageChange)="changePagination($event)">
        </ngx-pagination>
    </div>
</ngx-container>