@import '../../../../../@theme/styles/themes.scss';
@import '../../../shared/container/container.component.scss';


@include nb-install-component() {
  ::ng-deep ngx-search {
    input {
      padding: 10px !important;

      @media (max-width: 575px) {
        padding: 7px !important;
      }
    }
  }


  ::ng-deep nb-select {
    width: 100%;

    button {
      width: 100%;
      min-width: 100%;
      padding: 10px 15px 10px 10px !important;

      nb-icon {
        right: 0 !important;
      }

      @media (max-width: 575px) {
        padding: 7px 15px 7px 10px !important;
      }
    }
  }

  .btn-success {
    padding: 12px;
    font-size: 16px;
    line-height: 20px;
    width: 100%;
    font-weight: 600;
    background-color: nb-theme(color-primary-500);

    nb-icon {
      vertical-align: text-bottom;
      margin-right: 10px;
    }

    @media (max-width: 575px) {
      padding: 8px 0;
      font-size: 12px;

      nb-icon {
        font-size: 13px;
        margin-right: 5px;
      }
    }
  }

  .classroom-empty__title {
    font-size: 23px;
    line-height: 29px;
    color: rgba(53, 54, 52, 0.33);
    margin-bottom: 17px;
    filter: grayscale(100%);
  }

  .classroom-empty__title--secondary {
    color: #353634;
    font-size: 23px;
    line-height: 29px;
    margin-top: 30px;
    margin-bottom: 12px;
    font-weight: 700;
    text-align: center;
    filter: grayscale(100%);
  }

  ngx-pagination {
    position: absolute;
    bottom: 60px;
    left: 90px;
    width: 100%;
  }


}
