<ngx-container>
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-md-10 col-sm-10 col-xs-8 col-10 pl-0 pr-1">
        <ngx-search (search)="search($event)"></ngx-search>
      </div>
      <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 col-2 pl-1 pr-0">
        <nb-select class="table-filter-select" [(selected)]="cardPerPage" (selectedChange)="changePageLimit()">
          <nb-option *ngFor="let num of noOfCardsPerPage" [value]='num'>{{num}}</nb-option>
        </nb-select>
      </div>
    </div>
  </div>
  <div *ngIf="dataLoaded">
    <div class="container cards-container" *ngIf="classrooms.length > 0">
      <div class="row mt-5 cards-container--row">
        <div class="col-lg-4 col-md-4 pl-md-0 " *ngFor="let classroom of classrooms">
          <ngx-card [cardData]='classroom' [isClassroom]="true" [isDelete]="false" [isEdit]="false"
            (click)="openJourney(classroom)" (editClickedEvent)="editClassroom(classroom)"
            (deleteClickedEvent)="deleteClassroom(classroom.id)">
          </ngx-card>
        </div>
      </div>
      <ngx-pagination *ngIf="classroomsCount > 0" [arrayLength]='classroomsCount' [maxShown]='cardPerPage'
        [currentPage]="currentPage" (pageChange)="changePagination($event)">
      </ngx-pagination>
    </div>

    <div *ngIf="classrooms && classrooms.length == 0 && searchValue === ''">
      <ngx-empty-state [type]='"data"'></ngx-empty-state>
    </div>

    <ngx-empty-state *ngIf="classrooms && classrooms.length == 0 && searchValue !== ''" [type]='"search"'>
    </ngx-empty-state>

  </div>

</ngx-container>