<div class="container bg-white publish-modal">

  <span class="subtitles">{{'you-did-it' | translate}}</span>
  <br>


  <ng-container *ngIf="!isTeacher">


    <div class="row mt-4">
      <nb-progress-bar class="w-100 mb-1" [value]="data?.progress_after" size="medium" status="warning">
        <span class="progress-percentage">{{data?.progress_after}} %</span>
      </nb-progress-bar>
    </div>

  </ng-container>


  <div class="row justify-content-between mt-4">
    <div class="col-auto">
      <button nbButton status="success" (click)="close()" outline>{{'replay' | translate}}</button>
    </div>
    <div class="col-auto">
      <button nbButton status="success" (click)="buildApk()">{{'build_apk' | translate}}</button>
    </div>
  </div>
</div>