@import '../../../../../@theme/styles/themes';

@include nb-install-component() {
  ::ng-deep nb-progress-bar {
    .progress-container {
      height: 33px;
    }
  }
}

.publish-modal {
  width: 714px;
  text-align: center;
  border-radius: 8px;
  padding: 73px !important;
  padding-bottom: 40px !important;
  .title {
    font-size: 60px;
    color: #1fa100;
    font-weight: bold;
  }
  .subtitles {
    font-size: 34px;
  }

  button {
    width: 170px;
    height: 36px;
  }

  .bullet-right {
    background-color: #d8d8d8;
    border-radius: 0 18px 18px 0;
    width: 70px !important;

    p {
      color: #707070;
      font-size: 26px;
      font-weight: bolder;
    }
  }
  .vertical-alignment {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }

  .bullet-left {
    width: 70px !important;
    background-color: #bfbdbd;
    border-radius: 18px 0 0 18px;
    img {
      height: 36px;
      width: 65px;
    }
  }

  .bullet {
    width: 141px;
    height: 58px;
  }

  .progress-percentage {
    font-size: 27px;
    color: white;
  }
}
