<div class="container px-5">
    <div class="container mt-4 d-flex justify-content-center">
        <div class="board-bg">
            <canvas #board id="board"></canvas>
        </div>
    </div>
</div>