<ngx-container>
    <div class="container-fluid">
        <div class="row">
            <div class="class-name-container col-lg-3 col-12 mb-lg-0 mb-3">
                <div class="row" *ngIf="!isUserIndividual">
                    <div class="col-lg-12 col-sm-2 col-4 px-0">
                        <span class="class-word text-uppercase">{{"label-classroom" | translate}}</span>
                    </div>
                    <div class="col-lg-11 col-sm-7 col-12 mt-lg-2 mt-0 px-0 class-name" *ngIf="journeysLoaded">
                        {{ classroomName }}
                    </div>
                </div>
            </div>

            <div class="col-lg-8 col-10 pl-0 pr-1">
                <ngx-search (search)="search($event)"></ngx-search>
            </div>

            <div class="col-lg-1 col-2 pl-1 pr-1 pr-md-4">
                <nb-select class="table-filter-select" [(selected)]="cardPerPage"
                    (selectedChange)="onChangePageLimit()">
                    <nb-option *ngFor="let num of noOfCardsPerPage" [value]='num'>{{num}}</nb-option>
                </nb-select>
            </div>
        </div>
    </div>

    <div *ngIf="journeysLoaded">
        <div class="container-fluid pt-4" *ngIf="journeys.length != 0 ">
            <div class="row justify-content-center">
                <div class="col-lg-10 col-md-12 col-11 p-md-0 pr-md-2">
                    <div class="row">
                        <div class="col-md-4 col-12 pr-md-0" *ngFor="let journey of journeys">
                            <div class="card-clickable">
                                <ngx-card [progressPercentage]="journey.progress" [cardData]="journey">
                                </ngx-card>
                                <div class="overlay" (click)="openJourneyAdventure(journey)">
                                    <img class="btn-play" src="assets/icons/play-button.svg">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <ngx-pagination *ngIf="journeys.length != 0 " [arrayLength]="journeysLength" [maxShown]="cardPerPage"
            [currentPage]="currentPage" (pageChange)="onChangePagination($event)">
        </ngx-pagination>
    </div>

    <div *ngIf="journeysLoaded">
        <ngx-empty-state *ngIf="journeys && journeys.length == 0 && searchValue === ''" [type]='"data"'>
        </ngx-empty-state>
        <ngx-empty-state *ngIf="journeys && journeys.length == 0 && searchValue !== ''" [type]='"search"'>
        </ngx-empty-state>
    </div>

</ngx-container>