<div class="container p-5">

  <section class="header">
    <h1>
      ROBOGARDEN
      GENERAL TERMS OF USE
    </h1>

    <h2>RoboGarden Inc. Privacy Policy
    </h2>
    <p>
      At RoboGarden Inc. (“RoboGarden”, “we”, “us” or “our”), we take your privacy seriously. We know that it is
      important for you to know how your personal information will be used and shared. Your use of our website (the
      “Website”) and the use of our services (the “Service”) is conditioned on your acceptance of this Privacy Policy.
    </p>

    <br>

    <h2>
      What information do we collect?
    </h2>
    <p>
      When we need “Personal Information” that personally identifies you, we explicitly ask for such information when
      you register. Personal Information refers to information such as your name, e-mail address and other information
      related to our Service, including a user name and password. Aside from when you register, when you contact our
      customer support team, send us other communications, participate in surveys, and/or sign up for our special offers
      or newsletters, your Personal Information may also be collected. Additional information that does not constitute
      Personal Information, such as your IP address, web pages that you have visited, and any other data normally stored
      in website logs, may also be collected through using our Website or Service. Any information collected
      automatically through our Website does not include your Personal Information.
    </p>
    <br>



    <h2>
      How do we protect children’s privacy?
    </h2>
    <p>
      RoboGarden accounts are created by parents and educational institutions. We do not permit children under the age
      of 13 to create an account and we do not knowingly collect personally identifying information from children under
      the age 13 without the consent of a parent, guardian or educational institution. The Personal Information that we
      collect from children with your consent includes your child’s name, email address (if applicable), school
      affiliation, and, if provided, a picture. We may collect and store user responses and interaction with our Website
      and Service for the purpose of providing feedback to the user and educational institution and for compiling
      reports and awards. RoboGarden will not ask children under age 13 for more information, as a condition of
      participation, than is reasonably necessary to participate in a given activity. Any disclosure of information
      collected from children under the age of 13 to third parties will be pursuant to an agreement of confidentiality
      and may be used for purposes of site analytics, billing and marketing. If any information is disclosed to
      RoboGarden by a child under the age of 13, that child’s parent or guardian may contact us at
      <a href="mailto:privacy@robogarden.ca" class="privacyClass" target="_blank" rel="nofollow"
        style="direction: ltr;">
        privacy@robogarden.ca
      </a>
      to determine the information collected and/or to request its deletion.
    </p>


    <h2>
      Why do we collect information?
    </h2>
    <p>
      Our goals in collecting information are to provide a customized experience and excellent technical support. We
      analyze user interactions and their feedback to improve our Service.
    </p>

    <br>

    <h2>
      What do we do with your information?
    </h2>
    <div class='p'>
      RoboGarden will not disclose Personal Information to third parties without your permission or under specific
      circumstances, such as when we believe in good faith that the law requires it. The following describes some of the
      circumstances under which your information may be used and disclosed.

      Using Personal Information to identify and authorize your access to our Website and Service and to audit and
      improve our Website, Service and features.
      To help us operate our Website and Service, we may use and share Information with certain third-parties such as
      our cloud storage provider, email distribution service providers, and other similar service providers. Such
      service providers are under an obligation of confidentiality to RoboGarden for the purpose of providing services
      or products for us on our behalf, including for purposes of analytics, billing and marketing. Except when required
      to comply with legal requirements or perform services on our behalf, when we do use such third parties, we
      restrict them from using or disclosing the information that we provide to them and we only provide information
      that is required to perform such services. Such service providers may send you e-mails on our behalf, but we will
      not knowingly use any child’s Personal Information for behavioural targeting of advertisements.
      We may share billing and account information for credit cards, payment cards or other payment systems collected
      from clients of paid versions of our service. After they have been forwarded to payment/billing, we do not store
      credit card or payment card numbers.
      We may also collect, using other technologies, information such as your IP address, referring website, browser
      type, site usage, and whether you opened emails you received from us, all of which is anonymous and non-personally
      identifiable information.
      We only use data collected through usage, which is information such as the numbers and frequency of visitors to
      the website and includes nothing that would identify you personally, in aggregate form. This aggregate data allows
      us to make our services attractive to as many users as possible by telling us, for example, how often users use
      parts of our services. To also provide you with an optimal experience, we may also provide this aggregate
      information to our partners and our partners may use such information to understand how often and in what ways
      people use our services. Aggregate information is not disclosed to a partner in a way that would identify you
      personally.
      In limited circumstances, we may be required to share Personal Information with third parties to comply with legal
      process or requirements, ensuring the security of our services, and preventing fraud or imminent harm.
      RoboGarden may disclose information collected from users associated with an educational institution or school
      board with other users designated by the educational institution, such as teachers and school administrators of
      that institution.
      As long as your account is active, we will retain your Personal Information, or as needed to provide our Service.
      You may cancel your account at any time using our service interface. If any problem arises when cancelling your
      account and you wish that we no longer hold or use your Personal Information, please contact us via
      <a href="mailto:privacy@robogarden.ca" class="privacyClass" target="_blank" rel="nofollow">
        privacy@robogarden.ca
      </a>
      . Your Personal Information may also be retained and used as necessary to comply with our
      legal obligations, enforce our Terms of Service, and resolve disputes.
      If RoboGarden becomes involved in a merger, acquisition, or any form of sale of some or all of its assets, your
      Personal Information may be transferred to the purchaser. In such an event, we will provide notice before personal
      information is transferred and becomes subject to a different privacy policy.
      We do not disclose your Personal Information or share it with third parties except as described herein.
      If you submit Personal Information to any websites linked on our site, we encourage you to carefully read their
      privacy policies. The privacy practices of these websites may differ from ours and your information is subject to
      their privacy policies.
    </div>

    <br>

    <h2>
      What is our policy on updating, correcting or deleting Personal Information?
    </h2>

    <br>

    <p>
      At any time, by logging into your account and then accessing features to edit your profile and/or account
      information, you may modify or remove Personal Information. We recommend that you review your Personal Information
      periodically to ensure that it is accurate, complete and current.

      If you have forgotten your password, you may request a new one by contacting
      <a href="mailto:info@robogarden.ca" class="privacyClass" target="_blank" rel="nofollow">
        info@robogarden.ca
      </a> . A new password
      will be sent to the e-mail address you provided during registration. For all other problems logging into our site,
      please contact our technical support team.
    </p>


    <br>


    <h2>
      What are cookies and how do we use them?
    </h2>
    <p>
      To collect data in order to assist our users and provide them with a more personalized experience, we use
      "cookies" (or other similar software) – a small file sent to your computer by a website to allow the website to
      temporarily store information which uniquely identifies you. We use cookies to better display our Website, save
      you time, provide better technical support, improve the Service, for promotional purposes, and to track Website
      and Service usage. Most browsers are set up to accept cookies, but you can reset your browser to refuse all
      cookies or to indicate when a cookie is being sent. However, some (or all) of the features and functionality of
      our Website and Service may not be available to you if your cookies are disabled. We may also use local storage
      mechanisms other than cookies, including Flash storage.
    </p>


    <h2>
      What are user choices about receiving communications from us?
    </h2>
    <p>
      If you have provided the means by which to reach you, we may use those means to contact you to, for example, to
      communicate with you about your use of our Service, send promotional offers on behalf of RoboGarden or other
      businesses (without sharing your Personal Information), or to receive a confirmation when you open a message from
      us. You can always unsubscribe from our mailing list or from any email sent to you if you do not want to receive
      such communications from us.

      On occasion, we may inform you of functionality, new features, services, products, and other promotions from
      RoboGarden, and send you periodic updates, tips, and newsletters. Each newsletter will include unsubscribe
      instructions which will allow you to opt-out of receiving these communications from us. Keep in mind that even if
      unsubscribe from newsletters, we may continue to send you notices relating to updates relating directly to your
      account or for revisions made to this Privacy Policy or our Terms of Service.

      In order to process and respond to your requests and improve our Service, any communication sent to RoboGarden,
      including e-mail, may be retained. We are not able to evaluate whether such communication contains confidential
      information, so please do not send us any communication which contains confidential information. We may retain or
      use such confidential information as aforesaid and such retention or use shall not be deemed as a breach of any of
      our obligations herein.
    </p>



    <h2>
      How do we secure your information?
    </h2>


    <p>
      To protect against unauthorized access to or unauthorized alteration, disclosure or destruction of data, we use
      industry standard security measures such as internal reviews of our data collection, storage and processing
      practices and security measures. Keep in mind that no method of transmission over the Internet or type of
      electronic storage is 100% secure. We, therefore, cannot guarantee its absolute security.

      Your registered accounts are password-protected so that you and only you have access to any Personal Information
      you have entered in your account. You may edit your account information by logging into your account. For your
      protection, remember to log out of all accounts before closing your browser. After logging out, make sure to close
      all browser windows. This is to ensure that others cannot access your Personal Information if you share a computer
      with someone else or are using a public computer.

      Access to Personal Information is restricted to individuals (our employees, contractors, and agents) bound by
      confidentiality obligations and who need to know that information in order to operate, develop, or improve our
      Service. We require all of these individuals to agree to use your Personal Information only for the purpose for
      which we provided it to them and in accordance with our Privacy Policy.

      All collected information is stored with cloud-based servers provided by Amazon Web Services ("AWS") in a manner
      that is consistent with this Privacy Policy and with appropriate security measures to protect against unauthorized
      access to or unauthorized alteration, disclosure, or destruction of data.
    </p>


    <br>

    <h2>
      Changes to this Privacy Policy
    </h2>


    <p>
      From time to time, we may amend this Privacy Policy. Use of information we collect now is subject to the Privacy
      Policy in effect at the time such information is used. If we make significant changes in the way we treat Personal
      Information, we will post a prominent announcement on our Website and/or send you a message, and if necessary,
      obtain the prior verifiable consent of a parent or legal guardian if changes are made to the way we use Personal
      Information. Any significant changes will take effect fourteen (14) days after they are posted or communicated.
      After such changes take effect, you are bound by any changes to the Privacy Policy when you use the Service.
    </p>

    <br>



    <h2>
      Contact Information
    </h2>


    <p>
      Please contact us at <a href="mailto:info@robogarden.ca" class="privacyClass" target="_blank" rel="nofollow">
        info@robogarden.ca
      </a>if you have any questions regarding our Privacy Policy. </p>




  </section>