<nb-card class="content-card mb-0">
  <nb-card-header class="heading">
    <div class="container p-0">
      <div class="row">
        <div class="col-lg-2 col-md-3 col-sm-4 col-xs-5 col-5 pl-0 pr-1 mb-md-2">
          <p class="section-title">{{"pre-journeys" | translate}}</p>
        </div>

        <div class="col-lg-6 col-md-5 col-sm-8 col-xs-7 col-7 pl-0 pr-md-1 pr-0 mb-md-0 mb-2">
          <ngx-search (search)="search($event)"></ngx-search>
        </div>

        <div class="col-lg-1 col-md-1 col-sm-2 col-xs-3 col-3 pl-md-0 pr-md-1 pl-2 pr-1">
          <nb-select class="table-filter-select" [(selected)]="cardsPerPage" (selectedChange)="onChangeLength()">
            <nb-option value="all">{{"All" | translate}}</nb-option>
            <nb-option *ngFor="let option of noOfCardsPerPage" value="{{ option }}">{{ option }}</nb-option>
          </nb-select>
        </div>

        <div class="col-lg-2 col-md-3 col-sm-10 col-xs-9 col-9 pl-md-0 pr-md-0 pl-1 pr-2">
          <nb-select class="table-filter-select" [(selected)]="selectedFilter" placeholder="Filter by Difficulty"
            (selectedChange)="onChangeFilter()" fullWidth>
            <nb-option value="all">{{"All" | translate}}</nb-option>
            <nb-option value="1">Beginner</nb-option>
            <nb-option value="2">Intermediate</nb-option>
            <nb-option value="3">Advanced</nb-option>
          </nb-select>
        </div>
      </div>
    </div>
  </nb-card-header>
  <div class="container cards-container">
    <div class="row mt-4">
      <div class="col-lg-4 col-md-4 pl-md-0 " *ngFor="let journey of journeys">
        <ngx-card [cardData]='journey' [isUnassign]='false' [btn2]="'PROGRESS'"
          (btn2Clicked)="goToPreJourneyProgress(journey)" (unassignClickedEvent)="unassignPrejourney(journey)">
        </ngx-card>
      </div>
    </div>


    <ngx-pagination *ngIf="journeys && journeys.length > 0" [arrayLength]='journeysCount' [maxShown]='cardsPerPage'
      [currentPage]='currentPage' (pageChange)="changePagination($event)"></ngx-pagination>

    <div *ngIf="journeys && journeys.length == 0">
      <ngx-empty-state *ngIf="searchValue === ''" [type]='"data"'>
      </ngx-empty-state>
      <ngx-empty-state *ngIf="searchValue !== ''" [type]='"search"'>
      </ngx-empty-state>
    </div>
  </div>


</nb-card>