<button class="stepper-back" (click)="removeCompletedClicked()" nbStepperPrevious>
  <img src="assets/icons/stepper-back.svg" alt="<">
</button>

<div class="container-fluid p-0">

  <div class="row my-auto justify-content-center">

    <div class="col-12 title-contianer">
      <span class="title">{{'choose_the_premium_plan' | translate}}</span>
    </div>



    <div class="col-12 col-sm-5 p-0 plan-container" *ngFor="let plan of plans; let ind = index"
      [class.mr-sm-3]="ind%2 == 0" (click)="choosePlan(plan)">
      <nb-card>
        <nb-card-header class="text-center">
          <span>{{plan?.name}}</span>
        </nb-card-header>
        <nb-card-body>

          <span class="font-weight-bold">{{'per_' + plan?.interval?.name | translate}}</span>
          <br>
          <span class="money">
            {{plan?.amount}}
            <span>{{plan?.currency | ngxCapitalize}}</span>

          </span>

        </nb-card-body>
        <nb-card-footer class="pt-0">
          <div class="row justify-content-center">
            <div class="col-10 students-container">


              <ng-container *ngFor="let feature of plan?.features">
                <ng-container *ngIf="feature.code == 'students'">
                  <span> {{feature?.value}} </span>
                  {{'students'| translate}}
                </ng-container>
              </ng-container>


            </div>
          </div>

        </nb-card-footer>

      </nb-card>
    </div>

  </div>
</div>