button.stepper-back {
  &:disabled {
    opacity: 0.5;
  }
}
.title-contianer {
  text-align: center;
  margin-top: 96px;
  margin-bottom: 13px;
  .title {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    color: #666666;
  }
}

.plan-container {
  max-width: 195.02px;
  cursor: pointer;
  nb-card {
    height: 208.22px;
    nb-card-header {
      border-bottom: 0;
      background-color: #d3d0d0;
      color: #666666;
      font-size: 18px;
      letter-spacing: 0.129px;
    }

    nb-card-body {
      font-size: 12px;
      color: #666666;
      padding-top: 35px;
      text-align: center;
      letter-spacing: 0.129px;
      background-color: #fcfcfc;
      border-right: 4px solid #fcfcfc;
      border-left: 4px solid #fcfcfc;
      .money {
        color: #1fa100;
        font-size: 23px;
        text-align: center;
        letter-spacing: 0.129px;
      }
    }

    nb-card-footer {
      background-color: #fcfcfc;
      border: 4px solid #fcfcfc;
      border-top: 0;
      .students-container {
        border-top: 1px solid #e0e0e0;
        font-size: 12px;
        padding-top: 12px;
        color: #666666;
        letter-spacing: 0.129px;
        text-align: center;
        font-weight: bold;
        line-height: 12px;
        span {
          color: #1fa100;
          font-size: 18px;
          letter-spacing: 0.129px;
        }
      }
    }
  }

  &:hover {
    nb-card {
      nb-card-header {
        background-color: #21ae00;
        color: white;
      }
      nb-card-body {
        background-color: #d7ffcd;
        border-right: 4px solid #21ae00;
        border-left: 4px solid #21ae00;
      }
      nb-card-footer {
        background-color: #d7ffcd;
        border: 4px solid #21ae00;
        border-top: 0;
        color: white;

        .students-container {
          border-top: 1px solid #21ae00;
        }
      }
    }
  }
}
