<div class="container-fluid">
  <div class="row">
    <nb-tabset fullWidth class="classroom__list col-12 p-0">
      <nb-tab tabTitle="Journeys" active="true">
        <ngx-classroom-journeys [classroom_id]="classroom_id" [teacher_id]="teacher_id"></ngx-classroom-journeys>
        <ngx-classroom-mini-journeys [classroom_id]="classroom_id" [teacher_id]="teacher_id"></ngx-classroom-mini-journeys>
      </nb-tab>
      <nb-tab tabTitle="Projects">
        <ngx-classroom-projects [classroom_id]="classroom_id" [teacher_id]="teacher_id" (likeProject)="toggleLikeProject($event)"></ngx-classroom-projects>
      </nb-tab>
      <nb-tab tabTitle="Students">
        <ngx-classroom-students [classroom_id]="classroom_id" [teacher_id]="teacher_id"></ngx-classroom-students>
      </nb-tab>
    </nb-tabset>
  </div>
</div>