<ngx-container>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-6 col-sm-3 col-xs-5 col-5 pl-0 pr-1">
                <ngx-search (search)="search($event)"></ngx-search>
            </div>
            <div class="col-lg-1 col-md-2 col-sm-2 col-xs-2 col-2 pl-1 pr-1 pr-md-4">
                <nb-select class="table-filter-select" [(selected)]="cardPerPage" (selectedChange)="changePageLimit()">
                    <nb-option *ngFor="let num of noOfCardsPerPage" [value]='num'>{{num}}</nb-option>
                </nb-select>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-4 col-xs-5 col-5 pl-1 pr-0">
                <button type="button" class="btn btn-success text-uppercase" (click)="addClassroom()">
                    <nb-icon icon="plus"></nb-icon> {{"create-classroom" | translate}}
                </button>
            </div>
        </div>
    </div>
    <div *ngIf="dataLoaded">
        <div class="container cards-container" *ngIf="classrooms.length > 0">
            <div class="row mt-5 cards-container--row">
                <div class="col-lg-4 col-md-4 pl-md-0 " *ngFor="let classroom of classrooms">
                    <ngx-card [cardData]='classroom' [isClassroom]="true" [isDelete]='true' [isEdit]='true'
                        (click)="openJourney(classroom.id)" (editClickedEvent)="editClassroom(classroom)"
                        (deleteClickedEvent)="deleteClassroom(classroom.id)">
                    </ngx-card>
                </div>
            </div>
            <ngx-pagination *ngIf="classroomsCount > 0" [arrayLength]='classroomsCount' [maxShown]='cardPerPage'
                [currentPage]="currentPage" (pageChange)="changePagination($event)">
            </ngx-pagination>
        </div>

        <div *ngIf="classrooms && classrooms.length == 0 && searchValue === ''">
            <ngx-empty-state [type]='"data"'>
            </ngx-empty-state>

            <p class="classroom-empty__title--secondary mt-2">Start by creating new classroom</p>

            <button nbButton status="success" (click)="openCreateClassroomModal()" class="mx-auto d-block">
                <nb-icon icon="plus"></nb-icon> {{"create-classroom" | translate}}
            </button>
        </div>

        <ngx-empty-state *ngIf="classrooms && classrooms.length == 0 && searchValue !== ''" [type]='"search"'>
        </ngx-empty-state>

    </div>

</ngx-container>