.card-container {
  @media (min-width: 992px) {
    min-height: calc(100vh - 180px);
    margin-bottom: 0;
  }

  @media (min-width: 768px) and (max-width: 991px) {
    min-height: calc(100vh - 500px);
    margin-bottom: 10px;
  }

  .current-plan {
    font-size: 22px;
    color: #707070;
    line-height: 28px;
    font-weight: bold;
  }

  .plans-container {
    // @media (min-width: 575.89px) {
    //   position: relative;
    //   top: 40%;
    //   transform: translateY(-50%);
    // }

    .plan-container {
      nb-card {
        height: 274.55px;
        width: 214px;

        nb-card-header {
          border-bottom: 0;
          background-color: #d3d0d0;
          color: #666666;
          font-size: 18px;
          letter-spacing: 0.129px;
        }

        nb-card-body {
          font-size: 12px;
          color: #666666;
          padding-top: 35px;
          text-align: center;
          letter-spacing: 0.129px;
          background-color: #fcfcfc;
          border-right: 4px solid #fcfcfc;
          border-left: 4px solid #fcfcfc;

          .money {
            font-size: 24px;
            text-align: center;
            color: #1fa100;
            font-weight: 600;
            letter-spacing: 0.129px;
          }

          .features-container {
            font-size: 12px;
            padding-top: 12px;
            color: #666666;
            letter-spacing: 0.129px;
            text-align: center;
            font-weight: bold;
            line-height: 12px;

            span {
              color: #1fa100;
              font-size: 18px;
              letter-spacing: 0.129px;
              margin-right: 16px;
            }
          }
        }

        nb-card-footer {
          background-color: #fcfcfc;
          border: 4px solid #fcfcfc;
          border-top: 0;
        }
      }

      &:hover,
      &.active {
        nb-card {
          nb-card-header {
            background-color: #21ae00;
            color: white;
          }

          nb-card-body {
            background-color: #d7ffcd;
            border-right: 4px solid #21ae00;
            border-left: 4px solid #21ae00;
          }

          nb-card-footer {
            background-color: #d7ffcd;
            border: 4px solid #21ae00;
            border-top: 0;
            color: white;

            .students-container {
              border-top: 1px solid #21ae00;
            }
          }
        }
      }

      &.disabled {
        opacity: 50%;
        filter: grayscale(100%);

        &:hover {
          cursor: not-allowed;
          border: none;

          nb-card {
            nb-card-header {
              border: none;
              background-color: #d3d0d0;
              color: #666666;
            }

            nb-card-body {
              border: none;
              background-color: #fcfcfc;
            }

            nb-card-footer {
              border: none;
              background-color: #fcfcfc;
            }
          }
        }
      }
    }
  }

  &.students-container {
    nb-card-body {
      span {
        font-size: 22px;
        font-weight: bold;
        letter-spacing: 1.29px;
        line-height: 28px;
        color: #707070;
        text-align: center;

        &.red {
          color: red;
        }
      }

      p {
        margin-top: 42px;
        font-size: 22px;
        font-weight: 500;
        letter-spacing: 1.29px;
        line-height: 28px;
        color: #000000;
        opacity: 58%;
      }
    }

    @media (max-width: 991.89px) {
      max-height: 423.77px;
    }
  }

  .btn-green {
    background-color: #1fa100;
    color: white;
    width: 100%;
    padding: 0.719rem;
    border-radius: 4px;
    font-size: 16px;
    letter-spacing: 1px;
    text-transform: uppercase;
    line-height: 21px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    border: 1px solid #21ae00;

    &.active {
      background-color: #d7ffcd;
      color: #21ae00;
    }

    &:disabled {
      background-color: rgba(143, 155, 179, 0.24);
      border-color: transparent;
      color: rgba(143, 155, 179, 0.48);
    }
  }
}
