<div class="container-fluid mt-4" *ngIf="numberOfStudents != undefined  && maxNumberOfStudents != undefined  && plans">
  <div class="row">

    <!-- SECTION  Plans -->
    <nb-card class="col-lg-7 col-12 card-container">
      <nb-card-body class="row d-flex justify-content-center ">


        <div class="col-12 text-center mt-1 mb-2">
          <span class="current-plan">{{'your-current-plan'| translate}}</span>
        </div>
        <div class="row justify-content-center plans-container m-0">

          <div class="col-auto p-0 plan-container mr-3 mt-md-0 mt-2" *ngFor="let plan of plans; let ind = index"
            [class.active]="plan.subscribed" [class.disabled]="!plan.subscribed && !plan.canUpgrade">
            <nb-card>
              <nb-card-header class="text-center">
                <nb-icon icon="checkmark-circle-2" *ngIf="plan.subscribed" class="text-white float-left"></nb-icon>

                <span>{{plan?.name}}</span>
              </nb-card-header>
              <nb-card-body>

                <div class="mb-2">
                  {{'per_' + plan?.interval?.name | translate}}
                </div>

                <span class="money">
                  {{plan?.amount}}
                  <span>{{plan?.currency | ngxCapitalize}}</span>

                </span>


                <div class="row justify-content-center">
                  <div class="col-10 features-container">
                    <ng-container *ngFor="let feature of plan?.features">
                      <ng-container *ngIf="feature.code == 'students'">
                        <span> {{feature?.value}}
                        </span>
                        {{'students'| translate | ngxCapitalize}}
                      </ng-container>

                    </ng-container>

                  </div>
                </div>

              </nb-card-body>
              <nb-card-footer class="pt-0">

                <button *ngIf="!plan.subscribed && plan.canUpgrade" nb-button class="btn-green"
                  (click)="choosePlan(plan)">
                  {{'upgrade'| translate}}
                </button>

                <button *ngIf="!plan.subscribed && !plan.canUpgrade" nb-button class="btn-green active disabled">
                  {{'unavailable'| translate}}
                </button>

                <button *ngIf="plan.subscribed" nb-button class="btn-green active">
                  {{'selected' | translate}}
                </button>

              </nb-card-footer>

            </nb-card>
          </div>
        </div>



      </nb-card-body>
    </nb-card>





    <!-- SECTION Students -->

    <div class="col-lg-5 col-12 px-lg-3 px-0">
      <nb-card class=" card-container students-container">
        <nb-card-body>
          <div class="text-center mt-1">
            <span [class.red]=" numberOfStudents == maxNumberOfStudents">{{numberOfStudents}}/{{maxNumberOfStudents}}
              {{'students' | translate}}</span>
          </div>
          <p>{{'choose-number-of-addit' | translate}}:</p>

          <input [disabled]="numberOfStudents != maxNumberOfStudents" [(ngModel)]="addedStudents" type="number" min="1"
            nbInput fullWidth>
        </nb-card-body>

        <nb-card-footer>
          <span>{{'summary' | translate}}</span>
          <div class="row">
            <div class="col-8">
              <span>{{addedStudents}} {{'additional-students' | translate}}</span>
            </div>
            <div class="col-4">
              <span *ngIf="pricePerStudent && addedStudents"> $ {{addedStudents * pricePerStudent}}</span>
            </div>
          </div>


          <button [disabled]="numberOfStudents != maxNumberOfStudents" (click)="purchaseStudents()" class="btn-green"
            nb-button>
            {{'checkout' | translate}}
          </button>

        </nb-card-footer>
      </nb-card>

    </div>


  </div>
</div>