<nb-card class="h-100 mb-0" *ngIf="status !=null">
  <nb-card-header>
    <div class="row justify-content-between px-3">
      <span>{{projectName}}</span>
      <a href="javascript:;" (click)="toggleTutorial()">
        <nb-icon icon="collapse-outline" [options]="{ animation: { type: 'zoom' }}"></nb-icon>
      </a>
    </div>
  </nb-card-header>

  <nb-card-body id='tut-container' [innerHTML]="htmlString" class="text-left">
  </nb-card-body>
  <nb-card-footer>

    <div class="row justify-content-center">
      <button *ngIf="activepage > 0" nbButton outline status="primary" class="px-3 mr-2"
        (click)="changePage(-1)">{{'previous' | translate}}</button>

      <button *ngIf="activepage != totalPages-1" nbButton status="primary" class="px-4 ml-2"
        (click)="changePage(1)">{{'next' | translate}}</button>

      <button *ngIf="activepage == totalPages-1" nbButton status="primary" class="px-4 ml-2"
        (click)="toggleTutorial()">{{'finish' | translate}}</button>
    </div>

    <div class="row justify-content-center">
      <div (click)="goToPage(ind)" class="dots" [class.active]="activepage == ind" *ngFor="let pages of pagesArray;let ind = index"></div>
    </div>
  </nb-card-footer>
</nb-card>