.tutorial-container {
  height: 100%;
  background-color: #f3f3f3;
  border-radius: 4px;
  padding-top: 20px;
}
nb-card-header,
nb-card-body {
  border-bottom: 1px solid #7070706b;
}

.body-title {
  font-size: 24px;
  color: #1fa100;
}

.dots {
  cursor: pointer;
  width: 9px;
  height: 9px;
  background-color: #d6dade;
  border: 2px solid #d6dade;
  border-radius: 4px;
  margin: 15px;
}

.dots.active {
  background-color: #ffc000;
  border: 2px solid #ffa200;
}
