<div class="sidebar-row-container">
  <div class="logo-container justify-content-between" (click)="navigateHome()">
    <div class="text">
      <a class="logo text-uppercase" href="#" *ngIf="!isOrg">CODINGVILLE.CA</a>
      <a class="logo logo-txt text-uppercase" href="#" *ngIf="isOrg">codeg.o.a.t.</a>
    </div>
    <div class="flag">
      <img src="assets/icons/canada-tree.svg" alt="" *ngIf="!isOrg">
      <img class="codegoat-logo-img" src="assets/icons/codegoat-sidebar-icon.svg" alt="" *ngIf="isOrg">
    </div>
  </div>
</div>
<div class="sidebar-row-container">
  <div class="menu-title">
    <p>Menu</p>
    <a (click)="toggleSidebar()" href="#" class="sidebar-toggle">
      <nb-icon icon="menu"></nb-icon>
    </a>
  </div>
  <!-- <nb-select [selected]="currentTheme" (selectedChange)="changeTheme($event)" status="primary">
    <nb-option *ngFor="let theme of themes" [value]="theme.value"> {{ theme.name }}</nb-option>
  </nb-select> -->
</div>