@import '~bootstrap/scss/mixins/breakpoints';
@import '~@nebular/theme/styles/global/breakpoints';
@import '../../../styles/themes';

@include nb-install-component() {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 -1.25rem;

  @media (max-width: 575px) {
    display: none;
  }

  .sidebar-row-container {
    .logo-container {
      background-color: nb-theme(sidebar-logo-background);
      padding: 10px 15px 10px 35px;
      width: 100%;
      align-items: center;

      .text {
        .logo {
          font-family: 'Bungee', cursive;
          padding: 0;
          color: #fcfcfc;
          border: none;
          font-size: 16px;

          &.logo-txt {
            font-size: 19px;
          }
        }

        .copyrights {
          font-size: 5px;
          font-weight: 600;
          letter-spacing: 1px;
          text-transform: uppercase;
          margin: 0;
          color: #fff;
          opacity: 0.6;
          line-height: 10px;
        }
      }

      .codegoat-logo-img {
        width: 38px;
        margin-right: 11px;
        filter: grayscale(100%);

        img {
          width: 100%;
          vertical-align: baseline;
        }
      }

      .flag {
        width: 34px;

        img {
          width: 100%;
          vertical-align: baseline;
        }
      }
    }

    .menu-title {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      padding: nb-theme(menu-blocks-padding);
      border-bottom: 1px solid nb-theme(sidebar-menu-color);
      background-color: nb-theme(sidebar-background);

      p {
        color: nb-theme(sidebar-menu-color);
        font-weight: 500;
        font-size: 20px;
        margin: 0;
      }

      .sidebar-toggle {
        color: nb-theme(sidebar-menu-icon-color);
      }
    }
  }

  .logo-container {
    display: flex;
    align-items: center;
    width: calc(#{nb-theme(sidebar-width)} - #{nb-theme(header-padding)});
  }

  nb-action {
    height: auto;
    display: flex;
    align-content: center;
  }

  nb-user {
    cursor: pointer;
  }

  ::ng-deep nb-search button {
    padding: 0 !important;
  }

  .sidebar-row-container {
    display: flex;
    align-items: center;
    width: auto;

    .sidebar-toggle {
      @include nb-ltr(padding-right, 1.25rem);
      @include nb-rtl(padding-left, 1.25rem);
      text-decoration: none;
      color: nb-theme(text-hint-color);

      nb-icon {
        font-size: 1.75rem;
      }
    }

    .logo {
      padding: 0 1.25rem;
      font-size: 1.75rem;
      @include nb-ltr(border-left, 1px solid nb-theme(divider-color));
      @include nb-rtl(border-right, 1px solid nb-theme(divider-color));
      white-space: nowrap;
      text-decoration: none;
    }
  }

  .direction-switcher {
    @include nb-ltr(margin-left, 2rem);
    @include nb-rtl(margin-right, 2rem);
  }

  @include media-breakpoint-down(sm) {
    .control-item {
      display: none;
    }

    .user-action {
      border: none;
      padding: 0;
    }
  }

  @include media-breakpoint-down(is) {

    nb-select,
    .direction-switcher {
      display: none;
    }
  }

  nb-sidebar.compacted {
    .menu-title {
      p {
        display: none;
      }
    }
  }
}
