iframe {
  width: 600px;
  max-height: 70vh;
  min-height: 44vh;
}

::ng-deep nb-card.saving-modal {
  nb-card-header {
    background-color: #151a30;
    color: #fff;
    border-radius: 0 0 6px 6px;

    nb-icon {
      background-color: #2b2b2b;
      padding: 3px;
    }

    .cursor-pointer {
      cursor: pointer;
    }
  }
}
