<nb-card class="saving-modal">
    <nb-card-header>
        {{'survey' | translate}}
        <nb-icon icon="close-outline" class="float-right cursor-pointer" (click)='close()'></nb-icon>
    </nb-card-header>

    <nb-card-body class="px-5 pb-0">
        <iframe #iframe srcdoc="" frameborder="0">
        </iframe>
    </nb-card-body>

    <nb-card-footer>
        <div class="float-right">
            <button nbButton class="btn" status="success"  (click)='close()'>
                {{'finish' | translate | uppercase}}
            </button>
        </div>
    </nb-card-footer>
</nb-card>