@import '../../../../../@theme/styles/themes.scss';

@include nb-install-component() {
  .training-missions-wrapper {
    .training-missions-cards {
      background-color: nb-theme(background-basic-color-4);
      min-height: calc(100vh - 95px);

      .cards-container {
        padding: 0 81px 0 90px;
      }

      .mission {
        &:nth-child(3n+2) {
          @media (min-width: 768px) {
            padding: 0 20px;
          }
        }

        &:nth-child(odd) {
          @media (min-width: 576px) and (max-width: 767.98px) {
            padding-right: 10px;
          }
        }

        &:nth-child(even) {
          @media (min-width: 576px) and (max-width: 767.98px) {
            padding-left: 11px;
          }
        }
      }

      /* Extra Small Screen */
      @media only screen and (max-width: 767px) {
        .cards-container {
          padding: 0 25px;
        }
      }
    }
  }

  .name {
    font-size: 32px;
    font-weight: 600;
    color: #707070;
    margin-bottom: 35px;
  }
}
