<div class="training-missions-wrapper mt-4">

  <div class="training-missions-cards py-3">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <p class="name mt-2 ml-2">
            {{adventureName}}
          </p>
        </div>
      </div>
    </div>
    <div class="container cards-container">
      <div class="row no-gutters">
        <div class="col-xs-12 col-sm-6 mission col-lg-4 col-md-6" *ngFor="let mission of missions">
          <ngx-mission-card [missionData]="mission" (click)="goToMission(mission)"></ngx-mission-card>
        </div>
      </div>
    </div>
  </div>
</div>