<nb-card>
  <nb-card-header>
    <span>{{ modalTitle }}</span>
    <nb-icon icon="close-outline" class="float-right" (click)="close()"></nb-icon>
  </nb-card-header>
  <nb-card-body>
    <ngx-student-modal-cards [modalType]="modalType" (statusChanged)="changeStatus($event)"
      *ngIf="modalStatus === 'cards'" [shareCode]="shareCode"></ngx-student-modal-cards>
    <ngx-student-modal-csv (studentsUpdated)="studentsUpdated()" [classroom_id]="classroom_id" [modalType]="modalType"
      (statusChanged)="changeStatus($event)" *ngIf="modalStatus === 'csv'" (closeModal)="close()">
    </ngx-student-modal-csv>
    <ngx-student-modal-add (studentsUpdated)="studentsUpdated()" [modalData]="modalData" [modalType]="modalType"
      [classroom_id]="classroom_id" (statusChanged)="changeStatus($event)"
      *ngIf="modalStatus === 'add' || modalStatus === 'edit'" (closeModal)="close()"></ngx-student-modal-add>
  </nb-card-body>
</nb-card>