@import '../../../../../../@theme/styles/themes';

@include nb-install-component() {

  :host {
    max-height: 90vh;
  }

  nb-card {
    max-width: 100% !important;
    border-radius: 8px;
    background-color: #fcfcfc;
    margin-bottom: 0;
    max-height: 90vh;
    min-width: 40vw;

    nb-card-header {
      padding: 20px 40px;
      align-items: center;
      display: flex;
      justify-content: space-between;
      border-radius: 8px;
      background-color: #151a30;
      color: #fff;

      span {
        line-height: 32px;
        font-size: 24px;
        font-weight: 500;
      }

      nb-icon {
        width: 36px;
        height: 36px;
        cursor: pointer;
        background-color: #222b45;
        border-radius: 5px;
      }
    }

    nb-card-body {
      padding: 30px;
      width: 800px;
      max-width: 100%;

      @media (max-width: 767px) {
        max-width: 575px;
      }

      @media (max-width: 575px) {
        width: 320px;
      }
    }

  }


  /* Small Screen */
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    nb-card {
      max-width: 630px;

      nb-card-body {
        padding: 55px 25px;
      }
    }
  }


  /* Extra Small Screen */
  @media only screen and (max-width: 767px) {
    nb-card {
      max-width: 284px;
      max-height: auto;

      nb-card-header {
        padding: 12px 20px;
        height: 48px;

        span {
          line-height: 17px;
          font-size: 14px;
        }

        nb-icon {
          width: 20px;
          height: 20px;
        }
      }

      nb-card-body {
        padding: 7px 0;

        .form-group {
          margin-right: 0;
          margin-bottom: 1rem;
          float: left;
        }

        .dialog-input,
        nb-select {
          height: 33px;
          width: 153px;
        }

        .edit-img--icon {
          width: 1em;
          height: 1em;
          right: 20px;
          top: 5px;
          border-radius: 5px;
        }

      }

      nb-card-footer {
        button {
          font-size: 12px;
        }
      }
    }
  }
}
