@import '../../../../@theme/styles/themes.scss';

@include nb-install-component() {

  .header-container {
    margin-bottom: 24px;

    .main-title {
      font-size: 31px;
      color: nb-theme(card-header-text-color);
      font-weight: bold;
      margin-bottom: 0;
      line-height: 39px;
    }

    .sub-title {
      font-size: 22px;
      color: #666666;
      font-weight: 400;
      margin-bottom: 0;

    }
  }

  .auth-card-container {
    background-color: #f3f3f3;
    border: 3px solid #e4e4e4;
    width: 100%;
    padding: 40px 100px 60px;
    margin: 0 82px;
    margin-top: 30px;

    ::ng-deep nb-stepper {
      .header {
        margin: 0 42%;

        .step {
          margin: 0;
        }

        .connector {
          background-color: #e0e0e0;
          margin: 1rem 0.7rem;
        }

        .label-index {
          background-color: #fff;
          font-weight: bold;
          color: #e0e0e0;
          border: 1px solid #e0e0e0;
        }

        .step.selected .label-index {
          font-weight: bold;
          border-color: #108a00;
          color: #108a00;
          background-color: transparent;
        }

        .step.completed .label-index {
          background-color: #1fa100;
          border-color: #1fa100;
          color: #ffffff;
        }

        .connector-past {
          background-color: #1fa100;
        }

        @media only screen and (min-width: 992px) and (max-width: 1200px) {
          margin: 0 35%;
        }

        @media only screen and (max-width: 991px) {
          margin: 0 27%;
        }
      }
    }

    .title {
      font-size: 27px;
      font-weight: bold;
      line-height: 33px;
      margin-bottom: 0;
      text-align: center;
      color: nb-theme(card-text-color);
    }

    .cards-container {
      justify-content: center;
      margin-top: 30px;
    }

    .sub-title {
      font-size: 14px;
      color: nb-theme(card-text-color);
      text-align: center;
    }

    .yes-card {

      &:hover,
      &.active {
        background-color: #d7ffcd;
        border-color: nb-theme(color-primary-500);
      }
    }

    .no-card {

      &:hover,
      &.active {
        background-color: #ffddcd;
        border-color: nb-theme(color-danger-500);
      }
    }

    .role-card {
      text-align: center;
      padding: 15px 5px 0;
      height: 240px;
      background-color: #fff;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      box-shadow: nb-theme(shadow);
      border: 4px solid transparent;
      width: 225px;
      cursor: pointer;
      margin-bottom: 0;
      transition: all 0.2s linear;

      .yes-no-img {
        max-width: 100%;
        max-height: 100%;
      }

      @media only screen and (max-width: 991px) {
        width: auto;
      }

      @media (max-width: 450px) {
        height: 180px;
      }
    }

    @media only screen and (max-width: 991px) {
      margin: 0 5px;
    }

    @media (max-width: 575px) {
      padding: 25px 0;
    }
  }
}
