<div class="container">
    <div class="row">
        <div class="header-container w-100">
            <p class="main-title text-center">
                {{'help-make-easier' | translate}}
            </p>
            <p class="sub-title text-center">
                {{'answer-before-start' | translate}}
            </p>
        </div>
    </div>
    <div class="row">
        <div class="auth-card-container">
            <nb-stepper #stepper disableStepNavigation="true">
                <nb-step [stepControl]="roleForm" #step1 [label]="step_one_label">
                    <div class="row">
                        <div class="col-12">
                            <p class="title">
                                <span *ngIf='!isOrg'>
                                    {{'do-have-experience-ca' | translate}}
                                </span>

                                <span *ngIf='isOrg'>
                                    {{'do-have-experience-org' | translate}}
                                </span>
                            </p>
                        </div>
                        <div class="col-12">
                            <div class="container ">
                                <div class="row cards-container">
                                    <div class="col-6">
                                        <nb-card class="role-card yes-card float-right" (click)="hasExperience()">
                                            <nb-card-body class="d-flex justify-content-center align-items-center">
                                                <img class="yes-no-img" src="assets/images/card-yes.svg" alt="Yes">
                                            </nb-card-body>
                                        </nb-card>
                                    </div>
                                    <div class="col-6">
                                        <nb-card class="role-card no-card mr-auto" (click)="noExperience()">
                                            <nb-card-body class="d-flex justify-content-center align-items-center">
                                                <img class="yes-no-img" src="assets/images/card-no.svg" alt="No">
                                            </nb-card-body>
                                        </nb-card>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>
                </nb-step>

                <nb-step [stepControl]="roleForm" #step1 [label]="step_one_label">
                    <div class="row">
                        <div class="col-12">
                            <p class="title">

                                <span *ngIf='!isOrg'>
                                    {{'do-like-start-training-ca' | translate}}
                                </span>
                                <span *ngIf='isOrg'>
                                    {{'do-like-start-training-org' | translate}}
                                </span>
                            </p>
                            <p class="sub-title">
                                <span *ngIf='!isOrg'>
                                    {{'codingville-training-desc-ca' | translate}}
                                </span>

                                <span *ngIf='isOrg'>
                                    {{'codingville-training-desc-org' | translate}}
                                </span>
                            </p>
                        </div>

                        <div class="col-12">
                            <div class="container ">
                                <div class="row cards-container">
                                    <div class="col-6">
                                        <nb-card class="role-card yes-card float-right" (click)="goToTraining()">
                                            <nb-card-body class="d-flex justify-content-center align-items-center">
                                                <img class="yes-no-img" src="assets/images/card-yes.svg" alt="Yes">
                                            </nb-card-body>
                                        </nb-card>
                                    </div>
                                    <div class="col-6">
                                        <nb-card class="role-card no-card mr-auto" (click)="goToClassroom()">
                                            <nb-card-body class="d-flex justify-content-center align-items-center">
                                                <img class="yes-no-img" src="assets/images/card-no.svg" alt="No">
                                            </nb-card-body>
                                        </nb-card>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>


                </nb-step>
            </nb-stepper>
        </div>

    </div>
</div>