@import '../../../../@theme/styles/themes.scss';


@include nb-install-component() {

  .empty__title {
    font-size: 23px;
    line-height: 29px;
    color: rgba(53, 54, 52, 0.33);
    margin-bottom: 17px;
    font-weight: bold;
    filter: grayscale(100%);
  }

  .empty__title--secondary {
    color: #353634;
    font-size: 23px;
    line-height: 29px;
    margin-top: 30px;
    margin-bottom: 12px;
    filter: grayscale(100%);
  }

  img {
    filter: grayscale(100%);
  }

  .empty-search__title {
    font-size: 31px;
    color: rgba(53, 54, 52, 0.33);
    font-weight: bold;
    filter: grayscale(100%);
  }

  .btn-primary {
    background-color: nb-theme(color-primary-500);
    border-color: nb-theme(color-primary-500);
    font-weight: 700;
    font-size: 18px;
    padding: 5px 15px;
  }

}
