<div class="container">
    <div class="row mt-5">
        <div class="mx-auto d-block" *ngIf="type === 'data'">
            <p class="text-center empty__title">{{"empty-state-txt" | translate}}</p>
            <img class="mx-auto d-block img-fluid" *ngIf="!isOrg" src="assets/images/empty-state.svg">
            <img class="mx-auto d-block img-fluid" *ngIf="isOrg" src="assets/images/org-empty-state.svg">
        </div>

        <div class="mx-auto d-block" *ngIf="type === 'search'">
            <p class="text-center empty-search__title">{{"Oops" | translate}}</p>
            <p class="text-center empty__title">{{"search-empty-state" | translate}}</p>
            <img class="mx-auto d-block img-fluid" *ngIf="!isOrg" src="assets/images/no-search-result.svg">
            <img class="mx-auto d-block img-fluid" *ngIf="isOrg" src="assets/images/org-empty-state.svg">
        </div>

        <div class="mx-auto d-block" *ngIf="type === 'activate'">
            <p class="text-center empty__title">{{"plz-check-mail-to-activate" | translate}}</p>

            <img class="mx-auto d-block img-fluid" *ngIf="!isOrg" src="assets/images/empty-state.svg">
            <img class="mx-auto d-block img-fluid" *ngIf="isOrg" src="assets/images/org-empty-state.svg">

            <div class="text-center pb-3 pt-5">
                <button type="button" class="btn btn-primary" (click)="onClickResend()">
                    <nb-icon icon="refresh"></nb-icon> {{"resend-activation-mail" | translate }}
                </button>
            </div>
        </div>
    </div>
</div>