@import '../../../../../../../@theme/styles/themes';

@include nb-install-component() {

  .add-single-container {
    .error-msg {
      color: nb-theme(color-danger-700);
      padding-left: 15px;
      margin-top: 5px;
      display: block;
    }

    .form-group {
      input {
        padding: 15px;
        height: auto;
        background-color: #f3f3f3;
        border: none;
      }

      ::ng-deep nb-select {
        max-width: none;

        button {
          border: none;
          background-color: #f3f3f3;
          padding: 15px !important;
        }
      }

      .retype-password-msg {
        padding-left: 15px;
        margin-top: 5px;
        display: block;

        &.red {
          color: nb-theme(color-danger-700);
        }

        &.green {
          color: nb-theme(color-success-700);
        }
      }
    }

    .buttons {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      padding-top: 15px;

      .btn {
        padding: 5px 20px;
        font-size: 15px;
        font-weight: 600;
        outline: none;
        margin-left: 15px;

        &.btn-primary {
          background-color: #1fa100;
          border-color: #1fa100;
          color: #fff;
        }

        &.btn-back {
          background-color: transparent;
          border-color: transparent;
          color: #000;
        }
      }
    }
  }
}
