<div class="col-12 add-single-container">
  <div class="row">
    <!--ADD FORM-->
    <form class="col-12" *ngIf="modalType === 'add'" [formGroup]="addStudentForm">
      <div class="form-group">
        <input type="text" class="form-control" id="form-name-input" formControlName="add_name" placeholder="Fullname">
        <div *ngIf="add_name.invalid && (add_name.dirty || add_name.touched)">
          <span *ngIf="add_name.errors.required" class="error-msg">{{'fullname-required-msg' |  translate}}</span>
          <span *ngIf="add_name.errors.pattern && !add_name.errors.minlength"
            class="error-msg">{{'fullname-pattern-msg' | translate}}</span>
          <span *ngIf="add_name.errors.minlength" class="error-msg">{{'fullname-minlength-msg' | translate}}</span>
        </div>
      </div>
      <div class="form-group">
        <input type="text" class="form-control" id="form-username-input" formControlName="add_username"
          placeholder="Username">
        <div *ngIf="add_username.invalid && (add_username.dirty || add_username.touched)">
          <span *ngIf="add_username.errors.required" class="error-msg">{{'nickname-required-msg' |  translate}}</span>
          <span *ngIf="add_username.errors.pattern" class="error-msg">{{'nickname-pattern-msg' | translate}}</span>
          <span *ngIf="add_username.errors.minlength" class="error-msg">{{'nickname-minlength-msg' | translate}}</span>
        </div>
      </div>
      <div class="form-group">
        <input type="password" class="form-control" id="form-password-input" formControlName="add_password"
          (keyup)="validateAddRetype()" placeholder="Password">
        <div *ngIf="add_password.invalid && (add_password.dirty || add_password.touched)">
          <span *ngIf="add_password.errors.required" class="error-msg">{{'password-required-msg' |  translate}}</span>
          <span *ngIf="add_password.errors.minlength" class="error-msg">{{'password-minlength-msg' | translate}}</span>
          <span *ngIf="add_password.errors.maxlength" class="error-msg">{{'password-maxlength-msg' | translate}}</span>
        </div>
      </div>
      <div class="form-group">
        <input type="password" class="form-control" id="form-repassword-input" formControlName="add_repeat_password"
          (keyup)="validateAddRetype()" placeholder="Retype Password">
        <div *ngIf="add_repeat_password.invalid && (add_repeat_password.dirty || add_repeat_password.touched)">
          <span *ngIf="add_repeat_password.errors.required"
            class="error-msg">{{'field-required-msg' | translate}}</span>
        </div>
        <span [ngClass]="{'red': !passwordsMatch, 'green': passwordsMatch}"
          class="retype-password-msg">{{ retypePasswordMsg_add }}.</span>
      </div>
    </form>
    <!--EDIT FORM-->
    <form class="col-12" *ngIf="modalType === 'edit'" [formGroup]="editStudentForm">
      <div class="form-group">
        <input type="text" class="form-control" id="form-edit-username-input" formControlName="edit_username"
          placeholder="Nickname">
        <div *ngIf="edit_username.invalid && (edit_username.dirty || edit_username.touched)">
          <span *ngIf="edit_username.errors.required" class="error-msg">{{'nickname-required-msg' |  translate}}</span>
          <span *ngIf="edit_username.errors.pattern" class="error-msg">{{"nickname-pattern-msg" | translate}}</span>
          <span *ngIf="edit_username.errors.minlength" class="error-msg">{{'nickname-minlength-msg' | translate}}</span>
        </div>
      </div>
      <label>{{'change-password' | translate}}</label>
      <div class="form-group">
        <input type="password" class="form-control" id="form-edit-password-input" formControlName="edit_password"
          (keyup)="validateEditRetype()" placeholder="Password">
        <div *ngIf="edit_password.invalid && (edit_password.dirty || edit_password.touched)">
          <span *ngIf="edit_password.errors.minlength" class="error-msg">{{'password-minlength-msg' | translate}}</span>
          <span *ngIf="edit_password.errors.maxlength" class="error-msg">{{'password-maxlength-msg' | translate}}</span>
        </div>
      </div>
      <div class="form-group">
        <input type="password" class="form-control" id="form-edit-repassword-input"
          formControlName="edit_repeat_password" (keyup)="validateEditRetype()" placeholder="Retype Password">
        <span [ngClass]="{'red': !passwordsMatch, 'green': passwordsMatch}"
          class="retype-password-msg">{{ retypePasswordMsg_edit }}</span>
      </div>
      <label>{{'switch-classroom' | translate}}</label>
      <div class="form-group">
        <nb-select *ngIf="classrooms" class="table-filter-select" id="form-classroom-select"
          (selectedChange)="switchClassroom()" placeholder="Choose Classroom" [(selected)]="selectedClassroom">
          <nb-option *ngFor="let classroom of classrooms" [value]="classroom.id">{{ classroom.name }}</nb-option>
        </nb-select>
      </div>
    </form>
  </div>
  <div class="row">
    <span class="error-msg">{{'enter-unique-username' | translate}}</span>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="buttons">
        <button type="button" class="btn btn-back text-uppercase" *ngIf="modalType === 'add'"
          (click)="changeStatus('cards')">{{'back' | translate}}</button>
        <button [disabled]="loading || addStudentForm.invalid || !passwordsMatch" type="button" id="add-btn"
          class="btn btn-primary text-uppercase" *ngIf="modalType === 'add'" (click)="submitAddStudent()">
          <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
          {{'add' | translate}}
        </button>
        <button type="button" class="btn btn-back" *ngIf="modalType === 'edit'" id="cancel-btn"
          (click)="close()">{{'cancel' | translate}}</button>
        <button [disabled]="loading || editStudentForm.invalid || (edit_password.value && !passwordsMatch)"
          type="button" class="btn btn-primary text-uppercase" *ngIf="modalType === 'edit'" id="save-btn"
          (click)="submitEditStudent()">
          <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
          {{'save' | translate}}
        </button>
      </div>
    </div>
  </div>
</div>