<div class="auth-card-container">
  <div class="col-12">
    <div class="row">
      <div class="col-12">
        <h3 class="title text-uppercase">{{"login" | translate}}</h3>
      </div>
      <div class="col-12">
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <input type="text" formControlName="username" class="form-control" (keyup)='removeError()'
              [ngClass]="{ 'is-invalid': submitted && f.username.errors }" placeholder="Email/Username" />
            <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
              <div *ngIf="f.username.errors.required">{{'username-required-msg' | translate}}</div>
            </div>
          </div>
          <div class="form-group">
            <input type="password" formControlName="password" class="form-control" (keyup)='removeError()'
              [ngClass]="{ 'is-invalid': submitted && f.password.errors }" placeholder="Password" />
            <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
              <div *ngIf="f.password.errors.required">{{'password-required-msg' | translate}}</div>
            </div>
          </div>
          <div class="bottom-row">
            <div class="custom-control custom-checkbox">
              <input type="checkbox" class="custom-control-input" name="remember" id="rememberMe">
              <label class="custom-control-label" for="rememberMe">{{'remember-me' | translate}}</label>
            </div>
            <a routerLink="/auth/reset-password/email" class="forget-password">{{'forget-password' | translate}}</a>
          </div>
          <button [disabled]="loading || loginForm.invalid" class="btn btn-primary login-btn">
            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
            {{"login" | translate}}
          </button>
          <div *ngIf="error" class="error mt-3 mb-0">{{error}}</div>
        </form>
      </div>
    </div>
  </div>
</div>
<div class="auth-other-option">
  <p>{{'have-account-?' | translate}} <a routerLink="auth/register">{{'join-us' | translate}}</a></p>
</div>