<button class="stepper-back" (click)="removeCompletedClicked()" nbStepperPrevious>
  <img src="assets/icons/stepper-back.svg" alt="<">
</button>
<div class="step-container thankyou-step">
  <div class="col-12">
    <div class="thankyou-img">
      <img src="assets/images/register-thank-you.svg" alt="">
    </div>
    <h6 class="text-center">You have successfully created your account</h6>
    <p class="text-center" *ngIf="userType === 'youngStudent'">Tell your parent to check their email "{{ userEmail }}" and click the confirm button</p>
    <p class="text-center" *ngIf="userType === 'oldStudent'">Check your email "{{ userEmail }}" and click the confirm button</p>
    <p class="text-center" *ngIf="userType === 'teacher'">Check your email "{{ userEmail }}" and click the confirm button</p>
  </div>
</div>