<div class="container">
    <div class="row">
        <div class="header-container w-100">
            <p class="main-title text-center">
                {{"let-started" | translate}}
            </p>
            <p class="sub-title text-center">
                {{"on-boarding-learn-more" | translate}}
            </p>
        </div>
    </div>
    <div class="row">
        <div class="video-container w-100">
            <video controls>
                <source src="https://robogarden-new.s3-us-west-2.amazonaws.com/coding+ville/CodingVille_2.mp4"
                    type="video/mp4">
                <source src="https://robogarden-new.s3-us-west-2.amazonaws.com/coding+ville/CodingVille_2.mp4"
                    type="video/ogg">
                Your browser does not support HTML5 video.
            </video>
        </div>
    </div>

    <div class="row footer-container">
        <button class="btn btn-outline-success text-uppercase"
            routerLink="/student/journey">{{"get-started" | translate}}</button>
    </div>
</div>