@import '../../../../@theme/styles/themes.scss';

@include nb-install-component() {

  .header-container {
    margin-bottom: 24px;

    .main-title {
      font-size: 31px;
      color: nb-theme(card-header-text-color);
      font-weight: bold;
      margin-bottom: 0;
      line-height: 39px;
    }

    .sub-title {
      font-size: 22px;
      color: #666666;
      font-weight: 400;
      margin-bottom: 0;

    }
  }

  .video-container {
    margin-bottom: 24px;

    video {
      width: 100%;
      height: calc(100vh - 263px);
    }
  }

  .footer-container {
    justify-content: flex-end;

    button {
      padding: 15px 70px;
      font-size: 18px;
      font-weight: bold;
      letter-spacing: 1px;
      color: nb-theme(card-header-text-color);

      &:hover {
        background-color: #fff;
      }
    }
  }
}
