<ngx-container>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-11 col-md-10 col-sm-9 col-xs-9 col-9 pl-0 pr-1">
                <ngx-search (search)="search($event)"></ngx-search>
            </div>

            <div class="col-lg-1 col-md-2 col-sm-3 col-xs-3 col-3 pl-1 pr-0">
                <nb-select class="table-filter-select" [(selected)]="cardPerPage" (selectedChange)="changePageLimit()">
                    <nb-option *ngFor="let num of noOfCardsPerPage" [value]='num'>{{num}}</nb-option>
                </nb-select>
            </div>
        </div>
    </div>


    <div class="container cards-container pr-0" *ngIf="preJourneysLoaded">
        <div class="row mt-4 mx-lg-4 ml-md-1">
            <div class="col-lg-4 col-md-4 pl-md-0" *ngFor="let journey of preJourneys">
                <ngx-flip-card [cardData]='journey' (assign)="openAssignPreJourney($event)"
                    (tryClicked)='openPreJourneyMissions(journey)'></ngx-flip-card>
            </div>
        </div>

        <ngx-pagination *ngIf="preJourneys.length != 0 " [arrayLength]="preJourneyCount" [maxShown]="cardPerPage"
            [currentPage]="currentPage" (pageChange)="changePagination($event)">
        </ngx-pagination>
    </div>


    <ngx-empty-state *ngIf="preJourneys && preJourneys.length == 0 && searchValue === ''" [type]='"data"'>
    </ngx-empty-state>
    <ngx-empty-state *ngIf="preJourneys && preJourneys.length == 0 && searchValue !== ''" [type]='"search"'>
    </ngx-empty-state>

</ngx-container>