@import '../../../../../@theme/styles/themes';

@include nb-install-component() {

  .inputX::placeholder {
    color: #707070;
    font-size: 20px;
  }
  .inputX:-ms-input-placeholder {
    color: #707070;
    font-size: 20px;
  }
  .inputX::-ms-input-placeholder {
    color: #707070;
    font-size: 20px;
  }
  .inputX {
    font-size: 20px;
  }
  .buttonX {
    background-color: #1fa100;
    font-size: 15px;
    font-weight: bold;
    @media (min-width: 576px) {
      float: right !important;
    }
  }
  .retype-password-msg {
    &.red {
      color: nb-theme(color-danger-700);
    }
    &.green {
      color: nb-theme(color-success-700);
    }
  }
}
