<div class="container-fluid">
    <div class="row">
        <form class="col-12" (ngSubmit)="onSubmit()" [formGroup]="changePasswordForm">
            <div class="row">
                <div class="col-12 mt-4">
                    <input type="password" [ngClass]="{ 'is-invalid': f.submitted && current_password.invalid }" nbInput
                        fullWidth fieldSize="large" placeholder="Current Password" class="inputX"
                        formControlName="current_password" required>
                    <div *ngIf="submitted && f.current_password.errors" class="invalid-feedback">
                        <div *ngIf="f.current_password.errors.required">{{"plz-enter-password" | translate}}</div>
                    </div>
                </div>
                <div class="col-12 mt-4">
                    <input type="password" [ngClass]="{ 'is-invalid': submitted && new_password.invalid }" nbInput
                        fullWidth fieldSize="large" placeholder="New Password" class="inputX"
                        formControlName="new_password" (keyup)="validateRetype()" required>
                    <div *ngIf="submitted && f.new_password.errors" class="invalid-feedback">
                        <div *ngIf="f.new_password.errors.required">{{"plz-enter-new-password" | translate}}</div>
                    </div>
                </div>
                <div class="col-12 mt-4">
                    <input type="password" [ngClass]="{ 'is-invalid': submitted && retype_password.invalid }" nbInput
                        fullWidth fieldSize="large" placeholder="Retype Password" class="inputX"
                        formControlName="retype_password" (keyup)="validateRetype()" required>
                    <span [ngClass]="{'red': !passwordsMatch, 'green': passwordsMatch}"
                        class="retype-password-msg">{{ retypePasswordMsg }}</span>
                    <div *ngIf="submitted && f.retype_password.errors" class="invalid-feedback">
                        <div *ngIf="f.retype_password.errors.required">{{"plz-retype-password" | translate}}</div>
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col col-sm-12 mt-4 text-center">
                    <button type="submit" [disabled]="loading || changePasswordForm.invalid" nbButton status="success"
                        size="medium" class="buttonX">
                        <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                        {{"save-changes" |translate}}
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>