@media print {
  .invoice-section {
    background-color: #f6f6f6;
  }
  .invoice-section .sec-container {
    border-bottom: 1px solid #e4e4e4;
    padding-bottom: 1rem;
    padding-top: 1rem;
    padding-right: 20px;
    padding-left: 20px;
  }
  .invoice-section .header .header-title .title {
    vertical-align: bottom;
    font-family: Bungee;
    font-size: 32px;
    color: black;
  }
  .invoice-section .header .header-title .title .text-orange {
    color: #ff5500;
  }
  .invoice-section .header .header-subtitles {
    font-size: 8.6px;
    letter-spacing: 1.6px;
    font-weight: bolder;
    text-transform: uppercase;
  }
  .invoice-section .invoice-sec .invoice-word {
    font-size: 20px;
    letter-spacing: 1.2px;
    font-weight: bold;
    color: #6a6a6a;
  }
  .invoice-section .invoice-sec .order-word {
    font-size: 16px;
    letter-spacing: 1.2px;
    font-weight: bold;
    line-height: 28px;
  }
  .invoice-section .invoice-sec .order-id {
    font-size: 16px;
    letter-spacing: 1.2px;
    font-weight: bold;
    color: #6a6a6a;
    line-height: 28px;
  }
  .invoice-section .billing-sec .border-right {
    border-right: 1px solid #e4e4e4;
  }
  .invoice-section .title {
    font-size: 20px;
    letter-spacing: 1.129px;
    line-height: 27px;
    color: #6a6a6a;
    font-weight: bold;
  }
}
