<div class="col-12">
  <div class="row">
    <div class="col-sm-4 col-xs-12 card-container">
      <div class="card" id="classroom-stu-card">
        <h6 class="card-header">
          Share Class Code
        </h6>
        <div class="card-icon">
          <img src="assets/icons/share-class.svg" alt="Share">
        </div>
        <div class="card-action">
          <button type="button" class="btn btn-copy" #copyBtn nbPopover="{{ shareCodeMessage }}" nbPopoverTrigger="noop"
            (mouseover)="shareCodeHint()" (click)="copyShareCode()"
            (mouseleave)="hidePopover()">{{ shareCode }}</button>
        </div>
      </div>
    </div>
    <div class="col-sm-4 col-xs-12 card-container">
      <div class="card" id="single-stu-card">
        <h6 class="card-header">
          Add Single Student
        </h6>
        <div class="card-icon">
          <img src="assets/icons/add-student.svg" alt="Share">
        </div>
        <div class="card-action">
          <button type="button" class="btn btn-success" (click)="changeStatus(modalType)">ADD</button>
        </div>
      </div>
    </div>
    <div class="col-sm-4 col-xs-12 card-container">
      <div class="card" id="csv-stu-card">
        <h6 class="card-header">
          Upload CSV File
        </h6>
        <div class="card-icon">
          <img src="assets/icons/csv-file.svg" alt="Share">
        </div>
        <div class="card-action">
          <button type="button" class="btn btn-success" (click)="changeStatus('csv')">UPLOAD</button>
        </div>
      </div>
    </div>
  </div>
</div>