@import '../../../../../../../@theme/styles/themes';

@include nb-install-component() {

  .card-container {
    padding: 0 5px;
  }
  .card {
    background-color: #fbfbfb;
    border-radius: 5px;
    box-shadow: nb-theme(shadow);
    padding: 0 15px;
    margin-bottom: 15px;
    .card-header {
      font-size: 20px;
      background-color: transparent;
      border-bottom: 1px solid #e4e4e4;
      padding: 10px 0;
      font-weight: 500;
    }
    .card-icon {
      text-align: center;
      padding: 30px 15px;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 170px;
      img {
        max-width: 100%;
      }
    }
    .card-action {
      padding: 15px 0;
      text-align: center;
      .btn {
        width: 100%;
        padding: 5px;
        outline: none !important;
        box-shadow: none !important;
        &.btn-copy {
          border: 1px solid #aeaeae;
        }
        &.btn-success {
          background-color: nb-theme(color-primary-500);
        }
      }
    }
  }
}
