<button class="stepper-back" (click)="removeCompletedClicked()" nbStepperPrevious>
  <img src="assets/icons/stepper-back.svg" alt="<">
</button>

<ngx-auth-student-form *ngIf="role === 'student'" [classroom_code]="classroom_code" (stepToSuccess)="emitSuccess($event)"></ngx-auth-student-form>

<ngx-auth-teacher-form *ngIf="role === 'teacher'" (stepToSuccess)="emitSuccess($event)"></ngx-auth-teacher-form>