<button class="stepper-back" (click)="removeCompletedClicked()" nbStepperPrevious>
  <img src="assets/icons/stepper-back.svg" alt="<">
</button>

<div class="container-fluid p-0">

  <div class="row my-auto justify-content-center">

    <form novalidate (ngSubmit)="buy()" class="step-container flex-form w-100">
      <div class="row justify-content-between form-group-container">

        <label class="d-block">{{'enter-your-card-details' | translate}}</label>
        <div id="card-element" class="field form-group col-12"></div>
        <div id="cardExpiration" class="field form-group col-12 col-sm-5"></div>
        <div id="cardCVV" class="field form-group col-12 col-sm-5"></div>
      </div>


      <div class="total-payment text-center">
        <span class="today-total"> {{"todays-total"| translate}} {{selectedPlan?.price}}</span>
        <br>
        <span> {{"thirty_day_money_back"| translate}} </span>
      </div>

      <div class="form-footer">
        <p class="instructions">
          <!-- By clicking Get Started, you agree to our <a routerLink="">terms of service</a> and <a routerLink="">privacy policy</a>. -->
        </p>
        <div class="get-started-btn-container">
          <button (ngSubmit)="buy()" type="submit" class="btn get-started-btn text-uppercase">
            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
            {{'submit' |  translate}}
          </button>
          <span class="background"></span>
        </div>
      </div>


    </form>




  </div>
</div>