<ngx-container class="individual-card">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="row">
                    <div class="col-lg-5 col-md-6 col-sm-6 col-xs-6 col-5 pl-0 pr-1">
                        <ngx-search (search)="search($event)"></ngx-search>
                    </div>
                    <div class="col-lg-1 col-md-2 col-sm-2 col-xs-2 col-3 pl-1 pr-1">
                        <nb-select class="table-filter-select" [(selected)]="tableLength"
                            (selectedChange)="onChangeLength()">
                            <nb-option value="all">{{"All" | translate}}</nb-option>
                            <nb-option *ngFor="let option of tableLengths" value="{{ option }}">{{ option }}</nb-option>
                        </nb-select>
                    </div>
                    <div class="col-lg-2 col-md-4 col-sm-4 col-xs-4 col-4 pl-1 pr-0">
                        <nb-select class="table-filter-select" [(selected)]="selectedProvince"
                            placeholder="{{'filter-by-province' | translate}}" (selectedChange)="onFilterByProvince()">
                            <nb-option value="all">{{"All" | translate}}</nb-option>
                            <nb-option *ngFor="let province of provinces" value="{{ province.id }}">
                                {{ province.name }}
                            </nb-option>
                        </nb-select>
                    </div>

                    <div class="col-lg-2 col-md-4 col-sm-4 col-xs-4 col-4 pl-1 pr-0">
                        <nb-select class="table-filter-select" [(selected)]="selectedSchool"
                            placeholder="{{'filter-by-school' | translate}}" (selectedChange)="onFilterBySchool()">
                            <nb-option value="all">{{"All" | translate}}</nb-option>
                            <nb-option *ngFor="let school of schools" value="{{ school.id }}">
                                {{ school.name }}
                            </nb-option>
                        </nb-select>
                    </div>

                    <div class="col-lg-2 col-md-4 col-sm-4 col-xs-4 col-4 pl-1 pr-0">
                        <nb-select class="table-filter-select" [(selected)]="selectedCity"
                            placeholder="{{'filter-by-city' | translate}}" (selectedChange)="onFilterByCity()">
                            <nb-option value="all">{{"All" | translate}}</nb-option>
                            <nb-option *ngFor="let city of cities" value="{{ city.city }}">
                                {{ city.city }}
                            </nb-option>
                        </nb-select>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container students-container mt-3" *ngIf="dataLoaded">
        <div class="row table-container pb-3">
            <div class="col-12" *ngIf="students && students.length === 0">
                <ngx-empty-state *ngIf="searchValue === ''" [type]='"data"'></ngx-empty-state>
                <ngx-empty-state *ngIf="searchValue !== ''" [type]='"search"'></ngx-empty-state>
            </div>
            <div class="col-12 p-0" *ngIf="students && students.length > 0">
                <table class="students-table">
                    <thead>
                        <tr>
                            <th>{{ "student-name" | translate }}</th>
                            <th>{{ "classroom-name" | translate }}</th>
                            <th colspan="2">{{ "journeys" | translate}}</th>
                        </tr>

                        <tr class="sub-header">
                            <th></th>
                            <th></th>
                            <th>{{ "name" | translate }}</th>
                            <th>{{ "progress" | translate }}</th>
                        </tr>
                    </thead>
                    <tbody *ngFor="let student of students; let i = index">
                        <tr [ngClass]="(i%2)?'odd':'even'">
                            <td [attr.rowspan]="student.journeys.length+1 ">
                                {{ student.studentName }} {{ student.journeys.length }}
                            </td>
                            <td [attr.rowspan]="student.journeys.length+1">
                                {{ student.classroomName }}
                            </td>

                            <td *ngIf="i == 0 && student.journeys.length > 0">
                                {{ student.journeys[0].journey_name }}
                            </td>
                            <td *ngIf="i == 0 && student.journeys.length > 0">
                                {{ student.journeys[0].progress }} %
                            </td>

                            <td *ngIf="student.journeys.length == 0">-</td>
                            <td *ngIf="student.journeys.length == 0">-</td>
                        </tr>

                        <ng-container *ngIf="i > 0">
                            <tr *ngFor="let journey of student.journeys" [ngClass]="(i%2)?'odd':'even'">
                                <td>
                                    {{ journey.journey_name }}
                                </td>
                                <td>
                                    {{ journey.progress }} %
                                </td>
                            </tr>
                        </ng-container>
                    </tbody>
                </table>
            </div>
        </div>
        <!-- <button type="button" class="btn btn-success export-csv-btn text-uppercase" (click)="onExportCSV()"
            *ngIf="students && students.length > 0">{{"export-csv-file" | translate}}</button> -->
        <div class=" row pagination-container" *ngIf="students && students.length > 0">
            <div class="col-12">
                <ngx-pagination [arrayLength]='studentsCount' [maxShown]='maxShown' [currentPage]='currentPage'
                    (pageChange)="changePagination($event)">
                </ngx-pagination>
            </div>
        </div>
    </div>

</ngx-container>