@import '../../../../@theme/styles/themes.scss';

@include nb-install-component() {
  .individual-card {

    ::ng-deep nb-select {
      width: 100%;

      button {
        width: 100%;
        min-width: 100%;
        padding: 10px 15px 10px 10px !important;

        nb-icon {
          right: 0 !important;
        }
      }
    }

    ::ng-deep .content-card {
      padding-bottom: 20px !important;
    }


    .students-container {
      position: relative;
      padding-bottom: 50px;

      .table-container {
        min-height: calc(100vh - 250px);
      }

      .pagination-container {
        position: absolute;
        width: 100%;
        bottom: 0;
        left: 0;
      }
    }

    .students-table {
      width: 100%;
      text-align: center;

      thead {
        th {
          font-size: 20px;
          padding: 10px 15px;
          background-color: #e4e4e4;
          color: #434343;
          font-weight: 400;
          border-bottom: 1px solid #cdcdcd;
          border-right: 1px solid #cdcdcd;
          overflow: hidden;

          &.name-th {
            width: 200px;
            min-width: 200px;
          }

          &.border-right-0 {
            border-right: 0;
          }

          p {
            line-height: 25px;
            margin: 0;
            font-size: inherit !important;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
          }

        }
      }

      tbody {
        tr {
          border-bottom: 1px solid #e4e4e4;

          &.odd {
            background-color: #f8f8f8;
          }

          &.even {
            background-color: #fff;
          }

          td {
            padding: 20px 15px;
            font-size: 16px;
            color: #666;
            font-weight: 500;
            //         border-left: 1px solid #e4e4e4;
            border-right: 1px solid #e4e4e4;

            a {
              color: #229eff;
              text-decoration: underline;

              &:hover {
                color: #229eff;
              }
            }

            &.id-td {
              width: 100px;
            }

            &.actions-td {
              width: 125px;

              .table-btn {
                padding: 0;
                width: 25px;
                border: none;
                outline: none;
                background-color: transparent;
                margin: 0 10px;
                z-index: 100;

                img {
                  width: 100%;
                }
              }
            }

            @media (max-width: 767px) {
              padding: 15px 10px;

              &.id-td {
                width: 60px;
              }
            }

            @media (max-width: 575px) {
              font-size: 12px;
              padding: 15px 2px;

              &.id-td {
                width: auto;
              }

              &.actions-td {
                width: 55px;

                .table-btn {
                  width: 24px;
                  margin: 0 2px;
                }
              }
            }
          }
        }
      }
    }

    .export-csv-btn {
      position: absolute;
      bottom: 0;
      right: 0;
      width: 220px;
      padding: 8px 15px;
      font-size: 16px;
      font-weight: 600;
      background-color: nb-theme(color-primary-500);
      z-index: 1000;

      nb-icon {
        vertical-align: text-bottom;
        margin-right: 10px;
      }

      @media (max-width: 575px) {
        padding: 12px 5px;
        font-size: 12px;

        nb-icon {
          font-size: 13px;
          margin-right: 5px;
        }
      }

      @media (max-width: 450px) {
        font-size: 10px;

        nb-icon {
          font-size: 13px;
          margin-right: 2px;
        }
      }
    }

    .pagination-container {
      padding: 15px 15px 0;

      ::ng-deep ngx-pagination {
        ul.row {
          margin-bottom: 0;
        }
      }
    }

  }
}
