@import '../../../../../../../@theme/styles/themes';

@include nb-install-component() {

  .csv-container {
    padding: 0;
    .example-img {
      padding-bottom: 20px;
      img {
        width: 100%;
        max-height: 100%;
      }
    }
    .upload-file {
      padding: 0 15px;
      h6 {
        font-size: 20px;
        font-weight: 500;
        margin-bottom: 10px;
      }
      .upload-container {
        position: relative;
        input[type='file'] {
          position: absolute;
          height: 100%;
          width: 100%;
          opacity: 0;
          cursor: pointer;
        }
        .content {
          display: flex;
          justify-content: flex-start;
          align-items: center;
          button {
            font-size: 14px;
            font-weight: 600;
            color: #1fa100;
            border-color: #1fa100;
            background-color: rgba(31, 161, 0, 0.08);
            padding: 10px 20px;
            min-width: 140px;
          }
          p {
            margin: 0;
            padding-left: 10px;
            font-size: 18px;
            overflow: hidden;
            text-overflow: ellipsis;
            word-break: break-word;
            // line-height: 18px;     /* fallback */
            // max-height: 40px;      /* fallback */
            /* autoprefixer: off */
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 1;
          }
        }
      }
    }
    .download-sample {
      padding: 0 10px;
      a {
        font-size: 14px;
        img {
          height: 14px;
          vertical-align: baseline;
          margin-right: 5px;
        }
      }
    }
    .instructions {
      h6 {
        font-size: 20px;
        font-weight: 500;
        margin-bottom: 0;
        color: #222b45;
      }
      p {
        font-size: 16px;
        margin-bottom: 0;
        color: #707070;
        &.notes {
          font-size: 18px;
          font-weight: 900;
          color: #222b45;
        }
      }
      &.main-instructions {
        @media (max-width: 575px) {
          display: none;
        }
      }
      &.mobile-instructions {
        display: none;
        position: relative;
        margin-bottom: 10px;
        .toggle-ellipsis {
          position: absolute;
          bottom: 0;
          right: 0;
          background: transparent;
          border: none;
          padding: 0;
          transition: all 0.1s linear;
          transform: rotate(180deg);
          outline: none;
        }
        &.ellipsis {
          .toggle-ellipsis {
            transform: rotate(0);
          }
          .ellipsis-text {
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 1;
            line-height: 25px;
            height: 25px;
            p {
              display: none;
            }
          }
        }
        @media (max-width: 575px) {
          display: block;
        }
      }
    }
    .buttons {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      padding-top: 15px;
      .btn {
        padding: 5px 20px;
        font-size: 15px;
        font-weight: 600;
        outline: none;
        margin-left: 15px;
        &.btn-primary {
          background-color: #1fa100;
          border-color: #1fa100;
          color: #fff;
        }
        &.btn-back {
          background-color: transparent;
          border-color: transparent;
          color: #000;
        }
      }
    }
  }
}
