<div class="col-12 csv-container">
  <div class="row">
    <div class="col-sm-5 col-xs-12">
      <div class="row">
        <div class="col-12">
          <div class="example-img">
            <img src="assets/images/csv2.PNG" alt="">
          </div>
          <div class="instructions mobile-instructions ellipsis" #mobileInstructions>
            <button type="button" class="toggle-ellipsis" (click)="toggleEllipsis()">
              <nb-icon icon="chevron-down-outline"></nb-icon>
            </button>
            <div class="ellipsis-text">
              <h6>Create a CSV file with 3 columns:</h6>
              <p><strong>Column 1:</strong> should contain Student Full Name</p>
              <p><strong>Column 2:</strong> should contain Student Usernames (cannot contain spaces, must be unique
                within classroom)</p>
              <p><strong>Column 3:</strong> should contain Student Passwords (at least six characters long)</p>

              <p class="notes">notes:</p>
              <p>1-Each student account should be in an individual row.</p>
              <p>2-Ensure Row 1 matches the example shown.</p>
            </div>
          </div>
          <form class="upload-file" [formGroup]="uploadCSVForm">
            <h6>Upload a CSV file of</h6>
            <div class="form-group">
              <div class="upload-container">
                <input type="file" name="csv-file" (change)="uploadFile($event)" accept=".csv">
                <div class="content">
                  <button type="button" class="btn">Choose File</button>
                  <p class="file-name">{{ fileName || 'No file chosen' }}</p>
                </div>
              </div>
            </div>
          </form>
          <div class="download-sample text-center">
            <a href="assets/students_csv_sample.csv" target="_blank" download>
              <img src="assets/icons/download-sample.svg" alt="">
              Download a sample
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-7 col-xs-12">
      <div class="row">
        <div class="col-12">
          <div class="instructions main-instructions">
            <h6>Create a CSV file with 3 columns:</h6>
            <p><strong>Column 1:</strong> should contain Student Full Name</p>
            <p><strong>Column 2:</strong> should contain Student Passwords (at least six characters long)</p>
            <p><strong>Column 3:</strong> should contain Student Usernames (cannot contain spaces, must be unique within
              classroom)</p>
            <p class="notes">notes:</p>
            <p>1- Each student account should be in an individual row.</p>
            <p>2- Ensure Row 1 matches the example shown</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="buttons">
        <button type="button" class="btn btn-back" (click)="changeStatus('cards')" id="back-btn">BACK</button>
        <button type="button" class="btn btn-primary" (click)="submitStudents()" id="add-btn"
          [disabled]="loading || uploadCSVForm.invalid ">
          <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
          ADD
        </button>
      </div>
    </div>
  </div>
</div>