@import '../../../../@theme/styles/themes.scss';

@include nb-install-component() {
  .grayScale {
    filter: grayscale(100%);
    opacity: 0.7;
    cursor: not-allowed;
  }

  .mission-card-wrapper {
    background-color: nb-theme(background-basic-color-3);
    border-radius: 30px;
    position: relative;
    min-height: 102.29px;
    padding-left: 7px;
    margin-bottom: 18px;
    cursor: pointer;

    .mission-card-header {
      .mission-card-header-text {
        font-size: 18px;
        font-weight: 700;
        line-height: 23px;
      }
    }

    .mission-card-body {
      max-width: 70%;

      .mission-card-body-text {
        font-size: 13px;
        font-weight: 700;
        color: rgba(0, 0, 0, 0.4);
        line-height: 12.9px;
      }

    }

    .righ-icon {
      position: absolute;
      bottom: -1px;
      right: 0;
      max-height: 60px;
    }

    .text-ellipsis {
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }
}
