<nb-card class="mission-card-wrapper container pt-2" [title]="mission.name" [ngClass]="{'grayScale': mission.isLocked}">
    <div class="row mx-0">
        <div class="col-4 p-0">
            <div class="mission-card-image text-center">
                <img class="img-fluid" src="assets/icons/{{ mission.type }}-icon.svg" alt="" *ngIf="!mission.isPassed">
                <img class="img-fluid" src="assets/icons/{{ mission.type }}-icon-passed.svg" alt=""
                    *ngIf="mission.isPassed">
            </div>
        </div>
        <div class="col-8 p-0 pl-2 pr-2">
            <header class="mission-card-header">
                <h4 class="mission-card-header-text text-ellipsis">{{mission.name}}</h4>
            </header>
            <div class="mission-card-body" *ngIf="mission.type !== 'project'">
                <div class="mission-card-body-text pb-2">Outcome/s:</div>
                <div class="mission-card-body-text text-capitalize">{{mission.outCome}}</div>
            </div>
        </div>
    </div>
    <img *ngIf="difficulty === 'beginner'"
        src="assets/images/{{mission.type === 'project' ? 'beginner' : 'lesson-project-beginner' }}.svg"
        class="img-fluid righ-icon">
    <img *ngIf="difficulty === 'intermediate'"
        src="assets/images/{{mission.type === 'project' ? 'intermediate' : 'lesson-project-intermediate' }}.svg"
        class="img-fluid righ-icon">
    <img *ngIf="difficulty === 'advanced'"
        src="assets/images/{{mission.type === 'project' ? 'advanced' : 'lesson-project-advanced' }}.svg"
        class="img-fluid righ-icon">
    <!-- <img *ngIf="!difficulty" src="assets/icons/{{mission.type == 'blocks' ? 'mission' : mission.type }}-sub-icon.svg" class="img-fluid righ-icon"> -->
</nb-card>