@import '../../../../../@theme/styles/themes';

@include nb-install-component() {
  ngx-echarts-bar {
    display: block;
    height: nb-theme(card-height-medium);
    width: 100%;
  }

  ::ng-deep .echart {
    // height: 100% !important;
    height: nb-theme(card-height-medium);
    width: 100%;
    @media (max-width: 767px) {
      height: nb-theme(card-height-small);
    }
  }
}
