<nb-card>
    <nb-card-body>
        <div class="row">
            <div class="col-12">
                <img src="assets/images/terms-agreement.svg" alt="" class="img-fluid center">
                <p class="main-txt text-center">
                    {{'agreement-txt' | translate}}

                    <a class="link-txt" routerLink="/docs/mindfuel/terms-of-use" target="_blank"
                        rel="noopener noreferrer">
                        {{'terms-of-use' | translate}}
                    </a>
                    {{'and' | translate}}
                    <a class="link-txt" routerLink="/docs/mindfuel/privacy-policy" target="_blank"
                        rel="noopener noreferrer">
                        {{'privacy-policy' | translate}}
                    </a>
                    {{'register-privacy-agreement-2' | translate}}
                    <a class="link-txt" routerLink="/docs/robogarden/terms-of-use" target="_blank"
                        rel="noopener noreferrer">
                        {{'terms-of-use' | translate}}
                    </a>
                    {{'and' | translate}}
                    <a class="link-txt" routerLink="/docs/robogarden/privacy-policy" target="_blank"
                        rel="noopener noreferrer">
                        {{'privacy-policy' | translate}}
                    </a>
                    .
                </p>
            </div>
        </div>

        <div class="row">
            <button class="btn btn-success center text-uppercase" (click)="acceptTerms()">
                {{"i-agree" | translate}}
            </button>

        </div>

    </nb-card-body>

</nb-card>