@import '../../../../@theme/styles/themes';

@include nb-install-component() {
  nb-card {
    max-width: 513px;
    max-height: auto;
    min-width: 513px;
    border-radius: 8px;
    background-color: nb-theme(background-basic-color-3);

    nb-card-body {
      padding: 23px 74px;

      img {
        max-width: 325px;
        margin-bottom: 15px;
      }

      .main-txt {
        font-size: 18px;
        color: #434343;
        margin-bottom: 18px;

        .link-txt {
          color: #3ba5ef;
          text-decoration: underline;
        }
      }

      button {
        font-size: 15px;
        font-weight: bold;
        padding: 9px 57px;
      }

    }
  }


  /* Small Screen */
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    nb-card {
      max-width: 630px;

      nb-card-body {
        padding: 55px 25px;
      }
    }
  }


  /* Extra Small Screen */
  @media only screen and (max-width: 767px) {
    nb-card {
      max-width: 284px;
      min-width: 284px;
      max-height: auto;

      nb-card-header {
        padding: 12px 20px;
        height: 48px;

        span {
          line-height: 17px;
          font-size: 14px;
        }

        nb-icon {
          width: 20px;
          height: 20px;
        }
      }

      nb-card-body {
        padding: 7px 0;

        .form-group {
          margin-right: 0;
          margin-bottom: 1rem;
          float: left;
        }

        .dialog-input,
        ::ng-deep nb-select {
          height: 33px;
          width: 153px;
          padding: 0;

          ::ng-deep button.select-button {
            padding: 0 10px !important;
          }
        }

        .edit-img--icon {
          width: 1em;
          height: 1em;
          right: 20px;
          top: 5px;
          border-radius: 5px;
        }

      }

      nb-card-footer {
        button {
          font-size: 12px;
        }
      }
    }
  }
}
