@import '../../../../../@theme/styles/themes.scss';

@include nb-install-component() {
  ::ng-deep nb-tabset .tab {
    .tab-link {
      color: rgba(0, 0, 0, 0.58);
      font-size: 20px;
      font-weight: 600;
    }

    &.active {
      background-color: #e8e8e8;


      .tab-link {
        color: #000;
        font-weight: 600;
      }
    }

    /* Extra Small Screen */
    @media only screen and (max-width: 767px) {
      ::ng-deep .tabset {
        margin: 0 8px;
      }

      .tab-link {
        font-size: 14px;
        padding: 13px;
      }
    }
  }


  ::ng-deep .classroom__list {
    nb-tab {
      padding: 10px 0;
    }

    ul.tabset {
      background-color: #f3f3f3;
      border-bottom: 3px solid #e4e4e4;

      li {
        width: 100%;

        a {
          justify-content: center;
          text-transform: capitalize;
        }
      }
    }
  }
}
