<div class="container-fluid">
    <div class="row">
        <nb-tabset fullWidth class="classroom__list col-12 p-0">
            <nb-tab tabTitle="Journeys" active="true">
                <ngx-classroom-journeys (fetchedClassroomName)="onFetchClassroomName($event)"></ngx-classroom-journeys>
                <ngx-classroom-mini-journeys></ngx-classroom-mini-journeys>
            </nb-tab>
            <nb-tab tabTitle="Projects">
                <ngx-classroom-projects></ngx-classroom-projects>
            </nb-tab>
            <nb-tab tabTitle="Students">
                <ngx-classroom-students></ngx-classroom-students>
            </nb-tab>
        </nb-tabset>
    </div>
</div>