<nb-flip-card [flipped]="flipped" showToggleButton="false">
    <nb-card-front>
        <nb-card>
            <nb-card-header class="p-0">
                <!-- <div class="row"> -->
                <!-- <div class="col-9"> -->
                <p class="text-ellipsis card__title" [title]="cardData?.Name || cardData?.name">
                    {{cardData?.Name || cardData?.name}}
                </p>
                <!-- </div> -->
                <!-- </div> -->

            </nb-card-header>
            <nb-card-body>
                <div class="container p-0">
                    <!-- Card Image -->
                    <div class="row img-container m-0">
                        <img class="img-fluid card-image"
                            [src]="cardData?.CardIconURL || cardData.image || cardData?.imageUrl">
                    </div>
                </div>

                <ng-container>
                    <div class="container p-0">
                        <div class="row text-center sub-title m-0">
                            <div class="border-right col-6 p-0 ">
                                <span class="float-right pr-1">
                                    {{cardData?.adventuresNo || cardData?.noOfAdventures || cardData?.tasksCount }}
                                    {{cardData?.tasksCount ? 'Missions' : 'Adventures'}}
                                </span>
                            </div>
                            <div class="col-6 p-0 float-left ">
                                <span class="float-left pl-1">

                                    {{ cardData?.difficulty?.name }}
                                    <!-- Grade
                                    {{ cardData?.from_grade || cardData?.fromGrade }}-{{ cardData?.to_grade || cardData?.toGrade}} -->
                                </span>
                            </div>
                        </div>
                    </div>
                </ng-container>
            </nb-card-body>
            <nb-card-footer>
                <ng-container>
                    <div class="row justify-content-between">
                        <div class="border-right col-6 p-0  ">
                            <div class="row mx-auto">
                                <div class="col-6 bullet-left p-1 p-1 text-center">
                                    <img class="vertical-alignment" src="assets/icons/coin.svg">
                                </div>
                                <div class="col-5 bullet-right text-center">
                                    <p class="vertical-alignment">
                                        {{(cardData?.totalCoins || cardData?.score.coins )| thousandSuff }}
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-6 p-0">
                            <div class="row mx-auto flex-row-reverse">
                                <div class="col-5 bullet-right text-center">
                                    <p class="vertical-alignment">
                                        {{(cardData?.totalXps  || cardData?.score.xp ) | thousandSuff }}
                                    </p>
                                </div>
                                <div class="col-6 bullet-left p-1 text-center">
                                    <img class="vertical-alignment" src="assets/icons/xp.svg">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row pt-2 card-buttons">
                        <div class="col-6 pl-0 text-center">
                            <button type="button" class="btn btn-secondary" (click)="flip()">INFO</button>
                        </div>
                        <div class="col-6 pr-0 text-center">
                            <button [disabled]='isLoading' type="button" class="btn btn-primary" (click)="emitAssign()">
                                <div class="loading" *ngIf="isLoading"></div>
                                ASSIGN
                            </button>
                        </div>
                    </div>
                </ng-container>
            </nb-card-footer>
        </nb-card>
    </nb-card-front>
    <nb-card-back>
        <nb-card>
            <nb-card-header class="py-0 px-1">
                <div class="row">
                    <div class="col-12">
                        <p class="text-ellipsis card__title" [title]="cardData?.Name || cardData?.name">
                            {{cardData?.Name || cardData?.name}}</p>
                    </div>
                </div>
            </nb-card-header>
            <nb-card-body [innerHTML]="cardData?.Description || cardData?.description">
            </nb-card-body>
            <nb-card-footer>
                <ng-container>
                    <div class="row pt-2 card-buttons">
                        <div class="col-6 pl-0 text-center">
                            <button type="button" class="btn btn-secondary" (click)="flip()">&lt; BACK</button>
                        </div>
                        <div class="col-6 pr-0 text-center">
                            <button type="button" class="btn btn-primary" (click)="try()">TRY</button>
                        </div>
                    </div>
                </ng-container>
            </nb-card-footer>
        </nb-card>
    </nb-card-back>
</nb-flip-card>