@import '../../../../../@theme/styles/overrides';
@import '../../../../../@theme/styles/themes.scss';

@include nb-install-component() {
  ::ng-deep nb-flip-card {
    .flip-button {
      display: none;
    }
  }

  nb-card {
    height: 356px;
  }

  nb-card-body {
    padding: 6px 0;

    .img-container {
      min-height: 10rem;
      max-height: 100%;
    }

    .card-image {
      object-fit: fill;
      width: 100%;
      margin-bottom: 0;
      height: 156px;
    }

    .sub-title {
      font-size: 14px;
      font-weight: 500;
      color: nb-theme(card-text-color);
    }

    @media screen and (min-width: 1500px) {
      .card-image {
        height: 156px;
      }
    }
  }

  nb-card {
    background-color: nb-theme(card-background-light-color);
    border-radius: 8px;
    padding: 10px 15px;
    box-shadow: nb-theme(shadow) !important;

    &.classroom__data {
      margin: 0;
      font-size: 12px;
      font-weight: 500;
      color: #000 !important;
    }

    nb-card-header {
      padding-top: 3px;
      border-bottom: 1px solid #dee2e6 !important;

      p {
        font-weight: 600;
      }

      .card__title {
        font-size: 20px;
        margin-bottom: 10px;
        line-height: 25px;
        max-width: 227px;

        /* Small Screen */
        @media only screen and (min-width: 768px) and (max-width: 991px) {
          max-width: 150px;
        }

        /* Extra Small Screen */
        @media only screen and (max-width: 768px) {
          max-width: 195px;
        }
      }

      .more-horizontal {
        color: nb-theme(breadcrumbs-text-color);

        &:active,
        &:visited {
          color: #000;
        }
      }
    }

    nb-card-footer {
      border-top: 1px solid nb-theme(card-footer-border-color) !important;
      padding-bottom: 0;

      .card-buttons {
        .btn {
          width: 100%;
          font-weight: 600;
          font-size: 14px;

          &.btn-secondary {
            border-color: nb-theme(color-primary-500);
            color: nb-theme(color-primary-500);
            background-color: #eaeaea;
          }

          &.btn-primary {
            background-color: nb-theme(color-primary-500);
            border-color: nb-theme(color-primary-500);
            color: #fff;
          }
        }
      }
    }
  }

  .cursor-pointer {
    cursor: pointer;
  }

  .text-ellipsis {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  .dropdown-menu {
    min-width: auto;
    padding: 0;
    top: 46%;
    -webkit-box-shadow: nb-theme(shadow);
    -moz-box-shadow: nb-theme(shadow);
    box-shadow: nb-theme(shadow);

    a {
      padding: 12px 17px;
      text-align: center;
      font-size: 14px;
      font-weight: bold;
      color: nb-theme(card-text-color);
      cursor: pointer;

      &:active {
        background-color: transparent;
      }
    }

    @include not-last-child('a') {
      border-bottom: 1px solid nb-theme(card-footer-border-color);
    }
  }

  nb-card-footer {
    .classroom__title {
      font-size: 14px;
      color: nb-theme(color-primary-500);
      font-weight: bold;
      line-height: 20px;
      margin-bottom: 7px;
    }
  }

  .bullet-right {
    background-color: #d8d8d8;
    border-radius: 0 26px 26px 0;
    padding-top: 3px;
    padding-bottom: 3px;

    p {
      color: #707070;
      font-size: 16px;
      font-weight: bolder;
      margin-left: -10px;
    }
  }

  .bullet-left {
    width: 45px !important;
    background-color: #bfbdbd;
    border-radius: 26px 0 0 26px;
  }

  .text-black {
    color: black;
  }

  .vertical-alignment {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }

  .color-blue {
    color: #1492e6;
  }

  .cursor-pointer {
    cursor: pointer;
  }



  .loading {
    display: inline-block;

    &::after {
      content: ' ';
      display: block;
      width: 14px;
      height: 14px;
      margin-right: 9px;
      border-radius: 50%;
      border: 2px solid #fff;
      border-color: #fff transparent;
      animation: lds-dual-ring 1.2s linear infinite;
    }

    @keyframes lds-dual-ring {
      0% {
        transform: rotate(0deg);
      }

      100% {
        transform: rotate(360deg);
      }
    }
  }

}
