@import '../../../../../@theme/styles/themes';

@include nb-install-component() {
  nb-card {
    max-width: 737px;
    max-height: auto;
    min-width: 630px;
    border-radius: 8px;
    background-color: nb-theme(background-basic-color-3);

    nb-card-header {
      padding: 25px 43px;
      height: 82px;
      border-radius: 8px;
      background-color: #151a30;
      color: #fff;

      span {
        line-height: 32px;
        font-size: 24px;
        font-weight: 600;
        text-transform: capitalize;
      }

      nb-icon {
        width: 36px;
        height: 36px;
        cursor: pointer;
        background-color: #222b45;
        border-radius: 5px;
      }
    }

    nb-card-body {
      padding: 55px 35px 35px 70px;

      .form-group {
        margin-bottom: 1.4rem;
        display: flex;
        justify-content: flex-end;
      }

      .dialog-input {
        padding: 16px 25px;
        max-width: 300px;
        background-color:
        #f3f3f3;
        height: auto;
        line-height: 20px;
      }

      ::ng-deep nb-select {
        max-width: 300px;

        button.select-button {
          padding: 15px 25px !important;
          background-color: #f3f3f3;
          font-size: 16px;
        }
      }

      .edit-img--icon {
        width: 37px;
        height: 37px;
        background-color: #dedede;
        float: right;
        position: absolute;
        right: 30px;
        top: 15px;
        border-radius: 5px;
        cursor: pointer;

        /* Small Screen */
        @media only screen and (min-width: 768px) and (max-width: 991px) {
          right: 50px;
        }
      }

      .img--dummy {
        width: 192px;
        height: 100%;
      }

    }

    nb-card-footer {
      border-top: none;

      button {
        font-size: 15px;
      }

      .btn-status--basic {
        background-color: transparent;
        border: none;
        box-shadow: none;
      }
    }
  }


  /* Small Screen */
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    nb-card {
      max-width: 630px;

      nb-card-body {
        padding: 55px 25px;
      }
    }
  }


  /* Extra Small Screen */
  @media only screen and (max-width: 767px) {
    nb-card {
      max-width: 284px;
      min-width: 284px;
      max-height: auto;

      nb-card-header {
        padding: 12px 20px;
        height: 48px;

        span {
          line-height: 17px;
          font-size: 14px;
        }

        nb-icon {
          width: 20px;
          height: 20px;
        }
      }

      nb-card-body {
        padding: 7px 0;

        .form-group {
          margin-right: 0;
          margin-bottom: 1rem;
          float: left;
        }

        .dialog-input,
        ::ng-deep nb-select {
          height: 33px;
          width: 153px;
          padding: 0;

          ::ng-deep button.select-button {
            padding: 0 10px !important;
          }
        }

        .edit-img--icon {
          width: 1em;
          height: 1em;
          right: 20px;
          top: 5px;
          border-radius: 5px;
        }

      }

      nb-card-footer {
        button {
          font-size: 12px;
        }
      }
    }
  }
}
