<nb-card>
    <nb-card-header>
        <span class="modal-header--title">{{modalType}} {{ 'classroom' | translate }}</span>
        <nb-icon icon="close-outline" class="float-right" (click)="close()"></nb-icon>
    </nb-card-header>
    <nb-card-body>
        <form [formGroup]="createClassroomForm">
            <div class="container">
                <div class="row">
                    <div class="col-5">
                        <input type="file" accept="image/*" #file hidden (change)="uploadFile($event)">
                        <nb-icon icon="edit" class="edit-img--icon" (click)="file.click()" title="Upload Image">
                        </nb-icon>
                        <img class="img-fluid img--dummy" [src]="classroomImageSrc || 'assets/images/no-image.svg'">
                    </div>
                    <div class="col-7 p-0">
                        <div class="form-group">
                            <input type="text" class="form-control dialog-input" nbInput placeholder="Name"
                                formControlName="classroomName">
                        </div>

                        <div class="form-group">
                            <nb-select size="giant" placeholder="Choose Grade" *ngIf="grades.length > 0"
                                [(selected)]="selectedGrade" (selectedChange)="onChangeGrade()">
                                <nb-option *ngFor="let grade of grades" [value]="grade.name">{{grade.name}}</nb-option>
                            </nb-select>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </nb-card-body>
    <nb-card-footer>
        <div class="float-right">
            <button nbButton status="basic" class="mr-1 btn-status--basic text-uppercase"
                (click)="close()">{{'cancel' | translate}}</button>
            <button type="submit" [attr.id]="modalType" [disabled]="loading || createClassroomForm.invalid"
                class="text-uppercase" nbButton status="success" (click)="submitClassroom()">
                <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                {{modalType}}
            </button>
        </div>

    </nb-card-footer>
</nb-card>