<ngx-container class="individual-card">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="row">
          <div class="col-lg-8 col-md-6 col-sm-6 col-xs-6 col-5 pl-0 pr-1">
            <ngx-search (search)="search($event)"></ngx-search>
          </div>
          <div class="col-lg-1 col-md-2 col-sm-2 col-xs-2 col-3 pl-1 pr-1">
            <nb-select class="table-filter-select" [(selected)]="tableLength" (selectedChange)="onChangeLength()">
              <nb-option value="all">{{"All" | translate}}</nb-option>
              <nb-option *ngFor="let option of tableLengths" value="{{ option }}">{{ option }}</nb-option>
            </nb-select>
          </div>
          <div class="col-lg-3 col-md-4 col-sm-4 col-xs-4 col-4 pl-1 pr-0">
            <nb-select class="table-filter-select" [(selected)]="selectedAge"
              placeholder="{{'filter-by-age' | translate}}" (selectedChange)="onFilterByAge()">
              <nb-option value="all">{{"All" | translate}}</nb-option>
              <nb-option *ngFor="let age of ages" value="{{ age }}">{{ age }} {{'years-old' | translate}}</nb-option>
            </nb-select>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container individuals-container mt-3" *ngIf="dataLoaded">
    <div class="row table-container pb-3">
      <div class="col-12" *ngIf="individuals && individuals.length === 0">
        <ngx-empty-state *ngIf="searchValue === ''" [type]='"data"'></ngx-empty-state>
        <ngx-empty-state *ngIf="searchValue !== ''" [type]='"search"'></ngx-empty-state>
      </div>
      <div class="col-12 p-0" *ngIf="individuals && individuals.length > 0">
        <table class="individuals-table">
          <thead>
            <th>{{"full-name" | translate}}</th>
            <th>{{"email-address" | translate}}</th>
            <th>{{"age" | translate}}</th>
            <th *ngFor="let journey of journeys">{{ journey.name }}</th>
          </thead>
          <tbody>
            <tr *ngFor="let student of individuals; let i = index" [ngClass]="(i%2)?'odd':'even'">
              <td>{{ student.fullName }}</td>
              <td>{{ student.email }}</td>
              <td>{{ student.age }}</td>
              <td *ngFor="let journey of student.journeys">
                {{'completed-label' | translate}}
                {{ journey.completedMissions }} / {{ journey.totalMissions }}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <button type="button" class="btn btn-success export-csv-btn text-uppercase" (click)="onExportCSV()"
      *ngIf="individuals && individuals.length > 0">{{"export-csv-file" | translate}}</button>
    <div class=" row pagination-container" *ngIf="individuals && individuals.length > 0">
      <div class="col-12">
        <ngx-pagination [arrayLength]='individualsCount' [maxShown]='maxShown' [currentPage]='currentPage'
          (pageChange)="changePagination($event)">
        </ngx-pagination>
      </div>
    </div>
  </div>

</ngx-container>