<form [formGroup]="studentRegisterForm" (ngSubmit)="onSubmitHandler()" class="step-container flex-form">
  <div>
    <label class="d-block">{{'enter-profile-details' | translate}}</label>
    <div class="col-12">
      <div class="row">
        <div class="col-12 p-0">
          <div class="form-group">
            <nb-select *ngIf="!classroom_code" id="form-age-input" class="table-filter-select"
              placeholder="Select Your Age" [(selected)]="selectedAge" (selectedChange)="onChangeStudentAge()"
              fullWidth>
              <nb-option *ngFor="let age of ages" [value]=" age">{{ age }} {{'Years' | translate}}</nb-option>
            </nb-select>
          </div>
        </div>
        <div class="col-md-6 col-sm-12 pr-md-2 p-0">
          <div class="form-group">
            <input type="text" class="form-control" id="form-fullname-input" formControlName="student_fullname"
              [placeholder]="student_age.value > 13 || student_age.value === null ? 'Write Your Full Name' : 'Write Your First Name' ">
            <div *ngIf="student_fullname.invalid && (student_fullname.dirty || student_fullname.touched)">
              <span *ngIf="student_fullname.errors.required"
                class="error-msg">{{'fullname-required-msg' |  translate}}</span>
              <span *ngIf="student_fullname.errors.pattern" class="error-msg">Fullname must contain only letters,
                whitespaces.</span>
              <span *ngIf="student_fullname.errors.minlength"
                class="error-msg">{{'fullname-minlength-msg' | translate}}</span>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-sm-12 pl-md-2 p-0">
          <div class="form-group">
            <input type="text" class="form-control" (focusout)="validateUserData('username', student_nickname.value)"
              formControlName="student_nickname" placeholder="Write Your Username">
            <div *ngIf="student_nickname.invalid && (student_nickname.dirty || student_nickname.touched)">
              <span *ngIf="student_nickname.errors.required"
                class="error-msg">{{'nickname-required-msg' |  translate}}</span>
              <span *ngIf="student_nickname.errors.pattern"
                class="error-msg">{{'nickname-pattern-msg' | translate}}</span>
              <span *ngIf="student_nickname.errors.minlength"
                class="error-msg">{{'nickname-minlength-msg' | translate}}</span>
            </div>
            <span *ngIf="validationErrors.username == false && student_nickname.dirty"
              class="error-msg">{{'username-already-token' |  translate}}</span>

          </div>
        </div>
        <div class="col-12 p-0">
          <div class="form-group">
            <input type="password" class="form-control" id="form-password-input" formControlName="student_password"
              placeholder="Write Your Password">
            <div *ngIf="student_password.invalid && (student_password.dirty || student_password.touched)">
              <span *ngIf="student_password.errors.required"
                class="error-msg">{{'password-required-msg' |  translate}}</span>
              <span *ngIf="student_password.errors.minlength"
                class="error-msg">{{'password-minlength-msg' | translate}}</span>
              <span *ngIf="student_password.errors.maxlength"
                class="error-msg">{{'password-maxlength-msg' | translate}}</span>
            </div>
          </div>
        </div>

        <div *ngIf="student_age.value && student_age.value < 14" class="col-12 p-0">
          <div class="form-group parent-email">
            <p>{{'ask-parent-email' | translate}}</p>
            <input (focusout)="validateUserData('email', student_email.value)" type="email" class="form-control"
              formControlName="student_email" placeholder="Your Parent Email">
            <div *ngIf="student_email.invalid && (student_email.dirty || student_email.touched)">
              <span *ngIf="student_email.errors.required" class="error-msg">{{'email-required-msg'| translate}}</span>
              <span *ngIf="student_email.errors.email" class="error-msg">{{'email-valid-msg' | translate}}</span>
            </div>
            <span *ngIf="validationErrors.email == false && student_email.dirty"
              class="error-msg">{{'email-already-token' |  translate}}</span>

          </div>
        </div>

        <div *ngIf="student_age.value && student_age.value > 13" class="col-12 p-0">
          <div class="form-group">
            <input type="email" class="form-control" id="form-student-email-input" formControlName="student_email"
              placeholder="Write Your Email">
            <div *ngIf="student_email.invalid && (student_email.dirty || student_email.touched)">
              <span *ngIf="student_email.errors.required" class="error-msg">{{'email-required-msg'| translate}}</span>
              <span *ngIf="student_email.errors.email" class="error-msg">{{'email-valid-msg' | translate}}</span>
            </div>
          </div>
        </div>
        <div class="col-12">
          <p *ngIf="backError" class="error">{{ backError }}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="form-footer">
    <div class="row">
      <div class="col-12">
        <nb-checkbox class="checkbox-txt" id="form-privacy-checkbox" required formControlName="roboGarden">
          {{'register-privacy-agreement-1' | translate}}

          <a class="link-txt" routerLink="/docs/mindfuel/terms-of-use" target="_blank" rel="noopener noreferrer">
            {{'terms-of-use' | translate}}
          </a>
          {{'and' | translate}}
          <a class="link-txt" routerLink="/docs/mindfuel/privacy-policy" target="_blank" rel="noopener noreferrer">
            {{'privacy-policy' | translate}}
          </a>
          {{'register-privacy-agreement-2' | translate}}
          <a class="link-txt" routerLink="/docs/robogarden/terms-of-use" target="_blank" rel="noopener noreferrer">
            {{'terms-of-use' | translate}}
          </a>
          {{'and' | translate}}
          <a class="link-txt" routerLink="/docs/robogarden/privacy-policy" target="_blank" rel="noopener noreferrer">
            {{'privacy-policy' | translate}}
          </a>
          .
        </nb-checkbox>
      </div>

      <div class="col-12 get-started-btn-container">
        <div class="row justify-content-end">
          <div class="col-auto">
            <button [disabled]="loading || studentRegisterForm.invalid" type="submit" class="btn get-started-btn">
              <span *ngIf="loading" id="get-started-btn" class="spinner-border spinner-border-sm mr-1"></span>
              {{'get-started' | translate | uppercase}}
            </button>
            <span class="background"></span>
          </div>
        </div>
      </div>
    </div>

  </div>
</form>