<nb-card class="content-card pb-0">
  <nb-card-header>
    <div class="container p-0">
      <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-2 col-xs-2 col-3 pl-0 pr-1">
          <p class="section-title">{{"journeys" | translate}}</p>
        </div>

        <div class="col-lg-6 col-md-5 col-sm-6 col-xs-6 col-5 pl-0 pr-0">
          <ngx-search (search)="search($event)"></ngx-search>
        </div>

        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-4 col-4 pl-1 pr-0">
          <button type="button" class="btn btn-success" (click)="addJourneyToClassroom()">
            <nb-icon icon="plus"></nb-icon> {{"journey" | translate}}
          </button>
        </div>
      </div>
    </div>
  </nb-card-header>
  <div class="container cards-container">
    <ngx-empty-state *ngIf="journeys && journeys.length == 0 && searchValue === ''" [type]='"data"'></ngx-empty-state>
    <ngx-empty-state *ngIf="journeys && journeys.length == 0 && searchValue !== ''" [type]='"search"'></ngx-empty-state>

    <div class="row mt-4" *ngIf="journeys && journeys.length > 0">
      <div class="col-lg-4 col-md-4 pl-md-0" *ngFor="let journey of journeys">
        <ngx-card [cardData]='journey' [isUnassign]='true' [btn1]="'PLAY'" (btn1Clicked)="openJourney(journey)"
          [btn2]="'PROGRESS'" (btn2Clicked)="goToJourneyProgress(journey)"
          (unassignClickedEvent)="unassignJourney(journey)">
        </ngx-card>
      </div>
    </div>

    <ngx-pagination *ngIf="journeys && journeys.length > 0" [arrayLength]='journeysCount' [maxShown]='cardsPerPage'
      [currentPage]='currentPage' (pageChange)="changePagination($event)">
    </ngx-pagination>
  </div>
</nb-card>