<div class="card-container col-12">
  <nb-card *ngIf="playerData">
    <nb-card-header class="pb-0">
      <div class="row">
        <div class="col-9 p-0">
          <p class="text-ellipsis player-name" [title]="playerData?.name || playerData?.username">
            {{ playerData?.name || playerData?.username }}
          </p>
        </div>
      </div>
    </nb-card-header>
    <nb-card-body>
      <div class="row tasks-count">
        <svg xmlns="http://www.w3.org/2000/svg" width="21.614" height="21.069" viewBox="0 0 21.614 21.069">
          <path
            d="M21.041,11.033H19.5V7.02a2.039,2.039,0,0,0-2.058-2.007H13.322v-1.5a2.574,2.574,0,0,0-5.146,0v1.5H4.058A2.03,2.03,0,0,0,2.01,7.02v3.812H3.544a2.71,2.71,0,1,1,0,5.418H2v3.812a2.039,2.039,0,0,0,2.058,2.007H7.97v-1.5a2.78,2.78,0,0,1,5.558,0v1.5h3.911A2.039,2.039,0,0,0,19.5,20.062V16.049h1.544a2.509,2.509,0,1,0,0-5.016Z"
            transform="translate(-2 -1)" fill="#aeaeae" />
        </svg>
        <div class="count">
          {{ playerData?.noOfProjects }}
        </div>
      </div>
      <div class="row img-container">
        <img class="player-image" [src]="sanitizer.bypassSecurityTrustUrl(playerData?.image)"
          *ngIf="playerData.image" />
      </div>
    </nb-card-body>

    <nb-card-footer>
      <div class="badgeCase" *ngIf="playerData.badges && playerData.badges.length > 0">
        <div class="badges " [class.compact]="playerData?.badges.length > 4">
          <div *ngFor="let badge of playerData.badges.slice(0, 4)" class="badge">
            <img [src]="badge.iconurl" [alt]="badge.name" [title]="badge.name" />
          </div>
          <div class="badge count-badge" *ngIf="playerData?.badges.length > 4">
            <img src="assets/icons/badge-gray.svg" alt="Extra" />
            <div class="count">+{{playerData?.badges.length - 4}}</div>
          </div>
        </div>
      </div>
    </nb-card-footer>
  </nb-card>
</div>