<div class="container-fluid p-0" *ngIf="isActivated">
    <div class="row header-container px-md-3 px-4 justify-content-md-start justify-content-between">
        <div class="col-md-2 col-4 p-0">
            <div class="user-img-container row">
                <img class="player-image img-fluid" [src]="currentUser.profile_image_url" />
            </div>
        </div>


        <div class="col-lg-3 col-md-8 col-8 info-card">
            <div class="col-12 p-0">
                <h1 class="user-name">{{ currentUser?.username}}</h1>
            </div>

            <nb-card class="col-12 p-1 py-2 mb-0 data-card">
                <div class="col-12">
                    <div class="row justify-content-between">
                        <div class="col-3">
                            <nb-icon icon="heart"></nb-icon>
                        </div>
                        <div class="col-3">
                            <nb-icon icon="eye"></nb-icon>
                        </div>
                        <div class="col-3">
                            <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em"
                                viewBox="0 0 21.614 21.069">
                                <path
                                    d="M21.041,11.033H19.5V7.02a2.039,2.039,0,0,0-2.058-2.007H13.322v-1.5a2.574,2.574,0,0,0-5.146,0v1.5H4.058A2.03,2.03,0,0,0,2.01,7.02v3.812H3.544a2.71,2.71,0,1,1,0,5.418H2v3.812a2.039,2.039,0,0,0,2.058,2.007H7.97v-1.5a2.78,2.78,0,0,1,5.558,0v1.5h3.911A2.039,2.039,0,0,0,19.5,20.062V16.049h1.544a2.509,2.509,0,1,0,0-5.016Z"
                                    transform="translate(-2 -1)" fill="#707070" />
                            </svg>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="row justify-content-between icon-text">
                        <div class="col-3">
                            <span class=""> {{generalData?.noOfLikes| number:'2.0'}} </span>
                        </div>
                        <div class="col-3">
                            <span class="icon-text"> {{generalData?.noOfViews| number:'2.0'}} </span>
                        </div>
                        <div class="col-3">
                            <span class="icon-text"> {{generalData?.noOfProjects| number:'2.0'}} </span>
                        </div>
                    </div>
                </div>
            </nb-card>
        </div>

        <div class="col-lg-7 py-2 col-12 badges-container" *ngIf="badgesShown.length > 0">
            <div class="row">
                <div class="col-1 text-center">
                    <span class="arrow-next" (click)="badgesGoLeft()" *ngIf="lastShownBadge > 5">
                        &lt;
                    </span>
                </div>

                <div class="col-sm-10 col-9 badges-holder">
                    <div class="row">
                        <div class="col-2 text-center p-0" *ngFor="let badge of badgesShown;let ind = index">
                            <img class="badge-img" [title]="badge?.name" [src]="badge?.iconurl">
                        </div>

                        <div class="col-2 text-center p-0"
                            *ngIf="allBadges.length - lastShownBadge == 0 && allBadges.length > 5">
                            <img class="badge-img" [title]="allBadges[lastShownBadge-1]?.name"
                                [src]="allBadges[lastShownBadge-1]?.iconurl">
                        </div>

                        <div class="col-2 text-center p-0" *ngIf="allBadges.length - lastShownBadge > 0">
                            <img class="badge-img" src="assets/icons/badge-gray.svg">
                            <div class="count-badge">
                                <span class="count">+{{allBadges.length - lastShownBadge}}</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-1 text-center">
                    <span class="arrow-next" (click)="badgesGoRight()" *ngIf="lastShownBadge < allBadges.length">
                        &gt;
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>


<nb-card class="content-card mt-3 mt-lg-3 mt-md-4 mb-0" *ngIf="isActivated">
    <nb-card-header>
        <div class="row justify-content-between">
            <div class="col-6">
                <span>
                    {{"liked-projects" | translate}}
                </span>
            </div>
            <div class="col-md-1 col-2 pl-1 pr-1 pr-lg-4 mr-4" *ngIf="likedProjects.length != 0 && dataLoaded">
                <nb-select class="table-filter-select" [(selected)]="cardPerPage" (selectedChange)="changePageLimit()">
                    <nb-option *ngFor="let option of cardsPerPage" [value]=" option">{{ option }}</nb-option>
                </nb-select>
            </div>
        </div>
    </nb-card-header>

    <div *ngIf="likedProjects.length > 0 && dataLoaded">
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-lg-10 col-md-12 col-11">
                    <div class="row">
                        <div class="col-md-4 col-12" *ngFor="let project of likedProjects">
                            <ngx-card [cardData]='project' [isShare]='true' (shareClickedEvent)="share(project)"
                                (likeBtnClicked)="toggleLikeProject(project)" (click)="openProjectOverview(project.id)">
                            </ngx-card>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <ngx-pagination [arrayLength]='likedProjectsCount' [maxShown]='cardPerPage' [currentPage]='currentPage'
            (pageChange)="changePagination($event)">
        </ngx-pagination>
    </div>

    <ngx-empty-state *ngIf="likedProjects && likedProjects.length == 0 && searchValue === '' && dataLoaded" [type]='"data"'>
    </ngx-empty-state>
    <ngx-empty-state *ngIf="likedProjects && likedProjects.length == 0 && searchValue !== '' && dataLoaded" [type]='"search"'>
    </ngx-empty-state>

</nb-card>

<div class="container-fluid" *ngIf="!isActivated">
    <ngx-empty-state [type]="'activate'"></ngx-empty-state>
</div>