@import '../../../../@theme/styles/themes.scss';

@include nb-install-component() {
  ::ng-deep nb-select {
    width: 100%;

    button {
      width: 100%;
      min-width: 100%;
      padding: 10px 15px 10px 10px !important;

      nb-icon {
        right: 0 !important;
      }
    }
  }

  .user-name {
    color: #000;
    font-size: 30px;
    line-height: 38px;
    margin: 0;
    margin-bottom: 8px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  .content-card {
    padding: 22px 16px;
    box-shadow: nb-theme(shadow) !important;
    min-height: calc(100vh - 227px);

    nb-card-header {
      padding: 0;
      font-size: 20px;
      color: nb-theme(card-text-color);
      padding-bottom: 30px;
      border: none;
    }

    .container {
      .row {
        margin-right: 40px;
        margin-left: 40px;
      }
    }

    @media only screen and (min-width: 768px) and (max-width: 991px) {
      min-height: calc(100vh - 330px);
    }
  }

  .user-img-container {
    margin: auto;
    margin-bottom: 10px;
    max-width: 100px;
    text-align: center;
    border-radius: 50%;
    overflow: hidden;
    max-height: nb-theme(card-height-tiny);

    .player-image {
      width: 100%;
      height: 100%;
    }
  }

  .badges-container {
    background-color: nb-theme(badges-container-bg);
    -webkit-box-shadow: nb-theme(shadow);
    -moz-box-shadow: nb-theme(shadow);
    box-shadow: nb-theme(shadow);
    border-radius: 5px;
    align-self: center;
  }

  .header-container {
    max-height: nb-theme(card-height-tiny);
  }

  .badge-img {
    width: 68px;
    height: 82px;
  }

  @media (max-width: 500px) {
    .badge-img {
      width: 45px;
      height: 45px;
    }

    .count {
      top: 15px !important;
      font-size: 1.25rem !important;
      left: 60%;
    }

    .badges-holder {
      left: 4px;
      top: 5px;
    }

    .user-name {
      color: #000;
      font-size: 20px;
    }
  }

  .arrow-next {
    font-size: 3rem;
    position: relative;
    top: 25%;
    transform: translateY(-50%);
    cursor: pointer;
    user-select: none;
    -webkit-touch-callout: none;
  }

  .count-badge {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;

    .count {
      position: absolute;
      top: 30px;
      left: 50%;
      text-align: center;
      font-size: 1.5rem;
      transform: translateX(-50%);
    }
  }

  .info-card {
    .data-card {
      border-radius: 11px;
      max-width: 160px;
      background-color: #e9e9e9;
      box-shadow: none;
    }
  }

  @media screen and (min-width: 930px) {
    .info-card {
      margin-left: -1.5rem;
    }
  }

  .icon-text {
    span {
      font-size: 10px;
      font-weight: bold;
      margin-left: 2px;
    }

    margin-top: -7px;
  }
}
