<ngx-container class="student-card">
  <div class="container header-container">
    <div class="row">
      <div class="col-12">
        <div class="row">
          <div class="col-lg-8 col-md-6 col-sm-6 col-xs-6 col-6 pl-0 pr-1">
            <ngx-search (search)="onSearch($event)"></ngx-search>
          </div>
          <div class="col-lg-1 col-md-2 col-sm-2 col-xs-2 col-2 pl-1 pr-1">
            <nb-select class="table-filter-select" [(selected)]="tableLength" (selectedChange)="onChangeLength()">
              <nb-option *ngFor="let option of tableLengths" value="{{ option }}">{{ option }}</nb-option>
              <nb-option value="all">{{"All" | translate}}</nb-option>
            </nb-select>
          </div>
          <div class="col-lg-3 col-md-4 col-sm-4 col-xs-4 col-4 pl-1 pr-0">
            <nb-select class="table-filter-select" [(selected)]="currentAdventure" *ngIf="adventures"
              (selectedChange)="onChangeAdventure()">
              <nb-option *ngFor="let adventure of adventures" value="{{ adventure.id }}">{{ adventure.name }}
              </nb-option>
            </nb-select>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container body-container" *ngIf="students && students.length > 0">
    <div class="row">
      <div class="col-12 p-0 col__table__container">
        <div class="table-container">
          <table class="students-table">
            <thead *ngIf="missions">
              <tr>
                <th>{{"ID" | translate}}</th>
                <th class="name-th">{{"name" | translate}}</th>
                <ng-template ngFor let-mission [ngForOf]="missions">
                  <th colspan="3" *ngIf="['mission_editor', 'mission' , 'project'].includes(mission.type)">
                    <p>{{ mission.name }}</p>
                  </th>
                  <th colspan="2" *ngIf="!['mission_editor', 'mission', 'project'].includes(mission.type)">
                    <p>{{ mission.name }}</p>
                  </th>
                </ng-template>
              </tr>
              <tr class="sub-header">
                <th></th>
                <th></th>
                <ng-template ngFor let-mission [ngForOf]="missions">
                  <th>{{ "trials" | translate}}</th>
                  <th>{{ "success" | translate}}</th>
                  <th *ngIf="['mission_editor', 'mission', 'project'].includes(mission.type)">{{ "progress" |translate}}
                  </th>
                </ng-template>
              </tr>
            </thead>
            <tbody *ngIf="students">
              <tr *ngFor="let student of students; let i = index" [ngClass]="(i%2)?'odd':'even'">
                <td class="id-td">{{ +i+1 + start }}</td>
                <td>{{ student.username }}</td>
                <ng-template ngFor let-mission [ngForOf]="student.tasks" let-taskId="index">
                  <td>{{ mission.noOfTrials }}</td>
                  <td *ngIf="mission.success">
                    <img src="assets/icons/correct.svg" alt="Success">
                  </td>
                  <td *ngIf="!mission.success">
                    <img src="assets/icons/wrong.svg" alt="Fail">
                  </td>
                  <td class="link-td" *ngIf="['mission_editor', 'mission' , 'project'].includes(missions[taskId].type)">
                    <span href="#" (click)="goToMission(missions[taskId], student.id)"
                      *ngIf='mission.noOfTrials > 0'>{{ "see-progress" | translate}}</span>
                  </td>
                </ng-template>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <ngx-pagination [arrayLength]='studentsCount' [maxShown]='tableLength' [currentPage]='currentPage'
      (pageChange)="changePagination($event)"></ngx-pagination>
    <button *ngIf="isPrintCSV&&students && students.length > 0" type="button"
      class="btn btn-success export-csv-btn text-uppercase"
      (click)="onExportCSV()">{{"export-csv-file" | translate}}</button>
  </div>

  <ngx-empty-state *ngIf="students && students.length == 0 && searchValue === ''" [type]='"data"'></ngx-empty-state>
  <ngx-empty-state *ngIf="students && students.length == 0 && searchValue !== ''" [type]='"search"'></ngx-empty-state>
</ngx-container>