ngx-container {
  ::ng-deep .content-card {
    background-color: transparent !important;
    box-shadow: none !important;
    padding-top: 0 !important;
    min-height: calc(100vh - 167px) !important;

    .individuals-table {
      width: 100%;
      text-align: center;

      thead {
        th {
          font-size: 16px;
          padding: 15px;
          background-color: #e4e4e4;
          color: #575962;
          font-weight: 700;
          text-transform: capitalize;
          border-right: 1px solid rgba(112, 112, 112, 0.2);

          @media (max-width: 575px) {
            font-size: 14px;
          }
        }
      }

      tbody {
        tr {
          &.odd {
            background-color: #f8f8f8;
          }

          &.even {
            background-color: #fff;
          }

          td {
            padding: 20px 15px;
            font-size: 14px;
            color: #666;
            font-weight: 500;
            border-right: 1px solid rgba(112, 112, 112, 0.2);
            letter-spacing: 1.29px;
            &.id-td {
              width: 100px;
            }

            .txt-link {
              font-size: 14px;
              color: #0096cc;
              text-decoration: underline;
            }

            &.actions-td {
              width: 125px;

              .table-btn {
                padding: 0;
                width: 25px;
                border: none;
                outline: none;
                background-color: transparent;
                margin: 0 10px;

                img {
                  width: 100%;
                }
              }
            }

            @media (max-width: 767px) {
              padding: 15px 10px;

              &.id-td {
                width: 60px;
              }
            }

            @media (max-width: 575px) {
              font-size: 12px;
              padding: 15px 2px;

              &.id-td {
                width: auto;
              }

              &.actions-td {
                width: 55px;

                .table-btn {
                  width: 24px;
                  margin: 0 2px;
                }
              }
            }
          }
        }
      }
    }

    ngx-pagination {
      position: absolute;
      bottom: 60px;
      left: 90px;
      width: 100%;
    }
  }

  .has-border {
    border-top: 1px solid rgba(112, 112, 112, 0.2);
  }
}
