<ngx-container>
  <ng-container *ngIf="invoicesHistory.length > 0">
    <div class="container mt-3">
      <table class="individuals-table">
        <thead>
          <th>{{"date" | translate}}</th>
          <th>{{"description" | translate}}</th>
          <th>{{"total" | translate}}</th>
          <th>{{"receipt" | translate}}</th>
        </thead>
        <tbody>
          <tr *ngFor="let invoice of invoicesHistory; let i = index" [ngClass]="(i%2)?'odd':'even'">
            <td title="{{invoice?.created | date: 'long'}}">{{ invoice?.created | date}}</td>
            <td>{{ invoice?.description }}</td>
            <td>{{ invoice?.amount/100 }}</td>
            <td><a class="txt-link" href="" [routerLink]="['./', invoice?.id]">{{ invoice?.number }}</a>
            </td>
          </tr>
        </tbody>
      </table>

    </div>



  </ng-container>


</ngx-container>