@import './themes';

@mixin nb-overrides() {
  ::selection {
    background-color: nb-theme(color-primary-500);
    color: #fff;
  }

  nb-layout.window-mode {
    padding-top: 0 !important;

    .scrollable-container {
      height: 100vh !important;
    }
  }

  nb-layout-column {
    padding: 10px !important;

    @media (max-width: 575px) {
      margin-top: 70px;
    }
  }

  .container {
    @media (max-width: 575px) {
      max-width: none;
      padding: 0 7px;
    }
  }

  nb-tab {
    padding: 1rem 5px !important;
  }

  nb-option:focus,
  nb-option {
    background-color: transparent;
    color: #000;
  }

  nb-option:hover {
    background-color: nb-theme(color-primary-500);
    margin: 0 5px;
    border-radius: 4px;
    color: #fff;
    padding-left: 13px !important;
    padding-right: 13px !important;

    p {
      color: #fff;
    }
  }

  nb-option {
    p {
      line-height: inherit;
      margin: 0;
      overflow: hidden;
      text-overflow: ellipsis;
      // line-height: 18px;     /* fallback */
      // max-height: 40px;      /* fallback */
      /* autoprefixer: off */
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 1;
      word-break: break-all;
    }
  }

  nb-menu .menu-item {
    border-bottom: 0;
    text-transform: capitalize;
  }

  nb-select.size-medium button {
    // padding: 0.4375rem 2.2rem 0.4375rem 1.125rem !important;

    nb-icon {
      right: 0.41rem !important;
    }
  }

  nb-layout ::-webkit-scrollbar-thumb {
    background: #aeaeae;
  }

  nb-select {
    width: 100%;

    button {
      width: 100%;
      min-width: 100%;
      padding: 10px 15px 10px 10px !important;

      nb-icon {
        right: 0 !important;
      }

      @media (max-width: 575px) {
        padding: 7px 15px 7px 10px !important;
      }
    }
  }

  nb-sidebar {
    background-color: nb-theme(sidebar-background);
    top: 0 !important;

    &.compacted {
      .logo-container {
        padding: 10px !important;

        .text {
          display: none !important;
        }
      }

      .menu-title {
        padding: 1.25rem 0 !important;
        justify-content: center !important;

        p {
          display: none;
        }
      }

      .menu-items {
        .menu-item {
          a {
            border: none;
            padding: 10px 0;

            &::before {
              display: none;
            }

            .menu-title {
              display: none;
            }
          }
        }
      }

      .user-name {
        justify-content: center !important;
        // padding-top: 0 !important;
        padding: 15px 0 0 !important;

        .user-text {
          display: none;
        }
      }

      .user {
        justify-content: center !important;
        padding: 0 !important;

        .user-animation {
          display: none;
        }
      }

      .logout {
        display: none;
      }
    }
  }

  .spinner-border {
    vertical-align: baseline;
  }

  .container {
    @media (min-width: 1400px) {
      max-width: 1320px !important;
    }

    @media (min-width: 1600px) {
      max-width: 1500px !important;
    }
  }

  nb-toastr-container {
    nb-toast {
      padding: 0.875rem;
      width: 24.9vw;

      .icon-container {
        border-radius: 100%;
      }

      .content-container {
        margin: auto;

        .title {
          font-size: 20px;
        }
      }
    }
  }

  @media (max-width: 991.98px) {
    nb-toastr-container {
      nb-toast {
        width: 40vw;
      }
    }
  }

  @media (max-width: 767.98px) {
    nb-toastr-container {
      nb-toast {
        width: 50vw;
      }
    }
  }

  @media (max-width: 575.98px) {
    nb-toastr-container {
      nb-toast {
        width: 80vw;
      }
    }
  }

  .menu-sidebar {
    .main-container-fixed {
      top: 0 !important;

      @media (max-width: 575px) {
        padding-top: 70px;
      }
    }

    .sidebar-toggle {
      padding: 0 !important;
    }

    nb-menu {
      border-bottom: 1px solid nb-theme(sidebar-menu-color);
      background-color: nb-theme(sidebar-background);
    }

    .menu-item {
      a {
        display: flex;
        flex-direction: row-reverse;
        padding: 10px 20px 10px 30px;
        border-left: 5px solid transparent;
        font-size: 20px;
        font-weight: 500;

        nb-icon {
          margin: 0 !important;
        }

        &.active {
          border-left-color: nb-theme(menu-item-active-text-color);
          background-color: nb-theme(sidebar-logo-background);
        }
      }
    }
  }

  .cdk-overlay-container {
    z-index: 99999999997 !important;
  }

  .tippy-tooltip.nebularGreen-theme {
    background-color: #51a207;
  }

  .tippy-tooltip.nebularGreen-theme[data-placement^='right'] .tippy-arrow {
    border-right-color: #51a207;
  }

}

.content-card {
  // min-height: calc(100vh - 150px) !important;
  position: relative;

  padding-bottom: 70px !important;

  ngx-pagination {
    position: absolute;
    width: 100% !important;
    left: 0 !important;
    bottom: 15px !important;
  }
}

.nb-theme-default {
  nb-progress-bar {
    width: 80%;

    .progress-container {
      position: relative;
      background-color: #f3f3f3 !important;
    }

    .progress-value {
      color: #101010 !important;

      span {
        font-size: 12px;
        line-height: 16px;
        position: absolute;
        left: 0;
        right: 0;
      }
    }
  }
}

@mixin not-last-child($selector) {
  & #{$selector}:not(:last-child) {
    @content;
  }
}
