// @nebular theming framework
@import '~@nebular/theme/styles/theming';
// @nebular out of the box themes
@import '~@nebular/theme/styles/themes';

$nb-themes: nb-register-theme((color-primary-100: #e0fac8,
    color-primary-200: #bcf593,
    color-primary-300: #89e25a,
    color-primary-400: #59c631,
    color-primary-500: #1fa100,
    color-primary-600: #108a00,
    color-primary-700: #047300,
    color-primary-800: #005d02,
    color-primary-900: #004d08,
    color-success-100: #ecfbd5,
    color-success-200: #d4f8ac,
    color-success-300: #b1eb7f,
    color-success-400: #8ed85c,
    color-success-500: #1fa100,
    color-success-600: #44a420,
    color-success-700: #2e8916,
    color-success-800: #1c6e0e,
    color-success-900: #0f5b08,
    color-info-100: #caf0fd,
    color-info-200: #97ddfc,
    color-info-300: #62c1f7,
    color-info-400: #3ba5ef,
    color-info-500: #007ae5,
    color-info-600: #005ec4,
    color-info-700: #0046a4,
    color-info-800: #003184,
    color-info-900: #00236d,
    color-warning-100: #fff9cc,
    color-warning-200: #fff29a,
    color-warning-300: #ffe967,
    color-warning-400: #ffe041,
    color-warning-500: #ffd203,
    color-warning-600: #dbb002,
    color-warning-700: #b79001,
    color-warning-800: #937100,
    color-warning-900: #7a5b00,
    color-danger-100: #fde5d1,
    color-danger-200: #fcc4a3,
    color-danger-300: #f89b75,
    color-danger-400: #f17352,
    color-danger-500: #e8371c,
    color-danger-600: #c71e14,
    color-danger-700: #a70e11,
    color-danger-800: #860816,
    color-danger-900: #6f0518,


    sidebar-background: #151a30,
    sidebar-logo-background: #222b45,
    sidebar-menu-color: #fff,
    sidebar-menu-icon-color: #fff,
    menu-text-color: #fcfcfc,
    menu-item-icon-color: #e4e4e4,
    menu-item-active-text-color: #8ae25a,

    badges-container-bg: #fbfbfb,
    state-project-container: #dfdfdf,

    breadcrumbs-text-color: #aeaeae,
    user-role-color: #aeaeae,

    text-primary-hover-color: #8ae25a,

    card-background-color: #f3f3f3,
    card-background-light-color: #fcfcfc,

    background-basic-color-3: #fff,
    background-basic-color-1: #fcfcfc,
    background-basic-color-2: #fcfcfc,
    background-basic-color-4: #f3f3f3,
    background-basic-color-5: #e9e9e9,
    shadow: 0 3px 6px rgba(0, 0, 0, 0.16),
    card-text-color: #707070,
    card-header-text-color: #1fa100,
    text-subtitle-font-size: 16px,
    card-height-medium: 342px,
    card-height-small: 245px,
    card-footer-border-color: #e4e4e4,

    select-options-list-max-height: 10rem,
    select-large-max-width: 100%,
    select-giant-max-width: 100%,

    font-family-primary: 'Dosis',
    font-family-secondary: 'Dosis',

    menu-blocks-padding: 15px 20px 15px 35px,
    layout-padding-top: 2.25rem,
    menu-item-icon-margin: 0 0.5rem 0 0,
    card-height-tiny: 13.5rem,
    // card-height-small: 21.1875rem,
    // card-height-medium: 28.875rem,
    card-height-large: 36.5625rem,
    card-height-giant: 44.25rem,
    card-margin-bottom: 1.875rem,
    card-header-with-select-padding-top: 0.5rem,
    card-header-with-select-padding-bottom: 0.5rem,
    select-min-width: 6rem,
    slide-out-background: #f7f9fc,
    slide-out-shadow-color: 0 4px 14px 0 #8f9bb3,
    slide-out-shadow-color-rtl: 0 4px 14px 0 #8f9bb3),
  default,
  default);

// $nb-themes: nb-register-theme((sidebar-background: #f7f9fc,
//     sidebar-logo-background: #434343,
//     sidebar-menu-color: #222b45,
//     sidebar-menu-icon-color: #434343,
//     menu-text-color: #434343,
//     menu-item-icon-color: #8f9bb3,
//     menu-item-active-text-color: #3366ff,

//     breadcrumbs-text-color: #aeaeae,
//     user-role-color: #aeaeae,

//     text-primary-hover-color: #3366ff,

//     background-basic-color-3: #fff,
//     background-basic-color-1: #fcfcfc,
//     shadow: 0 3px 6px rgba(0, 0, 0, 0.16),
//     card-background-color: #fcfcfc,
//     card-text-color: #1fa100,
//     card-footer-border-color: #e4e4e4,


//     color-primary-100: #faf7ff,
//     color-primary-200: #ece3ff,
//     color-primary-300: #d5bfff,
//     color-primary-400: #8ae25a,
//     color-primary-500: #8ae25a,
//     color-primary-600: #8ae25a,
//     color-primary-700: #8ae25a,
//     color-primary-800: #8ae25a,
//     color-primary-900: #8ae25a,



//     font-family-primary: 'Dosis',
//     font-family-secondary: 'Dosis',

//     menu-blocks-padding: 15px 20px 15px 35px,
//     layout-padding-top: 2.25rem,
//     menu-item-icon-margin: 0 0.5rem 0 0,
//     card-height-tiny: 13.5rem,
//     card-height-small: 21.1875rem,
//     card-height-medium: 28.875rem,
//     card-height-large: 36.5625rem,
//     card-height-giant: 44.25rem,
//     card-margin-bottom: 1.875rem,
//     card-header-with-select-padding-top: 0.5rem,
//     card-header-with-select-padding-bottom: 0.5rem,
//     select-min-width: 6rem,
//     slide-out-background: linear-gradient(270deg, #222b45 0%, #151a30 100%),
//     slide-out-shadow-color: 0 4px 14px 0 #8f9bb3,
//     slide-out-shadow-color-rtl: 0 4px 14px 0 #8f9bb3),
//   dark,
//   dark);
