.publish-modal {
  width: 90vw;
  max-width: 500px;
  nb-card-header {
    background-color: #151a30;
    color: #fff;
    border-radius: 0 0 6px 6px;
    nb-icon {
      background-color: #2b2b2b;
      padding: 3px;
    }
  }

  nb-card-body {
    p {
      color: black;
      font-weight: bold;
    }
  }
}
