<nb-card class="publish-modal">

  <nb-card-header>
    {{'publish-project' | translate}}
    <nb-icon icon="close-outline" class="float-right cursor-pointer" (click)='closeModal()'></nb-icon>
  </nb-card-header>

  <nb-card-body class="px-5 pb-0">
    <p class="text-left pt-3 pb-0 text-center">
      {{'project-will-be' | translate}}
      <b> {{isProjectPublished == 0 ? 'public': 'private' | translate}}</b>
    </p>
  </nb-card-body>

  <nb-card-footer>
    <div class="float-right">

      <button nbButton status="basic" class="mr-2 btn-status--basic bg-transparent border-0" (click)='closeModal()'>
        {{'cancel' | translate | uppercase}}
      </button>

      <button nbButton status="success" class="py-2" (click)="publish()">
        {{isProjectPublished == 0 ? 'publish': 'unPublish' | translate}}
      </button>

    </div>
  </nb-card-footer>
</nb-card>