<span class="room-editor">
    {{'rooms-editor' |translate}}
</span>
<div class="container levels-bar w-100">

    <div class="row h-100">
        <div class="h-100 arrow-container text-center" (click)="scroll('back')">
            <nb-icon icon="arrow-ios-back"> </nb-icon>
        </div>


        <div #lvlContainer class="levels-container">
            <div class="mx-2 level-card text-center" *ngFor="let level of boardService.levels; let i = index">
                <div class="level-box h-100" [class.active]="selectedLevelId == level.id"
                    (click)="changeLevel(level.id)">
                    <span>{{i+1}}</span>
                </div>
                <div *ngIf="boardService.levels.length > 1" class="delete-overlay" (click)="deleteLevel(level.id)">
                    <a href="javascript:;">
                        <nb-icon icon="trash-2"> </nb-icon>
                    </a>
                </div>
            </div>

            <div class="mx-2 level-card text-center">
                <div class="level-box btn-add h-100" (click)="addLevel()">
                    <nb-icon icon="plus-circle"></nb-icon>
                </div>
            </div>
        </div>



        <div class="h-100 arrow-container text-center" (click)="scroll('forward')">
            <nb-icon icon="arrow-ios-forward"> </nb-icon>
        </div>
    </div>

</div>