.room-editor {
  font-size: 8px;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  font-weight: bold;
  color: black;
}
.levels-bar {
  /* position: fixed; */
  box-shadow: -3px -3px 6px rgba(0, 0, 0, 0.16);
  background-color: #f3f3f3;
  border-radius: 8px;
  // bottom: 0;
  /* left: 35%; */
  margin-bottom: 10px;
  /* -webkit-transform: translateX(-50%); */
  /* transform: translateX(-50%); */
  height: 69px;

  .arrow-container {
    flex: 0 0 7.334%;
    width: 7.334%;
    cursor: pointer;
    user-select: none;
    padding-top: 0.9rem;
    nb-icon {
      font-size: 42px;
      color: #c9c9c9;
      user-select: none;
    }
    &:hover {
      nb-icon {
        color: #000;
      }
    }
  }

  .levels-container {
    background-color: #fff;

    flex: 0 0 85.332%;
    width: 85.332%;

    padding-left: 27px;
    padding-right: 27px;
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;

    display: flex;
    overflow-x: hidden;

    .level-card {
      height: 56px;
      width: 56px;
      min-width: 56px;
      position: relative;

      .delete-overlay {
        position: absolute;
        top: -10px;
        right: -10px;
        z-index: 10;
        opacity: 0;
        padding: 0.1rem;
        background-color: #f3f3f3;
        color: black;
        border-radius: 100%;
        a {
          color: #000;
          font-size: 14px;
        }
      }

      .level-box {
        background-color: #f3f3f3;
        border-radius: 4px;
        border: 3px solid #f3f3f3;
        padding: 0.542rem;
        padding-top: 12px;
        cursor: pointer;
        span {
          font-weight: 900;
          font-size: 40px;
          vertical-align: middle;
        }

        &.active {
          background-color: #ffc000;
          border: 3px solid #ffa200;
        }
      }

      &:hover .delete-overlay {
        opacity: 1;
      }

      &:hover .level-box {
        background-color: #c5c5c5;
        border: 3px solid #c5c5c5;
      }

      .btn-add {
        padding-top: 15.68px;
        padding-bottom: 10.68px;
        border-radius: 100%;

        &:hover {
          background-color: #95ff91;
          border: 3px solid #95ff91;
        }
      }
    }
  }
}

@media (max-width: 767.98px) {
  .levels-bar {
    height: 50px;
    .arrow-container {
      padding-top: 0.7rem;
      flex: 0 0 10%;
      nb-icon {
        font-size: 30px;
      }
    }
    .levels-container {
      padding-top: 0.3rem;
      padding-bottom: 0.3rem;
      padding-left: 5px;
      padding-right: 5px;
      flex: 0 0 80%;
      .level-card {
        height: 40px;
        width: 40px;
        min-width: 40px;
        position: relative;
        .level-box {
          padding: 0.342rem;
          span {
            font-size: 30px;
          }
        }
      }
    }
  }
}

@media (max-width: 575.98px) {
  .levels-bar {
    .arrow-container {
      padding-top: 0.7rem;
      flex: 0 0 13%;
      nb-icon {
        font-size: 30px;
      }
    }
    .levels-container {
      flex: 0 0 74%;
    }
  }
}
@media (max-width: 399.98px) {
  .levels-bar {
    .arrow-container {
      padding-top: 0.7rem;
      flex: 0 0 17%;
      nb-icon {
        font-size: 30px;
      }
    }
    .levels-container {
      flex: 0 0 66%;
    }
  }
}
