@import '../../styles/themes';
@import '~bootstrap/scss/mixins/breakpoints';
@import '~@nebular/theme/styles/global/breakpoints';

@include nb-install-component() {
  .menu-sidebar ::ng-deep .scrollable {
    padding-top: nb-theme(layout-padding-top);
  }

  nb-layout-column {
    padding: 0 !important;
    margin-top: 0 !important;
  }

  .max-height-100 {
    max-height: 100%;
  }

  ::ng-deep nb-layout-header.fixed ~ .layout-container {
    padding-top: 61px;
  }

  ::ng-deep nb-layout-header nav {
    height: 61px;
    padding: 13px;
    padding-left: 0;
    padding-right: 0;
    box-shadow: none;
    background-color: #151a30;
  }
  ngx-project-header {
    padding-left: 11px;
    padding-right: 11px;
  }
  @media (min-width: 991.98px) {
    ngx-project-header {
      padding-left: 20px;
      padding-right: 20px;
    }
  }
  .two-bars-expand {
    ::ng-deep nb-layout-header nav {
      animation: expand2 0.15s ease-out forwards;
    }
  }
  .three-bars-expand {
    ::ng-deep nb-layout-header nav {
      height: 122px;
      animation: expand3 0.15s ease-out forwards;
    }
  }
  .two-bars-shrink {
    ::ng-deep nb-layout-header nav {
      animation: shrink2 0.15s ease-out forwards;
    }
  }
  .three-bars-shrink {
    ::ng-deep nb-layout-header nav {
      height: 122px;
      animation: shrink3 0.15s ease-out forwards;
    }
  }

  @keyframes expand2 {
    0% {
      height: 61px;
    }
    100% {
      height: 122px;
    }
  }

  @keyframes shrink2 {
    0% {
      height: 122px;
    }
    100% {
      height: 61px;
    }
  }

  @keyframes expand3 {
    0% {
      height: 61px;
    }
    100% {
      height: 183px;
    }
  }

  @keyframes shrink3 {
    0% {
      height: 183px;
    }
    100% {
      height: 61px;
    }
  }
}
