<nb-layout windowMode [ngClass]="
{'two-bars-expand': expandLvl == 2 , 
'two-bars-shrink': oldLvl == 2 && expandLvl == null,
'three-bars-expand': expandLvl == 3,
'three-bars-shrink': oldLvl == 3 && expandLvl == null
}">
  <nb-layout-header fixed class="p-0">
    <ngx-project-header class="max-height-100 mb-auto"></ngx-project-header>
  </nb-layout-header>

  <nb-layout-column>
    <ng-content select="router-outlet"></ng-content>
  </nb-layout-column>
</nb-layout>