@import '../../../../@theme/styles/themes.scss';

@include nb-install-component() {
  ::ng-deep nb-checkbox {
    .text {
      color: nb-theme(card-text-color);
    }

    .link-txt {
      color: #0096cc;
      text-decoration: underline;
    }

    .label {
      align-items: end;
    }

    .custom-checkbox {
      margin-top: 6px;
    }
  }

  .auth-register-title {
    width: 100%;

    h2 {
      font-size: 27px;
      font-weight: 900;
      color: #000;
      text-align: center;

      @media (min-width: 992px) {
        padding-top: 25px;
      }

      .red {
        color: #eb2938;
      }

      .orange {
        color: #ff5500;
      }
    }
  }

  .auth-card-container {
    background-color: #f3f3f3;
    border: 3px solid #e4e4e4;
    width: 100%;
    padding: 25px 50px;

    @media (max-width: 575px) {
      padding: 25px 0;
    }

    ::ng-deep .title-container {
      padding: 10px 0;
      margin-bottom: 15px;
      text-align: center;

      .title {
        color: #707070;
        font-size: 27px;
        text-transform: uppercase;
        font-weight: 700;
      }

      .instructions {
        margin-bottom: 0;
      }

      @media (max-width: 991px) {
        margin-bottom: 5px;

        .title {
          font-size: 24px;
          line-height: 14px;
        }

        .instructions {
          font-size: 14px;
          line-height: 14px;
        }
      }

      @media (max-width: 575px) {
        .title {
          font-size: 14px;
        }

        .instructions {
          font-size: 10px;
        }
      }
    }

    ::ng-deep .step-content {
      padding: 0;
    }

    ::ng-deep button.stepper-back {
      position: absolute;
      top: 3px;
      left: -35px;
      padding: 0;
      border: none;
      background: transparent;
      outline: none;

      img {
        width: 25px;
      }

      @media (max-width: 575px) {
        left: 0;
        top: 0;

        img {
          width: 20px;
        }
      }
    }

    ::ng-deep .step-container {
      .error-msg {
        color: nb-theme(color-danger-700);
        padding-left: 15px;
        margin-top: 5px;
        display: block;
      }

      padding-top: 35px;
      padding-bottom: 35px;

      &.second-step {
        padding-top: 30px;
        padding-bottom: 30px;
      }

      @media (max-width: 575px) {
        padding-top: 10px;
        padding-bottom: 10px;
      }

      .error {
        color: #eb2938;
      }

      .role-card {
        text-align: center;
        padding: 15px 5px 0;
        height: 210px;
        background-color: #fff;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        box-shadow: nb-theme(shadow);
        border: 4px solid transparent;
        max-width: 200px;
        cursor: pointer;
        margin-bottom: 0;
        transition: all 0.2s linear;

        .role-title {
          font-size: 23px;
          font-weight: 500;
          color: #707070;

          @media (max-width: 991px) {
            font-size: 20px;
          }

          @media (max-width: 575px) {
            font-size: 12px;
          }
        }

        .persons-img {
          max-width: 100%;
          margin: 0 auto;
          min-height: 120px;
        }

        nb-card-body {
          padding: 0;
          padding-bottom: 15px;
        }

        &:hover,
        &.active {
          background-color: #d7ffcd;
          border-color: nb-theme(color-primary-500);

          .role-title {
            color: nb-theme(color-primary-500);
          }
        }

        .code-title {
          font-size: 18px;
          line-height: 18px;
          margin-bottom: 5px;

          @media (max-width: 575px) {
            font-size: 12px;
            line-height: 12px;
          }
        }

        .form-group {
          position: relative;

          .form-control {
            padding-right: 30px;
            box-shadow: none;

            @media (max-width: 575px) {
              font-size: 8px;
              padding-right: 15px;
            }
          }

          .submit-btn {
            position: absolute;
            bottom: 7px;
            right: 5px;
            padding: 0;
            border: none;
            background-color: transparent;
            border-radius: 50%;
            outline: none;
            box-shadow: none;

            img {
              width: 25px;
              height: 25px;
            }

            @media (max-width: 575px) {
              img {
                width: 10px;
                height: 10px;
              }
            }
          }
        }

        .error {
          color: #eb2938;
          margin-top: -10px;
          padding-left: 5px;
          text-align: left;
        }

        .yes-no-img {
          max-width: 100%;
          max-height: 100%;
        }

        @media (max-width: 450px) {
          height: 180px;
        }
      }

      ::ng-deep nb-flip-card {
        .flipcard-body {
          width: 100%;
          height: 100%;

          .front-container,
          .back-container {
            width: 100%;
          }

          .flip-button {
            width: 100%;
            height: 100%;
            bottom: 5px;
            opacity: 0;
            margin: 0;
          }

          .back-container {
            .flip-button {
              display: none;
            }
          }

          nb-card {
            margin: 0;
            width: 100%;
            height: 100%;
            background: transparent;
            box-shadow: none;
            padding-bottom: 15px;
          }
        }
      }

      &.flex-form {
        padding-top: 10px;
        padding-bottom: 10px;
        min-height: 400px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .form-group {
          &.parent-email {
            padding: 10px 15px;
            background-color: #fff;

            p {
              margin-bottom: 5px;
              font-weight: 600;
              font-size: 16px;
              color: #707070;
            }
          }
        }

        .form-footer {
          display: flex;
          justify-content: space-between;
          align-items: center;

          .instructions {
            margin-bottom: 0;
            font-size: 12px;

            a {
              color: #0096cc;
              text-decoration: underline;
            }
          }

          .get-started-btn-container {
            position: relative;
            overflow: hidden;
            border-radius: 3px;
            min-width: 180px;

            .get-started-btn {
              position: relative;
              background-color: transparent;
              border: 2px solid nb-theme(color-primary-500);
              color: #fff;
              z-index: 5;
              font-weight: 600;
              padding: 5px 30px;
              width: 100%;
            }

            .background {
              display: block;
              width: 100%;
              height: 100%;
              background-color: nb-theme(color-primary-500);
              position: absolute;
              left: 0;
              top: 0;
              z-index: 1;
            }
          }

          @media (max-width: 575px) {
            flex-direction: column;
            align-items: flex-start;

            .get-started-btn-container {
              align-self: flex-end;
            }
          }
        }
      }

      &.thankyou-step {
        padding-top: 10px;
        padding-bottom: 0;

        .thankyou-img {
          height: 270px;
          margin-bottom: 15px;

          img {
            height: 100%;
            margin: 0 auto;
            display: block;
            // filter: grayscale(100%);
          }
        }

        h6 {
          font-weight: 700;
          font-size: 24px;
          color: #707070;
          margin-bottom: 15px;
        }

        p {
          margin-bottom: 0;
          color: #707070;
          font-weight: 400;
          font-size: 19px;
        }
      }
    }

    ::ng-deep nb-stepper {
      .header .step {
        margin: 0;

        .label-index {
          font-weight: 500;
          background-color: #fff;
        }

        .label {
          font-weight: 500;
          font-size: 12px;
        }


        &.selected {
          .label-index {
            font-weight: 800;
            background-color: transparent;
          }
        }

        &.completed {
          .label-index {
            background-color: #1fa100;
            border-color: #1fa100;
          }
        }
      }

      @media (max-width: 575px) {
        .header {
          padding: 0 20px;

          .step {
            .label-index {
              width: 21px;
              height: 21px;
              font-size: 12px;
            }

            .label {
              font-size: 8px;
            }
          }

          .connector {
            margin: 15px;
          }
        }
      }
    }
  }

  .auth-other-option {
    background-color: #f3f3f3;
    padding: 15px;
    margin-top: 15px;
    text-align: center;

    p {
      margin-bottom: 0;
      font-size: 16px;
      color: #707070;

      @media (max-width: 991px) {
        font-size: 14px;
      }

      @media (max-width: 575px) {
        font-size: 10px;
      }

      a {
        color: #0096cc;
        text-decoration: underline;

        &:hover,
        &:focus,
        &:active {
          color: #0096cc;
        }
      }
    }
  }
}
