<div class="auth-register-title">
  <h2><span [class.red]="!isOrg" [class.orange]="isOrg">Join us</span> now</h2>
</div>
<div class="auth-card-container">
  <div class="col-12">
    <div class="row">
      <div class="col-12 p-0">
        <nb-stepper #stepper disableStepNavigation="true">

          <!-- ------------------ SECTION  CANADA ------------------ -->

          <ng-container *ngIf="!isOrg">


            <!-- SECTION Step ROLE -->
            <nb-step [stepControl]="roleForm" #stepRole [label]="step_one_label">
              <ngx-select-role-step [role]="accessRole.value" (removeCompleted)="removeCompleted(stepRole, $event)"
                (roleSelected)="onRoleSelected($event)"></ngx-select-role-step>
            </nb-step>

            <!-- SECTION  Step ClassRoom Code -->


            <nb-step label="Classroom Code" #stepCode *ngIf="showClassroomCode">
              <ngx-classroom-code-step (removeCompleted)="removeCompleted(stepCode, $event)"
                (classroomCodeValidated)="onClassroomCodeValidated($event)"
                (noClassroomCode)="onNoClassroomCode($event)">
              </ngx-classroom-code-step>
            </nb-step>
          </ng-container>

          <!-- ------------------------------------ -->




          <!-- SECTION  Step Profile Details -->

          <nb-step #stepProfile label="Profile Details">
            <ngx-profile-details-step [role]="accessRole.value || 'teacher'" [classroom_code]="classroom_code"
              (stepToSuccess)="onSubmitSuccessfully($event)" (removeCompleted)="removeCompleted(stepProfile, $event)">
            </ngx-profile-details-step>
          </nb-step>



          <!-- ------------------ SECTION ORG ------------------ -->

          <ng-template [ngIf]="isOrg">

            <!-- SECTION  Step Plans -->

            <nb-step label="Plans" #stepPlans>
              <ngx-plans (selectedPlan)="getSelectedPlan($event)"
                (removeCompleted)="removeCompleted(stepPlans, $event)">

              </ngx-plans>
            </nb-step>



            <!-- SECTION  Step Payment -->

            <nb-step label="Payment" #stepPayment>
              <ngx-payment *ngIf="selectedPlan" [selectedPlan]="selectedPlan"
                (removeCompleted)="removeCompleted(stepPayment, $event)" (stepToSuccess)="onSubmitSuccessfully($event)">

              </ngx-payment>
            </nb-step>
          </ng-template>

          <!-- ------------------------------------ -->
          <!-- SECTION  Step Thank You -->

          <nb-step label="Thank You" #stepEnd>
            <ngx-auth-thanks-step [userType]="userType" [userEmail]="userEmail"
              (removeCompleted)="removeCompleted(stepEnd, $event)"></ngx-auth-thanks-step>
          </nb-step>



        </nb-stepper>
      </div>
    </div>
  </div>
</div>



<!-- ------------------ SECTION Have an account? ------------------ -->

<div class="auth-other-option">
  <p>Have an account? <a routerLink="/auth/login">Log In</a></p>
</div>