
    
    ::ng-deep [blockly-box] {
        width: 100%;
        height: 100%;
        .injectionDiv {

        }
        .blocklyText {
            font-weight: bold !important;
        }
        .blocklyToolboxDiv {
            background-color:#fcfcfc !important;
            padding-right: 8px;
            padding-left: 8px;
        }
        .blocklyToolboxDiv::-webkit-scrollbar {
            width: 0.3125rem;
            height: 0.3125rem;
        }
        .blocklyToolboxDiv::-webkit-scrollbar-thumb {
            background: #aeaeae;
        }
        .blocklyToolboxDiv::-webkit-scrollbar-thumb {
            cursor: pointer;
            border-radius: 0.15625rem;
        }
        .events {
            background-image: url('../../../../../../assets/images/events_icon.png');
            background-position: center center !important;
            background-repeat: no-repeat;
            background-size: contain;
            height: 33px;
            width: 33px;
        }
        .actions {
            background-image: url('../../../../../../assets/images/actions_icon.png');
            background-position: center center !important;
            background-repeat: no-repeat;
            background-size: contain;
            height: 33px;
            width: 33px;
        }
        .controls {
            background-image: url('../../../../../../assets/images/controls_icon.png');
            background-position: center center !important;
            background-repeat: no-repeat;
            background-size: contain;
            height: 33px;
            width: 33px;
        }
        .variables {
            background-image: url('../../../../../../assets/images/variables_icon.png');
            background-position: center center !important;
            background-repeat: no-repeat;
            background-size: contain;
            height: 33px;
            width: 33px;
        }
        .looks {
            background-image: url('../../../../../../assets/images/looks_icon.png');
            background-position: center center !important;
            background-repeat: no-repeat;
            background-size: contain;
            height: 33px;
            width: 33px;
        }
        .sensors {
            background-image: url('../../../../../../assets/images/sensors_icon.png');
            background-position: center center !important;
            background-repeat: no-repeat;
            background-size: contain;
            height: 33px;
            width: 33px;
        }
        .values {
            background-image: url('../../../../../../assets/images/values_icon.png');
            background-position: center center !important;
            background-repeat: no-repeat;
            background-size: contain;
            height: 33px;
            width: 33px;
        }
        .math {
            background-image: url('../../../../../../assets/images/math_icon.png');
            background-position: center center !important;
            background-repeat: no-repeat;
            background-size: contain;
            height: 33px;
            width: 33px;
        }
        .gameplay {
            background-image: url('../../../../../../assets/images/gameplay_icon.png');
            background-position: center center !important;
            background-repeat: no-repeat;
            background-size: contain;
            height: 33px;
            width: 33px;
        }

        .blocklyTreeLabel {
            text-transform: capitalize;
            display: block;
            font-family: Dosis;
            line-height: 16px;
            font-size: 12px;
            font-weight: bold;
            color: #2e2e2e;
        }

        .blocklyTreeRow {
            text-align: center;
            width: 56px;
            height: 71px;
            padding: 10px 0;
            background-color: #e4e4e4;
            border-radius: 4px;
        }
        .tree_events .blocklyTreeSelected {
            background-color: #db0000 !important;
            border: 4px solid #b30000 !important;
        }
        .tree_actions .blocklyTreeSelected {
            background-color: #00db14 !important;
            border: 4px solid #00b310 !important;
        }
        .tree_looks .blocklyTreeSelected {
            background-color: #00db98 !important;
            border: 4px solid #00b37c !important;
        }
        .tree_sensors .blocklyTreeSelected {
            background-color: #db00a8 !important;
            border: 4px solid #b30089 !important;
        }
        .tree_values .blocklyTreeSelected {
            background-color: #00b5db !important;
            border: 4px solid #0094b3 !important;
        }
        .tree_math .blocklyTreeSelected {
            background-color: #dba800 !important;
            border: 4px solid #b38900 !important;
        }
        .tree_controls .blocklyTreeSelected {
            background-color: #9300db !important;
            border: 4px solid #7800b3 !important;
        }
        .tree_variables .blocklyTreeSelected {
            background-color: #db5f00 !important;
            border: 4px solid #b34d00 !important;
        }
        .tree_gameplay .blocklyTreeSelected {
            background-color: #005fdb !important;
            border: 4px solid #004db3 !important;
        }
        .blocklyTreeSelected {
            text-align: center;
            width: 56px;
            height: 71px;
            padding: 10px 0;
            // background-color: #ffc000 !important;
            // border: 3px solid #ffa200 !important;
            border-radius: 4px;
        }
        .blocklyTreeSelected .blocklyTreeLabel {
            color: white !important;
        }

        .blocklyFlyoutBackground {
            fill: #fcfcfc !important;
        }
        .blocklyMainBackground {
            fill: #e8e8e8 !important;
        }
        .blocklySvg {
            height: 100%;
            width: 100%;
        }
    }
    
    
