<nb-card class="content-cards pb-0">
    <nb-card-header class="px-md-3 px-0">
        <div class="container">
            <div class="row">
                <div class="col">
                    <ngx-search (search)='search($event)'></ngx-search>
                </div>

                <div class="page-select-container">
                    <nb-select class="page-limit-select" [(selected)]="cardPerPage"
                        (selectedChange)="changeItemPerPage()">
                        <nb-option *ngFor="let option of cardsPerPage" [value]="option">
                            {{ option }}
                        </nb-option>
                    </nb-select>
                </div>

                <div class="col-sm-3 col-5">
                    <nb-select class="table-filter-select" *ngIf="students && students.length > 0"
                        [(selected)]="selectedStudent" (selectedChange)="changeStudent()">
                        <nb-option value="all">All</nb-option>
                        <nb-option *ngFor="let student of students" [value]="student.id">
                            {{ student.name }}
                        </nb-option>
                    </nb-select>
                </div>
            </div>
        </div>
    </nb-card-header>
    <div class="container cards-container mb-0">
        <div class="row mt-4">

            <div class="col-lg-4 col-md-6 " *ngFor="let project of projects, let i = index">
                <ngx-card [isShare]='true' [cardData]="project" (shareClickedEvent)="share(project)"
                    (likeBtnClicked)="toggleLikeProject(i)" (click)="openProject(project)">
                </ngx-card>
            </div>
        </div>

        <ngx-pagination *ngIf="projects && projects.length !== 0" [arrayLength]='countOfProjects'
            [maxShown]='cardPerPage' [currentPage]='currentPage' (pageChange)="changePagination($event)">
        </ngx-pagination>


        <ngx-empty-state *ngIf="projects && projects.length == 0 && searchValue === ''" [type]='"data"'>
        </ngx-empty-state>
        <ngx-empty-state *ngIf="projects && projects.length == 0 && searchValue !== ''" [type]='"search"'>
        </ngx-empty-state>
    </div>
</nb-card>