@import '../../styles/themes';
@import '~bootstrap/scss/mixins/breakpoints';
@import '~@nebular/theme/styles/global/breakpoints';


@include nb-install-component() {
  ::ng-deep .visitor-layout {
    padding: 0 !important;
    margin: 0 !important;
  }
}
