<nb-layout windowMode>
  <nb-layout-column class="visitor-layout">
    <ngx-visitor-header></ngx-visitor-header>
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <ng-content select="router-outlet"></ng-content>
        </div>
      </div>
    </div>
  </nb-layout-column>
</nb-layout>