.spinner-container {
  position: fixed;
  display: table-cell;
  vertical-align: middle;
  height: 100vh;
  width: 100vw;
  z-index: 20000;
  background: white;
  img {
    margin-top: calc(50vh - 125px);
    width: auto;
    max-width: 250px;
    vertical-align: middle;
  }
  div {
    width: auto;
    margin-top: 25vh;
    max-width: 250px;
    vertical-align: middle;
  }
}


/* extra small screens */
@media only screen and (max-width: 767px) {
  .spinner-container {
    img {
      margin-top: calc(50vh - 75px);
      max-width: 150px;
    }
  }
}
