<ngx-container class="teacher-card">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="row">
          <div class="col-lg-8 col-md-6 col-sm-6 col-xs-6 col-5 pl-0 pr-1">
            <ngx-search (search)="search($event)"></ngx-search>
          </div>
          <div class="col-lg-1 col-md-2 col-sm-2 col-xs-2 col-3 pl-1 pr-1">
            <nb-select class="table-filter-select" [(selected)]="tableLength" (selectedChange)="onChangeLength()">
              <nb-option *ngFor="let option of tableLengths" value="{{ option }}">{{ option }}</nb-option>
              <nb-option value="all">{{"All" | translate}}</nb-option>
            </nb-select>
          </div>
          <div class="col-lg-3 col-md-4 col-sm-4 col-xs-4 col-4 pl-1 pr-0">
            <nb-select class="table-filter-select" [(selected)]="selectedProvince"
              placeholder="{{'filter-by-province' | translate}}" (selectedChange)="onFilterByProvince()">
              <nb-option value="all">{{"All" | translate}}</nb-option>
              <nb-option *ngFor="let province of provincies" value="{{ province.id }}">{{ province.name }}</nb-option>
            </nb-select>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container teachers-container mt-3" *ngIf="dataLoaded">
    <div class="row pb-3">
      <div class="col-12" *ngIf="teachers && teachers.length === 0">
        <ngx-empty-state *ngIf="searchValue === ''" [type]='"data"'></ngx-empty-state>
        <ngx-empty-state *ngIf="searchValue !== ''" [type]='"search"'></ngx-empty-state>
      </div>
      <div class="col-12 p-0" *ngIf="teachers && teachers.length > 0">
        <div class="table-container">
          <table class="teachers-table">
            <thead>
              <tr>
                <th>{{"name" | translate}}</th>
                <th>{{"city" | translate}}</th>
                <th>{{"province" | translate}}</th>
                <th>{{"school" | translate}}</th>
                <th>{{"classroom" | translate}}</th>
                <th>{{"students" | translate}}</th>
                <th>{{"email" | translate}}</th>
                <th>{{"joining" | translate}}</th>
                <th>{{"training-progress" | translate}}</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let teacher of teachers; let i = index" [ngClass]="(i%2)?'odd':'even'">
                <td>{{ teacher.full_name }}</td>
                <td>{{ teacher.school.city }}</td>
                <td>{{ teacher.school.province }}</td>
                <td>{{ teacher.school.name }}</td>
                <td><a *ngIf='teacher.classroomsCount > 0'
                    [routerLink]="'classrooms/'+teacher.id">{{ teacher.classroomsCount }}</a>
                  <span *ngIf="teacher.classroomsCount == 0">{{ teacher.classroomsCount }}</span>
                </td>
                <td>{{ teacher.studentsCount }}</td>
                <td>{{ teacher.email }}</td>
                <td>{{ teacher.joiningDate }}</td>
                <td>{{ teacher.teacherProgress }} %</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <button type="button" class="btn btn-success export-csv-btn text-uppercase" (click)="onExportCSV()"
      *ngIf="teachers && teachers.length > 0">{{"export-csv-file" | translate}}</button>
    <div class="row pagination-container" *ngIf="teachers && teachers.length > 0">
      <div class="col-12">
        <ngx-pagination [arrayLength]='teachersCount' [maxShown]='maxShown' [currentPage]='currentPage'
          (pageChange)="changePagination($event)">
        </ngx-pagination>
      </div>
    </div>
  </div>
</ngx-container>