@import '../../../../../@theme/styles/themes.scss';

@include nb-install-component() {

  .student-card {
    padding-bottom: 70px !important;

    .header-container {
      padding: 15px;

      ::ng-deep nb-select {
        width: 100%;

        button {
          width: 100%;
          min-width: 100%;
          padding: 10px 15px 10px 10px !important;

          nb-icon {
            right: 0 !important;
          }
        }
      }

      .btn-success {
        width: 100%;
        padding: 10px 15px;
        font-size: 16px;
        font-weight: 600;
        background-color: nb-theme(color-primary-500);

        nb-icon {
          vertical-align: text-bottom;
          margin-right: 10px;
        }

        @media (max-width: 575px) {
          padding: 12px 5px;
          font-size: 12px;

          nb-icon {
            font-size: 13px;
            margin-right: 5px;
          }
        }
      }
    }

    .body-container {
      padding: 15px;

      .col__table__container {
        min-height: calc(100vh - 302px);
      }

      .table-container {
        width: 100%;
        overflow-x: auto;

        &::-webkit-scrollbar-track {
          box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
          -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
          border-radius: 15px;
          background-color: #f5f5f5;
        }

        &::-webkit-scrollbar {
          width: 20px;
          background-color: #f5f5f5;
        }

        &::-webkit-scrollbar-thumb {
          border-radius: 15px;
          box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
          -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
          background-color: nb-theme(color-primary-500);
        }
      }

      .students-table {
        min-width: 100%;
        text-align: center;
        border: 1px solid #e4e4e4;

        thead {
          th {
            font-size: 20px;
            padding: 10px 15px;
            background-color: #e4e4e4;
            color: #434343;
            font-weight: 400;
            border-left: 1px solid #cdcdcd;
            border-right: 1px solid #cdcdcd;
            overflow: hidden;

            &.name-th {
              width: 200px;
              min-width: 200px;
            }

            p {
              line-height: 25px;
              margin: 0;
              font-size: inherit !important;
              overflow: hidden;
              text-overflow: ellipsis;
              // line-height: 18px;     /* fallback */
              // max-height: 40px;      /* fallback */
              /* autoprefixer: off */
              display: -webkit-box;
              -webkit-box-orient: vertical;
              -webkit-line-clamp: 2;
            }

            @media (max-width: 575px) {
              font-size: 14px;
            }
          }

          tr.sub-header {
            th {
              background-color: #f8f8f8;
              border-left: 1px solid #e4e4e4;
              border-right: 1px solid #e4e4e4;
              font-size: 14px;
              min-width: 75px;

              @media (max-width: 991px) {
                padding: 10px 5px;
              }
            }
          }
        }

        tbody {
          tr {
            &.odd {
              background-color: #f8f8f8;
            }

            &.even {
              background-color: #fff;
            }

            td {
              padding: 15px;
              font-size: 16px;
              color: #000;
              font-weight: 500;
              border-left: 1px solid #e4e4e4;
              border-right: 1px solid #e4e4e4;

              &.id-td {
                width: 40px;
              }

              &.link-td {
                font-size: 11px;
                padding: 15px 5px;

                span {
                  color: #007be4;
                  text-decoration: underline;
                  cursor: pointer;

                  &:hover {
                    color: #007be4;
                  }
                }
              }

              &.actions-td {
                width: 125px;

                .table-btn {
                  padding: 0;
                  width: 25px;
                  border: none;
                  outline: none;
                  background-color: transparent;
                  margin: 0 10px;

                  img {
                    width: 100%;
                  }
                }
              }

              img {
                width: 25px;
                height: 25px;
              }

              @media (max-width: 767px) {
                padding: 15px 10px;
              }

              @media (max-width: 575px) {
                font-size: 12px;
                padding: 15px 2px;

                &.id-td {
                  width: auto;
                }

                &.actions-td {
                  width: 55px;

                  .table-btn {
                    width: 24px;
                    margin: 0 2px;
                  }
                }
              }
            }
          }
        }
      }

      .pagination-container {
        padding: 15px 15px 0;

        ::ng-deep ngx-pagination {
          ul.row {
            margin-bottom: 0;
          }
        }
      }
    }
  }
}
