<div class="container-fluid">
    <div class="row">
        <nb-tabset fullWidth class="classroom__list">
            <nb-tab [tabTitle]="'Journeys' | translate">
                <ngx-journey-tab>
                </ngx-journey-tab>
            </nb-tab>
            <nb-tab [tabTitle]="'pre-journeys' | translate">
                <ngx-pre-journey-tab>
                </ngx-pre-journey-tab>
            </nb-tab>
        </nb-tabset>
    </div>
</div>