@import '../../../../@theme/styles/themes.scss';

@include nb-install-component() {

  ::ng-deep .content-card {
    min-height: calc(100vh - 150px) !important;

    .class-word {
      color: #aeaeae;
      font-size: 14px;
      font-weight: bold;
    }

    .class-name {
      font-size: 30px;
      font-weight: bold;
      color: #434343;
    }

    .card-clickable {
      position: relative;
    }


    .overlay {
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      opacity: 0;
      transition: 0.5s ease;
      background-color: #cccccc54;
      width: 100%;
      height: 100%;
      border-radius: 8px;
      left: 0%;
    }

    .btn-play {
      position: absolute;
      top: 35%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
      cursor: pointer;
    }

    .card-clickable:hover .overlay {
      opacity: 1;
    }

    ::ng-deep nb-select {
      width: 100%;

      button {
        width: 100%;
        min-width: 100%;
        padding: 10px 15px 10px 10px !important;

        nb-icon {
          right: 0 !important;
        }

        @media (max-width: 575px) {
          padding: 7px 15px 7px 10px !important;
        }
      }
    }
  }


  ::ng-deep nb-tabset .tab {
    .tab-link {
      color: #666666;
      font-size: 20px;
      font-weight: 600;
    }

    &.active {
      background-color: #e8e8e8;

      .tab-link {
        color: #000;
        font-weight: 600;
      }
    }

    /* Extra Small Screen */
    @media only screen and (max-width: 767px) {
      ::ng-deep .tabset {
        margin: 0 8px;
      }

      .tab-link {
        font-size: 14px;
        padding: 13px;
      }
    }
  }

  ::ng-deep .classroom__list {
    width: 100%;

    nb-tab {
      padding: 1rem 0;
    }

    ul.tabset {
      background-color: #f3f3f3;
      border-bottom: 3px solid #e4e4e4;


      li {
        width: 100%;

        a {
          justify-content: center;
        }
      }
    }
  }

}
