@import '../../@theme/styles/themes';

@include nb-install-component() {
  ::ng-deep router-outlet + * {
    display: block;
    animation: fade 1s;

    @keyframes fade {
      from {
        opacity: 0;
      }

      to {
        opacity: 1;
      }
    }
  }

  ::ng-deep nb-toastr-container {
    padding-left: 14px;
    padding-right: 14px;
    nb-toast {
      width: 100%;
      .content-container {
        margin: auto;
        .title {
          font-size: 16px;
        }
      }
    }
  }

  ::ng-deep nb-card.wrong-data-modal {
    width: 90vw !important;
    max-width: 500px;
    nb-card-header {
      background-color: #151a30;
      color: #fff;
      border-radius: 0 0 6px 6px;
      nb-icon {
        background-color: #2b2b2b;
        padding: 3px;
      }
    }
  
    nb-card-body {
      p {
        color: black;
        font-weight: bold;
      }
    }
  }
}
