<ngx-spinner></ngx-spinner>
<ngx-project-layout>
    <!-- <nb-menu [items]="menu"></nb-menu> -->
    <router-outlet>
        <!-- router-outlet -->
        <ngx-project-space></ngx-project-space>

    </router-outlet>

</ngx-project-layout>

<ng-template #finishedModal let-data let-ref="dialogRef">
    <ngx-finished-modal [isTeacher]='isTeacher' [ref]="ref"></ngx-finished-modal>
</ng-template>
<ng-template #wrongDataModal let-data let-ref="dialogRef">

    <nb-card class="wrong-data-modal">
      <nb-card-header>
        {{'error' | translate}}
      </nb-card-header>
  
      <nb-card-body class="px-5 pb-0">
        <p class="text-left pt-3 pb-0 text-center">
          {{errorMessage}}
        </p>
      </nb-card-body>
  
      <nb-card-footer>
        <div class="float-right">

          <button nbButton status="success" (click)="ref.close();gotoProjectsPage()" class="py-2">
            {{'ok' | translate}}
          </button>
  
        </div>
      </nb-card-footer>
    </nb-card>
  </ng-template>