.image-holder {
  position: relative;
  margin: auto;
  margin-top: 20px;
  width: 44px;

  //height: 61px; original from xd
  @media (min-width: 576px) {
    width: 99px;
    // height: 137px; original from xd
    margin-top: 20px;
  }

  .edit-button {
    position: absolute;
    bottom: 0;
    right: -8px;
    color: #2e2e2e;
    padding: 4px;
    width: 26px;
    height: 26px;
    background-color: #ffc000;
    border-width: 0;
    border-radius: 12%;

    nb-icon {
      margin: auto;
    }

    @media (min-width: 576px) {
      bottom: -21px;
      right: -15px;
      width: 50px;
      height: 50px;
    }
  }

  img {
    width: 102px;
    height: 107px;
    display: block;
    border-radius: 50%;
  }

  .edit-img--icon {
    width: 1em;
    height: 1em;
    right: 20px;
    top: 5px;
    border-radius: 5px;
  }
}
