<div class="image-holder">
    <input type="file" accept="image/*" #uploadImage hidden (change)="fileChangeEvent($event)">
    <button nbButton status="warning" class="edit-button" (click)="uploadImage.click()">
        <nb-icon icon="edit"></nb-icon>
    </button>
    <img class="img-fluid img--dummy" [src]="currentImageUrl || 'assets/images/no-image.svg'">
</div>