@import '~bootstrap/scss/mixins/breakpoints';
@import '~@nebular/theme/styles/global/breakpoints';
@import '../../styles/themes';

@include nb-install-component() {
  display: flex;
  justify-content: space-between;
  width: 100%;

  .logo-container {
    display: flex;
    align-items: center;
    // width: calc(#{nb-theme(sidebar-width)} - #{nb-theme(header-padding)});
  }

  nb-action {
    height: auto;
    display: flex;
    align-content: center;
  }

  nb-user {
    cursor: pointer;
  }

  .grayScale-img {
    filter: grayscale(100%);
  }

  ::ng-deep nb-search button {
    padding: 0 !important;
  }

  .header-container {
    display: flex;
    align-items: center;
    width: 100%;
    margin: 0;
    padding: 0;

    .btn-back {
      @include nb-ltr(padding-right, 1.25rem);
      @include nb-rtl(padding-left, 1.25rem);
      text-decoration: none;
      color: nb-theme(text-hint-color);

      nb-icon {
        font-size: 35px;
        background-color: #313649;
        border: 1px solid #d4d4d4;
        border-radius: 6px;
        color: #e9e9e9;
      }
    }

    .logo {
      white-space: nowrap;
      text-decoration: none;
      font-family: 'Bungee', cursive;
      font-size: 15px;
      margin: auto;
      color: #fcfcfc;
      line-height: 0.6;

      .copyright {
        font-size: 5px;
        color: #ffffff8f;
      }

      &.logo-txt {
        font-size: 19px;
      }
    }

    .fixed-height {
      max-height: 36px;
    }

    .btn-burger {
      text-align: right;

      button {
        background-color: transparent;
        border: 0;

        nb-icon {
          font-size: 23px;
          color: white;
        }
      }
    }

    .project-name-container {
      background-color: #222b45;
      border-radius: 6px;

      .name-project-input {
        height: 100%;
        padding-left: 10px;
        margin: 0;

        input {
          font-size: 16px;
          border: 0;
          color: #fff;
          background: transparent;
          text-overflow: ellipsis;
        }
      }

      .edit-icon {
        color: #707070;
        margin-top: auto;
        margin-bottom: auto;
        width: 0;
      }
    }

    .loading {
      display: inline-block;

      &::after {
        content: ' ';
        display: block;
        width: 15px;
        height: 15px;
        margin-right: 9px;
        border-radius: 50%;
        border: 2px solid #fff;
        border-color: #fff transparent;
        animation: lds-dual-ring 1.2s linear infinite;
      }

      @keyframes lds-dual-ring {
        0% {
          transform: rotate(0deg);
        }

        100% {
          transform: rotate(360deg);
        }
      }
    }

    .dropdown-button {
      color: #00ff80;
      background-color: transparent;
      border-color: #d4d4d4;
      text-transform: uppercase;
      font-size: 14px;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      letter-spacing: 1px;
      display: flex;
      font-weight: 800 !important;
    }

    .dropdown-button-ul {
      padding: 0;
      text-align: center;
    }

    .dropdown-button-ul li a {
      font-size: 13px;
      text-transform: uppercase;
      letter-spacing: 1px;
      font-weight: 600;
      line-height: 1.5rem;
      padding: 0.75rem 1rem;
      display: block;
      background-color: #151a30;
      color: #00ff80;
    }

    .dropdown-button-ul li:last-child {
      border-bottom: none;
    }

    .user-data-container {
      padding: 11px;
      color: white;
      border-bottom: 1px solid white;

      span {
        font-size: 12px !important;
      }

      .user-name {
        color: #3ba5ef;
      }

      .hello {
        font-size: 16px !important;
      }

      .user-img-container {
        border-radius: 100%;
      }
    }

    .fullwidth {
      width: 100%;
    }

    .dropdown-button:focus {
      box-shadow: none !important;
      outline: none;
    }

    .publish-btn {
      height: 100%;
      background-color: #ff5500;
      border-color: transparent;
      margin-left: 0.9em;
      letter-spacing: 1px;
      font-size: 15px;
      padding: 0;
      font-weight: 800 !important;

      &:disabled {
        opacity: 0.3;
        color: white;

        &:hover {
          opacity: 0.3;
          background-color: #ff5500;
        }
      }
    }

    .view-Project-btn {
      background-color: #222b45;
      border-color: #222b45;
      border-radius: 4px;

      &:hover {
        background-color: #4f576e;
        border-color: #4f576e;
      }
    }

    .margin-auto {
      display: flex;
      margin: auto;
    }

    .publish-btn:hover {
      background-color: #fe7632;
    }

    .save-icon {
      font-size: 15px;
      margin-right: 0.3rem;

      nb-icon {
        font-size: 15px;
      }
    }

    @media (max-width: 575.98px) {
      .save-icon {
        font-size: 12px;

        nb-icon {
          font-size: 12px;
        }
      }
    }

    @media (max-width: 575.98px) {
      .loading {
        &::after {
          width: 12px;
          height: 12px;
          margin-right: 7px;
          border: 3px solid #fff;
        }
      }
    }

    .nav-item {
      margin: auto;
      display: flex;
      width: 100%;
    }

    .margin-auto {
      margin: auto;
    }
  }

  .direction-switcher {
    @include nb-ltr(margin-left, 2rem);
    @include nb-rtl(margin-right, 2rem);
  }

  @include media-breakpoint-down(sm) {
    .control-item {
      display: none;
    }

    .user-action {
      border: none;
      padding: 0;
    }
  }

  @include media-breakpoint-down(is) {

    nb-select,
    .direction-switcher {
      display: none;
    }
  }

  .menu-col-2 {
    width: 170px;
    border: 1px solid #fff;
    margin-top: 0;
    // padding: 0.5rem !important;
    background-color: #151a30;
    border-radius: 0 0 10px 10px;
    box-shadow: nb-theme(shadow) !important;

    li {
      a {
        padding: 0.5rem !important;
        border-radius: 0 0 10px 10px;
      }

      &:hover a {
        background-color: #222b45 !important;
        text-decoration: none !important;
      }
    }
  }
}

::ng-deep nb-card.saving-modal {
  width: 90vw !important;
  max-width: 500px;

  nb-card-header {
    background-color: #151a30;
    color: #fff;
    border-radius: 0 0 6px 6px;

    nb-icon {
      background-color: #2b2b2b;
      padding: 3px;
    }

    .cursor-pointer {
      cursor: pointer;
    }
  }

  nb-card-body {
    p {
      color: black;
      font-weight: bold;
    }
  }
}
