<div class="header-container row justify-content-between px-0">

  <!-- SECTION Log and back point -->

  <div class="col-lg-3 col-md-4 col-sm col-10 pl-0">

    <div class="row ml-0">
      <div class="logo-container">

        <a href="javascript:;" (click)="goBack()" routerLinkActive="router-link-active" class="btn-back pr-0">
          <nb-icon icon="arrow-left"></nb-icon>
        </a>
        <div class="pl-2" *ngIf='isOrg'>
          <img class="grayScale-img" width="74%" src="assets/icons/codegoat-sidebar-icon.svg">
        </div>
        <a class="logo text-uppercase" [ngClass]="isOrg ?'logo-txt ml-2' : 'ml-3'" href="javascript:;"
          (click)="goHome()">
          <span *ngIf='!isOrg'>codingville.ca</span>
          <span *ngIf='isOrg'>codeg.o.a.t.</span>
          <br>
        </a>
      </div>

      <div class="pl-2" *ngIf='!isOrg'>
        <img src="assets/icons/maple_leaf.svg">
      </div>
    </div>


  </div>


  <!-- Timer if  md and sm only-->

  <div class="col-3 h-100 fixed-height" *ngIf="isJourny && !isTeacher && (breakPoint=='md' ||  breakPoint=='sm')">

    <div class="row view-Project-btn nav-item h-100 justify-content-center align-items-center">
      <img src="assets/icons/clock.svg">
      <span class="text-center text-white ml-3">
        {{timer?.hr| number:'2.0-0'}} :
        {{timer?.min| number:'2.0-0'}} :
        {{timer?.sec| number:'2.0-0'}}</span>
    </div>
  </div>

  <!-- SECTION Nav Toggler -->

  <div class="col-xs-4 col-2 pr-0 btn-burger" [class.col-md-8]="!(isJourny && !isTeacher)"
    *ngIf="breakPoint !='lg' && breakPoint !='xlg'">
    <button (click)="toggleNav()">
      <nb-icon icon="menu"></nb-icon>
    </button>
  </div>



  <ng-container *ngIf="isNavExpanded || breakPoint =='lg' || breakPoint =='xlg'">


    <!-- SECTION Project Name -->
    <div class="col-md-4 col-7 my-lg-0 my-4 h-100 pl-0 fixed-height" [class.col-3]="!isJourny"
      [class.col-lg-2]="!isTeacher && isJourny" [class.col-lg-3]="isTeacher || !isJourny">
      <div class="nav-item h-100 row project-name-container">
        <div class="col name-project-input">
          <!-- TODO -->
          <input class="h-100 w-100" [disabled]="isJourny" type="text" [ngModel]="projectName"
            (focusout)="projectNameFocusOut($event)" (ngModelChange)="projectNameChanged($event)" [title]="projectName"
            id="name-project-input" nbInput fullWidth fieldSize="medium" placeholder="Name your project">
        </div>
        <div class="col-lg-1 col-2 px-0 my-auto">
          <label class="edit-icon" for="name-project-input" *ngIf="!isJourny">
            <nb-icon icon="edit"></nb-icon>
          </label>
        </div>
      </div>
    </div>


    <!-- SECTION  Creation -->

    <ng-container *ngIf="!isJourny">

      <!-- Save -->

      <div class="col-lg-2 col-md-3 col-sm-4 col-5 pr-md-2 pr-0 h-100 fixed-height">

        <div class="btn-group pull-right fullwidth h-100">
          <button (click)='save(false)' [disabled]='isLoading || !hasChanges' type="button" class="btn dropdown-button">
            <div class="m-auto">
              <div class="loading" *ngIf="isLoading"></div>
              <span class="save-icon" *ngIf="breakPoint != 'xsm' || (!isLoading && breakPoint == 'xsm')">
                <nb-icon icon="save"></nb-icon>
                {{'save' | translate}}
              </span>
            </div>
          </button>
          <div class="btn-group pull-right" role="group" *ngIf="projectId">
            <button type="button" class="btn dropdown-button dropdown-toggle" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu dropdown-menu-right dropdown-button-ul menu-col-2">
              <li><a href="javascript:;" (click)='save(true)'>{{'save-as-a-copy' | translate}}</a></li>
            </ul>
          </div>
        </div>

      </div>


      <!-- SECTION  Publish -->
      <div class="col-md-2 col-9 h-100 fixed-height pl-md-3 pl-0">


        <button nbButton (click)='togglePublishView()' class="publish-btn nav-item" *ngIf="isProjectPublished == 0">
          {{'publish' | translate}}
        </button>
        <button nbButton (click)='togglePublishView()' class="publish-btn nav-item" *ngIf="isProjectPublished == 1">
          {{'unPublish' | translate}}
        </button>

        <!-- Not the users project (remix) -->
        <button disabled nbButton class="publish-btn nav-item" *ngIf="isProjectPublished == 3">
          {{'published' | translate}}
        </button>
      </div>


    </ng-container>

    <!-- SECTION Journy -->
    <ng-container *ngIf="isJourny">

      <!-- Student Timer And XP -->
      <ng-container *ngIf="!isTeacher">

        <!-- Timer -->

        <div class="col-lg-2 col-md-3 col-5 px-md-3 px-0  h-100 fixed-height"
          *ngIf="breakPoint != 'md' && breakPoint != 'sm'">

          <div class="row view-Project-btn nav-item h-100 justify-content-center align-items-center">
            <img src="assets/icons/clock.svg">
            <span class="text-center text-white ml-3">
              {{timer?.hr| number:'2.0-0'}} :
              {{timer?.min| number:'2.0-0'}} :
              {{timer?.sec| number:'2.0-0'}}</span>
          </div>
        </div>


        <!-- XP -->
        <div class="col-lg-2 col-md-3 h-100 fixed-height col-4 pl-md-3 pl-0">

          <div class="row view-Project-btn nav-item h-100 justify-content-center align-items-center">
            <span class="text-center text-white mr-3">{{userXp}}</span>
            <img src="assets/icons/xp.svg">
          </div>

        </div>

      </ng-container>
      <!-- End of Student Timer And XP -->

      <!-- Model Answer -->

      <div class="col-lg-2 col-md-3 col-5 pl-md-3 pl-0 pr-md-2 pr-0 h-100 fixed-height"
        *ngIf="isTeacher && !isAnswerChecking">
        <button nbButton class="publish-btn nav-item" (click)="showModelAnswerWarning()">
          Model Answer
        </button>
      </div>

      <!-- Finish -->

      <div class="col-lg-1 col-md-2 col-sm-8 col-4 p-0 h-100 fixed-height" [class.col-8]="isTeacher"
        *ngIf="!isAnswerChecking" [class.col-lg-2]="isTeacher && isAnswerChecking">
        <button nbButton class="publish-btn nav-item" [disabled]='isLoading || !hasChanges'
          (click)="submitProjectAnswer()">
          <div class="loading" *ngIf="isLoading"></div>
          {{'finish' | translate}}
        </button>
      </div>

      <div class="col-lg-1 col-md-2 col-sm-8 col-4 p-0 h-100 fixed-height" [class.col-8]="isTeacher"
        *ngIf="isAnswerChecking" [class.col-lg-2]="isTeacher && isAnswerChecking">
        <button nbButton class="publish-btn nav-item" [disabled]='isLoading' (click)="goBack()">
          <div class="loading" *ngIf="isLoading"></div>
          {{'finish' | translate}}
        </button>
      </div>

    </ng-container>



    <!-- SECTION User Info Menu -->

    <div class="col-lg-2 col-3 h-100 fixed-height pr-0 pl-sm-3 pl-0">


      <div class="btn-group pull-right fullwidth h-100" role="group" aria-label="...">
        <button type="button" class="btn dropdown-button text-white" [class.px-2]="breakPoint == 'sm'">
          <div class="m-auto">
            <img class="mb-1 mr-1" src="assets/icons/smiling-face.svg">
            <span *ngIf="breakPoint != 'sm' && breakPoint != 'xsm'">{{currentUser?.first_name}}</span>
          </div>
        </button>
        <div class="btn-group pull-right" role="group">

          <button type="button" class="btn dropdown-button dropdown-toggle text-white" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            <span class="caret"></span>
          </button>

          <ul class="dropdown-menu dropdown-menu-right dropdown-button-ul text-white menu-col-2">
            <li>
              <div class="container-fluid">
                <div class="row user-data-container">
                  <div class="col-5 p-0 mr-1 user-img-container"> <img class="img-fluid"
                      [src]="currentUser?.profile_image_url"></div>

                  <div class="col p-0 text-left">
                    <span class="hello">{{'hello' | translate}},{{currentUser?.first_name}}</span>
                    <br>
                    <span>{{'logged-in-as' | translate}}</span>
                    <br>
                    <span class="user-name">{{currentUser?.username}}</span>
                  </div>
                </div>
              </div>
            </li>
            <li><a href="javascript:;" class="text-white" *ngIf="currentUser.role != 'super_teacher'"
                [routerLink]="['/student/edit-profile']">{{'profile' | translate}}</a></li>
            <li><a href="javascript:;" class="text-white" *ngIf="currentUser.role == 'super_teacher'"
                [routerLink]="['/teacher/edit-profile']">{{'profile' | translate}}</a></li>
            <li><a href="javascript:;" class="text-white" (click)="logout()">{{'logout' | translate}}</a></li>
          </ul>
        </div>
      </div>

    </div>
  </ng-container>

</div>


<ng-template #saveModal let-data let-ref="dialogRef">

  <nb-card class="saving-modal">
    <nb-card-header>
      {{'save-project' | translate}}
      <nb-icon icon="close-outline" class="float-right cursor-pointer" (click)='ref.close()'></nb-icon>
    </nb-card-header>

    <nb-card-body class="px-5 pb-0">
      <p class="text-left pt-3 pb-0 text-center">
        {{ 'do-you-save-project' | translate }}
      </p>
    </nb-card-body>

    <nb-card-footer>
      <div class="float-right">

        <button nbButton status="basic" class="mr-2 btn-status--basic bg-transparent border-0"
          (click)="goToPreviousPage()">
          {{'no' | translate | uppercase}}
        </button>

        <button nbButton status="success" class="py-2" (click)="save(false, ref)">
          {{'save' | translate}}
        </button>

      </div>
    </nb-card-footer>
  </nb-card>
</ng-template>

<ng-template #publishModal let-data let-ref="dialogRef">
  <nb-card class="saving-modal">
    <nb-card-header>
      {{'show-model-answer' | translate}}
      <nb-icon icon="close-outline" class="float-right cursor-pointer" (click)='ref.close()'></nb-icon>
    </nb-card-header>

    <nb-card-body class="px-5 pb-0">
      <p class="text-left pt-3 pb-0 text-center">
        {{ 'model-answer-warning-msg' | translate }}
      </p>
    </nb-card-body>

    <nb-card-footer>
      <div class="float-right">

        <button nbButton status="basic" class="mr-2 btn-status--basic bg-transparent border-0" (click)='ref.close()'>
          {{'cancel' | translate | uppercase}}
        </button>

        <button nbButton status="success" class="py-2" (click)="toggleModelAnswer('model', ref)">
          {{'ok' | translate}}
        </button>

      </div>
    </nb-card-footer>
  </nb-card>
</ng-template>