<div class="breadcrumbs-container">
  <nav>
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a routerLink="/">
          <img src="assets/icons/home.svg" alt="Home">
        </a>
      </li>
      <li *ngFor="let breadcrumb of breadcrumbs" class="breadcrumb-item text-uppercase text-ellipsis"
        routerLinkActive="breadcrumb-item--active">
        <ng-template [ngIf]="breadcrumb.link != ''" [ngIfElse]="current">
          <a routerLink="{{breadcrumb.link }}" routerLinkActive="breadcrumb-item--active " class="text-ellipsis">
              {{ breadcrumb.name }}
          </a>
        </ng-template>
        <ng-template #current  class="text-ellipsis">{{breadcrumb.name }}</ng-template>
      </li>
    </ol>
  </nav>
</div>