@import '~bootstrap/scss/mixins/breakpoints';
@import '~@nebular/theme/styles/global/breakpoints';
@import '../../styles/themes';

@include nb-install-component() {
  .breadcrumb {
    background-color: transparent;
    padding: 0;
    margin-bottom: 1.4rem;

    .breadcrumb-item--active {
      color: #000;
    }

    .text-ellipsis {
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      max-width: 15%;
    }

    .breadcrumb-item {
      font-size: 14px;
      font-weight: 700;
      color: nb-theme(breadcrumbs-text-color);

      a {
        color: #202124;
        text-decoration: none;

        img {
          vertical-align: baseline;
          height: 16px;
        }
      }

      @media (max-width: 575px) {
        font-size: 12px;

        img {
          height: 14px !important;
        }
      }

      &.active {
        color: nb-theme(breadcrumbs-text-color);
      }
    }
  }
}
