@import '../../../../@theme/styles/themes.scss';
@import '~bootstrap/scss/mixins/breakpoints';
@import '~@nebular/theme/styles/global/breakpoints';


@include nb-install-component() {
  .no-data {
    font-size: 30px;
    line-height: 1em;
    color: #babdc5;
  }

  .dashboard-container {

    ::ng-deep nb-card {
      background-color: #fcfcfc;

      ::ng-deep nb-select {
        button {
          background-color: #f3f3f3;
          border-radius: 4px;
        }
      }
    }

    @media (max-width: 575px) {
      width: 100%;
      max-width: none;
      padding: 0;
    }
  }

  .dashboard-header {
    background-color: nb-theme(sidebar-background);
    padding: 15px;
    text-align: center;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 25px;
    color: #fff;

    @media (max-width: 767px) {
      padding: 10px;
    }
  }

  nb-card {
    height: 450px;

    @media (max-width: 767px) {
      height: 350px;
    }

    nb-card-header {
      border-bottom: none;
      padding: 15px;

      @media (max-width: 767px) {
        padding: 10px;
      }

      ::ng-deep nb-select {
        width: 40%;
      }

      .header {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .title {
          margin: 0;
          color: nb-theme(card-header-text-color);
          font-weight: 600;
          font-size: nb-theme(text-subtitle-font-size);

          @media (max-width: 767px) {
            font-size: 14px;
          }

          @media (max-width: 480px) {
            font-size: 12px;
          }
        }
      }
    }

    nb-card-body {
      padding: 15px;

      @media (max-width: 767px) {
        padding: 10px;
      }

      table {
        width: 100%;
        text-align: center;
        font-size: 14px;

        @media (max-width: 767px) {
          font-size: 12px;
        }

        thead {
          border-bottom: 1px solid;

          th {
            padding-bottom: 10px;

            @media (max-width: 767px) {
              padding-bottom: 5px;
            }
          }
        }

        tbody {
          td {
            padding-top: 10px;

            @media (max-width: 767px) {
              padding-top: 5px;
            }
          }
        }
      }

      .recent-activities {
        .activity {
          font-size: 16px;
          border-bottom: 1px solid #aeaeae;
          padding-bottom: 15px;

          @media (max-width: 767px) {
            font-size: 12px;
            padding-bottom: 8px;
          }
        }
      }
    }
  }
}
