<div class="container dashboard-container" *ngIf="isActivated">
  <div class="row">
    <div class="col-12">
      <div class="dashboard-header col-12 text-uppercase" *ngIf="generalData">
        {{'students' | translate}}: {{ generalData.noOfStudents }}
        <span *ngIf="isOrg">/ {{userPlan?.students}}
        </span>
      </div>
    </div>
    <div class="col-md-6 col-sm-12" *ngIf="classrooms">
      <nb-card>
        <nb-card-header>
          <div class="header">
            <!-- <nb-icon icon="home" pack="custom-icons"></nb-icon>  -->
            <p class="title text-uppercase">
              {{'students-activity' | translate}}
            </p>
            <nb-select placeholder="Select classroom" [(selected)]="selectedClassrooms.studentActivity"
              (selectedChange)="changeClassroom('studentActivity')" *ngIf="classrooms && classrooms.length > 0">
              <nb-option *ngFor="let classroom of classrooms" [value]="classroom.id">
                <p>{{classroom.Name}}</p>
              </nb-option>
            </nb-select>
          </div>
        </nb-card-header>
        <nb-card-body>

          <ngx-echarts-multiple-xaxis [from_time]="from_time" [to_time]="to_time" [studentActivity]="studentActivity"
            *ngIf="foundStudentActivity"></ngx-echarts-multiple-xaxis>
          <div class="container d-flex h-100" *ngIf="!foundStudentActivity || !classrooms || classrooms.length === 0">
            <div class="row justify-content-center align-self-center mx-auto text-center">
              <p class="no-data">No progress to report. Waiting for student action </p>
            </div>
          </div>
        </nb-card-body>
      </nb-card>
    </div>
    <div class="col-md-6 col-sm-12" *ngIf="classrooms">
      <nb-card>
        <nb-card-header>
          <div class="header">
            <p class="title">{{"top-10-students" | translate}}</p>
            <nb-select placeholder="Select classroom" [(selected)]="selectedClassrooms.topTenStudents"
              (selectedChange)="changeClassroom('topTenStudents')" *ngIf="classrooms && classrooms.length > 0">
              <nb-option *ngFor="let classroom of classrooms" [value]="classroom.id">
                <p>{{classroom.Name}}</p>
              </nb-option>
            </nb-select>
          </div>
        </nb-card-header>
        <nb-card-body>
          <table *ngIf="topTenStudents?.length > 0">
            <thead>
              <th>{{'Student' | translate}}</th>
              <th>{{'classroom-progress' | translate}}</th>
              <th>{{'score' | translate}}</th>
            </thead>
            <tbody>
              <tr *ngFor="let student of topTenStudents">
                <td>{{ student.name }}</td>
                <td>{{ student.progress }}</td>
                <td>{{ student.score }}</td>
              </tr>
            </tbody>
          </table>
          <div class="container d-flex h-100"
            *ngIf="topTenStudents?.length == 0 || !classrooms || classrooms.length === 0">
            <div class="row justify-content-center align-self-center mx-auto text-center">
              <p class="no-data">No progress to report. Waiting for student action</p>
            </div>
          </div>
        </nb-card-body>
      </nb-card>
    </div>
    <div class="col-md-6 col-sm-12">
      <div class="row">
        <div class="col-12">
          <div class="dashboard-header col-12" *ngIf="generalData">
            {{'journeys' | translate}}: {{ generalData.noOfJourneys }}
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12" *ngIf="classrooms">
          <nb-card>
            <nb-card-header>
              <div class="header">
                <p class="title">{{'recent-activity' | translate}}</p>
                <nb-select placeholder="Select classroom" [(selected)]="selectedClassrooms.recentActivities"
                  (selectedChange)="changeClassroom('recentActivity')" *ngIf="classrooms && classrooms.length > 0">
                  <nb-option *ngFor="let classroom of classrooms" [value]="classroom.id">
                    <p>{{classroom.Name}}</p>
                  </nb-option>
                </nb-select>
              </div>
            </nb-card-header>
            <nb-card-body>
              <div class="recent-activities" *ngIf="recentActivities?.length > 0">
                <!-- <p *ngFor="let activity of recentActivities" class="activity">
                  {{activity.student_name}} has finished journey {{ activity.journey_name }} on {{activity.date}}
                </p> -->
                <table class="students-table">
                  <thead>
                    <th>{{"student" | translate | ngxCapitalize}}</th>
                    <th>{{"finished_journeys" | translate | ngxCapitalize}}</th>
                    <th>{{"date" | translate | ngxCapitalize}}</th>
                  </thead>
                  <tbody>
                    <tr *ngFor="let activity of recentActivities; let i = index" [ngClass]="(i%2)?'odd':'even'">

                      <td> {{activity?.student_name}} </td>
                      <td> {{ activity?.journey_name }} </td>
                      <td> {{ activity?.date }} </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="container d-flex h-100"
                *ngIf="recentActivities?.length == 0 || !classrooms || classrooms.length === 0">
                <div class="row justify-content-center align-self-center mx-auto text-center">
                  <p class="no-data">No progress to report. Waiting for student action</p>
                </div>
              </div>
            </nb-card-body>
          </nb-card>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-sm-12">
      <div class="row">
        <div class="col-12" *ngIf="generalData">
          <div class="dashboard-header col-12">
            {{"classrooms" | translate}}: {{ generalData.noOfClassrooms }}
            <span *ngIf="isOrg">/
              {{userPlan?.classrooms == 'inf' ?  ("infinity" | translate | uppercase) : userPlan?.classrooms}} </span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12" *ngIf="classrooms">
          <nb-card>
            <nb-card-header>
              <div class="header">
                <p class="title">{{'classroom-score' | translate }}</p>
                <nb-select placeholder="Select classroom" [(selected)]="selectedClassrooms.classroomScore"
                  (selectedChange)="changeClassroom('classroomScore')" *ngIf="classrooms && classrooms.length > 0">
                  <nb-option *ngFor="let classroom of classrooms" [value]="classroom.id">
                    <p>{{classroom.Name}}</p>
                  </nb-option>
                </nb-select>
              </div>
            </nb-card-header>
            <nb-card-body>
              <ngx-echarts-bar *ngIf="classroomScore" [classroomScore]="classroomScore"></ngx-echarts-bar>
              <div class="container d-flex h-100" *ngIf="!classroomScore || !classrooms || classrooms.length === 0">
                <div class="row justify-content-center align-self-center mx-auto text-center">
                  <p class="no-data">No progress to report. Waiting for student action</p>
                </div>
              </div>
            </nb-card-body>
          </nb-card>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid" *ngIf="!isActivated">
  <ngx-empty-state [type]="'activate'"></ngx-empty-state>
</div>