<section class="h-100 m-0">

  <div class="h-100 overlay-container">


    <nb-tabset class="nbtabset h-100 overlay-container" (changeTab)="changeTab($event)">
      <!-- SECTION Logic -->

      <nb-tab tabId="logic-editor" blockly-tab tabTitle="{{'logic-editor' | translate }}" class="h-100 "
        tabIcon="code-outline" responsive>
        <div>
          <div class="blockly-editor editor container-fluid">
            <ngx-blockly-editor></ngx-blockly-editor>
          </div>
        </div>
      </nb-tab>

      <!-- SECTION Level -->

      <nb-tab tabId="level-editor" tabTitle="{{'level-editor' | translate }}" class="h-100" lazyLoad="true"
        tabIcon="keypad-outline" responsive>
        <div class="container-fluid p-0 h-100">
          <div class="row h-100 w-100 ml-0 justify-content-between">


            <div class="h-100 pl-0">
              <div class="toolbox h-100">
                <ngx-level-editor-toggle-menu [isNbTabChanged]="isNbTabChanged"
                  (isSideTabToggled)="changeSideTabStatus($event)" *ngIf="level">
                </ngx-level-editor-toggle-menu>
              </div>
            </div>

            <div class="h-100 pr-0" [class.bar-shrink]='isSideTabOpened && isAnimate'
              [class.bar-expand]='!isSideTabOpened && isAnimate' [class.full-bar]='!isSideTabOpened'
              [class.mini-bar]='isSideTabOpened'>

              <div class="container-fluid h-100">
                <div class="row h-100 overlay-container">
                  <div class="col-12">
                    <div class="editor container-fluid h-100 lvl-container">
                      <div #lvlScene>
                        <ngx-board *ngIf="level" [level]="level">
                        </ngx-board>
                      </div>
                    </div>
                  </div>
                  <div class="col-12 align-self-end level-bar-container">
                    <ngx-level-navigator *ngIf="level"></ngx-level-navigator>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </nb-tab>

      <nb-tab tabId="game-preview" *ngIf="!isLg" tabTitle="{{'game-preview' | translate}}" class="h-100" lazyLoad="true"
        tabIcon="smartphone-outline" responsive>
        <div project-preview-col class="h-100 overlay-container">
          <ngx-project-preview></ngx-project-preview>
          <ng-container *ngIf="isTutorial != null">
            <div class="blur-effect container-fluid h-100 overlay-item" [class.blurIn]='isTutorial'
              [class.blurOut]="isTutorial == false"></div>

            <ngx-tutorial class="container-fluid h-100 overlay-item p-0" [class.moveIn]='isTutorial'
              [class.moveOut]="isTutorial == false"></ngx-tutorial>
          </ng-container>
        </div>
      </nb-tab>
    </nb-tabset>

    <ng-container *ngIf="isTutorial != null && !isLg">
      <div class="blur-effect container-fluid h-100 overlay-item" [class.blurIn]='isTutorial'
        [class.blurOut]="isTutorial == false"></div>

      <ngx-tutorial class="container-fluid h-100 overlay-item p-0  tutorial-overlay" [class.moveIn]='isTutorial'
        [class.moveOut]="isTutorial == false"></ngx-tutorial>
    </ng-container>

    <ngx-toolbar *ngIf="selectedTab!=='Game Preview'" class="overlay-item" (zoomOutput)='zoom($event)'
      (centerOutput)='center($event)'></ngx-toolbar>
  </div>






</section>