@import '../../../../../app/@theme/styles/themes.scss';

@include nb-install-component() {
  ::ng-deep .nbtabset .tab {
    width: 50% !important;
    text-align: center;
  }

  ::ng-deep .nbtabset .tab a {
    display: block;
    text-align: center;
  }

  nb-card-body {
    padding: 0;
  }

  ::ng-deep nb-tabset .tab {
    background: #f3f3f3;
  }

  ::ng-deep nb-tabset .tab-link {
    justify-content: center;
    color: #101010;
    .tab-text {
      margin-top: 0.15rem;
    }
  }
  ::ng-deep nb-tabset .tab.active .tab-link::before {
    background-color: #1fa100 !important;
  }

  ::ng-deep nb-tabset .tab.active .tab-link {
    color: #1fa100;
    background: #e8e8e8;
  }

  ::ng-deep nb-tabset .tab.active:hover .tab-link::before {
    background-color: #4bb332 !important;
  }

  ::ng-deep nb-tabset .tab:hover .tab-link::before {
    background-color: transparent;
  }

  ::ng-deep nb-tabset .tab:hover .tab-link {
    color: #4bb332;
  }

  ::ng-deep nb-tabset nb-tab {
    background: #e8e8e8;
    height: -moz-calc(100% - 52px) !important;
    height: -webkit-calc(100% - 52px) !important;
    height: calc(100% - 52px) !important;
    padding: 0 !important;
  }

  ::ng-deep nb-tabset {
    background: #e8e8e8;
  }

  .toolbox {
    width: 71px;
    // display: inline-block;
    // position: fixed;
    margin-top: 3px;
    z-index: 2;
  }

  .editor {
    display: inline-block;
    padding: 1rem 2rem;
  }

  .blockly-editor {
    position: absolute;
    width: 100%;
    height: 100%;
    margin-left: 0 !important;
    padding: 0 !important;
  }

  .overlay-container {
    position: relative;
  }
  .overlay-item {
    position: absolute;
    top: 80px;
    right: 4%;
    z-index: 10;
  }

  [blockly-tab] {
    position: relative;
  }
  .level-bar-container {
    position: absolute;
  }

  .lvl-container {
    overflow: hidden;
    &:focus {
      outline: none;
    }
  }

  .bar-expand {
    animation: bar-animation 0.6s linear;
    animation-fill-mode: forwards;
  }
  .bar-shrink {
    animation: bar-animation-shrink 0.6s linear;
    animation-fill-mode: forwards;
  }

  .menu-expand {
    animation: menu-animation-expand 0.6s linear;
    animation-fill-mode: forwards;
  }
  .menu-shrink {
    animation: menu-animation 0.6s linear;
    animation-fill-mode: forwards;
  }
  .full-bar {
    flex: 0 0 91.6666666667%;
    max-width: calc(100% - 82px);
    @media (max-width: 991.98px) {
      flex: 0 0 calc(100vw - 101px);

      max-width: calc(100vw - 101px) !important;
    }
  }

  .mini-bar {
    flex: 0 0 71.6666666667%;
    max-width: 71.6666666667%;

    @media (min-width: 767.89px) {
      flex: 0 0 calc(100% - 248px);
      max-width: calc(100% - 248px);
    }
  }

  .mini-menu {
    flex: 0 0 8.3333333333%;
    max-width: 8.3333333333%;
  }
  .full-menu {
    flex: 0 0 28.333333%;
    max-width: 289px;
  }

  @keyframes bar-animation {
    0% {
      flex: 0 0 71.6666666667%;
      max-width: 71.6666666667%;
    }
    100% {
      flex: 0 0 91.6666666667%;
      max-width: 91.6666666667%;
    }
  }

  @keyframes bar-animation-shrink {
    0% {
      flex: 0 0 91.6666666667%;
      max-width: 91.6666666667%;
    }
    100% {
      flex: 0 0 71.6666666667%;
      max-width: 71.6666666667%;
    }
  }

  @keyframes menu-animation {
    0% {
      flex: 0 0 28.333333%;
      max-width: 289px;
    }
    100% {
      flex: 0 0 8.3333333333%;
      max-width: 8.3333333333%;
    }
  }

  @keyframes menu-animation-expand {
    0% {
      flex: 0 0 8.3333333333%;
      max-width: 8.3333333333%;
    }
    100% {
      flex: 0 0 28.333333%;
      max-width: 289px;
    }
  }
}

[project-preview-col] {
  padding-left: 14px;
  padding-right: 14px;
  text-align: center;
}

.overlay-container {
  position: relative;
}
.overlay-item {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10;
}

.moveIn {
  animation: moveInAnimation 1s ease forwards;
}
.moveOut {
  animation: moveOutAnimation 1s ease-out forwards;
}

@keyframes moveInAnimation {
  0% {
    top: 100%;
  }
  100% {
    top: 0;
  }
}
@keyframes moveOutAnimation {
  0% {
    top: 0;
  }
  100% {
    top: 100%;
  }
}

.blur-effect {
  background-color: white;
}

.blurIn {
  animation: blurInAnimation 1s ease forwards;
}
.blurOut {
  animation: blurOutAnimation 1s ease-out forwards;
}

@keyframes blurInAnimation {
  0% {
    filter: opacity(0);
  }
  100% {
    filter: opacity(100%);
  }
}
@keyframes blurOutAnimation {
  0% {
    filter: opacity(100%);
  }
  100% {
    filter: opacity(0);
  }
}
@media (max-width: 991.98px) {
  .tutorial-overlay {
    z-index: 82 !important;
    right: 0 !important;
  }
}
