<div class="container p-5">

  <section class="header">
    <h1>
      SCIENCE ALBERTA FOUNDATION (OPERATING AS MINDFUEL) PRIVACY POLICY
    </h1>
    <p>
      At Science Alberta Foundation <b>("SAF")</b>, we are committed to maintaining the privacy, accuracy and security
      of
      your
      personal information. We have developed this website privacy policy to describe our privacy policies and practices
      and to provide you with information about how we collect, use and disclose the personal information of the
      individuals who visit this website <b>(the "Site ")</b> or use the services we offer thorough this Site
      <b>("Services ")</b>.

      <br>

      Please take a minute to read this policy so that you understand how we treat your personal information. If you are
      unsure if or how this privacy policy applies to you, please contact us at 
      <a href="mailto:privacy@mindfuel.ca">privacy@mindfuel.ca</a>
       <b>or 1-403-220-0077</b> to request more information from the Privacy Officer.
    </p>
  </section>

  <!-- SECTION  What is Personal Information? -->

  <section>
    <h2>
      What is Personal Information?
    </h2>
    <p>
      For the purposes of this privacy policy, we consider <b>personal information</b> to be any information about an
      identifiable individual, other than your business title or business contact information when used or disclosed for
      the purpose of business communications.

      <br>

      For example, personal information includes your name, age, e-mail address, preferences (such as asking to receive
      our emails or special offers), usage habits (including how and when you use the Site and the Services) and, where
      applicable, payment details.
    </p>
  </section>




  <!-- SECTION  What Personal Information Do We Collect? -->
  <section>
    <h2>
      What Personal Information Do We Collect?
    </h2>
    <p>
      You can visit the Site without directly telling us who you are. However, <b>it is important to note</b> that our
      web
      server may collect information related to your visit to the Site or the Services, including the IP address and
      domain used to access the Site or the Services, the type and version of your browser, the website you came from to
      access the Site or the Services, the page you entered and exited at, any pages that are viewed by that IP address
      and the country from which you accessed the site.

      <br>

      We use this information to monitor the performance of the Site and the Services (such as number of visits, average
      time spent per page, number of page views), to determine interest in the Site and Services, and for business
      purposes, such as working to continually upgrade the Site and Services to meet consumer needs.

      <br>

      In addition, we may collect the personal information that you submit to us, such as your name, address and any
      other contact or other information that you choose to provide by:
    </p>
    <ul>
      <li>registering as a member/subscriber on the Site or for the Services;</li>
      <li>using your membership or subscriber account to access the Site or the Services;</li>
      <li>contributing an article, photo, video, comment, data, or preferences to the Site or the Services;</li>
      <li>corresponding with us via e-mail using the hyperlinks created for that purpose; or</li>
      <li>corresponding through other communication methods.</li>
    </ul>

    <p>
      Your personal information may also be collected when you participate in surveys or polls, or respond to special
      offers, give-aways or promotions on the Site. In addition, the Site may store your electronic chat and other
      communications, which are necessarily incidental to the transmission and delivery of those communications and to
      prevent misuse of our Site and Services.

      <br>

      Other information, such as your account status and choice of Services and preferences is created and maintained by
      the Site in the normal course of providing Services to our members/subscribers and other users. This includes the
      tracking of time spent within the Services.

      <br>

      This information is collected and aggregated with the information of other users in order to gain an understanding
      of the usage habits and preferences of our members/subscribers and to assist us with the selection and adjustment
      of future content and features for the Services.

      <br>

      Aggregated information is also shared with select third party providers including content providers, in order for
      SAF to provide feedback regarding the success of the content and features offered within the Services. This
      information is aggregated in order to protect the usage habits of individual members/subscribers.
    </p>
  </section>




  <!-- SECTION  Why Do We Collect -->

  <section>
    <h2>
      Why Do We Collect, Use, and Disclose Personal Information?
    </h2>
    <p>
      We collect personal information from you for a variety of purposes, including to:
    </p>
    <ul>
      <li>establish, maintain and manage our relationship with you;</li>
      <li>enforce our Terms of Use, including investigating user conduct and, in some cases, banning a user temporarily
        or permanently from the Site or Services if that user engages in inappropriate conduct;</li>
      <li>review and improve the products and services that we provide to you;</li>
      <li>comply with your requests;</li>
      <li>protect us against error, fraud, theft and damage to our goods and property; and</li>
      <li>comply with applicable law or regulatory requirements.</li>
    </ul>

    <p>
      Additionally, we collect personal information for specific purposes that we may advise you of at or before the
      time that we collect such personal information.

      <br>

      We may also use your contact information to provide you or your parent or guardian with notification regarding the
      Site or Services, such as any future amendments to this policy, and may disclose such information in response to
      law enforcement agencies or other public agencies, or if we feel that such disclosure may prevent the instigation
      of a crime, facilitate an investigation related to public safety, protect the security or integrity of the Site
      and Services or protect the safety of a child using the Site or Services, or enable us to take precautions against
      liability.

      <br>

      Your personal information may be shared with our employees, contractors, consultants, affiliates and other parties
      who require such information to assist us with establishing, maintaining and managing our relationship with you or
      developing, operating and maintaining the Site and Services. In addition, your personal information may be
      disclosed or transferred to another party in the event of a change in ownership of, or a grant of a security
      interest in, all or a part of SAF.

      <br>

      For example, our billing service provider may provide certain information technology and data processing services
      to us from time to time so that we may operate our business. As a result, your personal information may be
      collected, used, processed, stored or disclosed in the United States of America or Canada.
      Further, your personal information may be disclosed:
    </p>

    <ul>
      <li>as permitted or required by applicable law or regulatory requirements (for example, in response to a court
        order or a subpoena);</li>
      <li>to protect the rights and property of SAF;</li>
      <li>during emergency situations or where necessary to protect the safety of a person or group of persons;</li>
      <li>where the personal information is publicly available; or</li>
      <li>with your consent.</li>
    </ul>

    <p>
      You acknowledge and agree that access to and use of this Site and the Services is provided via the Internet and
      that your information, including personal information, may be transferred across national borders and stored or
      processed in any country in the world. 

      <br>

      <b>
        We may also collect, use or disclose your personal information without your knowledge or consent where we are
        permitted or required by applicable law or regulatory requirements to do so.
      </b>
    </p>

  </section>



  <!-- SECTION  We may send you E-mail -->

  <section>
    <h3>
      We may send you E-mail
    </h3>
    <p>
      From time to time we may e-mail important information to you regarding the Site or the Services (such as a change
      to our service offering).

      <br>

      In addition, when you request information from us or become a member/subscriber of the Site or Services, we may
      use the e-mail address that you provide to send you information about offers on products and services that we
      believe may be of interest to you. If you do not wish to receive such e-mails, you may opt out of receiving emails
      by simply clicking on the unsubscribe link embedded within any one of the emails sent by us.
    </p>
  </section>




  <!-- SECTION  Special Notes about Children -->

  <section>

    <h3>
      Special Notes about Children
    </h3>
    <p>
      Consistent with our obligations under various child privacy protection laws (such as the Children's Online
      Privacy
      Protection Act), we do not knowingly collect, use, disclose or store the personal information of children under
      thirteen (13) years of age without their parent(s) / guardian(s) consent. Accordingly, we request that children
      under the age of thirteen (13) not submit any personal information to us via the Site or the Services without the
      consent of a parent or guardian and that they obtain consent from their parent(s)/guardian(s) who are of the age
      of majority in their jurisdiction before accessing our Site or the Services

      <br>

      Where we learn that we have inadvertently gathered personally identifiable information from a child under thirteen
      (13), we will attempt to notify such child's parent or guardian and remove such information from our records.

      <br>

      If you are the parent or guardian of a teenager who is under the age of eighteen (18) but at least thirteen (13)
      years old, and have authorized your teenager to use your Account, we urge you to instruct your teenager to NEVER
      give out his or her real name, address, phone number or other personally identifiable information while using the
      Service. Teenagers under the age of eighteen (18) but at least thirteen (13) years old should encourage their
      parents to review this policy and to contact us if they have any questions.

      <br>

      If you believe that we might have any information from or about a child under thirteen (13) whose parent or
      guardian did not consent to the collection of such information, please contact us at  <a
        href="mailto:privacy@mindfuel.ca">privacy@mindfuel.ca</a> or
      1-403-220-0077 to speak with the Privacy Officer.
    </p>
  </section>




  <!-- SECTION  A Few Words about On-line Safety -->
  <section>

    <h3>A Few Words about On-line Safety</h3>
    <p>
      It is important to remember that while we take steps to protect your personal information and the integrity of the
      Services that you sign up to enjoy, no security measures are perfect or impenetrable. In addition, whenever you
      voluntarily disclose personal information on message boards, in e-mails, or in chat or comment areas on the Site
      or through the Services, that information can be collected and used by others. If you post personal information in
      public places, others may send you unsolicited e-mail messages or attempt to contact you in other ways. SAF is not
      responsible for the collection, usage or disclosure of your personal information by third parties to whom you
      voluntarily disclose such information.

      <br>

      <b>Always be cautious about the information you provide or store online.</b>
    </p>

    <!-- SECTION  A Few Words about On-line Safety -->
  </section>




  <!-- SECTION  How Do We Use Cookies? -->

  <section>
    <h3>How Do We Use Cookies?</h3>
    <p>
      When you visit the Site or Services, we may place a "cookie" on the hard drive of your computer to track your
      visit. A cookie is a small data file that is transferred to your hard drive through your web browser that can only
      be read by the website that placed the cookie on your hard drive. The cookie acts as an identification card and
      allows the Site to identify you and to record your passwords and preferences. The cookie allows us to track your
      visit to the Site or Services so that we can better understand your use of the Site and Services and customize and
      tailor it to better meet your needs. For example, our cookies help us to learn about the usage of the Site and
      Services by helping us to track how many visitors we have, how often they visit various sections of the Site and
      Services, and their geographic location.

      <br>

      Most web browsers are set to accept cookies. However, on most web browsers you may change this setting to have
      your web browser either: (1) notify you prior to a website placing a cookie on your hard drive so that you can
      decide whether or not to accept the cookie; or (2) automatically prevent the placing of a cookie on your hard
      drive. It should be noted that if cookies are not accepted, you will <b>not</b> be able to access a number of web
      pages
      found on the website.
    </p>
  </section>




  <!-- SECTION  Your Consent is Important to Us -->

  <section>
    <h3>Your Consent is Important to Us</h3>
    <p>
      By using the Site or Services, we assume that you consent to the collection, use and disclosure of your personal
      information as explained in this privacy policy.

      <br>

      In addition, you may change or withdraw your consent at any time, subject to legal or contractual restrictions and
      reasonable notice, by contacting us at <a href="mailto:info@codingville.ca">info@codingville.ca</a>
       or +1 403-220-0077. In some circumstances, a change in
      or withdrawal of consent may severely limit or even prevent our ability to provide products or services to you.
      All communications with respect to such withdrawal or variation of consent should be in writing and addressed
      to: Codingville.ca c/o MindFuel, Suite 260, 3512 33 Street NW, Calgary, Alberta, T2L2A6.
    </p>
  </section>




  <!-- SECTION  How is Your Personal Information Protected? -->

  <section>
    <h3>How is Your Personal Information Protected?</h3>
    <p>
      SAF endeavors to maintain physical, technical and procedural safeguards that are appropriate to the sensitivity of
      the personal information in question. These safeguards are designed to protect your personal information from loss
      and unauthorized access, copying, use, modification or disclosure.
      <br>
      The security of your personal information is important to us. Please immediately advise the Privacy Officer
      at  <a href="mailto:privacy@mindfuel.ca">privacy@mindfuel.ca</a> or 1-403-220-0077 regarding any incident
      involving the loss of or unauthorized access to or
      disclosure of personal information that is in our custody or control.
      <br>
      Unfortunately, no data transmission over the Internet can be guaranteed to be 100% secure. As a result, while this
      Site and the Services strive to protect your personal information, we cannot guarantee the confidentiality or
      security of any information you transmit to us, and you do so at your own risk.
    </p>
  </section>




  <!-- SECTION What about Third Party Advertisements or Links to other Websites?-->

  <section>
    <h3>What about Third Party Advertisements or Links to other Websites?</h3>
    <p>
      You should be aware that companies that advertise on our Site may use their own cookies. This Policy does not
      cover how these companies use their cookies.
      <br>
      Our Site and Services may contain links to other websites that may be subject to less stringent privacy standards.
      We cannot assume any responsibility for the privacy practices, policies or actions of the third parties that
      operate these websites. SAF is not responsible for how such third parties collect, use or disclose your personal
      information. You should review the privacy policies of these websites before providing them with personal
      information.
    </p>
  </section>




  <!-- SECTION Updating Your Personal Information-->

  <section>
    <h3>What about Third Party Advertisements or Links to other Websites?</h3>
    <p>

      It is important that the information contained in our records is both accurate and current. If your personal
      information happens to change during the course of our relationship, please keep us informed of such changes.

      <br>

      In some circumstances, we may not agree with your request to change your personal information and will instead
      append an alternative text to the record in question.
    </p>
  </section>




  <!-- SECTION Access to Your Personal Information-->

  <section>
    <h3>Access to Your Personal Information</h3>
    <p>

      You can ask to see the personal information that we hold about you. If you want to review, verify or correct your
      personal information, please contact our privacy officer at  <a
        href="mailto:privacy@mindfuel.ca">privacy@mindfuel.ca</a> or 403-220-0077. Please note that
      any such communication must be in writing.
      <br>
      When requesting access to your personal information, please note that we may request specific information from you
      to enable us to confirm your identity and right to access, as well as to search for and provide you with the
      personal information that we hold about you. We may charge you a fee to access your personal information; however,
      we will advise you of any fee in advance. If you require assistance in preparing your request, please contact our
      privacy officer at  <a href="mailto:privacy@mindfuel.ca">privacy@mindfuel.ca</a> or 403-220-0077.
      <br>

      Your right to access the personal information that we hold about you is not absolute. There are instances where
      applicable law or regulatory requirements allow or require us to refuse to provide some or all of the personal
      information that we hold about you. In addition, the personal information may have been destroyed, erased or made
      anonymous in accordance with our record retention obligations and practices.
      <br>

      In the event that we cannot provide you with access to your personal information, we will endeavor to inform you
      of the reasons why, subject to any legal or regulatory restrictions.
    </p>
  </section>




  <!-- SECTION Inquiries or Concerns?-->

  <section>
    <h3>Inquiries or Concerns?</h3>
    <p>
      If you have any questions or concerns about our privacy policies, please send an e-mail with your questions or
      comments to <a href="mailto:privacy@mindfuel.ca">privacy@mindfuel.ca</a> or notify us by mail at: Codingville.ca
      c/o MindFuel, Suite 260, 3512 – 33 Street
      NW, Calgary, AB, T2L 2A6.
    </p>
  </section>




  <!-- SECTION Inquiries or Concerns?-->

  <section>
    <h3>Application and Interpretation of this Privacy Policy</h3>
    <p>
      It is our policy to comply with the privacy legislation within each jurisdiction in which we operate. Sometimes
      the privacy legislation and / or an individual's right to privacy are different from one jurisdiction to another.
      This privacy policy has a limited scope and application. Consequently, the rights and obligations contained in
      this privacy policy may not be available to all individuals or in all jurisdictions.
      <br>
      Any interpretation associated with this privacy policy will be made by our Privacy Officer. This privacy policy
      includes examples but is not intended to be restricted in its application to such examples, therefore where the
      word 'including' is used, it shall mean 'including without limitation'.
      <br>
      This privacy policy does not create or confer upon any individual any rights, or impose upon SAF any rights or
      obligations outside of, or in addition to, any rights or obligations imposed by applicable laws. Should there be,
      in a specific case, any inconsistency between this privacy policy and such laws, this privacy policy shall be
      interpreted, in respect of that case, to give effect to, and comply with, such laws.
    </p>
  </section>




  <!-- SECTION Modifications to this Privacy Policy-->

  <section>
    <h3>Modifications to this Privacy Policy</h3>
    <p>
      From time to time, we may make changes to this privacy policy to reflect changes in our legal or regulatory
      obligations or in the manner in which we deal with your personal information. We will post any revised version of
      this privacy policy on the Site and we encourage you to refer back to it on a regular basis. This privacy policy
      was last updated on January 8, 2020.
    </p>
  </section>


</div>