@import '../../../../../@theme/styles/themes.scss';

@include nb-install-component() {
  .class-word {
    color: #aeaeae;
  }

  .class-name {
    font-size: 20px;
    font-weight: 500;
    color: nb-theme(card-text-color);
  }

  .btn-parent {
    margin-bottom: 20px;
  }

  .btn-custom {
    width: 100%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 15px;
    font-size: 14px;
    font-weight: 600;
    background-color: nb-theme(color-primary-500);

    nb-icon {
      vertical-align: text-bottom;
      margin-right: 10px;
    }

    @media (max-width: 320px) {
      transform: translateX(-50%);
    }
  }

  @media (max-width: 992px) {
    .btn-custom {
      width: 120px;
      top: 2px;
      font-size: 14px;

      nb-icon {
        font-size: 14px;
      }
    }

    .class-name {
      font-size: 18px;
    }
  }

  @media (max-width: 768px) {
    .btn-custom {
      width: 100px;
      top: 2px;
      font-size: 13px;

      nb-icon {
        font-size: 14px;
      }
    }

    .class-name {
      font-size: 16px;
    }
  }

  @media (max-width: 320px) {
    .btn-parent {
      margin-bottom: 20px;
      padding-right: 38px;
    }

    .search-holder {
      padding-left: 0;
      padding-right: 0;
    }

    .title-holder {
      left: -6px;
    }

    .btn-custom {
      font-size: 10px;
    }
  }

  .page-select-container {
    width: 57px;
    margin-left: 15px;

    @media (max-width: 767.98px) {
      width: 47.22px;
      margin-left: 10px;
    }

    ::ng-deep nb-select.limit_select {
      button {
        width: 100%;
        min-width: auto;
        padding: 10px 15px 10px 10px !important;

        nb-icon {
          right: 0 !important;
        }
      }
    }
  }
}
