@import '../../../../../@theme/styles/overrides';
@import '../../../../../@theme/styles/themes.scss';

@include nb-install-component() {
  p.section-title {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
    color: nb-theme(card-text-color);
    font-weight: 500;

    @media (max-width: 320px) {
      font-size: 14px;
    }
  }

  .btn-holder {
    button {
      width: 100%;
      padding: 10px 15px;
      font-size: 16px;
      font-weight: 600;
      background-color: nb-theme(color-primary-500);

      nb-icon {
        vertical-align: text-bottom;
        margin-right: 10px;
      }

      @media (max-width: 768px) {
        font-size: 12px;
        padding: 12px 8px;

        nb-icon {
          font-size: 12px;
        }
      }

      @media (max-width: 320px) {
        width: 80px;
        font-size: 10px;
        padding: 14px 8px;
        position: relative;
        left: -20px;

        nb-icon {
          font-size: 10px;
        }
      }
    }

    @media only screen and (max-width: 767px) {
      padding-right: 0;

      button {
        font-size: 12px;
        padding: 9px 10px;
      }
    }

    @media only screen and (max-width: 767px) {
      padding-right: 0;

      button {
        font-size: 12px;
        padding: 9px 10px;
      }
    }
  }

  .content-cards {
    padding: 13px 15px;
    min-height: calc(100vh - 170px);

    ::ng-deep .cards-container {
      position: relative;
      padding-bottom: 30px;
      min-height: calc(100vh - 260px);
      margin-bottom: 0;

      ngx-pagination {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
      }

      ::ng-deep .appearance-outline {
        background-color: rgba(31, 161, 0, 0.12);
      }

      @media screen and (min-width: 1500px) {
        padding-left: 70px;
        padding-right: 70px;
      }

      @media only screen and (min-width: 768px) and (max-width: 991px) {
        padding: 0;
        padding-left: 15px;
      }
    }

    nb-card-header {
      padding: 0 15px;

      .page-select-container {
        width: 57px;
        margin-left: 15px;

        @media (max-width: 767.98px) {
          width: 47.22px;
          margin-left: 10px;
        }

        ::ng-deep .page-limit-select {
          button {
            min-width: auto !important;
          }
        }
      }
    }

    @media only screen and (max-width: 767px) {
      padding: 9px 4px;
    }
  }
}
