<button [disabled]="!role" class="stepper-back" (click)="removeCompletedClicked()" nbStepperPrevious>
  <img src="assets/icons/stepper-back.svg" alt="<">
</button>
<div class="first-step step-container">
  <div class="col-12 title-container">
    <h3 class="title">Who are you?</h3>
  </div>
  <div class="col-12">
    <div class="row">
      <div class="col-6">
        <div class="role-card ml-auto" id="student-role" [ngClass]="{'active': role === 'student'}"
          (click)="onRoleSelected('student')">
          <h6 class="role-title">I'm a student</h6>
          <img class="persons-img" src="assets/images/student-persons.svg" alt="">
        </div>
      </div>
      <div class="col-6">
        <div class="role-card mr-auto" id="teacher-role" [ngClass]="{'active': role === 'teacher'}"
          (click)="onRoleSelected('teacher')">
          <h6 class="role-title">I'm a teacher</h6>
          <img class="persons-img" src="assets/images/teacher-persons.svg" alt="">
        </div>
      </div>
    </div>
  </div>
</div>