<div class="container h-100">
    <div class="row overlay-container h-100">

        <!-- SECTION  Categories -->

        <div class="col-md-1 toolbox-menu h-100">
            <ul class="nav nav-pills flex-column" id="myTab" role="tablist">
                <li class="nav-item text-center w-100" (click)="changeTab('cells')"
                    [class.active]="activeTab == 'cells'">
                    <a class="nav-link px-2 pt-2 pb-0" id="builder-tab" href="javascript:;">
                        <img class="img-fluid mb-1" src="assets/images/level_builder.png" />
                    </a>

                    <span class="nav-title">{{'builder' | translate}}</span>

                </li>
                <li class="nav-item text-center w-100" (click)="changeTab('checkpoint')"
                    [class.active]="activeTab == 'checkpoint'">
                    <a class="nav-link px-2 pt-2 pb-0" href="javascript:;">
                        <img class="img-fluid mb-1" src="assets/icons/flag.svg" />
                    </a>
                    <span class="nav-title">{{'checkpoint' | translate}}</span>

                </li>
                <li class="nav-item text-center w-100" (click)="changeTab('collectable')"
                    [class.active]="activeTab == 'collectable'">
                    <a class="nav-link px-2 pt-2 pb-0" href="javascript:;">
                        <img class="img-fluid mb-1" src="assets/icons/coin.svg" />
                    </a>
                    <span class="nav-title">{{'collectable' | translate}}</span>

                </li>
                <li class="nav-item text-center w-100" (click)="changeTab('damage')"
                    [class.active]="activeTab == 'damage'">
                    <a class="nav-link px-2 pt-2 pb-0" id="contact-tab" href="javascript:;">
                        <img class="img-fluid mb-1" src="assets/icons/fire.svg" />
                    </a>
                    <span class="nav-title">{{'damage' | translate}}</span>

                </li>
                <!-- <li class="nav-item text-center w-100" (click)="changeTab('character')"
                    [class.active]="activeTab == 'character'">
                    <a class="nav-link px-2 pt-2 pb-0" id="contact-tab" href="javascript:;">
                        <img class="img-fluid mb-1" src="assets/icons/ch_18.svg" />
                    </a>
                    <span class="nav-title">Character</span>

                </li> -->
            </ul>
        </div>


        <!-- SECTION  Closable bar -->

        <div class="toolbox-content h-100" [class.transition-in]="activeTab"
            [class.transition-out]="activeTab == 'empty'">
            <div class="tab-content" id="myTabContent">

                <div class="col-12 text-right px-0 mt-2 btn-back-container">
                    <a href="javascript:;" class="btn-back" (click)="changeTab('empty')"
                        [ngStyle]="{'visibility': activeTab && activeTab !='empty'? 'visible': 'hidden' }">
                        <nb-icon icon="arrow-ios-back">
                        </nb-icon>
                    </a>
                </div>

                <!-- SECTION cells Tab -->

                <div *ngIf="activeTab == 'cells' || (lastActiveTab == 'cells' && activeTab == 'empty')"
                    class="tab-pane px-4 pt-0 pr-3 active overflow-y custom-scroll">
                    <div>
                        <div class="grid-size">
                            <span class="nav-title">{{'grid-size' | translate}}</span>

                        </div>
                        <div class="grid-size-content">
                            <div class="first-col">
                                <div class="dimensions">{{cols}} x {{rows}}</div>
                            </div>
                            <div class="second-col">
                                <div [class.disabled-btn]="cols == 6" (click)="sizeUp()" class="arrow-div hover-grey">
                                    <nb-icon icon="arrow-ios-upward"> </nb-icon>
                                </div>
                                <div [class.disabled-btn]="cols == 4" (click)="sizeDown()" class="arrow-div hover-grey">
                                    <nb-icon icon="arrow-ios-downward"> </nb-icon>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="edit-cells">
                            <span class="nav-title">{{'edit-cells' | translate}}</span>
                        </div>
                        <div class="edit-cells-content">
                            <div class="first-col cursor-pointer" [class.selected-grey]="selectedBrush==='show'"
                                (click)="updateBrush('show')">
                                <div class="show-img-div">
                                    <img src="assets/images/editor_menu/add.png">
                                </div>
                                <div class="show-text">
                                    <span class="nav-title">{{'add' | translate}}</span>
                                </div>
                            </div>
                            <div class="second-col cursor-pointer" [class.selected-red]="selectedBrush==='hide'"
                                (click)="updateBrush('hide')">
                                <div class="hide-img-div">
                                    <img src="assets/images/editor_menu/delete.png">
                                </div>
                                <div class="hide-text">
                                    <span class="nav-title">{{'delete' | translate}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="edit-objects">
                            <span class="nav-title"> {{'edit-objects' | translate}}</span>
                        </div>
                        <div class="edit-objects-content">
                            <!-- <div class="first-col cursor-pointer" [class.selected-grey]="selectedBrush==='move'"
                                (click)="move()">
                                <div class="show-img-div">
                                    <img src="assets/images/editor_menu/move.png">
                                </div>
                                <div class="show-text">
                                    <span class="nav-title"> {{'' | translate}}Move</span>
                                </div>
                            </div> -->
                            <div class="first-col cursor-pointer" [class.selected-red]="selectedBrush==='erase'"
                                (click)="updateBrush('erase')">
                                <div class="show-img-div">
                                    <img src="assets/images/editor_menu/delete_item.png">
                                </div>
                                <div class="show-text">
                                    <span class="nav-title"> {{'delete' | translate}}</span>
                                </div>
                            </div>
                            <div class="second-col cursor-pointer" (click)="clearLevel()">
                                <div class="hide-img-div">
                                    <img src="assets/images/editor_menu/clear_level.png">
                                </div>
                                <div class="hide-text">
                                    <span class="nav-title"> {{'clear-level' | translate}}</span>
                                </div>
                            </div>
                        </div>
                        <!-- <div class="edit-objects-content">
                            <div class="first-col cursor-pointer" (click)="clearLevel()">
                                <div class="show-img-div">
                                    <img src="assets/images/editor_menu/clear_level.png">
                                </div>
                                <div class="show-text">
                                    <span class="nav-title"> {{'' | translate}}Clear Level</span>
                                </div>
                            </div>
                        </div> -->
                    </div>

                    <!-- COLOR WHEEL -->
                    <!-- <div class="mt-4">
                        <span>PAINT WITH COLOR</span>
                        <div class="color-wheel-container pt-3 text-center" [class.active]="colorSelected">
                            <div class="col-12 color-wheel" [class.active]="colorSelected">
                                <svg xmlns="http://www.w3.org/2000/svg" width="79.471" height="87.337"
                                    viewBox="0 0 79.471 87.337">
                                    <g id="Group_3790" data-name="Group 3790" transform="translate(-220.423 -212.425)">
                                        <path (click)="selectColor('indigo')" [class.active]="colorSelected =='indigo'"
                                            [class.hide]="colorSelected && colorSelected !='indigo'" class="color-path"
                                            d="M240.161,499.962H220.423A39.949,39.949,0,0,0,232.2,528.209c.355.355.718.7,1.084,1.041l13.364-14.538A20.423,20.423,0,0,1,240.161,499.962Z"
                                            id="Path_3725" data-name="Path 3725" transform="translate(0 -239.967)"
                                            fill="#7c00ff" />
                                        <path (click)="selectColor('orange')" [class.active]="colorSelected =='orange'"
                                            [class.hide]="colorSelected && colorSelected !='orange'" class="color-path"
                                            d="M513.525,245.255l13.365-14.539A39.92,39.92,0,0,0,500,220.238v19.738A20.4,20.4,0,0,1,513.525,245.255Z"
                                            id="Path_3726" data-name="Path 3726" transform="translate(-239.844)"
                                            fill="#ff9a00" />
                                        <path (click)="selectColor('green')" [class.active]="colorSelected =='green'"
                                            [class.hide]="colorSelected && colorSelected !='green'" class="color-path"
                                            d="M621.29,500H601.552a20.422,20.422,0,0,1-6.486,14.75l13.364,14.538c.366-.34.729-.686,1.084-1.041A39.949,39.949,0,0,0,621.29,500Z"
                                            id="Path_3727" data-name="Path 3727"
                                            transform="translate(-321.396 -240.003)" fill="#0f1" />
                                        <path (click)="selectColor('yellow')" [class.active]="colorSelected =='yellow'"
                                            [class.hide]="colorSelected && colorSelected !='yellow'" class="color-path"
                                            d="M601.552,323.221H621.29a39.949,39.949,0,0,0-11.776-28.248c-.355-.355-.718-.7-1.084-1.041L595.066,308.47A20.422,20.422,0,0,1,601.552,323.221Z"
                                            id="Path_3729" data-name="Path 3729" transform="translate(-321.396 -63.22)"
                                            fill="#fff300" />
                                        <path (click)="selectColor('blue')" [class.active]="colorSelected =='blue'"
                                            [class.hide]="colorSelected && colorSelected !='blue'" class="color-path"
                                            d="M324.048,603.742l-13.364,14.539a39.919,39.919,0,0,0,26.887,10.478V609.021A20.4,20.4,0,0,1,324.048,603.742Z"
                                            id="Path_3730" data-name="Path 3730" transform="translate(-77.432 -328.997)"
                                            fill="#0081ff" />
                                        <path (click)="selectColor('magenta')"
                                            [class.active]="colorSelected =='magenta'"
                                            [class.hide]="colorSelected && colorSelected !='magenta'" class="color-path"
                                            d="M246.647,308.429l-13.364-14.538c-.366.34-.729.686-1.084,1.041a39.948,39.948,0,0,0-11.776,28.247h19.738A20.422,20.422,0,0,1,246.647,308.429Z"
                                            id="Path_3731" data-name="Path 3731" transform="translate(0 -63.185)"
                                            fill="#f700ff" />
                                        <path (click)="selectColor('aqua')" [class.active]="colorSelected =='aqua'"
                                            [class.hide]="colorSelected && colorSelected !='aqua'" class="color-path"
                                            d="M499.856,609.021v19.738a39.921,39.921,0,0,0,26.887-10.478l-13.365-14.539A20.4,20.4,0,0,1,499.856,609.021Z"
                                            id="Path_3732" data-name="Path 3732"
                                            transform="translate(-239.718 -328.997)" fill="#00fff2" />
                                        <path (click)="selectColor('red')" [class.active]="colorSelected =='red'"
                                            [class.hide]="colorSelected && colorSelected !='red'" class="color-path"
                                            d="M513.435,245.33l13.448-14.421a39.918,39.918,0,0,0-26.806-10.683l-.163,19.717A20.488,20.488,0,0,1,513.435,245.33Z"
                                            id="Path_3980" data-name="Path 3980"
                                            transform="translate(-282.642 410.696) rotate(-43)" fill="#ff0600" />
                                    </g>
                                </svg>
                            </div>
                            <div class="mt-3 text-center">
                                <span *ngIf="colorSelected" class="text-capitalize"> {{colorSelected}}</span>
                                <span *ngIf="!colorSelected"> No Color </span>
                            </div>
                        </div>
                    </div> -->
                    <div class="edit-cells">
                        <span class="nav-title"> {{'cell-texture' | translate}}</span>
                    </div>
                    <div class="container">
                        <div class="row justify-content-between">
                            <div class="col-5 p-0" *ngFor="let tile of tiles">
                                <div (click)="updateBrush(tile)" [class.active]="selectedBrush === tile"
                                    class="cursor-pointer mt-2 text-center tile-container">
                                    <img [src]="'assets/images/tiles/35/' + tile+'.jpg'">
                                </div>
                            </div>
                        </div>
                    </div>


                </div>


                <!-- SECTION checkpoint Tab -->
                <div *ngIf="activeTab == 'checkpoint' || (lastActiveTab == 'checkpoint' && activeTab == 'empty')"
                    class="tab-pane boxes px-5 pt-0 active">

                    <ul class="nav nav-pills flex-column">

                        <li class="nav-item" *ngFor="let checkPoint of checkPoints"
                            [nbTooltip]="checkPoint | translate" nbTooltipStatus="primary" nbTooltipPlacement="right">
                            <a class="nav-link px-1 pt-1 pb-0" (click)="updateBrush(checkPoint)"
                                [class.active]="selectedBrush === checkPoint">
                                <img class="img-fluid" [src]="'assets/images/checkpoint/50/' +checkPoint+ '.png'" />
                            </a>
                        </li>

                    </ul>
                </div>

                <!-- SECTION collectable Tab -->
                <div *ngIf="activeTab == 'collectable' || (lastActiveTab == 'collectable' && activeTab == 'empty')"
                    class="tab-pane coin pt-0 active overflow-y">
                    <ul class="nav nav-pills flex-column">

                        <li class="nav-item" *ngFor="let collectable of collectablesList"
                            [nbTooltip]="collectable | translate" nbTooltipStatus="primary" nbTooltipPlacement="right">
                            <a class="nav-link py-3" [class.active]="selectedBrush == collectable"
                                (click)="updateBrush(collectable)">
                                <img class="img-fluid" [src]="'assets/images/level_' + collectable + '.png'" />
                            </a>
                        </li>

                    </ul>
                </div>


                <!-- SECTION Damage Tab -->
                <div *ngIf="activeTab == 'damage' || (lastActiveTab == 'damage' && activeTab == 'empty')"
                    class="tab-pane boxes px-5 pt-0 active">
                    <ul class="nav nav-pills flex-column">
                        <li class="nav-item" *ngFor="let damage of damages" [nbTooltip]="damage | translate"
                            nbTooltipStatus="primary" nbTooltipPlacement="right">
                            <a class="nav-link px-1 pt-1 pb-0" (click)="updateBrush(damage)"
                                [class.active]="selectedBrush === damage">
                                <img class="img-fluid" [src]="'assets/images/damage/50/' + damage + '.png'" />
                            </a>
                        </li>
                    </ul>
                </div>
                <!-- SECTION Characters Tab -->
                <!-- <div *ngIf="activeTab == 'character' || (lastActiveTab == 'character' && activeTab == 'empty')"
                    class="tab-pane boxes px-5 pt-0 active overflow-y">
                    <ul class="nav nav-pills flex-column">
                        <li class="nav-item" *ngFor="let char of chars">
                            <a class="nav-link px-1 pt-1 pb-0" (click)="updateBrush(char)"
                                [class.active]="selectedBrush === char">
                                <img class="img-fluid" [src]="'assets/images/chars/50/' + char + '.png'" />
                            </a>
                        </li>
                    </ul>
                </div> -->

            </div>
        </div>
    </div>
</div>