.nav-pills .nav-item {
  margin-bottom: 10px;
  background-color: #e4e4e4;
  cursor: pointer;
  border: 3px solid #e4e4e4;
  border-radius: 4px;
  &:hover {
    background-color: #c8c8c8;
    border: 3px solid #c8c8c8;
  }
}

.nav-pills .nav-item.active,
.nav-pills .show > .nav-item {
  background-color: #ffc000;
  border: 3px solid #ffa200;
}

.nav-pills .nav-link {
  color: #101010;
  font-size: 0.6rem;
  padding: 1%;
  text-align: center;
  cursor: pointer;
}

.nav-pills .nav-item:last-child {
  margin-bottom: 0;
}
.coin .nav-pills .nav-item {
  margin-bottom: 12px;
  // min-height: 71px !important;
}

.coin .nav-pills .nav-link img {
  padding-right: 25%;
  padding-left: 25%;
}
.coin {
  padding: 39px;
  padding-right: 46px;
}

.nav-title {
  font-size: 10px;
  font-weight: bold;
}
.overlay-container {
  position: relative;
}
.toolbox-menu {
  background: white;
  padding: 8px;
  box-shadow: 5px 0 5px -5px #333;
  z-index: 3;
  flex: auto;
  max-width: 71px;
  width: 71px;
  position: fixed;
  height: 100%;
  left: 0;
}
.toolbox-content {
  background: white;
  padding: 0;
  padding-right: 0;
  flex: auto;
  max-width: 177px;
  width: 177px;
  position: absolute;
  margin-left: 71px;
  border-radius: 0 8px 8px 0;
  height: 75%;
  box-shadow: 0 2px 6px #333;
  left: -167px;
  z-index: 2;
}

.transition-in {
  animation: moveIn 0.6s linear;
  animation-fill-mode: forwards;
  left: 0;
}
.transition-out {
  animation: moveOut 0.6s linear;
  animation-fill-mode: forwards;
}

@keyframes moveIn {
  0% {
    left: -167px;
  }
  100% {
    left: 0;
  }
}

@keyframes moveOut {
  0% {
    left: 0;
  }
  100% {
    left: -167px;
  }
}

.grid-size {
  font-size: 8px;
  font-weight: 900;
  letter-spacing: 1px;
}
.grid-size-content {
  width: 125px;
  height: 45px;
  display: flex;
  .first-col {
    width: 89px;
    height: 45px;
    margin-right: 7px;
    background: #e4e4e4;
    border-radius: 4px;
    font-size: 24px;
    font-weight: bold;
    display: flex;
    .dimensions {
      margin: auto;
    }
  }
  .second-col {
    width: 29px;
    height: 45px;
    background: #e4e4e4;
    border-radius: 4px;

    .arrow-div {
      height: 50%;
      text-align: center;
      user-select: none;
      -webkit-touch-callout: none;
      &:hover {
        cursor: pointer;
        background-color: darkgrey !important;
      }
    }
    .disabled-btn {
      color: grey;
      cursor: default !important;
      &:hover {
        background-color: #e4e4e4 !important;
      }
    }
  }
}
.edit-cells {
  font-size: 8px;
  font-weight: 900;
  letter-spacing: 1px;
  margin-top: 14px;
  margin-bottom: 0;
}
.edit-cells-content {
  width: 127px;
  height: 71px;
  display: flex;
  margin-top: 8px;
  .first-col {
    width: 56px;
    margin-right: 15px;
    background: #e4e4e4;
    border-radius: 4px;
    font-weight: bold;
    height: 100%;
    .show-img-div {
      text-align: center;
      padding-top: 7px;
      padding-bottom: 3px;
    }
    .show-text {
      margin: auto;
      font-size: 10px;
      text-align: center;
    }
  }
  .second-col {
    width: 56px;
    background: #e4e4e4;
    border-radius: 4px;
    font-size: 24px;
    font-weight: bold;
    height: 100%;
    .hide-img-div {
      text-align: center;
      padding-top: 7px;
      padding-bottom: 3px;
    }
    .hide-text {
      margin: auto;
      font-size: 10px;
      text-align: center;
    }
  }
}

.edit-objects {
  font-size: 8px;
  font-weight: 900;
  letter-spacing: 1px;
  margin-top: 12px;
  margin-bottom: 0;
}
.edit-objects-content {
  width: 127px;
  height: 71px;
  display: flex;
  margin-top: 8px;
  .first-col {
    width: 56px;
    margin-right: 15px;
    background: #e4e4e4;
    border-radius: 4px;
    font-weight: bold;
    height: 100%;
    .show-img-div {
      text-align: center;
      padding-top: 7px;
      padding-bottom: 3px;
    }
    .show-text {
      margin: auto;
      font-size: 10px;
      text-align: center;
    }
  }
  .second-col {
    width: 56px;
    background: #e4e4e4;
    border-radius: 4px;
    font-size: 24px;
    font-weight: bold;
    height: 100%;
    .hide-img-div {
      text-align: center;
      padding-top: 7px;
      padding-bottom: 3px;
    }
    .hide-text {
      margin: auto;
      font-size: 10px;
      text-align: center;
    }
  }
}

.selected-grey {
  background-color: darkgrey !important;
}

.selected-red {
  background-color: #f18593 !important;
  border: #cd3a2b solid 3px;
}

.cursor-pointer {
  cursor: pointer;
}
.btn-back-container {
  display: inline-block;
  right: -26px;
}
.btn-back {
  nb-icon {
    color: black;
    background-color: #f3f3f3;
    border-radius: 20px;
    height: 41px;
    width: 41px;
    font-size: 24px;
    padding: 0.3rem;
  }
}
.btn-back.hidden {
  visibility: hidden;
  cursor: default;
}

.color-wheel-container {
  background-color: #e4e4e4;
  border-radius: 4px;
  border: 4px solid #e4e4e4;
  padding-left: 0.7rem;
  padding-right: 0.7rem;
  .color-wheel {
    padding: 0;
    border-radius: 50px;
    padding-bottom: 0.5rem;

    .color-path.hide {
      opacity: 0.27;
    }
    .color-path.active {
      stroke: #000000;
      stroke-width: 2px;
      stroke-linejoin: round;
    }
  }
  .color-wheel.active {
    background-color: white;
  }
}
.color-wheel-container.active {
  background-color: #ffc000;
  border: 4px solid #ffa200;
}

.tile-container {
  background: #e4e4e4;
  border-radius: 4px;
  border: 4px solid #e4e4e4;
  padding-bottom: 0.3rem;
  padding-top: 0.3rem;
  &:hover {
    background-color: #c8c8c8;
    border: 4px solid #c8c8c8;
  }
}
.tile-container.active {
  background-color: #ffc000;
  border: 4px solid #ffa200;
}
.tab-content {
  height: 100%;
}

.overflow-y {
  overflow-y: auto;
  height: calc(100% - 60px);
}

.custom-scroll::-webkit-scrollbar {
  width: 0.3125rem;
  height: 0.3125rem;
}
.custom-scroll::-webkit-scrollbar-thumb {
  background: #aeaeae;
}
.custom-scroll::-webkit-scrollbar-thumb {
  cursor: pointer;
  border-radius: 0.15625rem;
}
