<div project-preview>
    <div class='main' id="main" [ngClass]="{'loading-org': isOrg, 'loading' : !isOrg}">
        <div *ngIf="(firstTime||!isRunning)" class="stoping-layer">
        </div>
    </div>

    <div project-preview-controls class="controls">
        <!-- <button *ngIf="!firstTime && isRunning && (blocklyChanged || levelsChanged || projectNameChanged)" nbButton class="border-0 bg-transparent"
            (click)="runProject($event)" play-btn>
            <img class="play-icon" src="assets/icons/replay.svg" alt="RePlay">
        </button>

        <button *ngIf="!firstTime && isRunning && !blocklyChanged && !levelsChanged && !projectNameChanged" nbButton
            class="border-0 bg-transparent" (click)="stopProject($event)" play-btn>
            <img class="stop-icon" src="assets/images/stop.png">
        </button>
        <button *ngIf="(firstTime||!isRunning )" nbButton class="border-0 bg-transparent"
            (click)="playAction($event)" play-btn>
            <img class="play-icon" src="assets/icons/play.svg">
        </button> -->
        <button [disabled]="firstTime || !projectChanged" class="btn reload-btn" (click)="runProject($event)">
            <span>RELOAD</span>
            <nb-icon icon="refresh-outline"></nb-icon>
        </button>
        <button *ngIf="(firstTime || !isRunning)" class="btn run-btn" (click)="playAction($event)">
            <span>RUN CODE</span> <nb-icon icon="arrow-right"></nb-icon>
        </button>
        <button *ngIf="!firstTime && isRunning" class="btn stop-btn" (click)="stopProject($event)">
            <span>STOP</span>
            <span class="square">
            </span>
        </button>
    </div>
    <div class="logo">
        <img src="assets/images/bulider_logo.png">
    </div>
</div>