[project-preview] {
  height: 100%;
  overflow: auto;
  background-color: #f3f3f3;
  border-radius: 4px;
  padding-top: 15px;

  .main.loading {
    background-image: url('../../../../../assets/images/loading.jpg');
    background-position: center;
    width: 270px;
    margin: 0 auto;
    height: 480px;
    position: relative;
  }
  .main.loading-org {
    background-image: url('../../../../../assets/images/loading_codegoat.jpg');
    background-position: center;
    width: 270px;
    margin: 0 auto;
    height: 480px;
    position: relative;
  }
}

[project-preview-controls] {
  [play-btn] {
    padding: 0;
    bottom: 20px;
    position: relative;
    .stop-icon ,.play-icon {
      width: 65px;
      height: auto;
    }
  }
}

.logo {
  margin-top: 55px;
}

.btn {
  width: 127px;
  height: 36px;
  font-weight: bold;
  margin: 15px 6px;
  letter-spacing: 2px;
  border-radius: 4px;
  padding: 0;
  text-align: center;
  outline: none;
  &:focus {
    outline: none !important;
  }
}
.run-btn {
  background-color: #1fa100;
  color: #fcfcfc;
}
.reload-btn {
  color: #ffa200;
  border: solid #ffa200 1px;
  background-color: rgba(255, 162, 0, 0.13);
  &:disabled {
    opacity: 0.2;
  }
}
.stop-btn {
  background-color: #ff2c2c;
  color: #fcfcfc;
  .square {
    width: 12px;
    height: 12px;
    background-color: white;
    border-radius: 3px;
    display: inline-block;
    margin-left: 8px;
  }
}
@media (min-width:1200px) {
  .logo {
    display: none;
  }
}

.stoping-layer {
  width: 270px;
  height: 480px;
  background-image: linear-gradient(rgba(255, 255, 255, 0.17), rgba(255, 255, 255, 1));
  position: absolute;
}

