@import '../../../../@theme/styles/themes';

@include nb-install-component() {
  nb-card {
    max-width: 600px;
    max-height: 500px;
    border-radius: 8px;

    nb-card-header {
      line-height: 32px;
      padding: 25px 43px;
      height: 82px;
      border-radius: 8px;
      background-color: #151a30;
      font-size: 24px;
      color: #fff;
      font-weight: 500;

      nb-icon {
        width: 36px;
        height: 36px;
        cursor: pointer;
        background-color: #222b45;
        border-radius: 5px;
      }
    }

    nb-card-body {
      padding: 19px 60px 16px;

      p {
        font-size: 20px;
        font-weight: 600;
        line-height: 27px;
        color: #000;
      }
    }

    nb-card-footer {
      border-top: none;

      button {
        text-transform: capitalize;
      }

      .btn-status--basic {
        background-color: transparent;
        border: none;
      }
    }
  }
}
