<nb-card>
    <nb-card-header>
        {{"delete" | translate}} {{title}}
        <nb-icon icon="close-outline" class="float-right" (click)="close()"></nb-icon>
    </nb-card-header>

    <nb-card-body>
        <p class="text-left" [ngClass]="{'mb-0': title === 'classroom' || title === 'student' }">
            {{"delete-msg" | translate}} {{content}}?
        </p>
        <p class="text-left" *ngIf="title === 'student'">
            {{"delete-student-message" | translate}}
        </p>
        <p class="text-left" *ngIf="title === 'classroom'">
            {{"delete-classroom-msg" | translate}}
        </p>
    </nb-card-body>

    <nb-card-footer>
        <div class="float-right">
            <button nbButton status="basic" class="mr-1 btn-status--basic"
                (click)="close()">{{"cancel" | translate}}</button>
            <button nbButton status="danger" (click)="deleteAction()">{{"delete" | translate}}</button>
        </div>
    </nb-card-footer>
</nb-card>