@import '../../../../../../@theme/styles/themes.scss';

@include nb-install-component() {
  nb-select {
    max-width: 100%;
  }

  ::ng-deep nb-select {

    button {
      padding: 0.375rem 0.75rem !important;
    }
  }

  ::ng-deep nb-checkbox {
    .text {
      color: nb-theme(card-text-color);
    }

    .link-txt {
      color: #0096cc;
      text-decoration: underline;
    }

    .label {
      align-items: end;
    }

    .custom-checkbox {
      margin-top: 6px;
    }
  }

}
