<form [formGroup]="teacherRegisterForm" (ngSubmit)="onSubmitHandler()" class="step-container flex-form">
  <div>
    <label class="d-block">{{'enter-profile-details' | translate}}</label>
    <div class="col-12">
      <div class="row">
        <div class="col-md-6 col-sm-12 pr-md-2 p-0">
          <div class="form-group">
            <input type="text" class="form-control" id="form-fullname-input" formControlName="teacher_fullname"
              placeholder="Write Your Full Name">
            <div *ngIf="teacher_fullname.invalid && (teacher_fullname.dirty || teacher_fullname.touched)">
              <span *ngIf="teacher_fullname.errors.required"
                class="error-msg">{{'fullname-required-msg' |  translate}}</span>
              <span *ngIf="teacher_fullname.errors.pattern && !teacher_fullname.errors.minlength "
                class="error-msg">{{'fullname-pattern-msg' | translate}}</span>
              <span *ngIf="teacher_fullname.errors.minlength "
                class="error-msg">{{'fullname-minlength-msg' |  translate}}</span>
            </div>
          </div>
        </div>

        <div class="col-md-6 col-sm-12 pl-md-2 p-0">
          <div class="form-group">
            <input id="form-username-input" (focusout)="validateUserData('username', teacher_nickname.value)"
              type="text" class="form-control" formControlName="teacher_nickname" placeholder="Write Your Username">
            <div *ngIf="teacher_nickname.invalid && (teacher_nickname.dirty || teacher_nickname.touched)">
              <span *ngIf="teacher_nickname.errors.required"
                class="error-msg">{{'nickname-required-msg' |  translate}}</span>
              <span *ngIf="teacher_nickname.errors.pattern"
                class="error-msg">{{'nickname-pattern-msg' |  translate}}</span>
              <span *ngIf="teacher_nickname.errors.minlength"
                class="error-msg">{{'nickname-minlength-msg' |  translate}}</span>
            </div>
            <span *ngIf="validationErrors.username == false && teacher_nickname.dirty"
              class="error-msg">{{'username-already-taken' |  translate}}</span>

          </div>
        </div>
        <div class="col-12 p-0">
          <div class="form-group">
            <input id="form-email-input" (focusout)="validateUserData('email', teacher_email.value)" type="email"
              class="form-control" formControlName="teacher_email" placeholder="Write Your Email">
            <div *ngIf="teacher_email.invalid && (teacher_email.dirty || teacher_email.touched)">
              <span *ngIf="teacher_email.errors.required" class="error-msg">{{'email-required-msg' |  translate}}</span>
              <span *ngIf="teacher_email.errors.email" class="error-msg">{{'email-valid-msg' |  translate}}</span>
            </div>
            <span *ngIf="validationErrors.email == false && teacher_email.dirty"
              class="error-msg">{{'email-already-taken' |  translate}}</span>

          </div>
        </div>
        <div class="col-12 p-0">
          <div class="form-group">
            <input type="password" class="form-control" id="form-password-input" formControlName="teacher_password"
              placeholder="Write Your Password">
            <div *ngIf="teacher_password.invalid && (teacher_password.dirty || teacher_password.touched)">
              <span *ngIf="teacher_password.errors.required"
                class="error-msg">{{'password-required-msg' |  translate}}</span>
              <span *ngIf="teacher_password.errors.minlength"
                class="error-msg">{{'password-minlength-msg' |  translate}}</span>
              <span *ngIf="teacher_password.errors.maxlength"
                class="error-msg">{{'password-maxlength-msg' |  translate}}</span>
            </div>
          </div>
        </div>

        <div class="col-12 p-0" *ngIf="isOrg">
          <div class="form-group">
            <nb-select formControlName="teacher_country" id="form-country-select" placeholder="Country"
              [(selected)]="countryID" (selectedChange)="changeCountry()">
              <nb-option *ngFor="let country of countries" [value]="country?.id">{{country?.name}}
              </nb-option>
            </nb-select>
            <div *ngIf="teacher_country.invalid && (teacher_country.dirty || teacher_country.touched)">
              <span *ngIf="teacher_country.errors.required"
                class="error-msg">{{'country-required-msg' |  translate}}</span>
            </div>
          </div>
        </div>


        <div class="col-md-6 col-sm-12 pr-md-2 p-0">
          <div class="form-group">
            <nb-select formControlName="teacher_province" id="form-province-select" placeholder="Province"
              [(selected)]="provinceID" (selectedChange)="changeProvince()">
              <nb-option *ngFor="let province of provinces" [value]="province?.id">{{province?.name}}
              </nb-option>
            </nb-select>
            <div *ngIf="teacher_province.invalid && (teacher_province.dirty || teacher_province.touched)">
              <span *ngIf="teacher_province.errors.required"
                class="error-msg">{{'province-required-msg' |  translate}}</span>
            </div>
          </div>
        </div>


        <div class="col-md-6 col-sm-12 pl-md-2 p-0">
          <div class="form-group">
            <input type="text" class="form-control" id="form-city-input" formControlName="teacher_city"
              placeholder="City">
            <div *ngIf="teacher_city.invalid && (teacher_city.dirty || teacher_city.touched)">
              <span *ngIf="teacher_city.errors.required" class="error-msg">{{'city-required-msg' | translate}}</span>
              <span *ngIf="teacher_city.errors.minlength" class="error-msg">{{'city-minlength-msg' | translate}}</span>
            </div>
          </div>
        </div>

        <div class="col-12 p-0">
          <div class="form-group">
            <input type="text" class="form-control" id="form-school-input" formControlName="teacher_school"
              placeholder="School">
            <div *ngIf="teacher_school.invalid && (teacher_school.dirty || teacher_school.touched)">
              <span *ngIf="teacher_school.errors.required"
                class="error-msg">{{'school-required-msg' | translate}}</span>
              <span *ngIf="teacher_school.errors.minlength"
                class="error-msg">{{"school-minlength-msg" | translate}}</span>
            </div>
          </div>
        </div>


        <div class="col-12">
          <ng-template [ngIf]="backError">
            <p class="error">{{ backError }}</p>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
  <div class="form-footer">

    <div class="row">
      <div class="col-12">
        <nb-checkbox required id="form-privacy-checkbox" formControlName="roboGarden">
          {{'register-privacy-agreement-1' | translate}}

          <a class="link-txt" routerLink="/docs/mindfuel/terms-of-use" target="_blank" rel="noopener noreferrer">
            {{'terms-of-use' | translate}}
          </a>
          {{'and' | translate}}
          <a class="link-txt" routerLink="/docs/mindfuel/privacy-policy" target="_blank" rel="noopener noreferrer">
            {{'privacy-policy' | translate}}
          </a>
          {{'register-privacy-agreement-2' | translate}}
          <a class="link-txt" routerLink="/docs/robogarden/terms-of-use" target="_blank" rel="noopener noreferrer">
            {{'terms-of-use' | translate}}
          </a>
          {{'and' | translate}}
          <a class="link-txt" routerLink="/docs/robogarden/privacy-policy" target="_blank" rel="noopener noreferrer">
            {{'privacy-policy' | translate}}
          </a>
          .
        </nb-checkbox>
      </div>

      <div class="col-12 get-started-btn-container">
        <div class="row justify-content-end">
          <div class="col-auto">
            <button
              [disabled]="loading || teacherRegisterForm.invalid || !validationErrors.email || !validationErrors.username"
              type="submit" class="btn get-started-btn text-uppercase" id="get-started-btn">
              <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
              {{'get-started' |  translate| uppercase}}
            </button>
            <span class="background"></span>

          </div>
        </div>
      </div>
    </div>


  </div>
</form>