@import '../../../../@theme/styles/themes.scss';


@include nb-install-component() {
  .content-card {
    padding: 22px 15px;
    background-color: nb-theme(card-background-color);
    min-height: calc(100vh - 100px);
    box-shadow: nb-theme(shadow);

    ::ng-deep .cards-container {
      .cards-container--row {
        margin-right: 40px;
        margin-left: 40px;
      }
    }

    /* Medium Screen */
    @media only screen and (min-width: 992px) and (max-width: 1199px) {
      ::ng-deep .cards-container {
        .cards-container--row {
          margin-right: 35px;
          margin-left: 35px;
        }
      }

      padding: 16px 9px;
    }

    /* Small Screen */
    @media only screen and (min-width: 768px) and (max-width: 991px) {
      ::ng-deep .cards-container {
        padding: 0 15px 0 0;

        .cards-container--row {
          margin-right: 0;
          margin-left: 0;
        }
      }
    }

    /* Extra Small Screen */
    @media only screen and (max-width: 767px) {
      padding: 5px 9px;

      ::ng-deep .cards-container {
        .cards-container--row {
          margin-right: 8px;
          margin-left: 8px;
        }

        nb-card-header {
          .btn-success {
            padding: 8px 7px;
            font-size: 12px;
          }
        }


      }


    }

  }
}
