<div class="header-row-container">
  <div class="menu-title">
    <a (click)="toggleSidebar()" href="#" class="sidebar-toggle">
      <nb-icon icon="menu-2-outline"></nb-icon>
    </a>
  </div>
  <div class="logo-container justify-content-between" (click)="navigateHome()">
    <div class="text">
      <a class="logo text-uppercase" href="#" *ngIf="!isOrg">CODINGVILLE.CA</a>
      <a class="logo logo-txt text-uppercase" href="#" *ngIf="isOrg">codeg.o.a.t.</a>
    </div>
    <div class="flag">
      <img *ngIf="!isOrg" src="assets/icons/canada-tree.svg" alt="">
      <img *ngIf="isOrg" class="codegoat-logo-img" src="assets/icons/codegoat-sidebar-icon.svg" alt="">
    </div>
  </div>
</div>