@import '~bootstrap/scss/mixins/breakpoints';
@import '~@nebular/theme/styles/global/breakpoints';
@import '../../styles/themes';

@include nb-install-component() {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  z-index: 9999;
  background: nb-theme(sidebar-background);
  color: #fff;
  height: 70px;
  margin: 0;
  padding: 10px;

  @media (min-width: 576px) {
    display: none;
  }

  .header-row-container {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;

    .menu-title {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 15px;
      background-color: nb-theme(sidebar-background);

      .sidebar-toggle {
        color: nb-theme(sidebar-menu-icon-color);
        background-color: transparent;
        border: 1px solid nb-theme(sidebar-menu-icon-color);
        padding: 5px;
        border-radius: 5px;

        &:hover {
          background-color: #3d455c;
        }

        nb-icon {
          font-size: 2rem;
        }
      }
    }

    .codegoat-logo-img {
      width: 38px;
      margin-right: 11px;
      filter: grayscale(100%);

      img {
        width: 100%;
        vertical-align: baseline;
      }
    }

    .logo-container {
      padding: 10px;
      width: 100%;
      display: flex;
      align-items: center;

      .text {
        .logo {
          font-family: 'Bungee', cursive;
          padding: 0;
          color: #fcfcfc;
          border: none;
          font-size: 16px;

          &.logo-txt {
            font-size: 19px;
          }
        }

        .copyrights {
          font-size: 5px;
          font-weight: 600;
          letter-spacing: 1px;
          text-transform: uppercase;
          margin: 0;
          color: #fff;
          opacity: 0.6;
          line-height: 10px;
        }
      }

      .codegoat-logo-img {
        width: 27px;
        margin-right: 11px;

        img {
          width: 100%;
          vertical-align: baseline;
        }
      }

      .flag {
        width: 34px;

        img {
          width: 100%;
          vertical-align: baseline;
        }
      }
    }

  }
}
