.black-bg {
  background-color: black;
}

.project-space {
  padding-right: 20px;
  margin: 0;
  padding-top: 0;
  padding-bottom: 0;
  height: calc(100vh - 61px);
}

[project-space-row] {
  background-color: #707070;
  padding: 0;
  padding-right: 6px;

  [project-builder-col] {
    padding-left: 0;
    padding-right: 14px;
  }
  [project-preview-col] {
    padding-left: 14px;
    padding-right: 14px;
    text-align: center;
  }
}
.project-space-col {
  padding-left: 0;
  padding-right: 28px;
}
.overlay-container {
  position: relative;
}
.overlay-item {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10;
}

.moveIn {
  animation: moveInAnimation 1s ease forwards;
}
.moveOut {
  animation: moveOutAnimation 1s ease-out forwards;
}

@keyframes moveInAnimation {
  0% {
    top: 100%;
  }
  100% {
    top: 0;
  }
}
@keyframes moveOutAnimation {
  0% {
    top: 0;
  }
  100% {
    top: 100%;
  }
}

.blur-effect {
  background-color: white;
}

.blurIn {
  animation: blurInAnimation 1s ease forwards;
}
.blurOut {
  animation: blurOutAnimation 1s ease-out forwards;
}

@keyframes blurInAnimation {
  0% {
    filter: opacity(0);
  }
  100% {
    filter: opacity(100%);
  }
}
@keyframes blurOutAnimation {
  0% {
    filter: opacity(100%);
  }
  100% {
    filter: opacity(0);
  }
}

.cursor-pointer {
  cursor: pointer;
}
