<div project-space-row class="row project-space overlay-container">
    <!-- <ng-container *ngIf="!isPublish"> -->
    <div project-builder-col class="col-12 col-lg-8 col-xl-9 h-100 project-space-col">
        <ngx-project-builder [isTutorial]="isTutorial"></ngx-project-builder>
    </div>
    <div project-preview-col *ngIf="isLg" class="col-lg-4 col-xl-3 h-100 overlay-container">
        <ngx-project-preview></ngx-project-preview>

        <ng-container *ngIf="isTutorial != null">
            <div class="blur-effect container-fluid h-100 overlay-item" [class.blurIn]='isTutorial'
                [class.blurOut]="isTutorial == false"></div>

            <ngx-tutorial class="container-fluid h-100 overlay-item p-0" [class.moveIn]='isTutorial'
                [class.moveOut]="isTutorial == false"></ngx-tutorial>
        </ng-container>
    </div>
    <!-- </ng-container>  -->

    <!-- <ng-container *ngIf="isPublish">
        <div class="col-12 h-100">
            <ngx-publish></ngx-publish>
        </div>
    </ng-container> -->
</div>


<ng-template #publishModal let-data let-ref="dialogRef">
    <ngx-publish-modal [projectId]="projectId" [isTeacher]="isTeacher" [isProjectPublished]="isProjectPublished"
        [ref]="ref">
    </ngx-publish-modal>
</ng-template>