@import '../../../../@theme/styles/themes';

@include nb-install-component() {
  nb-card {
    max-width: 600px;
    max-height: 500px;
    border-radius: 8px;

    nb-card-header {
      line-height: 32px;
      padding: 18px 30px;
      border-radius: 8px;
      background-color: #151a30;
      font-size: 19px;
      color: #fff;
      font-weight: 500;

      nb-icon {
        width: 30px;
        height: 30px;
        cursor: pointer;
        background-color: #222b45;
        border-radius: 5px;
      }
    }

    nb-card-body {
      padding: 19px 60px 16px;

      p {
        line-height: 27px;
        color: nb-theme(card-text-color);
        text-align: center;

        &.main-txt {
          font-weight: 700;
          font-size: 27px;
        }

        &.sub-txt {
          font-weight: 500;
          font-size: 22px;
        }
      }
    }

    nb-card-footer {
      border-top: none;

      button {
        text-transform: capitalize;
        font-size: 16px;
        letter-spacing: 1px;
      }

      .btn-status--basic {
        background-color: transparent;
        border: none;
      }
    }
  }
}
