<nb-card>
  <nb-card-header>
    <span> {{(price? "add" :"create") | translate | ngxCapitalize}}</span> {{type | translate |ngxCapitalize}}
    <nb-icon icon="close-outline" class="float-right" (click)="close()"></nb-icon>
  </nb-card-header>

  <nb-card-body>
    <p class="main-txt">
      {{"you-already-created" | translate}} {{number}}/{{number}} {{type | translate }}
    </p>
    <p class="sub-txt" *ngIf="!price">
      {{"upgrade-account-add-more" | translate}} {{type + 's' | translate |ngxCapitalize}}
    </p>
    <p class="sub-txt" *ngIf="price">
      {{"can-add-more" | translate}} {{type + 's' | translate |ngxCapitalize}} {{"at"|translate}} {{price}}$
      {{"per" | translate}} {{type | translate}}
    </p>


  </nb-card-body>

  <nb-card-footer>
    <div class="float-right">
      <button nbButton status="basic" class="mr-1 btn-status--basic" (click)="close()">
        {{"cancel" | translate}}
      </button>


      <button *ngIf="!price" (click)="close()" [routerLink]="['/teacher/edit-profile/plans']" nbButton status="success">
        {{"upgrade-now" | translate | uppercase}}
      </button>


      <button *ngIf="price" (click)="close()" [routerLink]="['/teacher/edit-profile/plans']" nbButton status="success">
        {{"add-more" | translate}}
        {{type + 's' | translate |ngxCapitalize}}
      </button>



    </div>
  </nb-card-footer>
</nb-card>