<div class="auth-card-container">
  <div class="col-12">
    <div class="row" *ngIf="!sentSuccessfully">
      <div class="col-12">
        <h3 class="title">{{'reset-password-header' | translate }}</h3>
      </div>
      <div class="col-12">
        <form [formGroup]="resetPasswordEmailForm" (ngSubmit)="onSubmit()">
          <label class="d-block">{{'tell-us-mail' | translate}}</label>
          <div class="form-group">
            <input type="text" formControlName="email" class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f.email.errors }" placeholder="Email" />
            <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
              <div *ngIf="f.email.errors.required">{{'email-required-msg'| translate}}</div>
              <div *ngIf="f.email.errors.email">{{'email-valid-msg' | translate}}</div>
            </div>
          </div>
          <button [disabled]="loading || resetPasswordEmailForm.invalid"
            class="btn btn-primary login-btn text-uppercase">
            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
            {{'continue' | translate}}
          </button>
          <div *ngIf="error" class="error mt-3 mb-0">{{error}}</div>
        </form>
      </div>
    </div>
    <div class="row" *ngIf="sentSuccessfully">
      <div class="col-12 success-container">
        <div class="success-img">
          <img src="assets/icons/success.svg" alt="">
        </div>
        <h6 class="text-center">{{'sent-successfully' | translate}}</h6>
        <p class="text-center">{{'check-mail-for-reset-password' | translate}}</p>
      </div>
    </div>
  </div>
</div>
<div class="auth-other-option">
  <p>{{'have-account-?' | translate}} <a routerLink="auth/register">{{'join-us' | translate}}</a></p>
</div>