<nb-card class="student-card">
  <nb-card-header>
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="row">
            <div class="col-lg-8 col-md-6 col-sm-6 col-xs-6 col-5 pl-0 pr-1">
              <ngx-search (search)="search($event)"></ngx-search>
            </div>
            <div class="col-lg-1 col-md-2 col-sm-2 col-xs-2 col-3 pl-1 pr-1">
              <nb-select class="table-filter-select" [(selected)]="tableLength" (selectedChange)="onChangeLength()">
                <nb-option value="all">{{"All" | translate}}</nb-option>
                <nb-option *ngFor="let option of tableLengths" value="{{ option }}">{{ option }}</nb-option>
              </nb-select>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-4 col-xs-4 col-4 pl-1 pr-0">
              <button type="button" class="btn btn-success text-uppercase" (click)="addStudent()">
                <nb-icon icon="plus"></nb-icon> {{"students" | translate}}
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nb-card-header>
  <nb-card-body>
    <div class="container students-container">
      <div class="row">
        <div class="col-12" *ngIf="students && students.length === 0">
          <ngx-empty-state *ngIf="searchValue === ''" [type]='"data"'></ngx-empty-state>
          <ngx-empty-state *ngIf="searchValue !== ''" [type]='"search"'></ngx-empty-state>
        </div>
        <div class="col-12 p-0" *ngIf="students && students.length > 0">
          <table class="students-table">
            <thead>
              <th>{{"ID" | translate}}</th>
              <th>{{"name" | translate}}</th>
              <th>{{"grade" | translate}}</th>
              <th>{{"Score" | translate}}</th>
              <th>{{"actions" | translate}}</th>
            </thead>
            <tbody>
              <tr *ngFor="let student of students; let i = index" [ngClass]="(i%2)?'odd':'even'">
                <td class="id-td">{{ +i+1 + start }}</td>
                <td>{{ student.name }}</td>
                <td>{{ student.grade }}</td>
                <td>{{ student.score.xp }}</td>
                <td class="actions-td">
                  <div class="table-actions">
                    <button type="button" class="table-btn btn" (click)="deleteStudent(student.id)">
                      <img src="/assets/icons/table-delete.svg" alt="Delete">
                    </button>
                    <button type="button" class="table-btn btn" (click)="openEditStudentModal(student)">
                      <img src="/assets/icons/table-edit.svg" alt="Edit">
                    </button>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="row pagination-container" *ngIf="students && students.length > 0">
        <div class="col-12">
          <ngx-pagination [arrayLength]='studentsCount' [maxShown]='maxShown' [currentPage]='currentPage'
            (pageChange)="changePagination($event)">
          </ngx-pagination>
        </div>
      </div>
    </div>
  </nb-card-body>
</nb-card>