<nb-card *ngIf="cardData">
    <nb-card-header class="py-0 px-1">
        <div class="row">
            <!-- ------------------ SECTION Card Name ------------------ -->

            <div class="col-9" [ngClass]="{'col-12' : !isShare && !isDelete  && !isUnassign}">
                <p class="text-ellipsis card__title" [title]="cardData?.name">{{cardData?.name}}</p>
            </div>

            <!-- ------------------ SECTION Share & No Delete ------------------ -->

            <div class="col-3 text-right" *ngIf="isShare && !isDelete" title="share">
                <nb-icon class="text-black share" icon="share" (click)="startShare($event)"
                    [ngClass]="{'disabled' : !cardData?.isPublic}"
                    [attr.title]="!cardData?.isPublic?'This project is not a public project to be shared' : null">
                </nb-icon>
            </div>

            <!-- ------------------ SECTION List (Share & Delete) ------------------ -->

            <div class="col-3 text-right" *ngIf="isShare && isDelete || isEdit && isDelete || isUnassign"
                (click)="isMenuOpen = !isMenuOpen; $event.stopPropagation()">
                <nb-icon class="more-horizontal" icon="more-horizontal-outline"></nb-icon>

                <div class="dropdown-menu" [ngStyle]="{'display':isMenuOpen? 'block': 'none'}">
                    <a class="dropdown-item" *ngIf="isShare" (click)="startShare($event)"
                        [ngClass]="{'disabled' : isMakePublic === 'Public'}"
                        [attr.title]="isMakePublic === 'Public'?'Make this project public to enable share' : null">
                        Share
                    </a>

                    <a class="dropdown-item" *ngIf="isEdit" (click)="edit($event)">
                        Edit
                    </a>

                    <a class="dropdown-item text-uppercase" *ngIf="isUnassign" (click)="unassign($event)">
                        Unassign
                    </a>

                    <a class="dropdown-item" *ngIf="isDelete" (click)="delete($event)">
                        Delete
                    </a>
                    <a class="dropdown-item" *ngIf="isMakePublic" (click)="makePublic($event)">
                        Make {{isMakePublic}}
                    </a>
                </div>
            </div>
        </div>
    </nb-card-header>
    <nb-card-body>
        <div class="container p-0">
            <!-- Card Image -->
            <div class="row img-container m-0"
                *ngIf="cardData.image || cardData?.image_url || cardData?.imageUrl || cardData?.icon_url || cardData?.CardIconURL">
                <img class="card-image"
                    [src]="cardData?.image || cardData?.image_url || cardData?.imageUrl || cardData?.icon_url || cardData?.CardIconURL">
            </div>


            <!-- SECTION  Porgress Bar -->

            <div class="row m-0" *ngIf="progressPercentage ||  progressPercentage === 0">
                <nb-progress-bar class="w-100 mb-1" [value]="progressPercentage" size="medium" status="success">
                    <span class="progress-percentage">{{progressPercentage  || cardData?.progress}} %</span>
                </nb-progress-bar>
            </div>


            <!-- SECTION  Created By -->
            <div class=" row m-0 project-creator" *ngIf="cardData?.createdBy">
                <span class="font-weight-600">By: </span>
                <a (click)="goToStudentProfile(cardData.creatorId , $event)" class="project-creator__name">
                    {{cardData?.createdBy}}
                </a>
            </div>

            <!-- SECTION  Created at -->
            <div class=" row m-0" *ngIf="cardData?.createdAt">
                <span>Creation Date:</span>
                <a class="font-weight-bold ml-1">
                    {{cardData?.createdAt | date: 'dd/MM/yyyy'}}
                </a>
            </div>
        </div>


        <!-- SECTION   Likes and views -->
        <ng-container
            *ngIf="cardData.noOfAdventures || cardData.noOfCourses || cardData?.tasksCount || cardData.noOfCourses === 0 || cardData?.adventuresNo">
            <div class="container p-0">
                <div class="row text-center sub-title m-0">
                    <div class="p-0 "
                        [ngClass]="{'border-right col-6' : cardData?.difficulty || cardData?.GradeName,  'col-12' : !cardData?.difficulty && !cardData?.GradeName}">
                        <span class="pr-1" [ngClass]="{'float-right': cardData?.gradeName}"
                            *ngIf="cardData?.noOfCourses ||  cardData.noOfCourses === 0">
                            {{cardData?.noOfCourses | thousandSuff}} Journeys
                        </span>
                        <span class="pr-1"
                            [ngClass]="{'float-right' : cardData?.difficulty || cardData?.GradeName, 'text-center': !cardData?.difficulty && !cardData?.GradeName}"
                            *ngIf="cardData?.noOfAdventures ||  cardData?.tasksCount || cardData?.adventuresNo">
                            {{cardData?.noOfAdventures ||  cardData?.tasksCount || cardData?.adventuresNo }}
                            {{ cardData?.tasksCount ? 'Missions' : 'Adventures'}}
                        </span>
                    </div>
                    <div class="col-6 p-0 float-left " *ngIf="cardData?.difficulty">
                        <span class="float-left pl-2">
                            {{ cardData?.difficulty['name'] }}

                            <!-- Grade
                            {{cardData?.fromGrade || cardData?.from_grade}} -
                            {{cardData?.toGrade || cardData?.to_grade}} -->
                        </span>
                    </div>

                    <div class="col-6 p-0 float-left " *ngIf="cardData?.gradeName">
                        <span class="float-left pl-2">
                            Grade
                            {{cardData?.gradeName}}
                        </span>
                    </div>
                </div>
            </div>
        </ng-container>
    </nb-card-body>


    <!-- ------------------ SECTION Card Footer ------------------ -->
    <nb-card-footer
        *ngIf="(cardData.noOfLikes != null &&  !isClassroom) || cardData?.classroomCode || cardData?.score ||  cardData?.totalCoins || cardData?.coins">
        <!-- SECTION   Likes and views -->

        <ng-container *ngIf="cardData.noOfLikes != null && !isClassroom">
            <div class="row text-center">
                <div class="border-right col-6 py-2">

                    <nb-icon icon="heart" (click)="toggleLike($event , cardData)" class="cursor-pointer"
                        [status]="cardData?.isLiked? 'primary': 'basic'"></nb-icon>
                    {{cardData?.noOfLikes | thousandSuff}}
                </div>
                <div class="col-6 py-2">
                    <nb-icon icon="eye">
                    </nb-icon>

                    {{cardData?.noOfViews | thousandSuff}}
                </div>
            </div>
        </ng-container>

        <!-- SECTION  ClassRoom Likes and views -->
        <ng-container *ngIf="cardData?.classroomCode">
            <div class="row text-center">
                <div class="border-right col-6 p-0 ">
                    <p class="classroom__title mb-0">
                        Class code
                    </p>
                    <p class="classroom__data mb-0">
                        {{cardData?.classroomCode}}
                    </p>
                </div>
                <div class="col-6 p-0">
                    <p class="classroom__title mb-0">
                        Students
                    </p>
                    <p class="classroom__data mb-0">
                        {{cardData?.numberOfStudents | thousandSuff}}
                    </p>
                </div>
            </div>
        </ng-container>


        <!-- SECTION  coins Likes and xp -->
        <ng-container *ngIf="cardData?.score || cardData?.totalCoins || cardData?.coins">
            <div class="row justify-content-between">
                <div class="border-right col-6 p-0  ">
                    <div class="row mx-auto">

                        <div class="col-6 bullet-left p-0 text-center">
                            <img src="assets/icons/coin.svg">
                        </div>

                        <div class="col-5 bullet-right text-center">
                            <p>
                                {{(cardData?.score?.coins || cardData?.totalCoins || cardData?.coins) | thousandSuff}}
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-6 p-0">
                    <div class="row mx-auto flex-row-reverse">
                        <div class="col-5 bullet-right text-center">
                            <p>
                                {{(cardData?.score?.xp || cardData?.totalXps || cardData?.XP) | thousandSuff}}
                            </p>
                        </div>
                        <div class="col-6 p-0 bullet-left text-center">
                            <img src="assets/icons/xp.svg">
                        </div>
                    </div>
                </div>
            </div>
        </ng-container>

        <!-- SECTION  Signle BTN -->
        <div *ngIf="btn1 && !btn2" class="mt-3">
            <button class="w-100" nbButton outline status="primary" (click)="fireBtn1($event)">{{btn1}}</button>
        </div>

        <div *ngIf="!btn1 && btn2" class="mt-3">
          <button class="w-100" nbButton status="primary" (click)="fireBtn2()">{{btn2}}</button>
        </div>

        <!-- SECTION  TWO BTNs -->

        <ng-container *ngIf="btn1 && btn2">
            <div class="row justify-content-between">
                <div class="mt-3 col-6 pl-0 pr-2">
                    <button class="w-100" nbButton outline status="primary" (click)="fireBtn1()">{{btn1}}</button>
                </div>
                <div class="mt-3 col-6 pl-2 pr-0">
                    <button class="w-100" nbButton status="primary" (click)="fireBtn2()">{{btn2}}</button>
                </div>
            </div>
        </ng-container>
    </nb-card-footer>
</nb-card>