@import '../../../../@theme/styles/overrides';
@import '../../../../@theme/styles/themes.scss';

@include nb-install-component() {
  nb-card-body {
    padding: 6px 0;

    .img-container {
      // height: 10rem;

      min-height: 10rem;
      max-height: 100%;
    }

    .card-image {
      object-fit: fill;
      width: 100%;
      margin-bottom: 7px;
      height: 156px;
    }

    .sub-title {
      font-size: 14px;
      font-weight: 500;
      color: nb-theme(card-text-color);
    }

    @media screen and (min-width: 1500px) {
      .card-image {
        height: 200px;
      }
    }
  }

  nb-card {
    background-color: nb-theme(card-background-light-color);
    border-radius: 8px;
    padding: 10px 15px;
    box-shadow: nb-theme(shadow) !important;
    cursor: pointer;

    &.classroom__data {
      margin: 0;
      font-size: 12px;
      font-weight: 500;
      color: #000 !important;
    }

    nb-card-header {
      padding-top: 3px;
      border-bottom: 1px solid #dee2e6 !important;

      p {
        font-weight: 600;
      }

      .card__title {
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 15px;
        line-height: 25px;
      }

      .share.disabled {
        cursor: not-allowed;
        opacity: 0.5;
      }

      .more-horizontal {
        color: nb-theme(breadcrumbs-text-color);

        &:active,
        &:visited {
          color: #000;
        }
      }
    }

    nb-card-footer {
      border-top: 1px solid nb-theme(card-footer-border-color) !important;
      padding-bottom: 0;
    }
  }

  .cursor-pointer {
    cursor: pointer;
  }

  .text-ellipsis {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  .dropdown-menu {
    min-width: auto;
    padding: 0;
    top: 46%;
    -webkit-box-shadow: nb-theme(shadow);
    -moz-box-shadow: nb-theme(shadow);
    box-shadow: nb-theme(shadow);

    a.disabled {
      opacity: 0.5;
      pointer-events: none;
    }

    a {
      padding: 12px 17px;
      text-align: center;
      font-size: 14px;
      font-weight: bold;
      color: nb-theme(card-text-color);
      cursor: pointer;

      &:active {
        background-color: transparent;
      }
    }

    @include not-last-child('a') {
      border-bottom: 1px solid nb-theme(card-footer-border-color);
    }
  }

  nb-card-footer {
    .classroom__title {
      font-size: 14px;
      color: nb-theme(color-primary-500);
      font-weight: bold;
      line-height: 20px;
      margin-bottom: 7px;
    }
  }

  .bullet-right {
    background-color: #d8d8d8;
    border-radius: 0 26px 26px 0;
    padding: 0;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;

    p {
      color: #707070;
      font-size: 16px;
      font-weight: bolder;
      width: 100%;
      text-align: center;
      margin: 0;
    }
  }

  .bullet-left {
    width: 45px !important;
    background-color: #bfbdbd;
    border-radius: 26px 0 0 26px;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      width: 29px;
    }
  }

  .text-black {
    color: black;
  }

  .vertical-alignment {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    width: 29px;
  }

  .project-creator {
    span {
      font-weight: 700;
      font-size: 16px;
      margin-right: 0.5rem;
    }

    .project-creator__name {
      color: #1492e6;
      font-size: 16px;
      font-weight: 600;
    }
  }

  .progress-percentage {
    font-weight: bold;
  }

  .cursor-pointer {
    cursor: pointer;
  }
}
