ul {
  list-style-type: none;

  li.disabled {
    opacity: 0.6;
    cursor: not-allowed;

    a {
      cursor: not-allowed;

    }
  }

  li {
    border-radius: 2px;
    background-color: #edf1f7;
    cursor: pointer;
    padding: 0.5rem;
    font-weight: bold;

    a {
      color: #222b45;
      font-weight: bold;
    }

    &.active {
      background-color: #c5cee0;
      color: #151a30;
    }
  }
}
