<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-4 col-12">
      <div class="container text-center">
        <div>
          <ul class="row p-0 mb-0 justify-content-center">
            <li class="col-1 mr-1" (click)="changePage(1,false)" [ngClass]="{'disabled' : currentPage === 1}">
              <a href="javascript:;">
                <svg xmlns="http://www.w3.org/2000/svg" width="6.266" height="10.946" viewBox="0 0 6.266 10.946">
                  <path id="Path_3426" data-name="Path 3426"
                    d="M12.3,2.837a.729.729,0,0,0-1.032,0L6.418,7.684a.581.581,0,0,0,0,.823l4.847,4.848A.73.73,0,1,0,12.3,12.322L8.075,8.093,12.3,3.864A.727.727,0,0,0,12.3,2.837Z"
                    transform="translate(-6.247 -2.622)" fill="#222b45" />
                </svg>

              </a>
            </li>


            <li class="col-1 mx-1" *ngIf="currentPage == totalPages && currentPage-2 > 0" (click)="changePage(2,false)">
              <a href="javascript:;">{{currentPage-2}}</a>
            </li>

            <li class="col-1 mx-1" *ngIf="currentPage-1 > 0" (click)="changePage(1,false)">
              <a href="javascript:;">{{currentPage-1}}</a>
            </li>

            <li class="col-1 active">
              {{currentPage}}
            </li>

            <li class="col-1 mx-1" *ngIf="currentPage+1 <= totalPages" (click)="changePage(1,true)">
              <a href="javascript:;">{{currentPage+1}}</a>
            </li>

            <li class="col-1 mx-1" *ngIf="currentPage+2 <= totalPages && currentPage == 1" (click)="changePage(2,true)">
              <a href="javascript:;">{{currentPage+2}}</a>
            </li>


            <li class="col-1 ml-1" (click)="changePage(1,true)" [ngClass]="{'disabled' : totalPages === currentPage}">
              <a href="javascript:;">
                <svg id="i_edit" xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 14 14">
                  <path id="Path_3425" data-name="Path 3425" d="M0,0H14V14H0Z" fill="none" opacity="0.87" />
                  <path id="Path_3426" data-name="Path 3426"
                    d="M6.463,2.837a.729.729,0,0,1,1.032,0l4.847,4.848a.581.581,0,0,1,0,.823L7.5,13.354a.73.73,0,1,1-1.032-1.033l4.223-4.229L6.457,3.864A.727.727,0,0,1,6.463,2.837Z"
                    transform="translate(-2.603 -1.093)" fill="#222b45" />
                </svg>


              </a>
            </li>

          </ul>
        </div>
      </div>
    </div>
  </div>
</div>